{% extends "ta_app/base.html" %}

{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'administrators:index' %}">administrators</a></li>
    <li class="breadcrumb-item"><a href="{% url 'users:index' %}">Users</a></li>
    <li class="breadcrumb-item"><a href="{% url 'users:show_user' user.username %}">User Details</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
  </ol>
</nav>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>Edit Profile</h1>

<h3>Infomation</h3>
<div>First Name: {{ user.first_name }}</div>
<div>Last Name: {{ user.last_name }}</div>
<div>CWL: {{ user.username }}</div>
<div>Email: {{ user.email }}</div>
<div>UBC Number: {{ user.profile.ubc_number }}</div>
<div>Date Joined: {{ user.date_joined }}</div>
<div>Last Login: {{ user.last_login }}</div>

<hr />

<h3>Profile</h3>

<form action="" method="post">
  {% csrf_token %}
  <table>{{ form.as_table }}</table>
  <input value="Update" type="submit" />
</form>

{% endblock %}
