{% extends 'ta_app/base.html' %}
{% block content %}

<div>
  {% include "students/_sidebar.html" %}
</div>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-info">{{ message }}</div>
  {% endfor %}
{% endif %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'students:show_confidentiality' %}">Confidentiality</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Confidentiality</li>
  </ol>
</nav>


<h3>Edit Confidentiality</h3>




<p>Valid file types: jpg, jpeg, png, pdf, doc, docx</p>

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>{{ form.as_table }}</table>
  <input type="submit" value="Update" />
</form>

<a href="{% url 'students:show_confidentiality' %}">Back</a>

{% endblock %}
