{% extends 'ta_app/base.html' %}
{% block content %}
{% include "ta_app/sidebars/_student_sidebar.html" %}

<div id="content" class="container-fluid">
  {% include 'ta_app/_return_messages.html' with data=messages %}

  {% include 'ta_app/pages/_header.html' with title='Edit Confidentiality' %}

  <div><a class="btn btn-outline-primary" href="{% url 'students:show_confidentiality' %}">Go back to Confidentiality</a></div>

  <div class="d-inline-block">
    <p>Valid file types: jpg, jpeg, png, pdf, doc, docx</p>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>{{ form.as_table }}</table>
      <input type="submit" value="Update" />
    </form>
  </div>
</div>

{% endblock %}
