{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "students/util/_sidebar.html" %}

  <div id="content" class="container-fluid">
    {% if messages %}
    	{% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    	{% endfor %}
    {% endif %}

    <h3>Edit Confidentiality</h3>

    <p>Valid file types: jpg, jpeg, png, pdf, doc, docx</p>

    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>{{ form.as_table }}</table>
      <input type="submit" value="Update" />
    </form>

    <a href="{% url 'students:show_confidentiality' %}">Back</a>
  </div>
</div>

{% endblock %}
