{% extends 'ta_app/base.html' %}
{% block content %}
{% load static %}
{% include "students/util/_sidebar.html" %}

<div id="content" class="container-fluid">

  <div class="mb-3">
    <img class="ubc-logo d-inline-block" src="{% static 'ta_app/images/UBClogo.jpeg' %}" alt="ubc logo" />
    <div class="d-inline-block ml-3">
      <h3 class="mb-3">Edit Profile</h3>
      <a class="btn btn-outline-primary" href="{% url 'students:show_profile' %}">Go back to Profifle</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
          <div class="field-wrapper my-5">
            {{ field.label_tag }}
            {% if field.help_text %}
              <div class="help">{{ field.help_text|safe }}</div>
            {% endif %}
            {{ field }}
          </div>
        {% endfor %}

        <input class="btn btn-warning" type="submit" value="Update Profile"/>
      </form>
    </div>
  </div>

</div>

{% endblock %}
