{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'students/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users'   title='Confidential Information' data=loggedin_user %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'students:show_profile' %}">View Profile</a>
    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      {% if loggedin_user.confidentiality and loggedin_user.confidentiality.created_at != None %}

        <h3>Details</h3>
        {% include 'ta_app/users/_confidentiality.html' with data=loggedin_user %}
        <a class="btn btn-primary mt-4" href="{% url 'students:edit_confidentiality' %}">Edit Confidential Information</a>

      {% else %}

        <div class="bd-callout bd-callout-warning bg-light-gray">
          <h4>
            <i class="fa fa-bullhorn" aria-hidden="true"></i> Notice
          </h4>
          <p>
            Students' uploaded files such as Social Insurance Number (SIN) and Study Permit are encrypted when they upload them through this Web application, and only administrators can have access to the encrypted data in the application.
          </p>
        </div>

        <section class="text-secondary">
          <div>
            <p>If you are an international student, please click down below.</p>
            <form action="{% url 'students:check_confidentiality' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="user" value="{{ loggedin_user.id }}" />
              <input type="hidden" name="is_international" value="True" />
              <input class="btn btn-lg btn-primary" type="submit" value="I am an International student" />
            </form>
          </div>
          <div class="my-5">OR</div>
          <div>
            <p>If you are a Canadian citizen or Permanent Resident, please click down below.</p>
            <form action="{% url 'students:check_confidentiality' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="user" value="{{ loggedin_user.id }}" />
              <input type="hidden" name="is_international" value="False" />
              <input class="btn btn-lg btn-primary" type="submit" value="I am a Canadian citizen/Permanent Resident" />
            </form>
          </div>
        </section>

      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
