{% extends 'ta_app/base.html' %}
{% block content %}

<div class="row">
  {% include "students/_sidebar.html" %}
</div>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-info">{{ message }}</div>
  {% endfor %}
{% endif %}

<h1>Profile</h1>

<div class="row margin-top-30">
  <div class="col-6">
    <h3>Infomation</h3>

    <ul class="list-group">
      <li class="list-group-item">First Name: {{ user.first_name }}</li>
      <li class="list-group-item">Last Name: {{ user.last_name }}</li>
      <li class="list-group-item">CWL: {{ user.username }}</li>
      <li class="list-group-item">Email: {{ user.email }}</li>
      <li class="list-group-item">UBC Number: {{ user.profile.ubc_number }}</li>
      <li class="list-group-item">Date Joined: {{ user.date_joined }}</li>
      <li class="list-group-item">Last Login: {{ user.last_login }}</li>
    </ul>
  </div>

  <div class="col-6">
    <h3>Profile</h3>
    <div>Created at: {{ user.profile.created_at }}</div>
    <div>Updated at: {{ user.profile.updated_at }}</div>
    <div class="">
      Preferred Name: {{ user.profile.preferred_name }}
    </div>

    <div class="">
      Qualifications: {{ user.profile.qualifications }}
    </div>

    <div class="">
      Prior Employment: {{ user.profile.prior_employment }}
    </div>

    <div class="">
      Special Considerations: {{ user.profile.special_considerations }}
    </div>

    <div class="">
      Status: {{ user.profile.status }}
    </div>

    <div class="">
      Program: {{ user.profile.program }}
    </div>

    <div class="">
      Graduation Date: {{ user.profile.graduation_date }}
    </div>

    <div class="">
      Degrees:
      <ul>
        {% for degree in user.profile.degrees.all %}
          <li>{{ degree.name }}</li>
        {% empty %}
          None
        {% endfor %}
      </ul>
    </div>

    <div class="">
      Trainings:
      <ul>
        {% for degree in user.profile.trainings.all %}
          <li>{{ degree.name }}</li>
        {% empty %}
          None
        {% endfor %}
      </ul>
    </div>

    <div class="">
      LFS TA Training: {{ user.profile.get_lfs_ta_training_display }}
      <p>Details: {{ user.profile.lfs_ta_training_details }}</p>
    </div>

    <div class="">
      Previous TA Experience: {{ user.profile.get_ta_experience_display }}
      <p>Details: {{ user.profile.ta_experience_details }}</p>
    </div>



    <hr />

  </div>
</div>

<h3>Upload a resume</h3>

Resume:
{% if resume_file %}
  <a href="{% url 'students:download_resume' username=user.username filename=resume_file %}" target="_blank">
    {{ resume_file }}
  </a>
  - {{ user.resume.created_at }}

  <form action="{% url 'students:delete_resume' %}" method="post" onsubmit="return confirm('Are you sure to delete this resume?')">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{ user.username }}">
    <input type="submit" value="Delete" />
  </form>

{% else %}
  No resume
{% endif %}

<p>Valid file types: jpg, jpeg, png, pdf, doc, docx</p>
<form action="{% url 'students:upload_resume' user.username %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>{{ resume_form.as_table }}</table>
  <input type="submit" value="Upload" />
</form>

{% endblock %}
