{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'students/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Confidential Information' data=loggedin_user %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'students:show_profile' %}?next={{ request.get_full_path }}&p=Confidential Information&t=basic">View Profile</a>
    </div>

    {% if template == 'detail' %}
      <div class="bd-callout bd-callout-warning col-10 mx-auto">
        <h5>
          <i class="fa fa-info-circle" aria-hidden="true"></i> Note
        </h5>
        <p>
          Please go to <a href="{% url 'students:edit_confidentiality' %}">Edit Confidential Information</a> if you would like to delete your uploaded files.
        </p>
      </div>

      <div class="bd-callout bd-callout-warning col-10 mx-auto font-size-sm">
        {% include 'ta_app/pages/_notice_confidentiality.html' %}
      </div>
    {% endif %}
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      {% if template == 'detail' %}

        <h3>Confidential Information Details</h3>

        {% include 'ta_app/users/_confidentiality.html' with data=loggedin_user %}

        <a class="btn btn-primary mt-4" href="{% url 'students:edit_confidentiality' %}">Edit Confidential Information</a>

      {% else %}

        <div class="bd-callout bd-callout-warning">
          {% include 'ta_app/pages/_notice_confidentiality.html' %}
        </div>

        <section class="text-dark-gray">

          <div>
            <p>If you are a Domestic Student, please click down below.</p>
            <form action="{% url 'students:check_confidentiality' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="user" value="{{ loggedin_user.id }}" />
              <input type="hidden" name="nationality" value="0" />
              <input class="btn btn-lg btn-primary" type="submit" value="Domestic Student" />
            </form>
          </div>

          <div class="my-5">OR</div>

          <div>
            <p>If you are an International Student, please click down below.</p>
            <form action="{% url 'students:check_confidentiality' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="user" value="{{ loggedin_user.id }}" />
              <input type="hidden" name="nationality" value="1" />
              <input class="btn btn-lg btn-primary" type="submit" value="International Student" />
            </form>
          </div>

        </section>

      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
