{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "students/util/_sidebar.html" %}

  <div id="content" class="container-fluid">
    {% include 'ta_app/_return_messages.html' with data=messages %}

    <h3>Confidentiality</h3>

    {% if user.confidentiality and user.confidentiality.created_at != None %}

      <p>Employee Number: {{ user.confidentiality.employee_number }}</p>

      <div>
        SIN File:

        {% if user.sin_data %}
          <a href="{{ user.sin_data.url }}" download="{{ user.sin_data.filename }}">{{ user.sin_data.filename }}</a>
          <form action="{% url 'students:delete_sin' %}" method="post" onsubmit="return confirm('Are you sure to delete this SIN file?')">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ loggedin_user.username }}">
            <input type="submit" value="Delete" />
          </form>
          {% comment %}
            <img src="{{ user.sin_data.url }}" width="{{ user.sin_data.width }}" height="{{ user.sin_data.height }}" alt="SIN-image" />
          {% endcomment %}
        {% else %}
          None
        {% endif %}
      </div>

      {% if user.confidentiality.is_international %}
        <div>SIN Expiry Date: {{ loggedin_user.confidentiality.sin_expiry_date }}</div>

        <div>
          Study Permit File:
          {% if user.study_permit_data %}
            <a href="{{ user.study_permit_data.url }}" download="{{ user.study_permit_data.filename }}">{{ user.study_permit_data.filename }}</a>
            <form action="{% url 'students:delete_study_permit' %}" method="post" onsubmit="return confirm('Are you sure to delete this Study Permit file?')">
              {% csrf_token %}
              <input type="hidden" name="user" value="{{ loggedin_user.username }}">
              <input type="submit" value="Delete" />
            </form>
            {% comment %}
              <img src="{{ user.study_permit_data.url }}" width="{{ user.study_permit_data.width }}" height="{{ user.study_permit_data.height }}" alt="Study-Permit-image" />
            {% endcomment %}
          {% else %}
            None
          {% endif %}
        </div>
        <div>Study Permit Expiry Date: {{ user.confidentiality.study_permit_expiry_date }}</div>
      {% endif %}

      <a href="{% url 'students:edit_confidentiality' %}">Edit</a>

    {% else %}

      <div>
        If you are an international student, please click down below.
        <form action="{% url 'students:check_confidentiality' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="user" value="{{ user.id }}" />
          <input type="hidden" name="is_international" value="True" />
          <input type="submit" value="I am an international student" />
        </form>
      </div>

      or

      <div>
        If you are a Canadian citizen or Permanent Resident, please click down below.
        <form action="{% url 'students:check_confidentiality' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="user" value="{{ user.id }}" />
          <input type="hidden" name="is_international" value="False" />
          <input type="submit" value="I am a Canadian citizen/Permanent Resident" />
        </form>
      </div>

    {% endif %}
  </div>
</div>


{% endblock %}
