{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "students/_sidebar.html" %}

  <div id="content" class="container-fluid">
    {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      {% endfor %}
    {% endif %}

    <h3>{{ user.first_name }} {{ user.last_name }}'s Profile</h3>

    <div class="row margin-top-30 margin-bottom-30">
      <div class="col-6">
        <h5>Infomation</h5>

        <ul class="list-group">
          <li class="list-group-item"><strong>First Name:</strong> {{ user.first_name }}</li>
          <li class="list-group-item"><strong>Last Name:</strong> {{ user.last_name }}</li>
          <li class="list-group-item"><strong>CWL:</strong> {{ user.username }}</li>
          <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
          <li class="list-group-item"><strong>UBC Number:</strong> {{ user.profile.ubc_number }}</li>
          <li class="list-group-item"><strong>Date Joined:</strong> {{ user.date_joined }}</li>
          <li class="list-group-item"><strong>Last Login:</strong> {{ user.last_login }}</li>
        </ul>

        <h5 class="margin-top-30">Resume</h5>
        <div>
          File:
          {% if user.resume_file %}
            <a href="{% url 'students:download_resume' username=user.username filename=user.resume_file %}" target="_blank">{{ user.resume_file }}</a>
            <form action="{% url 'students:delete_resume' %}" method="post" onsubmit="return confirm('Are you sure to delete this resume?')">
              {% csrf_token %}
              <input type="hidden" name="user" value="{{ user.username }}">
              <input type="submit" value="Delete" />
            </form>
            <div>Uploaded date: {{ user.resume.created_at }}</div>
          {% else %}
            No resume
          {% endif %}

          <h5 class="margin-top-30">Upload your resume</h5>
          <p>Valid file types: jpg, jpeg, png, pdf, doc, docx</p>
          <form action="{% url 'students:upload_resume' user.username %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>{{ resume_form.as_table }}</table>
            <input type="submit" value="Upload" />
          </form>
        </div>
      </div>


      <div class="col-6">
        <h5>Profile</h5>

        <ul class="list-group">
          <li class="list-group-item"><strong>Created at:</strong> {{ user.profile.created_at }}</li>
          <li class="list-group-item"><strong>Updated at:</strong> {{ user.profile.updated_at }}</li>
          <li class="list-group-item"><strong>Preferred Name:</strong> {{ user.profile.preferred_name }}</li>
          <li class="list-group-item"><strong>Qualifications:</strong> {{ user.profile.qualifications }}</li>
          <li class="list-group-item"><strong>Prior Employment:</strong> {{ user.profile.prior_employment }}</li>
          <li class="list-group-item"><strong>Special Considerations:</strong> {{ user.profile.special_considerations }}</li>
          <li class="list-group-item"><strong>Status:</strong> {{ user.profile.status }}</li>
          <li class="list-group-item"><strong>Program:</strong> {{ user.profile.program }}</li>
          <li class="list-group-item"><strong>Program Others:</strong> {{ user.profile.program_others }}</li>
          <li class="list-group-item"><strong>Graduation Date:</strong> {{ user.profile.graduation_date }}</li>
          <li class="list-group-item">
            <strong>Degrees:</strong>
            <ul>
              {% for degree in user.profile.degrees.all %}
                <li>{{ degree.name }}</li>
              {% empty %}
                None
              {% endfor %}
            </ul>
          </li>
          <li class="list-group-item">
            <strong>Trainings:</strong>
            <ul>
              {% for training in user.profile.trainings.all %}
                <li>{{ training.name }}</li>
              {% empty %}
                None
              {% endfor %}
            </ul>
          </li>
          <li class="list-group-item"><strong>Training Details:</strong> {{ user.profile.training_details }}</li>
          <li class="list-group-item">
            <strong>LFS TA Training:</strong> {{ user.profile.get_lfs_ta_training_display }}
            <p><strong>Details:</strong> {{ user.profile.lfs_ta_training_details }}</p>
          </li>
          <li class="list-group-item">
            <strong>Previous TA Experience:</strong> {{ user.profile.get_ta_experience_display }}
            <p><strong>Details:</strong> {{ user.profile.ta_experience_details }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
