{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>LFS TA App @ UBC</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/jpg" href="{% static 'ta_app/images/ubc-favicon.jpg' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'ta_app/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ta_app/css/bootstrap-table.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ta_app/css/summernote-lite.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ta_app/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ta_app/css/font-awesome.min.css' %}">
</head>
<body>
	<header class="bg-primary">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<span class="navbar-brand">TA Application System</span>

				{% if loggedin_user.is_authenticated %}
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							{% if 'Admin' in loggedin_user.roles or 'Superadmin' in loggedin_user.roles or 'HR' in loggedin_user.roles %}
								<li class="nav-item">
									<a id="nav-administrator" class="nav-link" href="{% url 'administrators:index' %}">
										<i class="fa fa-home" aria-hidden="true"></i>
										{% if loggedin_user.roles|length > 1 %} Admin {% endif %}
										Home
									</a>
								</li>
							{% endif %}

							{% if 'Instructor' in loggedin_user.roles %}
								<li class="nav-item">
									<a id="nav-instructor" class="nav-link" href="{% url 'instructors:index' %}">
										<i class="fa fa-home" aria-hidden="true"></i>
										{% if loggedin_user.roles|length > 1 %} Instructor {% endif %}
										Home
									</a>
								</li>
							{% endif %}

							{% if 'Student' in loggedin_user.roles %}
								<li class="nav-item">
									<a id="nav-student" class="nav-link" href="{% url 'students:index' %}">
										<i class="fa fa-home" aria-hidden="true"></i>
										{% if loggedin_user.roles|length > 1 %} Student {% endif %}
										Home
									</a>
								</li>
							{% endif %}

							{% if 'Observer' in loggedin_user.roles %}
								<li class="nav-item">
									<a id="nav-observer" class="nav-link" href="{% url 'observers:index' %}">
										<i class="fa fa-home" aria-hidden="true"></i>
										{% if loggedin_user.roles|length > 1 %} Observer {% endif %}
										Home
									</a>
								</li>
							{% endif %}
						</ul>
  					<span class="text-white">Hi, {{ loggedin_user.get_full_name }}</span>
						<a id="btn-logout" class="text-white ml-4" href="/Shibboleth.sso/Logout">
							Log out <i class="fa fa-sign-out" aria-hidden="true"></i>
						</a>
					</div>
				{% endif %}
			</nav>
		</div>
	</header>

	<main class="mb-5">
		<div class="container max-width-container">
			{% if loggedin_user.is_impersonate %}
				<div id="impersonate-card" class="card bg-light-gray">
					<div class="card-body">
						<div>
							You are now masquerading as
							<span class="font-weight-bold text-primary">{{ loggedin_user.get_full_name }}</span>
						</div>
						<a class="btn btn-sm btn-outline-info mt-2" href="/app/impersonate/stop/?next={% url 'administrators:all_users' %}">
							Switch back <i class="fa fa-sign-out" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			{% endif %}

			{% block content %}{% endblock %}
		</div>
	</main>

	<footer class="bg-dark-blue">
		<div class="container">
			<div class="footer-item">
				<img class="mr-2" src="{% static 'ta_app/images/UBC-logo-2018-crest-white-rgb300.png' %}" alt="UBC logo" height="40" />
				The University of British Columbia
			</div>
			<div class="footer-item">
				The Faculty of Land and Food Systems
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="{% static 'ta_app/js/library/jquery-3.3.1.slim.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ta_app/js/library/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ta_app/js/library/bootstrap.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'ta_app/js/library/bootstrap-table.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ta_app/js/library/bootstrap-table-export.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ta_app/js/library/tableExport.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'ta_app/js/library/jquery-3.5.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ta_app/js/library/summernote-lite.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ta_app/js/index.js' %}"></script>

	{% block js %}{% endblock %}
</body>
</html>
