{% extends 'ta_app/base.html' %}
{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'administrators:index' %}">administrators</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'users:degrees' %}">Degrees</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Degree Details</li>
  </ol>
</nav>


{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>Degree Details</h1>

<div class="">
  Degree Name: {{ degree.name }}
</div>

<a href="{% url 'users:degrees' %}">Back to Degrees</a>



{% endblock %}
