{% extends "ta_app/base.html" %}
{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>


{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}


<h1>Apply now!</h1>

<div class="row">
	<div class="col-8">
		<div class="row">
			{% for session in active_sessions %}
				<div class="col-6 margin-top-30">
					<div class="card padding-20">
						<h5><a href="{% url 'home:show_session' session.slug %}">{{ session.year }} {{ session.term.name }} {{ session.title }}</a></h5>
						<p class="margin-bottom-0">Description: {{ session.description }}</p>
						<p>Note: {{ session.note }}</p>
					</div>
				</div>
			{% empty %}
				No active sessions found.
			{% endfor %}
		</div>
	</div>
	<div class="col-4">
		<div class="card messageboard margin-top-30 padding-20">
			<h3>Message Board</h3>
		</div>
	</div>
</div>


{% endblock %}
