<nav class="container menu">
  <div class="dropdown">
    <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Profile
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'students:show_profile' %}">View Profile</a>
      <a class="dropdown-item" href="{% url 'students:show_confidentiality' %}">Confidentiality</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Jobs
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'students:explore_jobs' %}">Explore Jobs</a>
      <a class="dropdown-item" href="{% url 'students:history_jobs' %}">History of Jobs</a>
      <a class="dropdown-item" href="{% url 'students:favourite_jobs' %}">Favourite Jobs</a>
    </div>
  </div>
</nav>

{% include 'ta_app/pages/_return_messages.html' with data=messages %}
