
{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'students/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Home' data=loggedin_user %}

    <div class="col-10 mx-auto mt-5">

      <div class="card border-primary">
        <h6 class="card-header bg-primary text-white text-center">
          Recent Applied Jobs ({{ recent_apps|length }})
        </h6>
        <div class="card-body font-size-sm">
          <ul>
            {% for app in recent_apps %}
              <li>
                {% if not app.job.is_active %}
                  <span class="not-active text-secondary">
                    {{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
                  </span>
                {% else %}
                  <a href="{% url 'students:show_job' session_slug=app.job.session.slug job_slug=app.job.course.slug %}">{{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</a>
                {% endif %}
                <br />
                <small class="text-muted">Created at {{ app.created_at }}</small>
              </li>
            {% empty %}
              <li>No applied jobs found</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% include 'ta_app/jobs/_job_inactive_note.html' %}
    </div>
  </div>

  <div class="col-md-8">

    <div class="bg-prompt">
      <div class="prompt p-4 text-center">
        <h4>Welcome</h4>

        <div class="col-8 mx-auto my-4">
          <div>
            <i class="fa fa-check" aria-hidden="true"></i>
            You have <span class="font-weight-bold text-chocolate">{{ apps|length }}</span> applied job{% if apps|length > 1 %}s{% endif %} in total.
            <a class="btn btn-xs btn-link" href="{% url 'students:history_jobs' %}">View History</a>
          </div>
          <div>
            <i class="fa fa-check" aria-hidden="true"></i>
            You have currently bookmarked <span class="font-weight-bold text-chocolate">{{ favourites|length }}</span> job{% if favourites|length > 1 %}s{% endif %}.
            <a class="btn btn-xs btn-link" href="{% url 'students:favourite_jobs' %}">View Favourites</a>
          </div>
        </div>

        <p class="col-8 mx-auto">If you would like to explore current openings, please click on the button bellow.</p>

        <a class="btn btn-sm btn-outline-primary" href="{% url 'students:explore_jobs' %}">Explore Jobs</a>
      </div>
    </div>

    <div class="col-8 mx-auto text-center mt-5">
      <h5 class="text-info">Total Accepted Hours</h5>
      <table class="table font-size-1">
        <thead>
          <tr>
            <th>Year-Term</th>
            <th>Total Hours</th>
          </tr>
        </thead>
        <tbody>
          {% for year_term, assigned_hours in total_assigned_hours.accepted.items %}
            <tr>
              <td>{{ year_term }}</td>
              <td>{{ assigned_hours }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">No matching records found</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>

{% endblock %}
