
{% extends 'ta_app/base.html' %}
{% block content %}

{% if can_alert %}

<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="alert-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-warning" id="alert-modal-label">
          <i class="fa fa-bullhorn" aria-hidden="true"></i> Alert
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>
          Have you checked your <strong>Additional Information</strong> and <strong>Resume</strong> recently? If not,
        </p>
        <ul>
          <li>Keep your <strong>Resume</strong> up to date.</li>
          <li>
            Update your <strong>Student Year</strong> and <strong>Previous TA Experience Details</strong> fields in the Additional Information Form. <br />
            <strong>Note:</strong> Your pay Classification is determined using Previous TA Experience Details information.
          </li>
        </ul>

        <hr />

        <div class="text-center mb-2">
          <p>Please click on the <span class="text-primary">Read</span> button below if you <span class="text-danger font-weight-bold">DO NOT</span> want to see this message again this year.</p>
          <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="student" value="{{ loggedin_user.id }}" />
            <input type="hidden" name="has_read" value="true" />
            <button class="btn btn-primary" type="submit">Read</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% include 'students/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% if loggedin_user.roles|length > 1 %}
      {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Student Home' data=loggedin_user %}
    {% else %}
      {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Home' data=loggedin_user %}
    {% endif %}

    <div class="col-10 mx-auto mt-5">
      <div class="card border-primary">
        <h6 class="card-header bg-primary text-white text-center">
          Recent Applied Jobs ({{ recent_apps|length }})
        </h6>
        <div class="card-body font-size-sm recent-applied-jobs">
          <ul>
            {% for app in recent_apps %}
              <li>
                {% if not app.job.is_active %}
                  <span class="not-active text-dark-gray">
                    {{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
                  </span>
                {% else %}
                  <a href="{% url 'students:show_job' session_slug=app.job.session.slug job_slug=app.job.course.slug %}?next={{ request.get_full_path }}&p=Home">{{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</a>
                {% endif %}
                <br />
                <small class="text-dark-gray">Created on {{ app.created_at }}</small>
              </li>
            {% empty %}
              <li>No applied jobs found</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% include 'ta_app/users/_note_upload_avatar.html' with next=request.get_full_path %}

      {% include 'ta_app/jobs/_job_inactive_note.html' %}
    </div>
  </div>

  <div class="col-md-8">

    <div class="bg-prompt">
      <div class="prompt p-4 text-center">
        <h4>Welcome</h4>

        <div class="col-8 mx-auto my-4">
          <div>
            <i class="fa fa-check" aria-hidden="true"></i>
            You have <span class="font-weight-bold text-chocolate">{{ apps|length }}</span> applied job{% if apps|length > 1 %}s{% endif %} in total.
            <a class="btn btn-xs btn-link" href="{% url 'students:history_jobs' %}">View History</a>
          </div>
          <div>
            <i class="fa fa-check" aria-hidden="true"></i>
            You have currently bookmarked <span class="font-weight-bold text-chocolate">{{ favourites|length }}</span> job{% if favourites|length > 1 %}s{% endif %}.
            <a class="btn btn-xs btn-link" href="{% url 'students:favourite_jobs' %}">View Favourites</a>
          </div>
        </div>

        <p class="col-8 mx-auto">If you would like to explore current openings, please click on the button bellow.</p>

        <a class="btn btn-sm btn-outline-primary mb-5" href="{% url 'students:explore_jobs' %}">Explore Jobs</a>

        {% include 'ta_app/users/_confi_info_expiry_status.html' with items=expiry_status path='students' %}
      </div>
    </div>

    <div class="board col-11 mx-auto text-center mt-5">
      <h3 class="text-info mb-4">Summary of TA Information</h3>
      {% include 'ta_app/users/_summary_ta_info.html' with data=accepted_apps total=total_assigned_hours %}
    </div>

  </div>
</div>

{% endblock %}



{% block js%}

{% if can_alert %}
<script type="text/javascript">
  $(document).ready(function() {
    jQuery.noConflict();
    $('#alert-modal').modal('show');
  });
</script>
{% endif %}

{% endblock%}
