<div class="">
  <a href="{% url 'department:basics' %}">Basics</a>
</div>

<div class="">
  <a href="{% url 'department:courses' %}">Courses</a>
</div>

<div class="">
  <a href="{% url 'department:sessions' %}">Sessions</a>
  <ul>
    <li>
      <a href="{% url 'department:current_sessions' %}">Current Sessions</a>
    </li>
    <li>
      <a href="{% url 'department:archived_sessions' %}">Archived Sessions</a>
    </li>
  </ul>
</div>

<div class="">
  <a href="{% url 'department:jobs' %}">Jobs</a>
</div>

<div class="">Post Sessions</div>
<div class="">View Current Jobs</div>
<div class="">Selected Applicants</div>
<div class="">Offer and Assign Hours</div>
<div class="">Accepted Applicants</div>
<div class="">Declined Applicants</div>
<div class=>Check Confidentiality</div>
