{% extends "ta_app/base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'users:show_student' user.username %}">Student Profile</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Submit Confidentiality</li>
  </ol>
</nav>

{% if messages %}
	{% for message in messages %}
		<div>{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>Submit Confidentiality</h1>

<h3>Infomation</h3>
<div>First Name: {{ user.first_name }}</div>
<div>Last Name: {{ user.last_name }}</div>
<div>CWL: {{ user.username }}</div>
<div>Email: {{ user.email }}</div>
<div>UBC Number: {{ user.profile.ubc_number }}</div>
<div>Date Joined: {{ user.date_joined }}</div>
<div>Last Login: {{ user.last_login }}</div>


<hr />

<p>Valid file types: jpg, jpeg, png, pdf, doc, docx</p>

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>{{ form.as_table }}</table>
  <input type="submit" value="Submit" />
</form>

<a href="{% url 'users:show_student' user.username %}"></a>


{% endblock %}
