{% extends "ta_app/base.html" %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Student Profile</li>
  </ol>
</nav>

{% if messages %}
	{% for message in messages %}
		<div>{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>Student Profile</h1>

<h3>Infomation</h3>

<ul>
  <li>First Name: {{ user.first_name }}</li>
  <li>Last Name: {{ user.last_name }}</li>
  <li>CWL: {{ user.username }}</li>
  <li>Email: {{ user.email }}</li>
  <li>UBC Number: {{ user.profile.ubc_number }}</li>
  <li>Date Joined: {{ user.date_joined }}</li>
  <li>Last Login: {{ user.last_login }}</li>
</ul>

<hr />

<h3>Profile</h3>
<div>Created at: {{ user.profile.created_at }}</div>
<div>Updated at: {{ user.profile.updated_at }}</div>

<div class="">
  Qualifications: {{ user.profile.qualifications }}
</div>

<div class="">
  Prior Employment: {{ user.profile.prior_employment }}
</div>

<div class="">
  Special Considerations: {{ user.profile.special_considerations }}
</div>

<div class="">
  Status: {{ user.profile.status }}
</div>

<div class="">
  Program: {{ user.profile.program }}
</div>

<div class="">
  Graduation Date: {{ user.profile.graduation_date }}
</div>

<div class="">
  Degrees:
  <ul>
    {% for degree in user.profile.degrees.all %}
      <li>{{ degree.name }}</li>
    {% empty %}
      None
    {% endfor %}
  </ul>
</div>

<div class="">
  Trainings:
  <ul>
    {% for degree in user.profile.trainings.all %}
      <li>{{ degree.name }}</li>
    {% empty %}
      None
    {% endfor %}
  </ul>
</div>

<div class="">
  LFS TA Training: {{ user.profile.get_lfs_ta_training_display }}
  <p>Details: {{ user.profile.lfs_ta_training_details }}</p>
</div>

<div class="">
  Previous TA Experience: {{ user.profile.get_ta_experience_display }}
  <p>Details: {{ user.profile.ta_experience_details }}</p>
</div>

<a href="{% url 'users:edit_student' user.username %}">Edit</a>

<hr />

<h3>Upload a resume</h3>

Resume:
{% if resume_file %}
  <a href="{% url 'users:download_resume' username=user.username filename=resume_file %}" target="_blank">
    {{ resume_file }}
  </a>
  - {{ user.resume.created_at }}

  <form action="{% url 'users:delete_resume' %}" method="post" onsubmit="return confirm('Are you sure to delete this resume?')">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{ user.username }}">
    <input type="submit" value="Delete" />
  </form>

{% else %}
  No resume
{% endif %}

<p>Valid file types: jpg, jpeg, png, pdf, doc, docx</p>
<form action="{% url 'users:upload_resume' user.username %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>{{ resume_form.as_table }}</table>
  <input type="submit" value="Upload" />
</form>


<hr />

<h3>Confidentiality</h3>

<ul>
  <li>SIN: {{ user.confidentiality.sin }}</li>
  <li>Employee Number: {{ user.confidentiality.employee_number }}</li>
  <li>Study Permit:
    {% if study_permit_file %}

      <a href="{% url 'users:download_study_permit' username=user.username filename=study_permit_file %}" target="_blank">
        {{ study_permit_file }}
      </a>
      -
      Expiry Date: {{ user.confidentiality.study_permit_expiry_date }}

      <form action="{% url 'users:delete_study_permit' %}" method="post" onsubmit="return confirm('Are you sure to delete this study permit?')">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.username }}">
        <input type="submit" value="Delete" />
      </form>
      
    {% else %}
      None
    {% endif %}
  </li>
  <li>Work Permit:
    {% if work_permit_file %}

      <a href="{% url 'users:download_work_permit' username=user.username filename=work_permit_file %}" target="_blank">
        {{ work_permit_file }}
      </a>

      <form action="{% url 'users:delete_work_permit' %}" method="post" onsubmit="return confirm('Are you sure to delete this work permit?')">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.username }}">
        <input type="submit" value="Delete" />
      </form>
    {% else %}
      None
    {% endif %}
  </li>
</ul>

<a href="{% url 'users:submit_confidentiality' user.username %}">Submit Confidentiality</a>


<hr />

<h3>Applied Jobs</h3>
<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Term</th>
      <th>Job</th>
      <th>Status</th>
      <th>Instructors</th>
    </tr>
  </thead>
  <tbody>
    {% for job in student_jobs %}
      <tr>
        <td>{{ job.session.year }}</td>
        <td>{{ job.session.term.code }}</td>
        <td>
          <a href="{% url 'users:show_student_job' username=user.username session_slug=job.session.slug job_slug=job.course.slug %}">
            {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}
          </a>
        </td>
        <td>
          {% for app in job.application_set.all %}
            {% if app.applicant.id == user.id %}
              <ul>
                {% for st in app.status.all %}
                  <li>{{ st.get_assigned_display }} - {{ st.assigned_hours }} hours - {{ st.created_at }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for instructor in job.instructors.all %}
            {{ instructor.first_name }} {{ instructor.last_name }}
          {% endfor %}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">No jobs applied yet</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<hr />


<h3>Offered Jobs</h3>

<table>
  <thead>
    <tr>
      <th>Year-Term</th>
      <th>Total Assigned Hours</th>
    </tr>
  </thead>
  <tbody>
    {% for year_term, assigned_hours in offered_summary.items %}
      <tr>
        <td>{{ year_term }}</td>
        <td>{{ assigned_hours }} hours</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<ul>
  {% for job in offered_jobs %}
    <li>{{ job.year }} {{ job.term }} - {{ job.course_code }} {{ job.course_number }} {{ job.course_section }}: {{ job.assigned_status }} {{ job.assigned_hours }} hours</li>
  {% empty %}
    <li>No offered jobs found</li>
  {% endfor %}
</ul>

<hr />



<h3>Accepted Jobs</h3>

<table>
  <thead>
    <tr>
      <th>Year-Term</th>
      <th>Total Assigned Hours</th>
    </tr>
  </thead>
  <tbody>
    {% for year_term, assigned_hours in accepted_summary.items %}
      <tr>
        <td>{{ year_term }}</td>
        <td>{{ assigned_hours }} hours</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<ul>
  {% for job in accepted_jobs %}
    <li>{{ job.year }} {{ job.term }} - {{ job.course_code }} {{ job.course_number }} {{ job.course_section }}: {{ job.assigned_status }} {{ job.assigned_hours }} hours</li>
  {% empty %}
    <li>No accepted jobs found</li>
  {% endfor %}
</ul>

<hr />


<h3>Declined Jobs</h3>
<ul>
  {% for job in declined_jobs %}
    <li>{{ job.year }} {{ job.term }} - {{ job.course_code }} {{ job.course_number }} {{ job.course_section }}: {{ job.assigned_status }} {{ job.assigned_hours }} hours</li>
  {% empty %}
    <li>No declined jobs found</li>
  {% endfor %}
</ul>


{% endblock %}
