{% extends "ta_app/base.html" %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'users:show_instructor' user.username %}">Instructor Profile</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'users:show_instructor_jobs' username=user.username session_slug=session.slug job_slug=job.course.slug %}">Instructor Job Details</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Edit Instructor Job</li>
  </ol>
</nav>

{% if messages %}
	{% for message in messages %}
		<div>{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>Edit Instructor Job</h1>

<h3>Instructor Information</h3>
<ul>
  <li>First Name: {{ user.first_name }}</li>
  <li>Last Name: {{ user.last_name }}</li>
  <li>Email: {{ user.email }}</li>
  <li>UBC Number: {{ user.profile.ubc_number }}</li>
</ul>

<h3>Job Information</h3>

<ul>
  <li>Year: {{ job.session.year }}</li>
  <li>Term: {{ job.session.term.name }}</li>
  <li>Created at: {{ job.created_at }}</li>
  <li>Updated at: {{ job.updated_at }}</li>
  <li>Job Code: {{ job.course.code.name }}</li>
  <li>Job Number: {{ job.course.number.name }}</li>
  <li>Job Section: {{ job.course.section.name }}</li>
  <li>
    Intstructors:
    {% for instructor in job.instructors.all %}
      {{ instructor.username }},
    {% empty %}
      No instructors
    {% endfor %}
  </li>
</ul>

<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Update">
</form>

{% endblock %}
