{% extends "ta_app/base.html" %}
{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Instructor Profile</li>
  </ol>
</nav>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>Instructor Profile</h1>

<h3>Information</h3>
<ul>
  <li>First name: {{ user.first_name }}</li>
  <li>Last name: {{ user.last_name }}</li>
  <li>Email: {{ user.email }}</li>
  <li>CWL: {{ user.username }}</li>
  <li>UBC Number: {{ user.profile.ubc_number }}</li>
  <li>Created at: {{ user.profile.created_at }}</li>
  <li>Updated at: {{ user.profile.updated_at }}</li>
  <li>Status: {{ user.profile.status.name }}</li>
  <li>Program: {{ user.profile.program.name }}</li>
</ul>

<a href="{% url 'users:edit_instructor' user.username %}">Edit</a>

<h4>Instructor Jobs</h4>
<ul>
	{% for job in user.job_set.all %}
		<li>
      <a href="{% url 'users:show_instructor_jobs' username=user.username session_slug=job.session.slug job_slug=job.course.slug %}">
        {{ job.session.year }} {{ job.session.term.code }} - {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}
      </a>
      (Active: {{ job.is_active }})
		</li>
  {% empty %}
    <li>No courses found.</li>
	{% endfor %}
</ul>

{% endblock %}
