{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'instructors/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='User Details' data=selected_user %}

    <div class="left-aside-btn-groups mb-5">
      <a class="btn btn-outline-primary" href="{% url 'instructors:show_applications' session_slug=session_slug job_slug=job_slug %}">Back to Applications</a>
    </div>
  </div>

  <div class="col-md-8">

    <nav class="mb-4">
      <div class="nav nav-tabs">
        <a class="nav-item nav-link {% if current_tab == 'basic' %} active {% endif %}" href="{% url 'instructors:show_user' session_slug=session_slug job_slug=job_slug username=selected_user.username tab='basic' %}">
          <span class="mobile-hide-xs"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
          Basic
          <span class="mobile-hide">Information</span>
        </a>
        <a class="nav-item nav-link {% if current_tab == 'additional' %} active {% endif %}" href="{% url 'instructors:show_user' session_slug=session_slug job_slug=job_slug username=selected_user.username tab='additional' %}">
          <span class="mobile-hide-xs"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
          Additional
          <span class="mobile-hide">Information</span>
        </a>
        <a class="nav-item nav-link {% if current_tab == 'resume' %} active {% endif %}" href="{% url 'instructors:show_user' session_slug=session_slug job_slug=job_slug username=selected_user.username tab='resume' %}">
          <span class="mobile-hide-xs"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
          Resume
        </a>
      </div>
    </nav>

    {% if current_tab == 'additional' %}

      <div class="board col-11 mx-auto">
        <h3>Additional Information</h3>
        {% include 'ta_app/users/_profile.html' with data=selected_user %}
      </div>

      {% elif current_tab == 'resume' %}

        <div class="board col-11 mx-auto">
          <h3>Resume</h3>

          {% if selected_user.resume_filename %}
            <div>
              File:
              <a href="{% url 'students:download_resume' username=selected_user.username filename=selected_user.resume_filename %}" target="_blank">
                {{ selected_user.resume_filename }}
              </a><br />
            </div>
            <div>Uploaded at {{ selected_user.resume.created_at }}</div>
          {% else %}
            None
          {% endif %}
        </div>

      {% else %}

      <div class="board col-11 mx-auto">
        <h3>Basic Information</h3>
        {% include 'ta_app/users/_basic_info.html' with data=selected_user student_number_display='True' %}
      </div>

    {% endif %}

  </div>
</div>

{% endblock %}
