{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">

  {% if role == 'administrator' %}
    {% include 'administrators/util/_sidebar.html' %}
  {% elif role == 'student' %}
    {% include 'students/util/_sidebar.html' %}
  {% endif %}

  <div id="content" class="container-fluid">

    <h3>Job Details</h3>

    <h5>{{ job.session.year }} {{ job.session.term.name }}</h5>
    <h4>{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</h4>
    <div>{{ job.course.name }}</div>

    <hr />

    <div>
      <h5>Title: {{ job.title }}</h5>

      {% if role == 'administrator' %}
        <div>Job ID: {{ job.id }}</div>
        <div>Is Active: {{ job.is_active }}</div>
      {% endif %}

      <small>Created at: {{ job.created_at }} | Updated At: {{ job.updated_at }}</small>
    </div>

    <div>
      <h5>Description</h5>
      <p>{{ job.description }}</p>
    </div>

    <div>
      <h5>Qualification</h5>
      <p>{{ job.qualification }}</p>
    </div>

    <div>
      <h5>Note</h5>
      <p>{{ job.note }}</p>
    </div>

    <div>
      <h5>Instructors</h5>
      <ul>
        {% for instructor in job.instructors.all %}
          <li>{{ instructor.first_name }} {{ instructor.last_name }}</li>
        {% empty %}
          No instructors found.
        {% endfor %}
      </ul>
    </div>

    <a href="{{ previous_url }}">Go back to a previous page</a>

  </div>
</div>

{% endblock %}
