<button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#job-details-modal-{{ data.id }}">
  {{ data.session.year }} {{ data.session.term.code }} - {{ data.course.code.name }} {{ data.course.number.name }} {{ data.course.section.name }}
</button>

<div class="modal fade" id="job-details-modal-{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="job-details-modal-label-{{ data.id }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="job-details-modal-label-{{ data.id }}">Job Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h5>{{ data.session.year }} {{ data.session.term.name }}</h5>
        <h4>{{ data.course.code.name }} {{ data.course.number.name }} {{ data.course.section.name }}</h4>
        <div>{{ data.course.name }}</div>

        <hr />

        <div>
          <h5>Title: {{ data.title }}</h5>

          {{  role  }}

          {% if role == 'administrator' %}
            <div>ID: {{ data.id }}</div>
            <div>Is Active: {{ data.is_active }}</div>
          {% endif %}

          <small>Created at: {{ data.created_at }} | Updated At: {{ data.updated_at }}</small>
        </div>

        <div>
          <h5>Description</h5>
          {{ data.description|safe }}
        </div>

        <div>
          <h5>Qualification</h5>
          {{ data.qualification|safe }}
        </div>

        <div>
          <h5>Note</h5>
          {{ data.note|safe }}
        </div>

        <div>
          <h5>Instructors</h5>
          <ul>
            {% for instructor in data.instructors.all %}
              <li>{{ instructor.first_name }} {{ instructor.last_name }}</li>
            {% empty %}
              No instructors found.
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
