<button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#app-details-modal-{{ data.id }}">
  View
</button>

<div class="modal fade" id="app-details-modal-{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="app-details-modal-label-{{ data.id }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="app-details-modal-label-{{ data.id }}">Application Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h5>{{ data.job.session.year }} {{ data.job.session.term.code }} - {{ data.job.course.code.name }} {{ data.job.course.number.name }} {{ data.job.course.section.name }}</h5>

        {% if role == 'administrator' %}
          <div>Application ID: {{ data.id }}</div>
        {% endif %}

        <h4>Applicant: {{ data.applicant.first_name }} {{ data.applicant.last_name }}</h4>
        <small>Created at: {{ data.created_at }} | Updated at: {{ data.updated_at }}</small>

        <div>Supervisor Approval: {{ data.supervisor_approval }}</div>
        <div>How Qualified: {{ data.get_how_qualified_display }}</div>
        <div>How Interested: {{ data.get_how_interested_display }}</div>
        <div>Availability: {{ data.availability }}</div>
        <div>Availability Note: {{ data.availability_note }}</div>

        {% if role == 'administrator' %}
          <div>Instructor Preference: {{ data.get_instructor_preference_display }}</div>
          <div>Classification: {{ app.classification.year }} {{ app.classification.name }}</div>
          <div>Note: {{ data.note }}</div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
