<nav id="sidebar" class="mCustomScrollbar" data-mcs-theme="dark">
  <ul class="nav flex-column">
    <li class="nav-item">
      <h4><a class="nav-link" href="{% url 'administrators:courses' %}">Courses</a></h4>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:create_course' %}">Create a Course</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:all_courses' %}">All Courses</a>
    </li>

    <li class="nav-item">
      <h4><a class="nav-link" href="{% url 'administrators:sessions' %}">Sessions</a></h4>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:create_session' %}">Create a Session</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:current_sessions' %}">Current Sessions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:archived_sessions' %}">Archived Sessions</a>
    </li>

    <li class="nav-item">
      <h4><a class="nav-link" href="{% url 'administrators:jobs' %}">Jobs</a></h4>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:prepare_jobs' %}">Prepare Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:progress_jobs' %}">Jobs in Progress</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:instructor_jobs' %}">Jobs by Instructor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:student_jobs' %}">Jobs by Student</a>
    </li>

    <li class="nav-item">
      <h4><a class="nav-link" href="{% url 'administrators:applications' %}">Applications</a></h4>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:applications_dashboard' %}">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:all_applications' %}">All Applications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:selected_applications' %}">Selected Applications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:offered_applications' %}">Offered Applications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:accepted_applications' %}">Accepted Applications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:declined_applications' %}">Declined Applications</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:email_history' %}">Email History</a>
    </li>

    <li class="nav-item">
      <h4><a class="nav-link" href="{% url 'administrators:hr' %}">Human Resources</a></h4>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:create_user' %}">Create a User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:users' %}">All Users</a>
    </li>

    <li class="nav-item">
      <h4><a class="nav-link" href="{% url 'administrators:preparation' %}">Preparation</a></h4>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:terms' %}">Terms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:course_codes' %}">Course Codes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:course_numbers' %}">Course Numbers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:course_sections' %}">Course Sections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:roles' %}">Roles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:statuses' %}">Statuses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:programs' %}">Programs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:degrees' %}">Degrees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{% url 'administrators:trainings' %}">Trainings</a>
    </li>
  </ul>
</nav>
