<h3>Applied Jobs</h3>


<table class="table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Term</th>
      <th>Job</th>
      <th>Application</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for job in applied_jobs %}
      <tr>
        <td>{{ job.session.year }}</td>
        <td>{{ job.session.term.code }}</td>
        <td>
          <a href="{% url 'administrators:display_job_details' session_slug=job.session.slug job_slug=job.course.slug role='student' %}">
            {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}
          </a>
        </td>
        <td>
          <a href="{% url 'administrators:display_application_details' app_slug=job.my_application.slug role='student' %}">View</a>
        </td>
        <td>
          {% for app in job.application_set.all %}
            {% if app.applicant.id == user.id %}
              {% include 'administrators/util/_display_app_status.html' with data=app %}
            {% endif %}
          {% endfor %}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">No jobs applied yet</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
