<h3>Declined Jobs</h3>

<ul>
  {% for job in declined_jobs %}
    <li>{{ job.year }} {{ job.term }} - {{ job.course_code }} {{ job.course_number }} {{ job.course_section }}: {{ job.assigned_status }} {{ job.assigned_hours }} hours</li>
  {% empty %}
    <li>No declined jobs found</li>
  {% endfor %}
</ul>

<h5>List</h5>
<table class="table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Term</th>
      <th>Job</th>
      <th>Assigned Status</th>
      <th>Assigned Hours</th>
    </tr>
  </thead>
  <tbody>
    {% for job in declined_jobs %}
    <tr>
      <td>{{ job.year }}</td>
      <td>{{ job.term }}</td>
      <td>
        <a href="{% url 'administrators:display_job_details' session_slug=job.session_slug job_slug=job.job_slug role='student' %}">
          {{ job.course_code }} {{ job.course_number }} {{ job.course_section }}
        </a>
      </td>
      <td>{{ job.assigned_status }}</td>
      <td>{{ job.assigned_hours }} hours</td>
    </tr>
    {% empty %}
      <tr>
        <td colspan="3">No accepted jobs found</td>
      </tr>
    {% endfor %}
  </tbody>
</table>