{% if data == 'applied' %}
  <a class="btn btn-outline-primary" href="{% url 'students:applied_jobs' %}">Go back to Applied Jobs</a>

{% elif data == 'offered' %}
  <a class="btn btn-outline-primary" href="{% url 'students:offered_jobs' %}">Go back to Offered Jobs</a>

{% elif data == 'accepted' %}
  <a class="btn btn-outline-primary" href="{% url 'students:accepted_jobs' %}">Go back to Accepted Jobs</a>

{% elif data == 'declined' %}
  <a class="btn btn-outline-primary" href="{% url 'students:declined_jobs' %}">Go back to Declined Jobs</a>

{% else %}
  <a class="btn btn-outline-primary" href="{% url 'students:jobs' %}">Go back to Jobs</a>

{% endif %}
