{% if messages %}
	{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
	{% endfor %}
{% endif %}

<h3>Offered Jobs</h3>

<h5>Summary</h5>
<table class="table">
  <thead>
    <tr>
      <th>Year-Term</th>
      <th>Total Assigned Hours</th>
    </tr>
  </thead>
  <tbody>
    {% for year_term, assigned_hours in offered_summary.items %}
      <tr>
        <td>{{ year_term }}</td>
        <td>{{ assigned_hours }} hours</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">No summary available</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h5>List</h5>
<table class="table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Term</th>
      <th>Job</th>
      <th>Assigned Status</th>
      <th>Assigned Hours</th>
      <th>Your Decision</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for job in offered_jobs %}
    <tr>
      <td>{{ job.year }}</td>
      <td>{{ job.term }}</td>
      <td>{{ job.course_code }} {{ job.course_number }} {{ job.course_section }}</td>
      <td>{{ job.assigned_status }}</td>
      <td>{{ job.assigned_hours }} hours</td>
      <td>
        {% if job.accepted %}
          {{ job.accepted.get_assigned_display }}: {{ job.accepted.assigned_hours }} hours at {{ job.accepted.created_at }}
        {% elif job.declined %}
          {{ job.declined.get_assigned_display }}: {{ job.declined.assigned_hours }} hours at {{ job.declined.created_at }}
        {% else %}
          None
        {% endif %}
      </td>
      <td>
        <a href="{% url 'students:offered_job' session_slug=job.session_slug job_slug=job.job_slug %}">Accept / Decline</a>
      </td>
    </tr>
    {% empty %}
      <tr>
        <td colspan="3">No offered jobs found</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
