<div class="search-field bg-light-gray p-4">
  <form method="GET">
    <input type="text" name="code" value="{{ request.GET.code }}" placeholder="Job Code" /> and
    <input type="text" name="number" value="{{ request.GET.number }}" placeholder="Job Number" /> and
    <input type="text" name="section" value="{{ request.GET.section }}" placeholder="Job Section" /> <br />
    <input type="text" name="instructor_first_name" value="{{ request.GET.instructor_first_name }}" placeholder="Instructor First Name" /> and
    <input type="text" name="instructor_last_name" value="{{ request.GET.instructor_last_name }}" placeholder="Instructor Last Name" /> <br />
    <input type="checkbox" name="exclude_applied_jobs" value="1"
      {% if request.GET.exclude_applied_jobs == '1' %} checked {% endif %}
    > Exclude applied jobs <br />

    <div class="mt-1">
      <button class="btn btn-sm btn-secondary" type="submit">Search</button>
      <a class="btn btn-sm btn-light" href="{% url 'students:available_jobs' session_slug=session_slug %}">Clear</a>
    </div>
  </form>
</div>
<div class="mb-4">{{ data|length }} row{% if data|length > 1 %}s {% endif %} in this page</div>
