{% extends 'ta_app/base.html' %}
{% block content %}

<div class="row">
    {% include "students/_sidebar.html" %}
</div>

<h3>Accpeted Jobs</h3>

<h4>Summary</h4>
<table class="table">
  <thead>
    <tr>
      <th>Year-Term</th>
      <th>Total Assigned Hours</th>
    </tr>
  </thead>
  <tbody>
    {% for year_term, assigned_hours in accepted_summary.items %}
      <tr>
        <td>{{ year_term }}</td>
        <td>{{ assigned_hours }} hours</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">No summary available</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h4>List</h4>
<ul>
  {% for job in accepted_jobs %}
    <li>{{ job.year }} {{ job.term }} - {{ job.course_code }} {{ job.course_number }} {{ job.course_section }}: {{ job.assigned_status }} {{ job.assigned_hours }} hours</li>
  {% empty %}
    <li>No accepted jobs found</li>
  {% endfor %}
</ul>

{% endblock %}
