{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'students/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='applications' title='Accept / Decline' data=app %}

    <div class="col-10 mx-auto text-center mt-4">
      <table class="table">
        <tr class="text-dark-gray">
          <td>Job Details</td>
        </tr>
        <tr>
          <td>{% include 'ta_app/jobs/_modal_job_details.html' with data=app.job %}</td>
        </tr>
      </table>
    </div>

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{{ request.GET.next }}">Back to History of Jobs</a>
    </div>

    {% include 'ta_app/pages/_accept_decline_notice.html' %}
  </div>

  <div class="col-md-8">

    <div class="board col-11 mx-auto">

      {% if app.offered %}

        <h3>Job Offer</h3>

        {% if not app.accepted and not app.declined %}

          <div class="bg-prompt">
            <div class="prompt p-4 text-center mb-4">
              <h4>
                <i class="fa fa-envelope-open-o" aria-hidden="true"></i> Congratulations!
              </h4>

              <p class="col-8 mx-auto">
                You are assigned <span class="font-weight-bold text-chocolate">{{ app.offered.assigned_hours }} hours</span>
                for this job as a <span class="font-weight-bold text-chocolate">{{ app.classification.name }}</span>.
              </p>

              <p class="col-8 mx-auto">
                Please click on the <span class="font-weight-bold text-primary">Accept</span> button below if you would like to accept this job offer.
              </p>
              <p class="col-8 mx-auto">Thanks!</p>
            </div>
          </div>

          {% include 'ta_app/applications/_job_offer_contract.html' with employee=loggedin_user data=app type='None' %}

          <div class="text-center">
            {% include 'ta_app/pages/_submit_note.html' %}

            <form action="{% url 'students:make_decision' session_slug=app.job.session.slug job_slug=app.job.course.slug %}" method="post">
              {% csrf_token %}

              <div>
                <input type="checkbox" name="has_contract_read" value="true" />
                <span class="font-weight-bold">I read and understood my Offer contract</span>
              </div>

              <div class="field-wrapper">
                <div class="d-inline-block mx-3">
                  {% if can_accept.status == True %}
                    <input id="id_accept" type="radio" name="decision" value="accept" />
                    <label class="font-weight-bold" for="id_accept">Accept</label>
                  {% else %}
                    <input id="id_accept" type="radio" value="accept" disabled />
                    <label class="font-weight-bold text-secondary" for="id_accept">Accept</label>
                  {% endif %}
                </div>
                <div class="d-inline-block mx-3">
                  <input id="id_decline" type="radio" name="decision" value="decline" />
                  <label class="font-weight-bold" for="id_decline">Decline</label>
                </div>
              </div>

              {% if can_accept.status == False %}
                {% include 'ta_app/users/_modal_confidentiality_warning.html' with data=app can_accept=can_accept %}
                <br />
              {% endif %}

              <input type="hidden" name="next" value="{{ request.GET.next }}" />
              <input type="hidden" name="application" value="{{ app.id }}" />
              <input type="hidden" name="assigned_hours" value="{{ app.offered.assigned_hours }}" />
              <input class="btn btn-primary" type="submit" value="Submit" />
            </form>

          </div>

        {% else %}

          <div class="bd-callout .bd-callout-danger bg-light-gray">
            <h4>
              <i class="fa fa-info-circle" aria-hidden="true"></i> Notice
            </h4>
            <p>You've already made a decision for this job.</p>
          </div>

        {% endif %}

      {% endif %}

    </div>

  </div>
</div>

{% endblock %}
