{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'students/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='applications' title='Accept / Decline' data=app %}

    <div class="col-11 mx-auto text-center mt-4">
      <table class="table">
        <tr class="text-secondary">
          <td>Job Details</td>
        </tr>
        <tr>
          <td>{% include 'ta_app/jobs/_modal_job_details.html' with data=app.job %}</td>
        </tr>
      </table>
    </div>

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'students:history_jobs' %}">Back to History of Jobs</a>
    </div>
  </div>

  <div class="col-md-8">

    <div class="board col-11 mx-auto">

      {% if app.offered %}

        <h3>Job Offer</h3>

        {% if not app.accepted and not app.declined %}

          <div class="bg-prompt">
            <div class="prompt p-4 text-center mb-4">
              <h4>
                <i class="fa fa-envelope-open-o" aria-hidden="true"></i> Congratulations!
              </h4>

              <p class="col-8 mx-auto">
                You are assigned <span class="font-weight-bold text-chocolate">{{ app.offered.assigned_hours }} hours</span> for this job.
              </p>

              <p class="col-8 mx-auto">
                Please click the <span class="font-weight-bold text-primary">Accept</span> button below if you would like to accept this job offer.
              </p>
              <p class="col-8 mx-auto">Thanks!</p>
            </div>
          </div>

          <div class="bd-callout bd-callout-warning bg-light-gray">
            <h4>
              <i class="fa fa-bullhorn" aria-hidden="true"></i> Notice
            </h4>
            <p>By accepting any TA appointment within LFS, you are expected to be available for the duration of the assignment:</p>
            <ul>
              <li>Winter Session: Term 1 - September 1 to December 31; Term 2 - January 1 to April 30</li>
              <li>Summer Session: Term 1 - May 1 to June 30; Term 2 - July 1 to August 31</li>
            </ul>
            <p>
              Keep in mind that final exams are not controlled by LFS and may be scheduled up to the final day of the exam period and that final exam marking could take place after the end of the examination period. If you need to be absend for any period of time, you are expected to contact the course instructor and arrange for a proper replacement. If you already have plans to be absent at any time during the duration of the assignment, you should describe these plans in the additional comments box below AND inform your course instructor as soon as you are assigned.
            </p>
          </div>

          <div class="text-center">
            {% include 'ta_app/pages/_submit_note.html' %}

            <div class="d-inline-block">
              <form action="{% url 'students:decline_offer' session_slug=app.job.session.slug job_slug=app.job.course.slug %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="application" value="{{ app.id }}" />
                <input class="btn btn-outline-danger" type="submit" value="Decline" />
              </form>
            </div>

            <div class="d-inline-block">
              <form action="{% url 'students:accept_offer' session_slug=app.job.session.slug job_slug=app.job.course.slug %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="application" value="{{ app.id }}" />
                <input type="hidden" name="assigned_hours" value="{{ app.offered.assigned_hours }}" />
                <input class="btn btn-primary" type="submit" value="Accept" />
              </form>
            </div>
          </div>

        {% else %}

          <div class="bd-callout .bd-callout-danger bg-light-gray">
            <h4>
              <i class="fa fa-info-circle" aria-hidden="true"></i> Notice
            </h4>
            <p>You've already made a decision for this job.</p>
          </div>

        {% endif %}

      {% endif %}

    </div>

  </div>
</div>

{% endblock %}
