{% extends 'ta_app/base.html' %}
{% block content %}
{% include "ta_app/sidebars/_student_sidebar.html" %}

<div id="content" class="container-fluid">
  {% include 'ta_app/_return_messages.html' with data=messages %}

  {% include 'ta_app/pages/_header.html' with title='Accpeted Jobs' text=apps|length %}

  <div class="d-inline-block">
    <h5>Summary</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Year-Term</th>
          <th>Total Assigned Hours</th>
        </tr>
      </thead>
      <tbody>
        {% for year_term, assigned_hours in total_assigned_hours.items %}
          <tr>
            <td>{{ year_term }}</td>
            <td>{{ assigned_hours }} hours</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">No summary available</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <table class="table table-bordered table-hover table-striped table-responsive-md text-center" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
      <thead>
        <tr>
          <th>Year</th>
          <th>Term</th>
          <th>Job</th>
          <th>Assigned Status</th>
          <th>Assigned Hours</th>
          <th>Accepted at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for app in apps %}
        <tr>
          <td>{{ app.job.session.year }}</td>
          <td>{{ app.job.session.term.code }}</td>
          <td>
            <a href="{% url 'students:show_job' session_slug=app.job.session.slug job_slug=app.job.course.slug %}">
              {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
            </a>
          </td>
          <td>
            <span class="badge badge-success">{{ app.accepted.get_assigned_display.upper }}</span>
          </td>
          <td>{{ app.accepted.assigned_hours }} hours</td>
          <td>{{ app.accepted.created_at }}</td>
          <td>
            {% if app.cancelled %}
              <div class="">
                <span class="badge badge-secondary">{{ app.cancelled.get_assigned_display.upper }}</span>
                <small class="text-muted">{{ app.cancelled.created_at }}</small>
              </div>
            {% else %}
              <a href="{% url 'students:cancel_job' session_slug=app.job.session.slug job_slug=app.job.course.slug %}">Cancel</a>
            {% endif %}
          </td>
        </tr>
        {% empty %}
          <tr>
            <td colspan="3">No accepted jobs found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</div>

{% endblock %}
