{% extends 'ta_app/base.html' %}
{% block content %}
{% load static %}
{% include 'students/util/_sidebar.html' %}

<div id="content" class="container-fluid">

  <div>
    <img class="ubc-logo d-inline-block" src="{% static 'ta_app/images/UBClogo.jpeg' %}" alt="ubc logo" />
    <div class="d-inline-block ml-3">
      <h3>Applied Jobs</h3>
      <div class="text-secondary">Total: {{ apps|length }}</div>
    </div>
  </div>

  <div class="d-inline-block">
    <table class="table table-bordered table-hover table-striped table-responsive-md text-center" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
      <thead>
        <tr>
          <th data-sortable="true">Year</th>
          <th data-sortable="true">Term</th>
          <th data-sortable="true">Job</th>
          <th data-sortable="true">Application</th>
          <th data-sortable="true">Applied at</th>
        </tr>
      </thead>
      <tbody>
        {% for app in apps %}
          <tr>
            <td>{{ app.job.session.year }}</td>
            <td>{{ app.job.session.term.code }}</td>
            <td>
              <a href="{% url 'show_job' session_slug=app.job.session.slug job_slug=app.job.course.slug path='applied' portal='Student' %}">
                {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
              </a>
            </td>
            <td>
              <a href="{% url 'show_application' app_slug=app.slug path='applied' portal='Student' %}">View</a>
            </td>
            <td>{{ app.applied.created_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
