{% extends 'ta_app/base.html' %}
{% block content %}
{% include "ta_app/sidebars/_student_sidebar.html" %}

<div id="content" class="container-fluid">

  {% include 'ta_app/pages/_header.html' with title='Applied Jobs' text=apps|length %}

  <div class="d-inline-block">
    <table class="table table-bordered table-hover table-striped table-responsive-md text-center" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
      <thead>
        <tr>
          <th data-sortable="true">Year</th>
          <th data-sortable="true">Term</th>
          <th data-sortable="true">Job</th>
          <th data-sortable="true">Application</th>
          <th data-sortable="true">Applied at</th>
          <th data-sortable="true">Result</th>
        </tr>
      </thead>
      <tbody>
        {% for app in apps %}
          <tr>
            <td>{{ app.job.session.year }}</td>
            <td>{{ app.job.session.term.code }}</td>
            <td>
              <a href="{% url 'students:show_job' session_slug=app.job.session.slug job_slug=app.job.course.slug %}">
                {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
              </a>
            </td>
            <td>
              <a href="{% url 'students:show_application' app_slug=app.slug %}">View</a>
            </td>
            <td>{{ app.applied.created_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
