{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'students/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='job_applications' title='Apply Job' data=job %}

    <div class="col-11 mx-auto text-center mt-4">
      <table class="table">
        <tr class="text-secondary">
          <td>Job Details</td>
          <td>Favourite</td>
        </tr>
        <tr>
          <td>{% include 'ta_app/jobs/_modal_job_details.html' with data=job %}</td>
          <td>
            <form action="{% url 'students:select_favourite_job' session_slug=job.session.slug job_slug=job.course.slug %}" method="post">
              {% csrf_token %}

              <input type="hidden" name="applicant" value="{{ loggedin_user.id }}" />
              <input type="hidden" name="job" value="{{ job.id }}" />

              {% if job.my_fav %}
                <input type="hidden" name="is_selected" value="false" />
              {% else %}
                <input type="hidden" name="is_selected" value="true" />
              {% endif %}

              <button type="submit" class="btn btn-xs btn-favourite">
                {% if job.my_fav %}
                  <i class="fa fa-star fa-2x text-warning" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-star fa-2x text-secondary" aria-hidden="true"></i>
                {% endif %}
              </button>
            </form>
          </td>
        </tr>
      </table>

    </div>

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'students:available_jobs' session_slug=job.session.slug %}">Back to Available Jobs</a>
    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">

      {% if has_applied_job %}

        <div class="alert alert-info" role="alert">
          You have already applied for this job. Please check your jobs in <a href="{% url 'students:history_jobs' %}">History of Jobs</a>
        </div>

      {% else %}

        <h3>Application Form</h3>

        {% include 'ta_app/pages/_job_preferences.html' %}

        <form action="" method="post">
          {% csrf_token %}

          {% for field in form.visible_fields  %}
            <div class="field-wrapper my-5">
              {% if field.id_for_label == 'id_supervisor_approval' %}

                {{ field.label_tag }}
                {% if field.help_text %}
                  <div class="help">{{ field.help_text|safe }}</div>
                {% endif %}
                {{ field }} <span class="font-weight-bold text-dark">Yes</span>

              {% elif field.id_for_label == 'id_availability' %}

                {{ field.label_tag }}
                <div class="help">
                  By accepting any TA appointment within LFS, you are expected to be available for the duration of the assignment:
                  <ul>
                    <li>
                      Winter Session: Term 1 - September 1 to December 31; Term 2 - January 1 to April 30
                    </li>
                    <li>
                      Summer Session: Term 1 - May 1 to June 30; Term 2 - July 1 to August 31
                    </li>
                  </ul>
                  Keep in mind that final exams are not controlled by LFS and may be scheduled up to the final day of the exam period and that final exam marking could take place after the end of the examination period. If you need to be absend for any period of time, you are expected to contact the course instructor and arrange for a proper replacement. If you already have plans to be absent at any time during the duration of the assignment, you should describe these plans in the additional comments box below AND inform your course instructor as soon as you are assigned.
                </div>
                {% if field.help_text %}
                  <div class="help">{{ field.help_text|safe }}</div>
                {% endif %}
                {{ field }} <span class="font-weight-bold text-dark">I understand</span>

              {% else %}

                {{ field.label_tag }}
                {% if field.help_text %}
                  <div class="help">{{ field.help_text|safe }}</div>
                {% endif %}
                {{ field }}

              {% endif %}
            </div>
          {% endfor %}

          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}

          <a class="btn btn-outline-primary" href="{% url 'students:available_jobs' session_slug=job.session.slug %}">Cancel</a>
          <input class="btn btn-primary" type="submit" value="Submit application" />
        </form>

      {% endif %}

    </div>

  </div>
</div>

{% endblock %}
