{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'students/util/_sidebar.html' %}

<div id="content" class="container-fluid">

  <h3>Applied Jobs</h3>

  <table class="table table-sm table-bordered table-hover table-striped table-responsive-md text-center" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
    <thead>
      <tr>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Job</th>
        <th data-sortable="true">Application</th>
        <th data-sortable="true">Applied at</th>
      </tr>
    </thead>
    <tbody>
      {% for job in applied_jobs %}
        <tr>
          <td>{{ job.session.year }}</td>
          <td>{{ job.session.term.code }}</td>
          <td>
            <a href="{% url 'show_job' session_slug=job.session.slug job_slug=job.course.slug path='applied' portal='Student' %}">
              {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}
            </a>
          </td>
          <td>
            <a href="{% url 'show_application' app_slug=job.my_application.slug path='applied' portal='Student' %}">View</a>
          </td>
          <td>
            {% for app in job.application_set.all %}
              {% if app.applicant.id == user.id %}
                {% for st in app.applicationstatus_set.all %}
                  {% if st.assigned == app_stats_none %}
                    {{ st.created_at }}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
