{% extends "ta_app/base.html" %}
{% block content %}

{% include 'students/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Available Jobs' data=loggedin_user  %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'students:explore_jobs' %}">Back to Explore Jobs</a>
    </div>

    <div class="col-11 mx-auto mt-5">
			{% include 'students/jobs/_recent_applied_jobs.html' with data=applied_jobs %}
		</div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      <h3>
        Apply Now!
        <small class="text-muted">(Total: {{ jobs|length }})</small>
      </h3>
      <table
        class="table table-bordered table-hover table-striped table-responsive-md text-center font-size-1"
        data-toggle="table"
        data-sortable="true"
        data-classes=""
        data-pagination="true"
        data-search="true"
        data-page-size="50"
        data-page-list="[50, 100, 200, all]"
      >
        <thead>
          <tr>
            <th data-sortable="true">Year</th>
            <th data-sortable="true">Term</th>
            <th data-sortable="true">Job</th>
            <th data-sortable="true">Instructors</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
            <tr>
              <td>{{ job.session.year }}</td>
              <td>{{ job.session.term.code }}</td>
              <td class="text-left">
                {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}
                {% include 'ta_app/jobs/_modal_job_details.html' with data=job %}
              </td>
              <td>{% include 'ta_app/jobs/_job_instructor.html' with data=job %}</td>
              <td>

                {% if job.app %}
                  {% include 'ta_app/applications/_app_status.html' with data='None' %}
                  <br />
                  <small class="text-muted">{{ job.app.created_at }}</small>
                {% else %}
                  <a href="{% url 'students:apply_job' session_slug=job.session.slug job_slug=job.course.slug %}">Apply</a>
                {% endif %}

              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
