{% extends "ta_app/base.html" %}
{% block content %}

<div class="wrapper">
  {% include "students/util/_sidebar.html" %}

  <div id="content" class="container-fluid">

    {% include 'ta_app/_return_messages.html' with data=messages %}

    <h3 class="margin-top-30">{{ session.year }} {{ session.term.name }} {{ session.title }}</h3>

    <h5 class="margin-top-30">Available Jobs</h5>

    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Term</th>
          <th>Job</th>
          <th>Title</th>
          <th>Instructors</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
          {% if job.is_active %}
            <tr>
              <td>{{ job.session.year }}</td>
              <td>{{ job.session.term.code }}</td>
              <td>{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</td>
              <td>{{ job.title }}</td>
              <td>
                {% for instructor in job.instructors.all %}
                  {{ instructor.first_name }} {{ instructor.last_name }},
                {% endfor %}
              </td>
              <td>
                  <a href="{% url 'students:apply_job' session_slug=job.session.slug job_slug=job.course.slug %}">
                    {% if job.has_applied %}
                      Applied
                    {% else %}
                      Apply
                    {% endif %}
                  </a>
              </td>
            </tr>
          {% endif %}
        {% empty %}
          No jobs available yet.
        {% endfor %}
      </tbody>
    </table>

    <a href="{% url 'students:explore_jobs' %}">Go back to Explore Jobs</a>

  </div>
</div>

{% endblock %}
