{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'students/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='job_applications' title='Cancel Job' data=app.job %}


    <div class="col-11 mx-auto text-center mt-4">
      <table class="table">
        <tr class="text-secondary">
          <td>Job Details</td>
        </tr>
        <tr>
          <td>{% include 'ta_app/jobs/_modal_job_details.html' with data=app.job %}</td>
        </tr>
      </table>
    </div>


    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'students:history_jobs' %}">Back to History of Jobs</a>
    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">

      {% if app.cancelled %}

        <div class="bd-callout bd-callout-danger">
          <h4>Notice</h4>
          <p>You've already cancelled this accepted job.</p>
        </div>

      {% else %}

        <h3>Confirmation</h3>
        {% include 'ta_app/pages/_submit_note.html' %}

        <div class="mt-5">
          <h5>Are you sure to cancel this accepted job?</h5>
          <p class="text-secondary">Please click the Confirm button below if you would like to cancel your job.</p>

          <form action="" method="post" onsubmit="return confirm('Are you sure to cancel this accepted job: {{ app.job.session.year}} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}?')">
            {% csrf_token %}
            <input type="hidden" name="assigned_hours" value="{{ app.accepted.assigned_hours }}" />
            <input type="hidden" name="application" value="{{ app.id }}" />

            <a class="btn btn-outline-secondary" href="{% url 'students:history_jobs' %}">Cancel</a>
            <input class="btn btn-danger" type="submit" value="Confirm to cancel this accepted job" />
          </form>
        </div>

      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
