{% extends 'ta_app/base.html' %}
{% block content %}
{% load static %}

{% include 'students/_menu.html' %}
<div class="row">
	<div class="col-md-4">
		{% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Explore Jobs' data=loggedin_user  %}

		<div class="left-aside-btn-groups">
			<a class="btn btn-warning" href="{% url 'students:favourite_jobs' %}">
				<i class="fa fa-star" aria-hidden="true"></i> Favourite Jobs ({{ favourites|length }})
			</a>
		</div>
	</div>

	<div class="col-md-8">

		<div class="board col-11 mx-auto">
			<h3>Current Openings Available</h3>

			{% for session in visible_current_sessions %}
				<div class="gray-box p-3 m-3">
					<div class="gray-box-header">
						<img src="{% static 'ta_app/images/ubc-logo.jpeg' %}" width="25" alt="logo" />
						<h6>{{ session.year }} {{ session.term.name }} ({{ session.term.code }})</h6>
					</div>

					<hr class="mt-3 mb-2" />

					<div>
						<h5><a href="{% url 'students:available_jobs' session.slug %}">{{ session.title }} (Jobs: {{ session.active_jobs.count }})</a></h5>
						{% if session.description %}
							<div>{{ session.description|safe }}</div>
						{% endif %}

						{% if session.note %}
							<small class="text-muted">Note: {{ session.note|safe }}</small>
						{% endif %}
					</div>
				</div>
			{% empty %}

				<div class="alert alert-primary" role="alert">No current sessions found.</div>

			{% endfor %}
		</div>

	</div>
</div>

{% endblock %}
