{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'students/_menu.html' %}
<div class="row">
	<div class="col-md-4">
		{% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Favourite Jobs' data=loggedin_user  %}

    <div class="left-aside-btn-groups">
			<a class="btn btn-outline-primary mb-3" href="{% url 'students:index' %}">Back to Home</a><br />
      <a class="btn btn-outline-primary" href="{% url 'students:explore_jobs' %}">Back to Explore Jobs</a>
    </div>
	</div>

	<div class="col-md-8">

		<div class="col-11 mx-auto">

			<div class="bg-prompt">
		    <div class="prompt p-4 text-center mb-4">
		      <h4>
						<i class="fa fa-envelope-open-o" aria-hidden="true"></i> Message
					</h4>
		      <p class="col-8 mx-auto">
						You have currently bookmarked <span class="font-weight-bold text-chocolate">{{ all_favourites|length }}</span> job{% if all_favourites|length > 1 %}s{% endif %}. Apply for your favourite jobs now!
					</p>
		    </div>
		  </div>

			{% include 'students/jobs/_search_fields.html' with data=favourites total=total_favourites path='favourite_jobs' %}
			<table
				class="table table-bordered table-hover table-striped table-responsive-md text-center font-size-1"
				data-toggle="table"
        data-sortable="true"
        data-classes=""
			>
				<thead>
					<tr>
						<th data-sortable="true">Year</th>
						<th data-sortable="true">Term</th>
						<th data-sortable="true">Job</th>
						<th data-sortable="true">Instructors</th>
						<th data-sortable="true">Added at</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for fav in favourites %}
						<tr>
							<td>{{ fav.job.session.year }}</td>
							<td>{{ fav.job.session.term.code }}</td>
							<td>
								<span
									{% if not fav.job.is_active %}
										class="not-active text-secondary"
									{% endif %}
								>
									{{ fav.job.course.code.name }} {{ fav.job.course.number.name }} {{ fav.job.course.section.name }}
								</span>
								{% include 'ta_app/jobs/_modal_job_details.html' with data=fav.job %}
							</td>
							<td>{% include 'ta_app/jobs/_job_instructor.html' with data=fav.job %}</td>
							<td>{{ fav.created_at }}</td>
							<td>
								{% if fav.my_app %}
									{% include 'ta_app/applications/_app_status.html' with data='None' %}
									<br />
									<small class="text-muted">{{ fav.my_app.created_at }}</small>
									<hr />
								{% else %}
									{% if fav.job.is_active %}
										<a class="btn btn-xs btn-link" href="{% url 'students:apply_job' session_slug=fav.job.session.slug job_slug=fav.job.course.slug %}">Apply</a>
										<hr />
									{% endif %}
								{% endif %}



								<form action="" method="post">
		              {% csrf_token %}

		              <input type="hidden" name="applicant" value="{{ loggedin_user.id }}" />
		              <input type="hidden" name="job" value="{{ fav.job.id }}" />
									<input type="hidden" name="is_selected" value="false" />

		              <button class="btn btn-xs btn-danger" type="submit">
		                <i class="fa fa-trash" aria-hidden="true"></i> Delete
		              </button>
		            </form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{% include 'ta_app/pages/_table_paginator.html' with data=favourites %}

		</div>

	</div>
</div>

{% endblock %}
