{% extends 'ta_app/base.html' %}
{% block content %}
{% load static %}
{% include "students/util/_sidebar.html" %}

<div id="content" class="container-fluid">

  <div class="mb-3">
    <img class="ubc-logo d-inline-block" src="{% static 'ta_app/images/UBClogo.jpeg' %}" alt="ubc logo" />
    <div class="d-inline-block ml-3 align-middle">
      <h3 class="mb-3">Accept or Decline a Job Offer</h3>
      <a class="btn btn-outline-primary" href="{% url 'students:offered_jobs' %}">Go back to Offered Jobs</a>
    </div>
  </div>

  <h4>{{ job.session.year }} {{ job.session.term.name }} ({{ job.session.term.code }})</h4>
  <div>
    <span class="h5 text-secondary">- {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</span>
    {% include 'administrators/util/_modal_job_details.html' with data=job role='student' %}
  </div>

  <div class="bd-callout bd-callout-warning">
    <h5>Checkpoint!</h5>
    <p>Text area</p>
  </div>

  {% if get_offered and not get_accepted and not get_declined %}
    <h5 class="text-info">
      <i class="fa fa-hand-peace-o" aria-hidden="true"></i> Congratulations! You get a Job Offer.
    </h5>
    <p>You are assigned <span class="font-weight-bold">{{ get_offered.assigned_hours }} hours</span> for this job.</p>

    <div class="d-inline-block">
      <form action="{% url 'students:accept_offer' session_slug=job.session.slug job_slug=job.course.slug %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="application" value="{{ application.id }}" />
        <input type="hidden" name="assigned_hours" value="{{ get_offered.assigned_hours }}" />
        <input class="btn btn-primary" type="submit" value="Accept" />
      </form>
    </div>

    <div class="d-inline-block">
      <form action="{% url 'students:decline_offer' session_slug=job.session.slug job_slug=job.course.slug %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="application" value="{{ application.id }}" />
        <input class="btn btn-secondary" type="submit" value="Decline" />
      </form>
    </div>

  {% endif %}

  {% if get_accepted and not get_declined %}
    <div class="d-inline-block">
      <div class="alert alert-success" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i> You accpeted a job offer.
      </div>
    </div>
  {% endif %}

  {% if not get_accepted and get_declined %}
    <div class="d-inline-block">
      <div class="alert alert-success" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i> You declined a job offer.
      </div>
    </div>
  {% endif %}

  {% if get_accepted and not get_declined %}
    <div class="d-inline-block">
      <div class="alert alert-success" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i> You accpeted a job offer.
      </div>
    </div>
  {% endif %}

  {% if get_accepted and get_declined %}
    <div class="d-inline-block">
      <div class="alert alert-success" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Your job offer were declined and re-assigned.
      </div>
    </div>
  {% endif %}

</div>

{% endblock %}
