{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'students/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='job_applications' title='Re accept/decline' data=app.job %}

    <div class="col-10 mx-auto text-center mt-4">
      <table class="table">
        <tr class="text-dark-gray">
          <td>Job Details</td>
        </tr>
        <tr>
          <td>{% include 'ta_app/jobs/_modal_job_details.html' with data=app.job %}</td>
        </tr>
      </table>
    </div>

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{{ request.GET.next }}">Back to History of Jobs</a>
    </div>

    {% include 'ta_app/pages/_accept_decline_notice.html' %}
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">

      <h3>Re accept/decline Confirmation</h3>

      <div class="bd-callout bd-callout-warning bg-white">
        <h4>
          <i class="fa fa-envelope-open-o" aria-hidden="true"></i> Important Message
        </h4>
        <p>
          You've accepted an offer with
          <span class="text-chocolate font-weight-bold">{{ app.accepted.assigned_hours }}</span> assigned TA hours
          as a <span class="text-chocolate font-weight-bold">{{ app.classification.name }}</span>
          before for this course, and you have newly assigned
          <span class="text-danger font-weight-bold">{{ app.declined.assigned_hours }}</span> hours.
        </p>
      </div>

      {% include 'ta_app/applications/_job_offer_contract.html' with employee=loggedin_user data=app type='reassigned' %}

      <div class="bg-white border-grayish-blue p-3 mt-4">
        <h5>Would you like to accept your new offer?</h5>
        <p>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
          New assigned hours:
          <span class="text-danger font-weight-bold">{{ app.declined.assigned_hours }}</span> hours
        </p>
        <p class="text-dark-gray">Please click on the Submit button below if you would like to accept your new offer.</p>
      </div>

      <div class="text-center">
        {% include 'ta_app/pages/_submit_note.html' %}

        <form action="" method="post">
          {% csrf_token %}

          <div>
            <input type="checkbox" name="has_contract_read" value="true" />
            <span class="font-weight-bold">I read and understood my Offer contract</span>
          </div>

          <div class="field-wrapper">
            <div class="d-inline-block mx-3">
              {% if can_accept.status == True %}
                <input id="id_accept" type="radio" name="decision" value="accept" />
                <label class="font-weight-bold" for="id_accept">Accept</label>
              {% else %}
                <input id="id_accept" type="radio" value="accept" disabled />
                <label class="font-weight-bold text-secondary" for="id_accept">Accept</label>
              {% endif %}
            </div>
            <div class="d-inline-block mx-3">
              <input id="id_decline" type="radio" name="decision" value="decline" />
              <label class="font-weight-bold" for="id_decline">Decline</label>
            </div>
          </div>

          {% if can_accept.status == False %}
            {% include 'ta_app/users/_modal_confidentiality_warning.html' with data=app can_accept=can_accept %}
            <br />
          {% endif %}

          <input type="hidden" name="next" value="{{ request.GET.next }}" />
          <input type="hidden" name="application" value="{{ app.id }}" />
          <input type="hidden" name="assigned_hours" value="{{ app.declined.assigned_hours }}" />
          <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}
