{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'students/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='jobs' title='Job Details' data=job %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'students:status_jobs' %}">Back to Status of Jobs</a>
    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      <h3>Details</h3>

      {% include 'ta_app/jobs/_job_details.html' with data=job %}
    </div>
  </div>
</div>

{% endblock %}
