{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'students/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Status of Jobs' data=loggedin_user %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'students:explore_jobs' %}">Back to Explore Jobs</a>
    </div>
  </div>

  <div class="col-md-8">

    <div class="board col-11 mx-auto">
      <h3>Total Accepted Assigned Hours</h3>
      <table class="table font-size-1">
        <thead>
          <tr>
            <th>Year-Term</th>
            <th>Total Hours</th>
          </tr>
        </thead>
        <tbody>
          {% for year_term, assigned_hours in total_accepted_assigned_hours.items %}
            <tr>
              <td>{{ year_term }}</td>
              <td>{{ assigned_hours }} hours</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">No summary available</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>
</div>

<div>
  <table class="table table-bordered table-hover table-striped table-responsive-md text-center font-size-1" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
    <thead>
      <tr>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Job</th>
        <th data-sortable="true">Application</th>
        <th data-sortable="true">Applied at</th>
        <th data-sortable="true">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
        <tr>
          <td>{{ app.job.session.year }}</td>
          <td>{{ app.job.session.term.code }}</td>
          <td>
            <a href="{% url 'students:show_job' session_slug=app.job.session.slug job_slug=app.job.course.slug %}">
              {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
            </a>
          </td>
          <td>
            <a href="{% url 'students:show_application' app_slug=app.slug %}">View</a>
          </td>
          <td>{{ app.applied.created_at }}</td>
          <td>
            {% if app.offered %}

              {% include 'ta_app/applications/_app_status.html' with data=app.offered.get_assigned_display %}
              <small>{{ app.offered.created_at }}</small>
              <div>
                <span class="font-weight-bold">{{ app.offered.assigned_hours }}</span> hours
              </div>
              <a href="{% url 'students:accept_decline_job' session_slug=app.job.session.slug job_slug=app.job.course.slug %}">Accept / Decline</a>

            {% elif app.accepted %}

              {% include 'ta_app/applications/_app_status.html' with data=app.accepted.get_assigned_display %}
              <small>{{ app.accepted.created_at }}</small>
              <div>
                <span class="font-weight-bold">{{ app.accepted.assigned_hours }}</span> hours
              </div>

              {% if app.is_terminated %}
                <a href="{% url 'students:cancel_job' session_slug=app.job.session.slug job_slug=app.job.course.slug %}">Cancel</a>
              {% endif %}

            {% elif app.declined %}

              {% include 'ta_app/applications/_app_status.html' with data=app.declined.get_assigned_display %}
              <small>{{ app.declined.created_at }}</small>

            {% elif app.cancelled %}

              {% include 'ta_app/applications/_app_status.html' with data=app.cancelled.get_assigned_display %}
              <small>{{ app.cancelled.created_at }}</small>

            {% else %}

              {% include 'ta_app/applications/_app_status.html' with data='None' %}

            {% endif %}

            {% comment %}
              <br />

              {% for st in app.applicationstatus_set.all %}
                <div>{{ st.id }} | {{ st.get_assigned_display }} | {{ st.assigned_hours }} | {{ st.created_at }} | {{ st.parent_id }}</div>
              {% endfor %}
            {% endcomment %}

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<div>


  <div>


  </div>

</div>

{% endblock %}
