{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "students/_sidebar.html" %}

  <div id="content" class="container-fluid">
    {% if type == 'applied_jobs' %}
      {% include 'students/jobs/_applied_jobs.html' %}
    {% elif type == 'offered_jobs' %}
      {% include 'students/jobs/_offered_jobs.html' %}
    {% elif type == 'accepted_jobs' %}
      {% include 'students/jobs/_accepted_jobs.html' %}
    {% elif type == 'declined_jobs' %}
      {% include 'students/jobs/_declined_jobs.html' %}
    {% else %}
      {% include 'ta_app/404.html' %}
    {% endif %}
  </div>
</div>

{% endblock %}
