html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}


/* header */
header {
  width: 100%;
}

.nav-item .nav-link:hover {
  text-decoration: underline;
}

.nav-item .nav-link.active {
  font-weight: 600;
}

/* footer */
footer {
  flex-shrink: 0;
  height: auto;
  color: #fff;
  text-align: center;
}

.footer-content {
  line-height: 100px;
}


/* main content */
main {
  flex: 1 0 auto;
}

.menu {
  margin-bottom: 1.5rem;
  background-color: #e6e6e6;
}

.menu > div {
  display: inline-block;
}

.menu > div > button {
  background: none;
  outline: none;
  border: none;
  margin: 5px 15px;
}

.menu > div > a {
  margin: 5px 0;
}

.menu > div > button:hover,
.menu > div > a:hover {
  background-color: #aaa;
}

.field-wrapper {
  margin: 1.5rem 0;
}

.field-wrapper > label {
  margin: 0;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.field-wrapper > ul {
  list-style: none;
  margin-left: -20px;
}

.help {
  color: #6c757d;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.table,
.table .btn {
  font-size: 0.8rem;
}

.left-content {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  text-align: center;
  padding-top: 20px;
  background-color: #e6e6e6;
}

.img-profile,
.img-document {
  width: 40%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.img-profile {
  border: 10px solid #fff;
}

.left-aside-btn-groups {
  text-align: center;
  margin-top: 1.5rem;
}

.nav-item {
  color: #6c757d;
}

.table-paginator {
  margin-top: 30px;
}

.search-field input {
  margin: 5px 0;
  padding: 5px;
  font-size: 0.85rem;
}

.btn-favourite {
  background: none;
  border: none;
  outline: none;
}

.btn-favourite:hover {
  opacity: 0.8;
}

.btn-favourite:active,
.btn-favourite:focus {
  outline: none !important;
}

.info-table tr td h6 {
  margin-top: 20px;
}

.info-table td:nth-child(2) {
  padding-left: 20px;
}

.not-active {
  text-decoration: line-through;
}

.fa-check {
  color: #28a745;
}


/* utils */
.btn-toolbar {
  justify-content: center !important;
}
.line-height-2 {
  line-height: 2.0;
}

.text-underline {
  text-decoration: underline;
}

.logo-page {
  width: 40px;
  height: auto;
}

.custom-table {
  border-collapse: collapse;
}

.custom-table,
.custom-table th,
.custom-table td {
  border: 1px solid #343a40;
}

.custom-table th,
.custom-table td {
  padding: 0.6rem;
}

.bg-prompt {
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 50%,#fff),linear-gradient(70deg,#eaf5ff 32%,#f6fff8);
}

.prompt {
    background-repeat: no-repeat;
    background-clip: padding-box;
    box-shadow: 0 3px 6px rgba(0,0,0,.05);
}

.prompt h4 {
  font-weight: 600;
}

.prompt > p,
.prompt > div > p {
  color: #6c757d;
}

.board {
  background-color: #f3f7f7;
  padding: 2rem;
}

.board h3 {
  color: #007bff;
  font-weight: 600;
}

.board > h4,
.board > div,
.board > form > div {
  margin-top: 1.5rem;
}

.board > div > h5,
.board > div > h6 {
  font-weight: 600;
}

.board > h4,
.board > form > div > h5 {
  font-weight: 400;
}

.board > div > span,
.board > form > div > span,
.board > div > ul {
  color: #6c757d;
  font-size: 1rem;
}

.gray-box {
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.gray-box .gray-box-header > img,
.gray-box .gray-box-header > h6 {
  display: inline-block;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    background-color: #fff;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.bd-callout-danger {
    border-left-color: #d9534f;
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem;
}

.bd-callout p,
.bd-callout ul {
  color: #343a40 !important;
}

.bd-callout-warning h4 {
    color: #f0ad4e;
}

.bd-callout-danger h4 {
    color: #d9534f;
}

.bd-callout p:last-child {
    margin-bottom: 0;
}

.nav-tabs .nav-link.active {
    color: #495057;
    font-weight: 600;
    background-color: #fff;
    border-top-width: 3px;
    border-color: #f0ad4e #dee2e6 #fff;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #6c757d;
  border-radius: 50%;
  display: inline-block;
}

hr.dotted {
	border-top: 1px dashed #aaa;
}

.divider {
    margin: 30px 0;
    height: 1px;
    background: #b7c9cc;
    opacity: .5;
}

.font-size-1 {
  font-size: 1rem !important;
}

.badge {
  /* color: #fff; */
  /* font-size: 80% !important; */
  /* padding: .5em .45em .25em .45em; */
}

.badge-orange {
  color: #fff;
  background-color: #fd7e14;
}

.badge-indigo {
  color: #fff;
  background-color: #6610f2;
}

.badge-warning {
  color: #212529 !important;
}

.btn-xs {
  padding: .1em .3em;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

/* colors */

.text-dark-blue {
  color: 	#002145;
}

.text-dark-gray {
  color: #343a40;
}

.text-chocolate {
  color: #D2691E;
}

.bg-dark-blue {
  background-color: #002145;
}

.bg-light-gray {
  background-color: #e6e6e6;
}

.bg-chocolate {
  background-color: #D2691E;
}

#impersonate-card {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  height: auto;
  text-align: center;
  z-index: 100;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .board {
    padding: 0;
  }
  .board h3 {
    margin-top: 50px;
    text-align: center;
  }
  .visible-current-sessions {
    margin: 0 !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .max-width-container {
    max-width: 95%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .max-width-container {
    max-width: 1650px;
  }
}
