html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* header */
header {
  width: 100%;
}

/* footer */
footer {
  flex-shrink: 0;
  height: 100px;
  color: #fff;
}


/* main content */
main {
  flex: 1 0 auto;
}

nav.menu > div {
  display: inline-block;
}

.field-wrapper > label {
  margin: 0;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.field-wrapper > ul {
  list-style: none;
  margin-left: -20px;
}

.help {
  color: #6c757d;
  font-size: 0.8rem;
  margin-bottom: 5px;
}





/* utils */

.logo-page {
  width: 50px;
  height: auto;
}

.custom-table {
  border-collapse: collapse;
}

.custom-table,
.custom-table th,
.custom-table td {
  border: 1px solid #343a40;
}

.custom-table th,
.custom-table td {
  padding: 0.6rem;
}

.bg-prompt {
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 50%,#fff),linear-gradient(70deg,#eaf5ff 32%,#f6fff8);
}

.prompt {
    background-repeat: no-repeat;
    background-clip: padding-box;
    box-shadow: 0 3px 6px rgba(0,0,0,.05);
}

.prompt h4 {
  font-weight: 600;
}

.prompt > p {
  color: #6c757d;
}

.board {
  background-color: #f3f7f7;
  padding: 1.5rem;
}

.board h3 {
  color: #007bff;
  font-weight: 600;
}

.board > h4,
.board > div,
.board > form > div {
  margin-top: 1.5rem;
}

.board > h4,
.board > div > h5,
.board > form > div > h5,
.board > div > h6 {
  font-weight: 600;
}

.board > div > span,
.board > form > div > span,
.board > div > ul {
  color: #6c757d;
}

.gray-box {
  border: 1px solid #E6E6E6;
  background-color: #fff;
}

.gray-box .gray-box-header > img,
.gray-box .gray-box-header > h6 {
  display: inline-block;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.bd-callout-danger {
    border-left-color: #d9534f;
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem;
}

.bd-callout-warning h4 {
    color: #f0ad4e;
}

.bd-callout-danger h4 {
    color: #d9534f;
}

.bd-callout p:last-child {
    margin-bottom: 0;
}

.nav-tabs .nav-link.active {
    color: #495057;
    font-weight: 600;
    background-color: #fff;
    border-top-width: 3px;
    border-color: #f0ad4e #dee2e6 #fff;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #6c757d;
  border-radius: 50%;
  display: inline-block;
}

hr.dotted {
	border-top: 1px dashed #aaa;
}

.divider {
    margin: 30px 0;
    height: 1px;
    background: #b7c9cc;
    opacity: .5;
}



/* colors */

.text-dark-blue {
  color: 	#002145;
}

.text-dark-gray {
  color: #343a40;
}

.bg-dark-blue {
  background-color: #002145;
}

.bg-light-gray {
  background-color: #E6E6E6;
}



/*--------------*/







.job-details .left-content .ta-hours {
  border: 1px solid #aaa;
  border-radius: 4px;
}

.search-field input {
  margin: 5px 0;
  padding: 5px;
  font-size: 0.85rem;
}





.line-height-2 {
  line-height: 2.0;
}

.featured {
  height: 100%;
}



.bg-grey {
  background-color: #ccc;
}



.page-title {
  margin-top: 70px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-left-right-10 {
  margin: 0 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-top-bottom-30 {
  margin: 30px 0
}


.padding-20 {
  padding: 20px;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-top-66 {
  padding-top: 66px;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.width-100 {
  width: 100%;
}

.new-user-form {
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
}

.float-right {
  float: right;
}


.filename {
  overflow: clip;
}

.messageboard {
  height: 600px;
  border-width: 3px;
}
/******/

.sub-title {
  margin-top: 50px;
}



.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 300px;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left:0;
  z-index: 999;
  padding: 15px;
}

#content {
  position: absolute;
  top: 56;
  right: 0;
  width: calc(100% - 300px);
}

/* .sidebar {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 17px;
}

.sidebar hr {
  border-top: 1px solid rgba(0,0,0,.2);
}

.sidebar,
.sidebar a {
  color: #555;
} */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navbar {
    position: static;
  }

  #sidebar {
    display: none;
  }

  #content-padding {
    padding-top:10px;
  }

  #content {
    position: static;
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar {
    position: static;
  }

  #sidebar {
    display: none;
  }

  #content-padding {
    padding-top:10px;
  }

  #content {
    position: static;
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar {
    position: static;
  }

  #sidebar {
    display: none;
  }

  #content-padding {
    padding-top:10px;
  }

  #content {
    position: static;
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  max-width-1340: 1340px;
}
