footer {
  height: 100px;
}

.page-title {
  margin-top: 70px;
}

.edit-session-form #id_year,
.edit-session-form #id_term {

}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.padding-20 {
  padding: 20px;
}

.padding-top-56 {
  padding-top: 56px;
}

.new-user-form {
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
}

.float-right {
  float: right;
}

.navbar {
  position: relative;
  width: 100%;
  z-index: 100;
  top: 0;
}

.filename {
  overflow: clip;
}

.messageboard {
  height: 600px;
  border-width: 3px;
}



/******/

.sub-title {
  margin-top: 50px;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.bd-callout p:last-child {
    margin-bottom: 0;
}

.sidebar {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 17px;
}

.sidebar hr {
  border-top: 1px solid rgba(0,0,0,.2);
}

.sidebar,
.sidebar a {
  color: #555;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
