<div class="bg-light-gray p-3" style="height:143.8px">
  <ul class="pl-4 font-size-sm">
    <li>
      {% include 'ta_app/applications/_declined_reassigned_note.html' %}
    </li>
    <li>
      In the Search filter, for both <strong>Course</strong> and <strong>Instructor</strong>, enter space between words and partial matching is enabled.
      <p class="m-0">For example,</p>
      <ul>
        <li><strong>Course</strong>: lfs 100 001</li>
        <li><strong>Instructor</strong>: john doe</li>
      </ul>
    </li>
  </ul>
</div>
