<div class="search-field bg-light-gray p-3 font-size-sm">
  <form method="GET">
    <input type="text" name="year" value="{{ request.GET.year }}" placeholder="Year" /> and
    <input type="text" name="term" value="{{ request.GET.term }}" placeholder="Term" /> <br />
    <input type="text" name="code" value="{{ request.GET.code }}" placeholder="Job Code" /> and
    <input type="text" name="number" value="{{ request.GET.number }}" placeholder="Job Number" /> and
    <input type="text" name="section" value="{{ request.GET.section }}" placeholder="Job Section" /> <br />
    <input type="text" name="first_name" value="{{ request.GET.first_name }}" placeholder="Applicant First Name" /> and
    <input type="text" name="last_name" value="{{ request.GET.last_name }}" placeholder="Applicant Last Name" /> and
    <input type="text" name="student_number" value="{{ request.GET.student_number }}" placeholder="Student Number" />

    <div class="mt-1">
      <button class="btn btn-sm btn-secondary" type="submit">Search</button>

      {% if path == 'observers' %}
        <a class="btn btn-sm btn-light" href="{% url 'observers:report_accepted_applications' %}">Clear</a>
      {% elif path == 'admin_report' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:accepted_apps_report_admin' %}">Clear</a>
      {% elif path == 'admin_report_observer' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:accepted_apps_report_observer' %}">Clear</a>
      {% endif %}
    </div>
  </form>
</div>

<div class="text-dark-gray font-size-sm">
  {{ total }} result{% if total > 1 %}s {% endif %} found. {{ data|length }} row{% if data|length > 1 %}s {% endif %} in this page.
</div>
