<div class="search-field bg-light-gray p-3 font-size-sm">
  <form method="GET">
    <input type="hidden" name="page" value="{% if request.GET.page %}{{ request.GET.page }}{% else %}1{% endif %}" />

    <select name="year_term">
      <option value="">Year Term</option>
      {% for session in sessions %}
        <option value="{{ session.year }}_{{ session.term.code }}" {% if request.GET.year_term == session.year_term %}selected{% endif %}>{{ session.year }} {{ session.term.code }}</option>
      {% endfor %}
    </select> and

    <input type="text" name="course" value="{{ request.GET.course }}" placeholder="Course" /> and
    <input type="text" name="instructor" value="{{ request.GET.instructor }}" placeholder="Instructor" />

    <br />

    <input type="text" name="first_name" value="{{ request.GET.first_name }}" placeholder="Applicant's First Name" /> and
    <input type="text" name="last_name" value="{{ request.GET.last_name }}" placeholder="Applicant's Last Name" /> and
    <input type="text" name="student_number" value="{{ request.GET.student_number }}" placeholder="Student Number" />

    <div class="mt-1">
      <button class="btn btn-sm btn-secondary" type="submit">Search</button>

      {% if path == 'observers' %}
        <a class="btn btn-sm btn-light" href="{% url 'observers:accepted_apps_report_observer' %}?page=1">Clear</a>
      {% elif path == 'admin_report_observer' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:accepted_apps_report_observer' %}?page=1">Clear</a>
      {% endif %}
    </div>
  </form>
</div>

<div class="text-dark-gray font-size-sm">
  {{ total }} result{% if total > 1 %}s {% endif %} found. {{ data|length }} row{% if data|length > 1 %}s {% endif %} in this page.
</div>
