<table id="sortable-table" class="table table-bordered table-hover table-striped table-responsive-md text-center mt-4">
  <thead>
    <tr>
      <th>ID</th>
      {% for col in table_columns %}
        {% if col.name == 'Instructors' %}
          <th>{{ col.name }}</th>
        {% else %}
          <th>
            <a class="{% if col.sort_name == request.GET.sort_column %}{% if request.GET.sort_order == 'asc' %}text-danger{% elif request.GET.sort_order == 'desc' %}text-primary{% endif %}{% else %}text-dark{% endif %}" href="?page={{ page }}&sort_column={{ col.sort_name }}&sort_order={{ col.sort_order }}">
              {{ col.name }}
              {% include 'observers/_sort_table_icons.html' with column=col.sort_name %}
            </a>
          </th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for app in data %}
      <tr>
        <td>
          {{ app.id }}

          {% if app.is_declined_reassigned %}
            <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
          {% endif %}
        </td>
        <td>{{ app.job.session.year }}</td>
        <td>{{ app.job.session.term.code }}</td>
        <td>
          {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
        </td>
        <td class="text-left">
          <ul class="mb-0 pl-4">
            {% for instructor in app.job.instructors.all %}
              <li>
                {{ instructor.get_full_name }}
              </li>
            {% empty %}
              None
            {% endfor %}
          </ul>
        </td>
        <td>{{ app.applicant.first_name }}</td>
        <td>{{ app.applicant.last_name }}</td>
        <td>{{ app.applicant.username }}</td>
        <td>{{ app.applicant.profile.student_number }}</td>
        <td>{{ app.applicant.email }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
