{% extends 'ta_app/base.html' %}
{% block content %}

{% include "observers/_menu.html" %}
<div class="row">
  <div class="col-md-4">
    {% if loggedin_user.roles|length > 1 %}
      {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Observer Home' data=loggedin_user %}
    {% else %}
      {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Home' data=loggedin_user %}
    {% endif %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'observers:accepted_apps_report_observer' %}?page=1">View Report</a>
    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      <h3>Basic Information</h3>

      <div>
        <h6>Email:</h6>
        <span>
          {% if loggedin_user.email %}
            {{ loggedin_user.email }}
          {% else %}
            None
          {% endif %}
        </span>
      </div>

      <div>
        <h6>Employee Number:</h6>
        <span>
          {% if loggedin_user.confidentiality.employee_number %}
            {{ loggedin_user.confidentiality.employee_number }}
          {% else %}
            None
          {% endif %}
        </span>
      </div>

      <div>
        <h6>Date Joined:</h6>
        <span>
          {% if loggedin_user.date_joined %}
            {{ loggedin_user.date_joined }}
          {% else %}
            None
          {% endif %}
        </span>
      </div>

      <div>
        <h6>Last Login:</h6>
        <span>
          {% if loggedin_user.last_login %}
            {{ loggedin_user.last_login }}
          {% else %}
            None
          {% endif %}
        </span>
      </div>

    </div>
  </div>
</div>

{% endblock %}
