{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'observers/_menu.html' %}

<div>
  {% include 'ta_app/pages/_header.html' with title='Report - Accepted Applications' %}

  <div class="row">
    <div class="col-md-6">
      {% include 'observers/_search_fields.html' with data=apps total=total_apps path='observers' %}
    </div>

    <div class="col-md-6">
      <div class="bg-light-gray p-4" style="height:180.8px">
        <h5>Note:</h5>
        <ul class="font-size-sm">
          <li>
            {% include 'ta_app/applications/_declined_reassigned_note.html' %}
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% include 'observers/_table_accepted_applications.html' with data=apps %}

  {% include 'ta_app/pages/_table_paginator.html' with data=apps %}
</div>

{% endblock %}
