{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
    {% include "instructors/util/_sidebar.html" %}

  <div id="content" class="container-fluid">

    <h3>Edit a Job</h3>
    <h5>{{ job.session.year }} {{ job.session.term.code }}- {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</h5>
    <small>Created at: {{ job.created_at }} | Updated at: {{ job.updated_at }}</small>
    
    <h5>Intstructors:</h5>
    <ul>
      {% for instructor in job.instructors.all %}
        <li>{{ instructor.username }}</li>
      {% empty %}
        <li>No instructors</li>
      {% endfor %}
    </ul>

    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Update">
    </form>

    <a href="{% url 'instructors:my_jobs' %}">Go back to My Jobs</a>

  </div>
</div>

{% endblock %}
