{% extends 'ta_app/base.html' %}
{% block content %}
{% load static %}
{% include "instructors/util/_sidebar.html" %}

<div id="content" class="container-fluid">
  <div class="mb-3">
    <img class="ubc-logo d-inline-block" src="{% static 'ta_app/images/UBClogo.jpeg' %}" alt="ubc logo" />
    <div class="d-inline-block ml-3">
      <h3 class="mb-3">Edit Job</h3>
      <a class="btn btn-outline-primary" href="{% url 'instructors:my_jobs' %}">Go back to My Jobs</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="mt-4 mb-5">
        <div class="text-secondary mb-4">
          Created at {{ session.created_at }} <span class="ml-3 mr-3">|</span>
          Updated at {{ session.updated_at }}
        </div>

        <h4>{{ job.session.year }} {{ job.session.term.name }} ({{ job.session.term.code }})</h4>
        <h5 class="text-secondary">- {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</h5>

        <div class="">
          <span class="font-weight-bold">Intstructors:</span>
          {% for instructor in job.instructors.all %}
            {{ instructor.username }},
          {% empty %}
            No instructors
          {% endfor %}
        </div>
      </div>

      <form action="" method="post">
        {% csrf_token %}
        <table class="table table-borderless table-responsive-md table-sm">{{ form.as_table }}</table>
        <input class="btn btn-warning" type="submit" value="Update Job">
      </form>

    </div>
  </div>

  <hr class="dotted my-4" />

  <div>
    <h5 class="text-info">Recent Job Details</h5>
    <ol>
      {% for job in jobs %}
        <li>
          {% include 'administrators/util/_modal_job_details.html' with data=job %}
        </li>
      {% empty %}
        <li>No recent job details found</li>
      {% endfor %}
    </ol>
  </div>

</div>


{% endblock %}
