{% extends 'ta_app/base.html' %}
{% block content %}
{% load static %}
{% include "instructors/util/_sidebar.html" %}

<div id="content" class="container-fluid">
  {% include 'ta_app/_return_messages.html' with data=messages %}

  <div class="mb-3">
    <img class="ubc-logo d-inline-block" src="{% static 'ta_app/images/UBClogo.jpeg' %}" alt="ubc logo" />
    <div class="d-inline-block ml-3">
      <h3>Applications <small class="text-muted">Total: {{ job.application_set.all|length }}</small></h3>
      <a class="btn btn-outline-primary" href="{% url 'instructors:my_jobs' %}">Go back to My Jobs</a>
    </div>
  </div>

  <section class="my-4">
    <h4>{{ job.session.year }} {{ job.session.term.name }} ({{ job.session.term.code }})</h4>
    <h5 class="text-secondary"> {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</h5>

    <div class="card border-success d-inline-block mt-4">
      <div class="card-header bg-success text-white">TA hours</div>
      <div class="card-body">
        Accumulated TA hours are accumulated when students accept their job offers with assigned hours.
        <ul>
          <li>Assigned TA Hours: <span class="font-weight-bold text-danger">{{ job.assigned_ta_hours }}</span> hours</li>
          <li>Accumulated TA hours: <span class="font-weight-bold text-danger">{{ job.ta_hours }}</span> hours</li>
        </ul>
      </div>
    </div>
  </section>

  <div class="d-inline-block">

    {% include 'students/util/job_preferences.html' %}

    <table class="table table-sm table-bordered table-hover table-striped table-responsive-md text-center" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
      <thead>
        <tr>
          <th data-sortable="true">Applicant</th>
          <th data-sortable="true">CWL</th>
          <th data-sortable="true">Supervisor <br />Approval</th>
          <th data-sortable="true">How <br />Qualified</th>
          <th data-sortable="true">How <br />Interested</th>
          <th data-sortable="true">Availability</th>
          <th data-sortable="true">Availability <br />Note</th>
          <th data-sortable="true">Applied at</th>
          <th data-sortable="true">Updated at</th>
          <th>Instructor <br />Preference</th>
        </tr>
      </thead>
      <tbody>
        {% for app in job.application_set.all %}
          <tr>
            <td>
              {{ app.applicant.get_full_name }}
            </td>
            <td>{{ app.applicant.username }}</td>
            <td>{{ app.supervisor_approval }}</td>
            <td>{{ app.get_how_qualified_display }}</td>
            <td>{{ app.get_how_interested_display }}</td>
            <td>{{ app.availability }}</td>
            <td>{{ app.availability_note }}</td>
            <td>{{ app.created_at }}</td>
            <td>{{ app.updated_at }}</td>
            <td>
              <form action="" method="post" onsubmit="return confirm('Are you sure to select this preference for {{ app.applicant.first_name }} {{ app.applicant.last_name }} ?');">
                {% csrf_token %}
                <select name="instructor_preference">
                  {% for choice in instructor_preference_choices %}
                    {% if choice.0 == app.instructor_preference %}
                      <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                    {% else %}
                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <input type="hidden" name="application" value="{{ app.id }}" />
                <input class="btn btn-sm btn-primary" type="submit" value="Select" />
              </form>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td>No applications found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
