{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "instructors/util/_sidebar.html" %}

  <div id="content" class="container-fluid">

    {% if messages %}
    	{% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    	{% endfor %}
    {% endif %}

    <h3>Applications</h3>
    <h5>{{ job.session.year }} {{ job.session.term.code }} - {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</h5>

    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Applicant</th>
          <th>CWL</th>
          <th>Supervisor Approval</th>
          <th>How Qualified</th>
          <th>How Interested</th>
          <th>Availability</th>
          <th>Availability Note</th>
          <th>Status</th>
          <th>Instructor Preference</th>
        </tr>
      </thead>
      <tbody>
        {% for app in job.application_set.all %}
          <tr>
            <td>
              <a href="{% url 'administrators:show_user' username=app.applicant.username role='instructor' %}">
                {{ app.applicant.first_name }} {{ app.applicant.last_name }}
              </a>
            </td>
            <td>{{ app.applicant.username }}</td>
            <td>{{ app.supervisor_approval }}</td>
            <td>{{ app.get_how_qualified_display }}</td>
            <td>{{ app.get_how_interested_display }}</td>
            <td>{{ app.availability }}</td>
            <td>{{ app.availability_note }}</td>
            <td>{% include 'administrators/util/_display_app_status.html' with data=app %}</td>
            <td>
              <form action="" method="post" onsubmit="return confirm('Are you sure to select this preference for {{ app.applicant.first_name }} {{ app.applicant.last_name }} ?');">
                {% csrf_token %}
                <select name="instructor_preference">
                  {% for choice in instructor_preference_choices %}
                    {% if choice.0 == app.instructor_preference %}
                      <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                    {% else %}
                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <input type="hidden" name="application" value="{{ app.id }}" />
                <input type="submit" value="Select" />
              </form>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td>No applications found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


    <a href="{% url 'instructors:my_jobs' %}">Bo back to My Jobs</a>

  </div>
</div>

{% endblock %}
