{% extends 'ta_app/base.html' %}
{% block content %}
{% include "ta_app/sidebars/_instructor_sidebar.html" %}

<div id="content" class="container-fluid">
  {% include 'ta_app/_return_messages.html' with data=messages %}

  {% include 'ta_app/pages/_header.html' with title='My Jobs' text=user.job_set.all|length %}

  <div class="d-inline-block">
    <table class="table table-sm table-bordered table-hover table-striped table-responsive-md text-center" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
      <thead>
        <tr>
          <th data-sortable="true">Year</th>
          <th data-sortable="true">Term</th>
          <th data-sortable="true">Job</th>
          <th data-sortable="true">Applications</th>
          <th data-sortable="true">Active</th>
          <th data-sortable="true">Created at</th>
          <th data-sortable="true">Updated at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for job in user.job_set.all %}
        <tr>
          <td>{{ job.session.year }}</td>
          <td>{{ job.session.term.code }}</td>
          <td>
            <a href="{% url 'instructors:show_job' session_slug=job.session.slug job_slug=job.course.slug %}">{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</a>
          </td>
          <td>
            {% if job.application_set.count > 0 %}
              <a href="{% url 'instructors:get_applications' session_slug=job.session.slug job_slug=job.course.slug %}">
                {{ job.application_set.count }}
              </a>
            {% else %}
              {{ job.application_set.count }}
            {% endif %}
          </td>
          <td>{{ job.is_active }}</td>
          <td>{{ job.created_at }}</td>
          <td>{{ job.updated_at }}</td>
          <td>
            <a class="btn btn-sm btn-warning" href="{% url 'instructors:edit_job' session_slug=job.session.slug job_slug=job.course.slug %}">Update Job Details</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No jobs found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
