{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "instructors/util/_sidebar.html" %}

  <div id="content" class="container-fluid">
    {% include 'ta_app/_return_messages.html' with data=messages %}

    <h3>My Jobs</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Term</th>
          <th>Job</th>
          <th>Num of Applications</th>
          <th>Active</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for job in user.job_set.all %}
        <tr>
          <td>{{ job.session.year }}</td>
          <td>{{ job.session.term.code }}</td>
          <td>
            <a href="{% url 'administrators:display_job_details' session_slug=job.session.slug job_slug=job.course.slug role='instructor' %}">{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</a>
          </td>
          <td>
            {% if job.application_set.count > 0 %}
              <a href="{% url 'instructors:get_applications' session_slug=job.session.slug job_slug=job.course.slug %}">
                {{ job.application_set.count }}
              </a>
            {% else %}
              {{ job.application_set.count }}
            {% endif %}
          </td>
          <td>{{ job.is_active }}</td>
          <td>{{ job.created_at }}</td>
          <td>{{ job.updated_at }}</td>
          <td>
            <a class="btn btn-sm btn-warning" href="{% url 'instructors:edit_job' session_slug=job.session.slug job_slug=job.course.slug %}">Update Job Details</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No jobs found</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

  </div>
</div>

{% endblock %}
