{% extends 'ta_app/base.html' %}
{% block content %}
{% load static %}

{% include 'instructors/_menu.html' %}

<div class="row">
  <div class="col-md-3">
    {% include 'ta_app/pages/_left_aside_compact.html' with view_name='job_applications' title='Applications' data=job %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{{ next_first }}">Back to Jobs</a>
    </div>

    {% include 'ta_app/applications/_show_applications_note.html' %}
  </div>

  <div class="col-md-9">
    <div class="bd-callout bd-callout-info bg-light-blue">

      <div class="row mb-4">
        <div class="col-4">
          <h5 class="text-info">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            Summary of TA hours
          </h5>
          <ul>
            <li>Total Assigned TA Hours: <span class="font-weight-bold text-danger">{{ job.assigned_ta_hours }}</span> hours</li>
            <li>Accumulated TA hours: <span class="font-weight-bold text-danger">{{ job.accumulated_ta_hours }}</span> hours</li>
          </ul>
        </div>
        <div class="col-8">
          <h5 class="text-info">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            Number of Applications: {{ job.application_set.all|length }}
          </h5>
          <ul>
            <li>If you would like to view a list of all applicants and their status in this term, please go to <a href="{% url 'instructors:summary_applicants' session_slug=job.session.slug job_slug=job.course.slug %}">Summary of Applicants</a>.</li>
          </ul>
        </div>
      </div>

      <hr />

      {% include 'ta_app/pages/_note_current_status_program.html' %}

      <hr />

      {% include 'ta_app/pages/_preferred_ta.html' with column='Full Name' %}
    </div>

    <table
      class="table table-bordered table-responsive-md text-center font-size-sm"
      data-toggle="table"
      data-sortable="true"
      data-classes=""
      data-pagination="true"
      data-search="true"
      data-page-size="50"
      data-page-list="[50, 100, 200, all]"
    >
      <thead>
        <tr>
          <th data-sortable="true">Full Name</th>
          <th>CWL</th>
          <th>Student <br /> Number</th>
          <th>Curriculum <br /> Vitae (CV)</th>
          <th>Application</th>
          <th data-sortable="true">Applied on</th>
          <th>Instructor <br /> Preference</th>
          <th>Application <br /> Status</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        {% for app in apps %}
          <tr class="bg-{{ app.info.highlight }}">
            <td>
              {% if app.applicant.preferred_ta %}
                <i class="fa fa-flag text-danger" aria-hidden="true"></i>
              {% endif %}

              {{ app.applicant.get_full_name }}

              {% if app.applicant.accepted_apps|length > 0 %}
                <br />
                <button class="btn btn-xs btn-info mt-2" type="button" data-toggle="modal" data-target="#app-accepted-status-modal-{{ app.id }}">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </button>

                <div class="modal fade" id="app-accepted-status-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="app-accepted-status-modal-label-{{ app.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-info" id="app-accepted-status-modal-label-{{ app.id }}">Applicant Status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-item text-left">
                        <h6 class="text-secondary">{{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</h6>

                        <h5>
                          <span class="text-primary">{{ app.applicant.get_full_name }}</span>
                          <small>(CWL: {{ app.applicant.username }})</small>
                        </h5>

                        <table class="modal-table table text-center font-size-sm mt-4">
                          <thead>
                            <tr>
                              <th>Course</th>
                              <th>Status</th>
                              <th>Assigned Hours</th>
                              <th>Accepted Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for accepted_app in app.applicant.accepted_apps %}
                              <tr>
                                <td>
                                  {{ accepted_app.job.course.code.name }} {{ accepted_app.job.course.number.name }} {{ accepted_app.job.course.section.name }}

                                  {% if full_job_name == accepted_app.full_course_name %}
                                    <i class="fa fa-check-circle-o text-success vertical-middle font-size-1" aria-hidden="true"></i>
                                  {% endif %}
                                </td>
                                <td>
                                  {% include 'ta_app/applications/_app_status.html' with data=accepted_app.accepted.get_assigned_display %}
                                </td>
                                <td>{{ accepted_app.accepted.assigned_hours }}</td>
                                <td>{{ accepted_app.accepted.created_at }}</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>

                        <p class="mt-3">
                          <strong>Note:</strong>
                          This icon <i class="fa fa-check-circle-o text-success vertical-middle" aria-hidden="true"></i> represents a student has already accepted a job offer from this course if exists.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}

            </td>
            <td>
              <a href="{% url 'users:show_user' username=app.applicant.username %}?next={{ request.get_full_path }}&p=Applications&t=basic">{{ app.applicant.username }}</a>

              {% if app.info.current_status %}
                <span class="badge d-block mt-1">{{ app.info.current_status }}</span>
              {% endif %}
            </td>
            <td>{{ app.applicant.profile.student_number }}</td>
            <td>
              {% include 'ta_app/users/_modal_degree_details.html' with data=app.applicant %}

              {% if app.applicant.resume_filename %}
                <a class="d-block mt-2" href="{% url 'students:download_file' username=app.applicant.username item='resume' filename=app.applicant.resume_filename %}" target="_blank">
                  Resume
                </a>
              {% endif %}
            </td>
            <td>{% include 'ta_app/applications/_modal_app_details.html' with data=app pin_display='False' striped='True' %}</td>
            <td>
              <span class="d-none">{{ app.created_at|date:"Y m d z" }}</span>
              {{ app.created_at }}
            </td>
            <td>
              {% if app.instructor_preference != app_status.none and app.selected %}

                <div>
                  {% include 'ta_app/applications/_app_instructor_preference.html' with data=app.get_instructor_preference_display %}
                </div>
                <div>Assigned <span class="font-weight-bold">{{ app.selected.assigned_hours }}</span> hours</div>
                <span class="font-size-sm text-dark-gray">{{ app.selected.created_at }}</span>

              {% else %}

                <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#application-select-modal-{{ app.id }}">Select</button>

                <div class="modal fade" id="application-select-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="application-select-modal-label-{{ app.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-info" id="application-select-modal-label-{{ app.id }}">
                          Course: {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body text-left">

                        <div class="bg-prompt">
                          <div class="prompt p-2 text-center">
                            <h4 class="my-2">
                              {{ app.applicant.get_full_name }}
                              {% if app.applicant.preferred_ta %}
                                - <span class="text-danger">Preferred Candidate</span> (<i class="fa fa-flag text-danger" aria-hidden="true"></i>)
                              {% endif %}
                            </h4>
                            <p class="px-3 text-left">
                              Please select your preference, and assign TA hours carefully. Once submitted, you cannot modify them.
                            </p>
                            <p class="px-3 text-left">
                              If change becomes necessary, contact the Academic Coordinator, and note your new choices using the Write link.
                            </p>
                            <p>Thanks.</p>
                          </div>
                        </div>

                        <div class="p-4">
                          <form action="" method="post">
                            {% csrf_token %}

                            <div class="field-wrapper">
                              <label for="id_instructor_preference_{{ app.id }}">Instructor Preference:</label>
                              <select class="form-control" name="instructor_preference" id="id_instructor_preference_{{ app.id }}">
                                {% for choice in instructor_preference_choices %}
                                  {% if choice.1 != 'None' and choice.1 != 'No Preference' %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            </div>

                            <div class="field-wrapper">
                              <label for="id_assigned_hours_{{ app.id }}">Assign TA Hours:</label>
                              <div class="help">Numerical value only</div>

                              <input class="form-control" type="number" step="1" name="assigned_hours" id="id_assigned_hours_{{ app.id }}" value="0" />
                            </div>

                            <input type="hidden" name="assigned" value="{{ app_status.selected }}" />
                            <input type="hidden" name="application" value="{{ app.id }}" />
                            <input type="hidden" name="has_contract_read" value="false" />

                            <input class="btn btn-primary font-size-1" type="submit" value="Submit" />
                          </form>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              {% endif %}
            </td>
            <td>
              {% if app.applicationstatus_set.last.assigned == app_status.offered or app.applicationstatus_set.last.assigned == app_status.accepted or app.applicationstatus_set.last.assigned == app_status.declined or app.applicationstatus_set.last.assigned == app_status.cancelled %}

                {% if app.applicationstatus_set.last.assigned == app_status.accepted and app.is_declined_reassigned %}
                  <span class="badge badge-success">RE</span>
                {% endif %}

                {% include 'ta_app/applications/_app_status.html' with data=app.applicationstatus_set.last.get_assigned_display %}

                {% if app.applicationstatus_set.last.assigned == app_status.offered or app.applicationstatus_set.last.assigned == app_status.accepted %}
                  <div>Assigned <span class="font-weight-bold">{{ app.applicationstatus_set.last.assigned_hours }}</span> hours</div>
                {% endif %}

                <div><small class="text-dark-gray">{{ app.applicationstatus_set.last.created_at }}</small></div>

              {% else %}
                <span class="badge badge-light text-dark">PENDING</span>
              {% endif %}
            </td>
            <td>
              {% include 'ta_app/applications/_modal_note.html' with data=app %}
              <a class="btn btn-link btn-xs" href="{% url 'instructors:write_note' app_slug=app.slug %}?next={{ request.get_full_path }}">Write</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
