{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'instructors/_menu.html' %}
<div class="row">
  <div class="col-md-3">
    {% include 'ta_app/pages/_left_aside_compact.html' with view_name='show_jobs' title='Jobs' %}
  </div>

  <div class="col-md-9">
    {% include 'ta_app/jobs/_search_fields.html' with data=jobs total=total_jobs path='instructor_jobs' %}

    <table
      class="table table-sm table-bordered table-hover table-striped table-responsive-md text-center mt-4"
      data-toggle="table"
      data-sortable="true"
      data-classes=""
    >
      <thead>
        <tr>
          <th data-sortable="true">Year</th>
          <th data-sortable="true">Term</th>
          <th data-sortable="true">Job</th>
          <th data-sortable="true">Total Assigned<br /> TA Hours</th>
          <th data-sortable="true">Accumulated<br /> TA Hours</th>
          <th data-sortable="true">Applications</th>
          <th data-sortable="true">Active</th>
          <th data-sortable="true">Created at</th>
          <th data-sortable="true">Updated at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
          <tr>
            <td>{{ job.session.year }}</td>
            <td>{{ job.session.term.code }}</td>
            <td>
              <a href="{% url 'instructors:show_job' session_slug=job.session.slug job_slug=job.course.slug %}">{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</a><br />
            </td>
            <td>{{ job.assigned_ta_hours }}</td>
            <td>{{ job.accumulated_ta_hours }}</td>
            <td>
              {% if job.application_set.count > 0 %}
                <a class="btn btn-xs btn-info" href="{% url 'instructors:show_applications' session_slug=job.session.slug job_slug=job.course.slug %}">
                  {{ job.application_set.count }}
                </a>
              {% else %}
                {{ job.application_set.count }}
              {% endif %}
            </td>
            <td>{% include 'ta_app/jobs/_job_is_active.html' with data=job %}</td>
            <td>{{ job.created_at }}</td>
            <td>{{ job.updated_at }}</td>
            <td>
              <a class="btn btn-link btn-xs" href="{% url 'instructors:edit_job' session_slug=job.session.slug job_slug=job.course.slug %}">Edit Job</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'ta_app/pages/_table_paginator.html' with data=jobs %}
  </div>
</div>

{% endblock %}
