{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'instructors/_menu.html' %}
<div class="row">
  <div class="col-md-3">
    {% include 'ta_app/pages/_left_aside.html' with view_name='jobs' title='Job Details' data=job %}

    <div class="left-aside-btn-groups mb-5">
      <a class="btn btn-outline-primary" href="{{ next_first }}">Back to Jobs</a>
    </div>
  </div>

  <div class="col-md-9">
    <div class="board col-11 mx-auto">
      <h3>Job Details</h3>
      {% include 'ta_app/jobs/_job_details.html' with data=job %}

      <a class="btn btn-primary" href="{% url 'instructors:edit_job' session_slug=job.session.slug job_slug=job.course.slug %}">Edit Job</a>
    </div>
  </div>
</div>

{% endblock %}
