{% extends 'ta_app/base.html' %}
{% block content %}
{% include 'instructors/_menu.html' %}

<div>
  {% include 'ta_app/pages/_return_messages.html' with data=messages %}

  {% include 'ta_app/pages/_header.html' with title='Jobs' text=loggedin_user.job_set.all|length %}

  <div class="bg-prompt">
    <div class="prompt p-4 mb-4 text-center">
      <h4>Profile</h4>
      <p class="col-8 mx-auto">If you see your profile, please click the button below.</p>
      <p>Thanks!</p>
      <a class="btn btn-sm btn-outline-primary" href="{% url 'instructors:show_profile' %}">View Profile</a>
    </div>
  </div>

  <div>
    <table class="table table-sm table-bordered table-hover table-striped table-responsive-md text-center" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
      <thead>
        <tr>
          <th data-sortable="true">Year</th>
          <th data-sortable="true">Term</th>
          <th data-sortable="true">Job</th>
          <th data-sortable="true">Applications</th>
          <th data-sortable="true">Active</th>
          <th data-sortable="true">Created at</th>
          <th data-sortable="true">Updated at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for job in loggedin_user.job_set.all %}
        <tr>
          <td>{{ job.session.year }}</td>
          <td>{{ job.session.term.code }}</td>
          <td>
            <a href="{% url 'instructors:show_job' session_slug=job.session.slug job_slug=job.course.slug %}">{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</a>
          </td>
          <td>
            {% if job.application_set.count > 0 %}
              <a class="btn btn-sm btn-info" href="{% url 'instructors:show_applications' session_slug=job.session.slug job_slug=job.course.slug %}">
                {{ job.application_set.count }}
              </a>
            {% else %}
              {{ job.application_set.count }}
            {% endif %}
          </td>
          <td>{{ job.is_active }}</td>
          <td>{{ job.created_at }}</td>
          <td>{{ job.updated_at }}</td>
          <td>
            <a class="btn btn-sm btn-link" href="{% url 'instructors:edit_job' session_slug=job.session.slug job_slug=job.course.slug %}">Update Job Details</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No jobs found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
