{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'instructors/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='Email History' text=emails|length %}

  <div class="row">
    <div class="col-md-12">
      <div class="search-field bg-light-gray p-3 font-size-sm">
        <form method="GET">
          <input type="text" name="year" value="{{ request.GET.year }}" placeholder="Year" /> and
          <input type="text" name="term" value="{{ request.GET.term }}" placeholder="Term" /> <br />
          <input type="text" name="code" value="{{ request.GET.code }}" placeholder="Job Code" /> and
          <input type="text" name="number" value="{{ request.GET.number }}" placeholder="Job Number" /> and
          <input type="text" name="section" value="{{ request.GET.section }}" placeholder="Job Section" /> <br />

          <input type="text" name="receiver_name" value="{{ request.GET.receiver_name }}" placeholder="Receiver Name" /> and
          <input type="text" name="receiver_email" value="{{ request.GET.receiver_email }}" placeholder="Receiver Email" />

          <div class="mt-1">
            <button class="btn btn-sm btn-secondary" type="submit">Search</button>
            <a class="btn btn-sm btn-light" href="{% url 'instructors:show_email_history' %}">Clear</a>
          </div>
        </form>
      </div>
      <div class="text-dark-gray font-size-sm">
        {{ total }} result{% if total > 1 %}s {% endif %} found. {{ emails|length }} row{% if emails|length > 1 %}s {% endif %} in this page.
      </div>
    </div>
  </div>

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center mt-5"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
  >
    <thead>
      <tr>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Course/Job</th>
        <th data-sortable="true">Sender</th>
        <th data-sortable="true">Receiver</th>
        <th>Email</th>
        <th data-sortable="true">Created on</th>
      </tr>
    </thead>
    <tbody>
      {% for email in emails %}
        <tr>
          <td>{{ email.year }}</td>
          <td>{{ email.term }}</td>
          <td>{{ email.job_code }} {{ email.job_number }} {{ email.job_section }}</td>
          <td>{{ email.sender }}</td>
          <td>{{ email.receiver }}</td>
          <td>
            <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#email-modal-{{ email.id }}">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </button>
          	<div class="modal fade" id="email-modal-{{ email.id }}" tabindex="-1" role="dialog" aria-labelledby="email-modal-label-{{ email.id }}" aria-hidden="true">
            	<div class="modal-dialog modal-lg" role="document">
            	  <div class="modal-content">
              		<div class="modal-header">
              		  <h5 class="modal-title text-info" id="email-modal-label-{{ email.id }}">Sent an email</h5>
              		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              		</div>
              		<div class="modal-body text-left font-size-1">
                    <section class="line-height-2">
                      <div>
                        <span class="font-weight-bold">Sender:</span>
                        {{ email.sender }}
                      </div>
                      <div>
                        <span class="font-weight-bold">Receiver:</span>
                        {{ email.receiver }}
                      </div>
                    </section>

                    <hr />

                    <section>
                      <div class="mb-3"><u><span class="font-weight-bold">Title:</span> {{ email.title }}</u></div>
                      <p>{{ email.message|safe }}</p>
                    </section>
              		</div>
            	  </div>
            	</div>
          	</div>
          </td>
          <td>
            <span class="d-none">{{ email.created_at|date:"Y m d z" }}</span>
            {{ email.created_at }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  {% if emails.has_other_pages %}
    <nav class="table-paginator" aria-label="Page navigation Search results pages">
      <ul class="pagination justify-content-center">

        {% if emails.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1
{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}
{% if request.GET.term %}&term={{ request.GET.term }}{% endif %}
{% if request.GET.job_code %}&job_code={{ request.GET.job_code }}{% endif %}
{% if request.GET.job_number %}&job_number={{ request.GET.job_number }}{% endif %}
{% if request.GET.job_section %}&job_section={{ request.GET.job_section }}{% endif %}
{% if request.GET.receiver_name %}&receiver_name={{ request.GET.receiver_name }}{% endif %}
{% if request.GET.receiver_email %}&receiver_email={{ request.GET.receiver_email }}{% endif %}"
            ><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ emails.previous_page_number }}
{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}
{% if request.GET.term %}&term={{ request.GET.term }}{% endif %}
{% if request.GET.job_code %}&job_code={{ request.GET.job_code }}{% endif %}
{% if request.GET.job_number %}&job_number={{ request.GET.job_number }}{% endif %}
{% if request.GET.job_section %}&job_section={{ request.GET.job_section }}{% endif %}
{% if request.GET.receiver_name %}&receiver_name={{ request.GET.receiver_name }}{% endif %}
{% if request.GET.receiver_email %}&receiver_email={{ request.GET.receiver_email }}{% endif %}"
            ><i class="fa fa-angle-left" aria-hidden="true"></i></a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
          </li>
          <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
          </li>
        {% endif %}

        {% for i in emails.paginator.page_range %}
          {% if emails.number == i %}
            <li class="page-item active">
              <span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span>
            </li>
          {% else %}
            <li class="page-item">

              {% if i|add:"-3" <= emails.number and emails.number <= i|add:"3" %}
                <a class="page-link" href="?page={{ i }}
{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}
{% if request.GET.term %}&term={{ request.GET.term }}{% endif %}
{% if request.GET.job_code %}&job_code={{ request.GET.job_code }}{% endif %}
{% if request.GET.job_number %}&job_number={{ request.GET.job_number }}{% endif %}
{% if request.GET.job_section %}&job_section={{ request.GET.job_section }}{% endif %}
{% if request.GET.receiver_name %}&receiver_name={{ request.GET.receiver_name }}{% endif %}
{% if request.GET.receiver_email %}&receiver_email={{ request.GET.receiver_email }}{% endif %}"
                >{{ i }}</a>
              {% endif %}

            </li>
          {% endif %}
        {% endfor %}

        {% if emails.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ emails.next_page_number }}
{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}
{% if request.GET.term %}&term={{ request.GET.term }}{% endif %}
{% if request.GET.job_code %}&job_code={{ request.GET.job_code }}{% endif %}
{% if request.GET.job_number %}&job_number={{ request.GET.job_number }}{% endif %}
{% if request.GET.job_section %}&job_section={{ request.GET.job_section }}{% endif %}
{% if request.GET.receiver_name %}&receiver_name={{ request.GET.receiver_name }}{% endif %}
{% if request.GET.receiver_email %}&receiver_email={{ request.GET.receiver_email }}{% endif %}"
            ><i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ emails.paginator.num_pages }}
{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}
{% if request.GET.term %}&term={{ request.GET.term }}{% endif %}
{% if request.GET.job_code %}&job_code={{ request.GET.job_code }}{% endif %}
{% if request.GET.job_number %}&job_number={{ request.GET.job_number }}{% endif %}
{% if request.GET.job_section %}&job_section={{ request.GET.job_section }}{% endif %}
{% if request.GET.receiver_name %}&receiver_name={{ request.GET.receiver_name }}{% endif %}
{% if request.GET.receiver_email %}&receiver_email={{ request.GET.receiver_email }}{% endif %}"
            ><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          </li>
          <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
          </li>
        {% endif %}

      </ul>
    </nav>

  {% endif %}

</div>

{% endblock %}
