{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'instructors/_menu.html' %}
<div class="row">
  <div class="col-md-3">
    {% include 'ta_app/pages/_left_aside.html' with view_name='applications' title='Write Note' data=app %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{{ next }}">Back to Applications</a>
    </div>
  </div>

  <div class="col-md-9">
    <div class="board col-11 mx-auto">
      <h3>Write Note Form</h3>

      <h5 class="text-danger">This note is visible only to administrators and instructors.</h5>

      <table class="user-data-table table table-borderless">
        <tbody>
          <tr>
            <td>Applicant:</td>
            <td>{{ app.applicant.get_full_name }} (CWL: {{ app.applicant.username }})</td>
          </tr>
          <tr>
            <td>Application Status:</td>
            <td>
              {% if app.applicationstatus_set.last.assigned == app_status.offered or app.applicationstatus_set.last.assigned == app_status.accepted or app.applicationstatus_set.last.assigned == app_status.declined or app.applicationstatus_set.last.assigned == app_status.cancelled %}

                {% if app.applicationstatus_set.last.assigned == app_status.accepted and app.is_declined_reassigned %}
                  <span class="badge badge-success">RE</span>
                {% endif %}

                {% include 'ta_app/applications/_app_status.html' with data=app.applicationstatus_set.last.get_assigned_display %}

                {% if app.applicationstatus_set.last.assigned == app_status.offered or app.applicationstatus_set.last.assigned == app_status.accepted %}
                  <div>Assigned <span class="font-weight-bold">{{ app.applicationstatus_set.last.assigned_hours }}</span> hours</div>
                {% endif %}

                <div>{{ app.applicationstatus_set.last.created_at }}</div>

              {% else %}
                <span class="badge badge-light text-dark">PENDING</span>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <form action="" method="post">
        {% csrf_token %}

        {% for field in form.visible_fields  %}
          <div class="field-wrapper">
            {{ field.label_tag }}
            {% if field.help_text %}
              <div class="help">{{ field.help_text|safe }}</div>
            {% endif %}
            {{ field }}
          </div>
        {% endfor %}

        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}

        <input type="hidden" name="next" value="{{ next }}" />
        <a class="btn btn-outline-secondary" href="{{ next }}">Cancel</a>
        <input class="btn btn-primary" type="submit" value="Write" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
