<h3>Prepare Jobs</h3>

<small>Total: {{ jobs|length }}</small>
<table class="table table-sm table-striped" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
  <thead>
    <tr>
      <th>ID</th>
      <th data-sortable="true">Year</th>
      <th data-sortable="true">Term</th>
      <th data-sortable="true">Job</th>
      <th data-sortable="true">Instructors</th>
      <th data-sortable="true">Assigned TA Hours</th>
      <th data-sortable="true">Active</th>
      <th>Updated at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
      <tr>
        <td>
          <a href="{% url 'administrators:show_job' session_slug=job.session.slug job_slug=job.course.slug type='prepare_jobs' %}">{{ job.id }}</a>
        </td>
        <td>{{ job.session.year }}</td>
        <td>{{ job.session.term.code }}</td>
        <td>{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</td>
        <td>
          {% for instructor in job.instructors.all %}
            {{ instructor.first_name }} {{ instructor.last_name }},
          {% empty %}
            None
          {% endfor %}
        </td>
        <td>{{ job.assigned_ta_hours }}</td>
        <td>{{ job.is_active }}</td>
        <td>{{ job.updated_at }}</td>
        <td>
          <a class="btn btn-sm btn-warning" href="{% url 'administrators:edit_job' session_slug=job.session.slug job_slug=job.course.slug %}">Edit</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
