{% extends 'ta_app/base.html' %}
{% block content %}
{% include "ta_app/sidebars/_administrator_sidebar.html" %}

<div id="content" class="container-fluid">
  {% include 'ta_app/_return_messages.html' with data=messages %}
  {% include 'ta_app/pages/_header.html' with title='Edit Job' %}

  <div class="mb-4"><a class="btn btn-outline-primary" href="{% url 'administrators:prepare_jobs' %}">Go back to Prepare Jobs</a></div>

  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <form action="" method="post">
        {% csrf_token %}

        {% for field in form.visible_fields  %}
          <div class="field-wrapper my-4">
            {{ field.label_tag }}
            {% if field.help_text %}
              <div class="help">{{ field.help_text|safe }}</div>
            {% endif %}
            {{ field }}
          </div>
        {% endfor %}

        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}

        <input class="btn btn-warning" type="submit" value="Update Job" />
      </form>
    </div>
  </div>

</div>

{% endblock %}
