{% extends 'ta_app/base.html' %}
{% block content %}

{% include "administrators/util/_sidebar.html" %}

<div id="content" class="container-fluid">

  <h3>Instructor Jobs and Details</h3>

  <div>Instructor ID: {{ instructor.id }}</div>
  <div>First Name: {{ instructor.first_name }}</div>
  <div>Last Name: {{ instructor.last_name }}</div>
  <div>Preferred Name: {{ instructor.profile.preferred_name }}</div>
  <div>CWL: {{ instructor.username }}</div>
  <div>E-mail: {{ instructor.email }}</div>

  <hr />

  <h5>Jobs</h5>

  <table class="table table-sm table-bordered table-hover table-striped table-responsive-md text-center" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
    <thead>
      <tr>
        <th data-sortable="true">Job ID</th>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Job</th>
        <th>Applicants</th>
        <th>Active</th>
        <th data-sortable="true">Created at</th>
        <th data-sortable="true">Updated at</th>
      </tr>
    </thead>
    <tbody>
      {% for job in instructor.job_set.all %}
      <tr>
        <td>{{ job.id }}</td>
        <td>{{ job.session.year }}</td>
        <td>{{ job.session.term.code }}</td>
        <td>{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</td>
        <td class="text-left">
          {% for app in job.application_set.all %}
            <span class="mr-2">{{ app.applicant.first_name }} {{ app.applicant.last_name }}</span>
          {% empty %}
            No applicants
          {% endfor %}
        </td>
        <td>{{ job.is_active }}</td>
        <td>{{ job.created_at }}</td>
        <td>{{ job.updated_at }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No jobs found</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

  <a href="{% url 'administrators:instructor_jobs' %}">Go back to Jobs by Instructor</a>

</div>


{% endblock %}
