{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Instructor Jobs' data=user %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'administrators:instructor_jobs' %}">Back to Jobs by Instructor</a>
    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      <h3>Details</h3>

      <div>
        <h6>Total Jobs:</h6>
        <span>{{ user.job_set.all|length }}</span>
      </div>

      <div>
        <h6>Total Applicants:</h6>
        <span>{{ user.total_applicants }}</span>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-pagination="true"
    data-search="true"
    data-page-size="50"
    data-page-list="[50, 100, 200, all]"
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">Job ID</th>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Job</th>
        <th>Applicants</th>
        <th data-sortable="true">Active</th>
        <th data-sortable="true">Created at</th>
        <th data-sortable="true">Updated at</th>
      </tr>
    </thead>
    <tbody>
      {% for job in user.job_set.all %}
        <tr>
          <td>{{ job.id }}</td>
          <td>{{ job.session.year }}</td>
          <td>{{ job.session.term.code }}</td>
          <td>{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</td>
          <td>
            {% for app in job.application_set.all %}
              {% include 'ta_app/users/_modal_user_details.html' with data=app.applicant %}<br />
            {% empty %}
              No applicants
            {% endfor %}
          </td>
          <td>{% include 'ta_app/jobs/_job_is_active.html' with data=job %}</td>
          <td>{{ job.created_at }}</td>
          <td>{{ job.updated_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
