{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "administrators/util/_sidebar.html" %}

  <div id="content" class="container-fluid">

    <h3>{{ instructor.first_name }} {{ instructor.last_name }}'s Jobs and Details</h3>

    <div class="margin-top-30"><strong>Instructor ID:</strong> {{ instructor.id }}</div>
    <div><strong>Preferred Name:</strong> {{ instructor.profile.preferred_name }}</div>
    <div><strong>CWL:</strong> {{ instructor.username }}</div>
    <div><strong>E-mail:</strong> {{ instructor.email }}</div>

    <h5 class="margin-top-30">Jobs</h5>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Year</th>
          <th>Term</th>
          <th>Job</th>
          <th>Applicants</th>
          <th>Active</th>
          <th>Created at</th>
          <th>Updated at</th>
        </tr>
      </thead>
      <tbody>
        {% for job in instructor.job_set.all %}
        <tr>
          <td>{{ job.id }}</td>
          <td>{{ job.session.year }}</td>
          <td>{{ job.session.term.code }}</td>
          <td>
            <a href="{% url 'administrators:display_job_details' session_slug=job.session.slug job_slug=job.course.slug role='administrator' %}">
              {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}
            </a>
          </td>
          <td>
            <ul>
              {% for app in job.application_set.all %}
                <li>
                  <a href="{% url 'administrators:show_user' username=app.applicant.username role='administrator' %}">{{ app.applicant.first_name }} {{ app.applicant.last_name }}</a>
                  {% include 'administrators/util/_modal_application_status.html' with data=app %}
                </li>
              {% empty %}
                <li>No applicants</li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ job.is_active }}</td>
          <td>{{ job.created_at }}</td>
          <td>{{ job.updated_at }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No jobs found</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

    <a class="btn btn-secondary" href="{% url 'administrators:instructor_jobs' %}">Go back to Jobs by Instructor</a>

  </div>
</div>

{% endblock %}
