{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include 'administrators/util/_sidebar.html' %}

  <div id="content" class="container-fluid">

    <h3>Jobs by Instructor</h3>

    <table class="table margin-top-30">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>CWL</th>
          <th>E-mail</th>
          <th>Jobs</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for instructor in instructors %}
          <tr>
            <td>
              <a class="btn btn-light" href="{% url 'administrators:show_user' username=instructor.username role='administrator' %}">{{ instructor.id }}</a>
            </td>
            <td>{{ instructor.first_name }}</td>
            <td>{{ instructor.last_name }}</td>
            <td>{{ instructor.username }}</td>
            <td>{{ instructor.email }}</td>
            <td>
              {% if instructor.job_set.count > 0 %}
                <a class="btn btn-success" href="{% url 'administrators:instructor_jobs_details' instructor.username %}">{{ instructor.job_set.count }}</a>
              {% else %}
                <button class="btn btn-secondary" disabled>{{ instructor.job_set.count }}</button>
              {% endif %}
            </td>
            <td>
              <a class="btn btn-info" href="{% url 'administrators:show_user' username=instructor.username role='administrator' %}">Instructor Details</a>
            </td>
          </tr>

        {% empty %}
          <tr>
            <td colspan="5">No instructors found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>
</div>

{% endblock %}
