{% extends 'ta_app/base.html' %}
{% block content %}

{% include "administrators/util/_sidebar.html" %}

<div id="content" class="container-fluid">
  {% include 'ta_app/_return_messages.html' with data=messages %}

  <h3>Jobs</h3>

  <div class="bd-callout bd-callout-warning">
    <h5>Overview</h5>
    <p><i class="fa fa-check-circle-o"></i> text area</p>
  </div>

  <div class="row">
    <div class="col-md-6 p-4">
      <div class="card border-secondary featured">
        <h5 class="card-header bg-info text-white"><i class="fa fa-info-circle"></i> Featured</h5>
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'administrators:prepare_jobs' %}">Prepare Jobs</a>
          </h5>
          <div class="row">
            <div class="col-6">
              If you would like to add or update instructors and assign TA hours for each job, please go to <span class="text-secondary font-weight-bold">Prepare Jobs</span> page
            </div>
            <div class="col-6">
              <h6 class="text-success">Key Functionality</h6>
              <p class="text-secondary">
                <i class="fa fa-check-circle-o"></i> Edit job details <br />
                <i class="fa fa-check-circle-o"></i> Add instructors and TA hours for each job <br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-4">
      <div class="card border-secondary featured">
        <h5 class="card-header bg-info text-white"><i class="fa fa-info-circle"></i> Featured</h5>
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'administrators:progress_jobs' %}">Jobs in Progress</a>
          </h5>
          <p class="card-text">If you would like to check and see the progress of jobs, please go to <span class="text-secondary font-weight-bold">Jobs in Progress</span> page</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-4">
      <div class="card border-secondary featured">
        <h5 class="card-header bg-info text-white"><i class="fa fa-info-circle"></i> Featured</h5>
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'administrators:instructor_jobs' %}">Jobs by Instructor</a>
          </h5>
          <p class="card-text">If you would like to view all lists of jobs by instructor, please go to <span class="text-secondary font-weight-bold">Jobs by Instructor</span> page</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-4">
      <div class="card border-secondary featured">
        <h5 class="card-header bg-info text-white"><i class="fa fa-info-circle"></i> Featured</h5>
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'administrators:student_jobs' %}">Jobs by Student</a>
          </h5>
          <p class="card-text">If you would like to view all lists of jobs by student, please go to <span class="text-secondary font-weight-bold">Jobs by Student</span> page</p>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
