{% extends 'ta_app/base.html' %}
{% block content %}

<div>
    {% include "administrators/_sidebar.html" %}
</div>

{% for student in students %}
  <div>
    {{ student.username }}
  </div>
  <div>
    <ul>
      {% for app in student.application_set.all %}
        <li>
          {{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
          <p>Applicant's TA Hours: {{ app.job.ta_hours }} hours / Assigned TA Hours {{ app.job.assigned_ta_hours }} hours</p>
          <div>
            {% for st in app.status.all %}
              <p>{{ st.get_assigned_display }} {{ st.assigned_hours }} hours</p>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>

{% endfor %}


{% endblock %}
