{% extends 'ta_app/base.html' %}
{% block content %}
{% include "ta_app/sidebars/_administrator_sidebar.html" %}

<div id="content" class="container-fluid">
  {% include 'ta_app/_return_messages.html' with data=messages %}

  {% include 'ta_app/pages/_header.html' with title='Prepare Jobs' text=jobs|length %}

  <table class="table table-sm table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-pagination="true"
    data-search="true"
    data-page-size="50"
    data-page-list="[50, 100, All]"
    data-show-export="true"
    data-click-to-select="true"
    data-show-columns="true"
  >
    <thead>
      <tr>
        <th data-sortable="true">ID</th>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Job</th>
        <th data-sortable="true">Instructors</th>
        <th data-sortable="true">Assigned TA Hours</th>
        <th data-sortable="true">Active</th>
        <th data-sortable="true">Created at</th>
        <th data-sortable="true">Updated at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td>
            <a href="{% url 'administrators:show_job' session_slug=job.session.slug job_slug=job.course.slug path='prepare' %}">{{ job.id }}</a>
          </td>
          <td>{{ job.session.year }}</td>
          <td>{{ job.session.term.code }}</td>
          <td>{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</td>
          <td>
            {% for instructor in job.instructors.all %}
              {{ instructor.first_name }} {{ instructor.last_name }},
            {% empty %}
              None
            {% endfor %}
          </td>
          <td>{{ job.assigned_ta_hours }}</td>
          <td>{{ job.is_active }}</td>
          <td>{{ job.created_at }}</td>
          <td>{{ job.updated_at }}</td>
          <td>
            <a class="btn btn-sm btn-link" href="{% url 'administrators:edit_job' session_slug=job.session.slug job_slug=job.course.slug %}">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>


{% endblock %}
