{% extends 'ta_app/base.html' %}
{% block content %}

<div>
  {% include "administrators/_sidebar.html" %}
</div>
    
{% if messages %}
	{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
	{% endfor %}
{% endif %}

<h1>Prepare Jobs</h1>
<small>Total: {{ jobs.count }}</small>

<table class="table table-sm table-striped" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
  <thead>
    <tr>
      <th data-sortable="true">Year</th>
      <th data-sortable="true">Term</th>
      <th data-sortable="true">Job</th>
      <th data-sortable="true">Job Details</th>
      <th data-sortable="true">Instructors</th>
      <th data-sortable="true">Assigned TA Hours</th>
      <th data-sortable="true">Active</th>
      <th>Updated at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
      <tr>
        <td>{{ job.session.year }}</td>
        <td>{{ job.session.term.code }}</td>
        <td>
          {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}
        </td>
        <td>
          <button type="button" data-toggle="modal" data-target="#job-details-modal-{{ job.id }}" class="btn btn-sm btn-info">
            View
          </button>

          <div class="modal fade" id="job-details-modal-{{ job.id }}" tabindex="-1" role="dialog" aria-labelledby="job-details-modal-label-{{ job.id }}" aria-hidden="true">
      			<div class="modal-dialog modal-lg" role="document">
      				<div class="modal-content">
      				  <div class="modal-header">
      				    <h5 class="modal-title" id="job-details-modal-label-{{ job.id }}">
                    Job Description of {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}
                  </h5>
      				    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      				      <span aria-hidden="true">&times;</span>
      				    </button>
      				  </div>
      				  <div class="modal-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Title: {{ job.title }}</li>
                    <li class="list-group-item">Description: {{ job.description }}</li>
                    <li class="list-group-item">Qualification: {{ job.qualification }}</li>
                    <li class="list-group-item">Note: {{ job.note }}</li>
                  </ul>
                  <div>
                    <ul>
                      {% for instructor in job.instructors.all %}
                        <li>{{ instructor.first_name }} {{ instructor.last_name }}</li>
                      {% endfor %}
                    </ul>
                  </div>
      				  </div>
      				</div>
      			</div>
        	</div>
        </td>
        <td>
          {% for instructor in job.instructors.all %}
            {{ instructor.first_name }} {{ instructor.last_name }},
            {% empty %}
              None
          {% endfor %}
        </td>
        <td>

          {{ job.assigned_ta_hours }} 
          <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#assign-ta-hours-modal-{{ job.id }}">Assign</button>
            <div class="modal fade" id="assign-ta-hours-modal-{{ job.id }}" tabindex="-1" role="dialog" aria-labelledby="assign-ta-hours-modal-label-{{ job.id }}" aria-hidden="true">
        			<div class="modal-dialog modal-lg" role="document">
        			  <div class="modal-content">
        			    <div class="modal-header">
        			      <h5 class="modal-title" id="assign-ta-hours-modal-label-{{ job.id }}">
                      Assign TA Hours to {{ job.session.year }} {{ job.session.term.code }} - {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}
                    </h5>
        			      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			        <span aria-hidden="true">&times;</span>
        			      </button>
        			    </div>
        			    <div class="modal-body">
        						<form action="{% url 'administrators:assign_ta_hours' session_slug=job.session.slug job_slug=job.course.slug %}" method="post">
        							{% csrf_token %}
                      <input type="text" name="assigned_ta_hours" value="{{ job.assigned_ta_hours }}" />
        							<input type="submit" value="Assign"/>
        						</form>
        			    </div>
        			  </div>
        			</div>
        		</div>

          </td>
          <td>{{ job.is_active }}</td>
          <td>{{ job.updated_at }}</td>
          <td>
            <button class="btn btn-sm btn-success" type="button" class="btn btn-sm" data-toggle="modal" data-target="#edit-job-modal-{{ job.id }}">
  					  Add Instructors
  					</button>
            <div class="modal fade" id="edit-job-modal-{{ job.id }}" tabindex="-1" role="dialog" aria-labelledby="edit-job-modal-label-{{ job.id }}" aria-hidden="true">
        			<div class="modal-dialog modal-lg" role="document">
        			  <div class="modal-content">
        			    <div class="modal-header">
        			      <h5 class="modal-title" id="edit-job-modal-label-{{ job.id }}">
                      Add Instructors into {{ job.session.year }} {{ job.session.term.code }} - {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}
                    </h5>
        			      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			        <span aria-hidden="true">&times;</span>
        			      </button>
        			    </div>
        			    <div class="modal-body">
                    <form action="{% url 'administrators:add_instructors' session_slug=job.session.slug job_slug=job.course.slug %}" method="post">
                      {% csrf_token %}
                      {% for instructor in instructors %}
                        <span>
                          {% if instructor in job.instructors.all %}
                            <input type="checkbox" name="instructors" value="{{ instructor.id }}" checked /> {{ instructor.first_name }} {{ instructor.last_name }}
                          {% else %}
                            <input type="checkbox" name="instructors" value="{{ instructor.id }}" /> {{ instructor.first_name }} {{ instructor.last_name }}
                          {% endif %}
                        </span>
                      {% endfor %}
                      <input type="submit" value="Add" />
                    </form>
        			    </div>
        			  </div>
        			</div>
        		</div>

          </td>
        </tr>
        {% empty %}
          No jobs found
    {% endfor %}
  </tbody>
</table>

{% endblock %}
