{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='Prepare Jobs' %}

  {% include 'ta_app/jobs/_search_fields.html' with data=jobs total=total_jobs path='prepare_jobs' %}

  {% include 'administrators/jobs/_course_not_active_note.html' %}
  
  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">ID</th>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Job</th>
        <th data-sortable="true">Instructors</th>
        <th data-sortable="true">Total <br /> Assigned <br /> TA Hours</th>
        <th>Job Details</th>
        <th>Note</th>
        <th data-sortable="true">Number of <br /> Applications</th>
        <th data-sortable="true">Class <br /> Size</th>
        <th data-sortable="true">Is active</th>
        <th>Created Date / <br> Updated Date</th>
        <th>Worktag <br /> Setting</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'administrators:show_job' session_slug=job.session.slug job_slug=job.course.slug %}?next={{ new_next }}&p=Prepare Jobs">{{ job.id }}</a>
            <br />
            {% include 'ta_app/icons/closed.html' with data=job.course %}
          </td>
          <td>{{ job.session.year }}</td>
          <td>{{ job.session.term.code }}</td>
          <td>{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</td>
          <td>{% include 'ta_app/jobs/_job_instructor.html' with data=job %}</td>
          <td>{{ job.assigned_ta_hours }}</td>
          <td>
            {% if job.course_overview or job.description or job.note %}
              {% include 'ta_app/jobs/_modal_job_info.html' with data=job %}
            {% else %}
              None
            {% endif %}
          </td>
          <td class="text-left" style="max-width:250px; min-width:200px;">
            {% if job.note %}
              {{ job.note|safe }}
            {% else %}
              None
            {% endif %}
          </td>
          <td>{{ job.application_set.count }}</td>
          <td></td>
          <td>
            {% include 'ta_app/jobs/_job_is_active.html' with data=job %}
          </td>
          <td>
            {{ job.created_at }} <br />
            {{ job.updated_at }}
          </td>
          <td>
            {% include 'administrators/applications/_submit_worktag_setting.html' with id=job.id worktag_setting=job.worktag_setting save_url=save_worktag_setting_url delete_url=delete_worktag_setting_url path='job' %}

            {% if job.application_set.count > 0 and job.worktag_setting %}
              <button class="btn btn-xs btn-info d-block mx-auto mt-2" type="button" data-toggle="modal" data-target="#list-applicants-modal-{{ job.id }}">
                List
              </button>
              <div class="modal fade" id="list-applicants-modal-{{ job.id }}" tabindex="-1" role="dialog" aria-labelledby="list-applicants-worktag-label-{{ job.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-info" id="list-applicants-modal-label-{{ job.id }}">List of Applicants with Worktag Setting</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body text-left font-size-1">
                      <div class="modal-item">
                        <table class="modal-table table text-center">
                          <thead>
                            <tr>
                              <th>App ID</th>
                              <th>Full Name</th>
                              <th>Program 1 <br /> & Hours</th>
                              <th>Program 2 <br /> & Hours</th>
                              <th>Total Hours</th>
                              <th>Worktag Setup</th>
                              <th>Created Date / <br /> Updated Date</th>
                            </tr>
                          </thead>
                          {% for app in job.application_set.all %}
                            <tr>
                              <td>{{ app.id }}</td>
                              <td>
                                {{ app.applicant.get_full_name }} <br />
                                <small class="text-secondary">({{ app.applicant.username }})</small>
                              </td>
                              <td>
                                {% if app.worktagsetting.program_info.name1 %}
                                  {{ app.worktagsetting.program_info.name1 }}
                                {% endif %}

                                {% if app.worktagsetting.program_info.code1 %}
                                  ({{ app.worktagsetting.program_info.code1 }})
                                {% endif %}

                                {% if app.worktagsetting.program_info.hours1 %}
                                  <br /> {{ app.worktagsetting.program_info.hours1 }}
                                {% endif %}
                              </td>
                              <td>
                                {% if app.worktagsetting.program_info.name2 %}
                                  {{ app.worktagsetting.program_info.name2 }}
                                {% endif %}

                                {% if app.worktagsetting.program_info.code2 %}
                                  ({{ app.worktagsetting.program_info.code2 }})
                                {% endif %}

                                {% if app.worktagsetting.program_info.hours2 %}
                                  <br /> {{ app.worktagsetting.program_info.hours2 }}
                                {% endif %}
                              </td>
                              <td>
                                {% if app.worktagsetting.program_info.total_hours %}
                                  {{ app.worktagsetting.program_info.total_hours }}
                                {% endif %}
                              </td>
                              <td>
                                {{ app.worktagsetting.worktag }}

                                {% if app.admindocuments.worktag %}
                                  {% if app.admindocuments.worktag == app.worktagsetting.worktag %}
                                    <br /> <span class="badge badge-success">SAVED</span>
                                  {% else %}
                                    <br /> <span class="badge badge-warning">DIFF</span>
                                  {% endif %}
                                {% endif %}
                              </td>
                              <td>
                                {{ app.worktagsetting.created_at }}
                                {% if app.worktagsetting.created_at != app.worktagsetting.updated_at %}
                                  <br /> {{ app.worktagsetting.updated_at }}
                                {% endif %}
                              </td>
                            </tr>
                          {% endfor %}
                        </table>

                        <div class="mt-5 font-size-sm">
                          <h6 class="mt-4">Note:</h6>
                          <ul>
                            <li>
                              This badge <span class="badge badge-success">SAVED</span> indicates that a <code>Worktag</code> value in the Worktag Setting has been saved to the Admin Documents because the application has been accepted
                            </li>
                            <li>
                              This badge <span class="badge badge-warning">DIFF</span> indicates that a <code>Worktag</code> value has been saved to the Admin Documents, but it's different from the one in the Worktag Setting
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </td>
          <td>
            <a class="btn btn-sm btn-link" href="{% url 'administrators:edit_job' session_slug=job.session.slug job_slug=job.course.slug %}?next={{ new_next }}&p=Prepare Jobs">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=jobs %}
</div>

{% endblock %}
