{% extends 'ta_app/base.html' %}
{% block content %}
{% include "ta_app/sidebars/_administrator_sidebar.html" %}

  <div id="content" class="container-fluid">
    {% include 'ta_app/pages/_header.html' with title='Jobs in Progress' text=jobs|length %}

    <table class="table table-sm table-striped" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
      <thead>
        <tr>
          <th data-sortable="true">ID</th>
          <th data-sortable="true">Year</th>
          <th data-sortable="true">Term</th>
          <th data-sortable="true">Job</th>
          <th data-sortable="true">Applications</th>
          <th data-sortable="true"># of <br />Offered</th>
          <th data-sortable="true"># of <br />Accepted</th>
          <th data-sortable="true"># of <br />Declined</th>
          <th data-sortable="true">Assigned <br />TA Hours</th>
          <th data-sortable="true">Applicants' <br />TA Hours</th>
          <th data-sortable="true">Active</th>
          <th data-sortable="true">Created at</th>
          <th data-sortable="true">Updated at</th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
          <tr>
            <td>
              <a href="{% url 'administrators:show_job' session_slug=job.session.slug job_slug=job.course.slug path='progress' %}">{{ job.id }}</a>
            </td>
            <td>{{ job.session.year }}</td>
            <td>{{ job.session.term.code }}</td>
            <td>{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</td>
            <td>
              {% if job.application_set.count > 0 %}
                <a href="{% url 'administrators:show_job_applications' session_slug=job.session.slug job_slug=job.course.slug %}">{{ job.application_set.count }}</a>
              {% else %}
                {{ job.application_set.count }}
              {% endif %}
            </td>
            <td>{{ job.offered_applications }}</td>
            <td>{{ job.accepted_applications }}</td>
            <td>{{ job.declined_applications }}</td>
            <td>{{ job.assigned_ta_hours }}</td>
            <td>{{ job.ta_hours }}</td>
            <td>{{ job.is_active }}</td>
            <td>{{ job.created_at }}</td>
            <td>{{ job.updated_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

{% endblock %}
