{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}

<div>
  <div id="download-message" class="container"></div>

  {% include 'ta_app/pages/_header.html' with title='Jobs in Progress' %}

  <div class="row">
    <div class="col-xl-9">
      {% include 'ta_app/jobs/_search_fields.html' with data=jobs total=total_jobs path='progress_jobs' %}
    </div>
    <div class="col-xl-3">
      <div class="bg-light-gray text-center p-4" style="height:143.12px">
        <h6>Download Job Report</h6>
        <p class="font-size-sm">Search first (e.g., year=2025) before download</p>

        <div class="d-flex justify-content-around">
          <button id="download-job-report-md" class="btn btn-sm btn-info font-size-xs" type="button" data-url='{{ download_job_report_md_url }}' data-next="{{ request.get_full_path }}">
            Markdown
          </button>
          <button id="download-job-report-excel" class="btn btn-sm btn-info font-size-xs" type="button" data-url='{{ download_job_report_excel_url }}' data-next="{{ request.get_full_path }}">
            Excel
          </button>
        </div>
      </div>
    </div>
  </div>

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">ID</th>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Job</th>
        <th data-sortable="true">Instructors</th>
        <th data-sortable="true">Number of<br />Applications</th>
        <th data-sortable="true">Total Assigned <br />TA Hours</th>
        <th data-sortable="true">Accumulated <br />TA Hours</th>
        <th data-sortable="true">Is active</th>
        <th data-sortable="true">Created Date</th>
        <th data-sortable="true">Updated Date</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'administrators:show_job' session_slug=job.session.slug job_slug=job.course.slug %}?next={{ new_next }}&p=Jobs in Progress">{{ job.id }}</a>
          </td>
          <td>{{ job.session.year }}</td>
          <td>{{ job.session.term.code }}</td>
          <td>{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</td>
          <td>{% include 'ta_app/jobs/_job_instructor.html' with data=job %}</td>
          <td>
            {% if job.application_set.count > 0 %}
              <a class="btn btn-xs btn-info" href="{% url 'administrators:show_job_applications' session_slug=job.session.slug job_slug=job.course.slug %}">{{ job.application_set.count }}</a>
            {% else %}
              {{ job.application_set.count }}
            {% endif %}
          </td>
          <td>{{ job.assigned_ta_hours }}</td>
          <td>{{ job.accumulated_ta_hours }}</td>
          <td>
            {% include 'ta_app/jobs/_job_is_active.html' with data=job %}
          </td>
          <td>
            <span class="d-none">{{ job.created_at|date:"Y m d z" }}</span>
            {{ job.created_at }}
          </td>
          <td>
            <span class="d-none">{{ job.updated_at|date:"Y m d z" }}</span>
            {{ job.updated_at }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=jobs %}
</div>

{% endblock %}

{% block js %}
  {% load static %}
  <script type="text/javascript" src="{% static 'ta_app/js/download_job_report.js' %}"></script>
{% endblock %}
