{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='Job Applications' text=job.application_set.all|length %}

  <div class="bg-prompt">
    <div class="prompt p-4 text-center mb-4 rounded-1">
      <h4>Text</h4>
      <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:progress_jobs' %}">Go back to Jobs in Progress</a>
    </div>
  </div>

  <div class="mb-4"></div>

  <h5 class="mt-4">{{ job.session.year }} {{ job.session.term.name }} ({{ job.session.term.code }})</h5>
  <h4>
    {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }} <br />
    <small class="text-muted">- {{ job.course.name }}</small>
  </h4>

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-pagination="true"
    data-search="true"
    data-page-size="50"
    data-page-list="[50, 100, 200, all]"
    data-show-export="true"
    data-click-to-select="true"
    data-show-columns="true"
  >
    <thead>
      <tr>
        <th data-sortable="true">Application<br /> ID</th>
        <th data-sortable="true">Applicant</th>
        <th data-sortable="true">Status</th>
        <th data-sortable="true">Instructor<br /> Preference</th>
        <th data-sortable="true">Classification</th>
        <th data-sortable="true">Note</th>
        <th data-sortable="true">Created at</th>
        <th data-sortable="true">Updated at</th>
      </tr>
    </thead>
    <tbody>
      {% for app in job.application_set.all %}
        <tr>
          <td>{{ app.id }}</td>
          <td>{{ app.applicant.first_name }} {{ app.applicant.last_name }}</td>
          <td>{% include 'ta_app/applications/_modal_app_status.html' with data=app %}</td>
          <td>{{ app.get_instructor_preference_display }}</td>
          <td>{{ app.classification.year }} {{ app.classification.name }}</td>
          <td>{{ app.note }}</td>
          <td>{{ app.created_at }}</td>
          <td>{{ app.updated_at }}</td>
        </tr>
      {% empty %}
        No applications found
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
