{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}

<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='jobs' title='Job Details' data=job %}

    <div class="text-center bg-info text-white col-10 mx-auto p-3 my-5">
      <div>
        <h5 class="font-weight-normal">
          <i class="fa fa-star-o" aria-hidden="true"></i> Assigned TA Hours
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </h5>
        <h3 class="font-weight-bold">{{ job.assigned_ta_hours }} hours</h3>
      </div>
      <hr />
      <div>
        <h5 class="font-weight-normal">
          <i class="fa fa-star-o" aria-hidden="true"></i> Accumulated TA hours
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </h5>
        <h3 class="font-weight-bold">{{ job.accumulated_ta_hours }} hours</h3>
      </div>
    </div>

    <div class="left-aside-btn-groups">
      {% include 'administrators/jobs/_go_back.html' with data=path %}
    </div>

  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      <h3>Details</h3>

      {% include 'ta_app/jobs/_job_details.html' with data=job %}

      <div>
        <h6>Job ID:</h6>
        <span>{{ job.id }}</span>
      </div>

      <div>
        <h6>Job Slug:</h6>
        <span>{{ job.course.slug }}</span>
      </div>
    </div>
  </div>

</div>

<div>
  <h4 class="mt-5 mb-3">
    Applications
    <small class="text-muted">(Total: {{ job.application_set.all|length }})</small>
  </h4>

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-pagination="true"
    data-search="true"
    data-page-size="50"
    data-page-list="[50, 100, 200, all]"
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">Application<br /> ID</th>
        <th data-sortable="true">Applicant</th>
        <th data-sortable="true">CWL</th>
        <th data-sortable="true">Application</th>
        <th data-sortable="true">Status</th>
        <th data-sortable="true">Instructor<br /> Preference</th>
        <th data-sortable="true">Classification</th>
        <th>Note</th>
        <th data-sortable="true">Created at</th>
        <th data-sortable="true">Updated at</th>
      </tr>
    </thead>
    <tbody>
      {% for app in job.application_set.all %}
        <tr>
          <td>{{ app.id }}</td>
          <td>{{ app.applicant.first_name }} {{ app.applicant.last_name }}</td>
          <td>{{ app.applicant.username }}</td>
          <td>{% include 'ta_app/applications/_modal_app_details.html' with data=app pin_display='True' %}</td>
          <td>{% include 'ta_app/applications/_modal_app_status.html' with data=app %}</td>
          <td>{% include 'ta_app/applications/_app_instructor_preference.html' with data=app.get_instructor_preference_display %}</td>
          <td>{% include 'ta_app/applications/_app_classification.html' with data=app %}</td>
          <td>{% include 'ta_app/applications/_modal_note.html' with data=app %}</td>
          <td>{{ app.created_at }}</td>
          <td>{{ app.updated_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
