{% extends 'ta_app/base.html' %}
{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'administrators:index' %}">administrators</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'administrators:jobs' %}">Jobs</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Job Details</li>
  </ol>
</nav>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}


<h1>{{ job.title }}</h1>

<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Title:</b> {{ job.title }}</li>
    <li class="list-group-item"><b>Description:</b> {{ job.description }}</li>
    <li class="list-group-item"><b>Session:</b> {{ job.session.year }} {{ job.session.term.name }} {{ job.session.title }}</li>
    <li class="list-group-item"><b>Qualification:</b> {{ job.qualification }}</li>
    <li class="list-group-item"><b>Is Active:</b> {{ job.is_active }}</li>
    <li class="list-group-item"><b>Created At:</b> {{ job.created_at }}</li>
    <li class="list-group-item"><b>Updated At:</b> {{ job.updated_at }}</li>
    <li class="list-group-item"><b>Note:</b> {{ job.note }}</li>
  </ul>
</div>

<h5 class="margin-top-30">Instructors</h5>
<ul>
  {% for instructor in job.instructors.all %}
    <li>{{ instructor.first_name }} {{ instructor.last_name }}</li>
  {% empty %}
    No instructors found.
  {% endfor %}
</ul>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'administrators:show_session' session.slug %}">Session Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'administrators:jobs' %}">Jobs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'administrators:edit_job' session_slug=session.slug job_slug=job.course.slug  %}">Edit</a>
  </li>
</ul>

<hr />

<p>
  Current TA Hours: {{ job.ta_hours }}
  <br />
  <small>(Maximum: 110 hours)</small>
</p>

<h3 class="margin-top-30">Applications</h3>

<table class="table">
  <thead>
    <tr>
      <th>Applicant</th>
      <th>CWL</th>
      <th>Status</th>
      <th>Supervisor Approval</th>
      <th>How Qualified</th>
      <th>How Interested</th>
      <th>Availability</th>
      <th>Classification</th>
      <th>Instructor Preference</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    {% for app in job.application_set.all %}
      <tr>
        <td>
          <a href="{% url 'users:show_user' app.applicant.username %}">{{ app.applicant.first_name }} {{ app.applicant.last_name }}</a>
        </td>
        <td>{{ app.applicant.username }}</td>
        <td>
          <ul>
            {% for st in app.status.all %}
              <li>{{ st.get_assigned_display }} - {{ st.assigned_hours }} hours - {{ st.created_at }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>{{ app.supervisor_approval }}</td>
        <td>{{ app.get_how_qualified_display }}</td>
        <td>{{ app.get_how_interested_display }}</td>
        <td>{{ app.availability }}</td>
        <td>{{ app.get_classification_display }}</td>
        <td>{{ app.get_instructor_preference_display }}</td>
        <td>{{ app.created_at }}</td>
        <td>{{ app.updated_at }}</td>
        <td>{{ app.note }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="7">No applications found.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
