{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='job_applications' title='Job Applications' data=job %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'administrators:progress_jobs' %}">Back to Jobs in Progress</a>
    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      <h3>Details</h3>

      <div>
        <h6>Instructors:</h6>
        {% include 'ta_app/jobs/_job_instructor_list.html' with data=job %}
      </div>

      <div>
        <h6>Number of Applications:</h6>
        <span>{{ job.application_set.all|length }}</span>
      </div>

      <div>
        <h5 class="text-info text-center">Statistics</h5>

        <table class="table text-center font-size-1">
          <thead>
            <tr>
              <th>Number of<br /> Selected Apps</th>
              <th>Number of<br /> Offered Apps</th>
              <th>Number of<br /> Accepted Apps</th>
              <th>Number of<br /> Declined Apps</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ job.num_selected_apps }}</td>
              <td>{{ job.num_offered_apps }}</td>
              <td>{{ job.num_accepted_apps }}</td>
              <td>{{ job.num_declined_apps }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div>
  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-pagination="true"
    data-search="true"
    data-page-size="50"
    data-page-list="[50, 100, 200, all]"
    data-show-export="true"
    data-show-columns="true"
  >
    <thead>
      <tr>
        <th data-sortable="true">Application<br /> ID</th>
        <th data-sortable="true">Applicant</th>
        <th data-sortable="true">CWL</th>
        <th data-sortable="true">Status</th>
        <th data-sortable="true">Instructor<br /> Preference</th>
        <th data-sortable="true">Classification</th>
        <th data-sortable="true">Note</th>
        <th data-sortable="true">Created at</th>
        <th data-sortable="true">Updated at</th>
      </tr>
    </thead>
    <tbody>
      {% for app in job.application_set.all %}
        <tr>
          <td>{% include 'ta_app/applications/_modal_app_details.html' with data=app display='id' %}</td>
          <td>{{ app.applicant.get_full_name }}</td>
          <td>{{ app.applicant.username }}</td>
          <td>
            {% include 'ta_app/applications/_modal_app_status.html' with data=app display='assigned' %}<br />
            <small class="text-muted">{{ app.applicationstatus_set.last.created_at }}</small>
          </td>
          <td>{{ app.get_instructor_preference_display }}</td>
          <td>{% include 'ta_app/applications/_app_classification.html' with data=app %}</td>
          <td>{% include 'ta_app/applications/_modal_note.html' with data=app %}</td>
          <td>{{ app.created_at }}</td>
          <td>{{ app.updated_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
