{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Student Jobs' data=user %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{{ next }}">Back to {{ request.GET.p }}</a>
    </div>

    <div class="board col-10 mx-auto mt-5 text-center">

      <h5 class="text-info">Offered Jobs</h5>
      <table class="table font-size-1">
        <thead>
          <tr>
            <th>Year-Term</th>
            <th>Total Assigned Hours</th>
          </tr>
        </thead>
        <tbody>
          {% for year_term, assigned_hours in total_assigned_hours.offered.items %}
            <tr>
              <td>{{ year_term }}</td>
              <td>{{ assigned_hours }} hours</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">No total assigned hours</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <br />

      <h5 class="text-info">Accepted Jobs</h5>
      <table class="table font-size-1">
        <thead>
          <tr>
            <th>Year-Term</th>
            <th>Total Assigned Hours</th>
          </tr>
        </thead>
        <tbody>
          {% for year_term, assigned_hours in total_assigned_hours.accepted.items %}
            <tr>
              <td>{{ year_term }}</td>
              <td>{{ assigned_hours }} hours</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">No total assigned hours</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <div class="col-md-8">

    <nav>
      <div class="nav nav-tabs">
        <a class="nav-item nav-link {% if current_tab == 'all' %} active {% endif %}" href="{{ tab_urls.all }}">
          All Jobs ({{ apps|length }})
        </a>
        <a class="nav-item nav-link {% if current_tab == 'offered' %} active {% endif %}" href="{{ tab_urls.offered }}">
          Offered Jobs ({{ offered_apps|length }})
        </a>
        <a class="nav-item nav-link {% if current_tab == 'accepted' %} active {% endif %}" href="{{ tab_urls.accepted }}">
          Accepted Jobs ({{ accepted_apps|length }})
        </a>
      </div>
    </nav>

    {% if current_tab == 'offered' %}

      <div>
        <h4 class="mt-5 mb-3">
          Offered Jobs
          <small class="text-dark-gray">(Total: {{ offered_apps|length }})</small>
        </h4>

        <table
          class="table table-bordered table-hover table-striped table-responsive-md text-center"
          data-toggle="table"
          data-sortable="true"
          data-classes=""
          data-pagination="true"
          data-search="true"
          data-page-size="50"
          data-page-list="[50, 100, 200, all]"
          data-show-export="true"
          data-show-columns="true"
          data-export-types="['csv']"
        >
          <thead>
            <tr>
              <th data-sortable="true">Year</th>
              <th data-sortable="true">Term</th>
              <th data-sortable="true">Job</th>
              <th data-sortable="true">Application Status</th>
              <th data-sortable="true">Assigned Hours</th>
              <th data-sortable="true">Offered at</th>
            </tr>
          </thead>
          <tbody>
            {% for app in offered_apps %}
              <tr>
                <td>{{ app.job.session.year }}</td>
                <td>{{ app.job.session.term.code }}</td>
                <td>{{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</td>
                <td>
                  {% include 'ta_app/applications/_app_status.html' with data=app.offered.get_assigned_display %}
                </td>
                <td>{{ app.offered.assigned_hours }} hours</td>
                <td>
                  <span class="d-none">{{ app.offered.created_at|date:"Y m d z" }}</span>
                  {{ app.offered.created_at }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    {% elif current_tab == 'accepted' %}

      <div>
        <h4 class="mt-5 mb-3">
          Accepted Jobs
          <small class="text-dark-gray">(Total: {{ accepted_apps|length }})</small>
        </h4>

        <table
          class="table table-bordered table-hover table-striped table-responsive-md text-center"
          data-toggle="table"
          data-sortable="true"
          data-classes=""
          data-pagination="true"
          data-search="true"
          data-page-size="50"
          data-page-list="[50, 100, 200, all]"
          data-show-export="true"
          data-show-columns="true"
          data-export-types="['csv']"
        >
          <thead>
            <tr>
              <th data-sortable="true">Year</th>
              <th data-sortable="true">Term</th>
              <th data-sortable="true">Job</th>
              <th data-sortable="true">Application Status</th>
              <th data-sortable="true">Assigned Hours</th>
              <th data-sortable="true">Accepted at</th>
            </tr>
          </thead>
          <tbody>
            {% for app in accepted_apps %}

              <tr>
                <td>{{ app.job.session.year }}</td>
                <td>{{ app.job.session.term.code }}</td>
                <td>{{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</td>
                <td>
                  {% include 'ta_app/applications/_app_status.html' with data=app.accepted.get_assigned_display %}
                </td>
                <td>{{ app.accepted.assigned_hours }} hours</td>
                <td>
                  <span class="d-none">{{ app.accepted.created_at|date:"Y m d z" }}</span>
                  {{ app.accepted.created_at }}
                </td>
              </tr>

            {% endfor %}
          </tbody>
        </table>

      </div>

    {% else %}

      <div>
        <h4 class="mt-5 mb-3">
          All Jobs
          <small class="text-dark-gray">(Total: {{ apps|length }})</small>
        </h4>

        <table
          class="table table-bordered table-hover table-striped table-responsive-md text-center"
          data-toggle="table"
          data-sortable="true"
          data-classes=""
          data-pagination="true"
          data-search="true"
          data-page-size="50"
          data-page-list="[50, 100, 200, all]"
          data-show-export="true"
          data-show-columns="true"
          data-export-types="['csv']"
        >
          <thead>
            <tr>
              <th data-sortable="true">Year</th>
              <th data-sortable="true">Term</th>
              <th data-sortable="true">Job</th>
              <th data-sortable="true">Total Assigned<br /> TA Hours</th>
              <th data-sortable="true">Accumulated<br /> TA Hours</th>
              <th data-sortable="true">Application</th>
              <th>Application <br />Status</th>
              <th data-sortable="true">Created at</th>
              <th data-sortable="true">Updated at</th>
            </tr>
          </thead>
          <tbody>
            {% for app in apps %}
              <tr>
                <td>{{ app.job.session.year }}</td>
                <td>{{ app.job.session.term.code }}</td>
                <td>{{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</td>
                <td>{{ app.job.assigned_ta_hours }}</td>
                <td>{{ app.job.accumulated_ta_hours }}</td>
                <td>
                  {% include 'ta_app/applications/_modal_app_details.html' with data=app display='id' pin_display='True' %}
                </td>
                <td>
                  {% if app.applicationstatus_set.last.assigned == app_status.accepted and app.is_declined_reassigned %}
                    <span class="badge badge-success">RE</span>
                  {% endif %}
                  {% include 'ta_app/applications/_app_status.html' with data=app.applicationstatus_set.last.get_assigned_display %}
                  {% include 'ta_app/applications/_modal_app_status.html' with data=app %}<br />
                  <small class="text-dark-gray">{{ app.applicationstatus_set.last.created_at }}</small>
                </td>
                <td>
                  <span class="d-none">{{ app.created_at|date:"Y m d z" }}</span>
                  {{ app.created_at }}
                </td>
                <td>
                  <span class="d-none">{{ app.updated_at|date:"Y m d z" }}</span>
                  {{ app.updated_at }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% include 'ta_app/pages/_note_reassigned_offer.html' %}

    {% endif %}

  </div>
</div>

{% endblock %}
