{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='Jobs by Student' %}

  {% include 'ta_app/users/_search_fields.html' with data=users total=total_users path='student_jobs' %}

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">User ID</th>
        <th data-sortable="true">First Name</th>
        <th data-sortable="true">Last Name</th>
        <th data-sortable="true">Preferred Name</th>
        <th data-sortable="true">CWL</th>
        <th data-sortable="true">E-mail</th>
        <th data-sortable="true">Jobs</th>
      </tr>
    </thead>
    <tbody>
      {% for student in users %}
        <tr>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'administrators:show_user' username=student.username path='student' %}">{{ student.id }}</a>
          </td>
          <td>{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
          <td>{{ student.profile.preferred_name }}</td>
          <td>{{ student.username }}</td>
          <td>{{ student.email }}</td>
          <td>
            {% if student.application_set.count > 0 %}
              <a class="btn btn-xs btn-info" href="{% url 'administrators:student_jobs_details' student.username %}">{{ student.application_set.count }}</a>
            {% else %}
              {{ student.application_set.count }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=users %}

</div>

{% endblock %}
