{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}

<div class="row">
  <div class="col-md-3">
    {% include 'ta_app/pages/_left_aside_compact.html' with view_name='job_applications' title='Summary of Applicants' data=job %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{{ next }}">Back to Job Applications</a>
    </div>

    {% include 'instructors/subpages/summary_applicants_note.html' %}
  </div>

  <div class="col-md-9">
    {% include 'instructors/jobs/_search_fields.html' with data=applicants total=searched_total_applicants path='administrators_applications' session_slug=session.slug job_slug=job.course.slug %}

    <div class="font-size-sm text-right" style="margin-top: -20px;">
      {% include 'ta_app/pages/_preferred_candidate.html' with column='Full Name' %}
    </div>

    <div class="mt-4">
      {% include 'instructors/subpages/summary_applicants_table.html' %}
    </div>
  </div>
</div>

{% endblock %}
