{% extends 'ta_app/base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-3">
    {% include "department/subpages/_sidebar_menu.html" %}
  </div>
  <div class="col-md-9">
    TA Application Management


  </div>
</div>




<hr />

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Department</li>
  </ol>
</nav>


{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}


<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'department:sessions' %}">Sessions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'department:jobs' %}">Jobs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'department:applications' %}">Applications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'users:index' %}">Users</a>
  </li>
</ul>

<h1>Department</h1>

<div class="dropdown margin-top-30">
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'department:terms' %}">Terms</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'department:courses' %}">Courses</a>
    <a class="dropdown-item" href="{% url 'department:course_codes' %}">Course Codes</a>
    <a class="dropdown-item" href="{% url 'department:course_numbers' %}">Course Numbers</a>
    <a class="dropdown-item" href="{% url 'department:course_sections' %}">Course Sections</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'users:roles' %}">Roles</a>
    <a class="dropdown-item" href="{% url 'users:programs' %}">Programs</a>
    <a class="dropdown-item" href="{% url 'users:statuses' %}">Statuses</a>
    <a class="dropdown-item" href="{% url 'users:degrees' %}">Degrees</a>
    <a class="dropdown-item" href="{% url 'users:trainings' %}">Trainings</a>
  </div>
</div>


<div class="row margin-top-30">
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item">Active Sessions: {{ active_sessions.count }}</li>
      <li class="list-group-item">Inactive Sessions: {{ inactive_sessions.count }}</li>
      <li class="list-group-item">Total Sessions: {{ active_sessions.count|add:inactive_sessions.count }}</li>
    </ul>
  </div>
</div>


{% endblock %}
