{% extends 'ta_app/base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">

  <div class="row">
    <div class="col-md-6">

      <div>
        <h4 class="text-center">Welcome</h4>
        <p class="text-secondary">Welcome to the Faculty of Land and Food Systems TA Application form.</p>

        <div class="bd-callout bd-callout-warning bg-light-gray">
          <h4 class="text-center">
            <i class="fa fa-bullhorn" aria-hidden="true"></i> Notice
          </h4>
          <p>
            <i class="fa fa-check" aria-hidden="true"></i>
            Did you know you must be registered in at least one course during the term you will be TA'ing?</p>
          <p>
            <i class="fa fa-check" aria-hidden="true"></i>
            Be sure you are aware of all requirements for being a TA in the Faculty of Land and Food Systems (particularly the term/duration of TA appointments).</p>
          <p>
            <i class="fa fa-check" aria-hidden="true"></i>
            Refer to 'Information for TA's' and other sections in the LFS TA Portal: <a href="http://blogs.ubc.ca/lfsta/">http://blogs.ubc.ca/lfsta/</a>
          </p>
        </div>

      </div>

      <div class="mt-5">
        <table class="info-table">
          <tr>
            <td>
              <img src="{% static 'ta_app/images/ubc-lfs-logo.gif' %}" width=100 alt="ubc lfs logo"/>
            </td>
            <td>
              <h6>LFS - TA Application System</h6>
              <p>
                Faculty of Land and Food Systems<br />
                Tel: 604-822-0434
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-6">

      <div class="bg-prompt">
        <div class="prompt text-center p-4 mb-4">
          <h4 class="text-primary">User login</h4>
          <p>To log in, click the CWL button below.<br /> You will be redirected to a secure CWL login.</p>
          <a href="{% url 'saml' %}?sso">
            <img src="{% static 'ta_app/images/cwl_login_button.gif' %}" alt="cwl login button"/>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}
