<h4>
  {{ data.course.code.name }} {{ data.course.number.name }} {{ data.course.section.name }} <br />
  <small class="text-muted">{{ data.course.name }}</small>
</h4>

<div>
  <h5>Instructors:</h5>
  <ul>
    {% for instructor in data.instructors.all %}
      <li>{{ instructor.get_full_name }}</li>
    {% empty %}
      <li>No instructors</li>
    {% endfor %}
  </ul>
</div>

<div>
  <h5>
    Title:
    <span>{{ data.title }}</span>
  </h5>
</div>

<div>
  <h5>
    Description:
    <span>{{ data.description|safe }}</span>
  </h5>
</div>

<div>
  <h5>
    Qualification:
    <span>{{ data.qualification|safe }}</span>
  </h5>
</div>

<div>
  <h5>
    Note:
    <span>{{ data.note|safe }}</span>
  </h5>
</div>

<div>
  <h5>
    Is active:
    <span class="text-white">
      {% include 'ta_app/jobs/_job_is_active.html' with data=data %}
    </span>
  </h5>
</div>

<div>
  <h5>
    Created at:
    <span>{{ data.created_at }}</span>
  </h5>
</div>

<div>
  <h5>
    Updated at:
    <span>{{ data.updated_at }}</span>
  </h5>
</div>
