<h4>
  {{ data.course.code.name }} {{ data.course.number.name }} {{ data.course.section.name }} <br />
  <small class="text-muted">{{ data.course.name }}</small>
</h4>

<div>
  <h5>Instructors:</h5>
  <ul>
    {% for instructor in data.instructors.all %}
      <li>{{ instructor.get_full_name }}</li>
    {% empty %}
      <li>No instructors found.</li>
    {% endfor %}
  </ul>
</div>

<div>
  <h5>Title:</h5>
  <span>{{ data.title }}</span>
</div>

<div>
  <h5>Description:</h5>
  <span>{{ data.description|safe }}</span>
</div>

<div>
  <h5>Qualification:</h5>
  <span>{{ data.qualification|safe }}</span>
</div>

<div>
  <h5>Note:</h5>
  <span>{{ data.note|safe }}</span>
</div>

<div>
  <h5>Is active:</h5>
  <span>{{ data.is_active }}</span>
</div>

<div>
  <h5>Created at:</h5>
  <span>{{ data.created_at }}</span>
</div>

<div>
  <h5>Updated at:</h5>
  <span>{{ data.updated_at }}</span>
</div>
