<div>
  <h5>
    {{ data.course.code.name }} {{ data.course.number.name }} {{ data.course.section.name }} <br />
    <small class="text-muted">{{ data.course.name }}</small>
  </h5>
</div>

<div>
  <h6>Instructors:</h6>
  <ul>
    {% for instructor in data.instructors.all %}
      <li>{{ instructor.get_full_name }}</li>
    {% empty %}
      <li>None</li>
    {% endfor %}
  </ul>
</div>

<div>
  <h6>Title:</h6>
  <span>{{ data.title }}</span>
</div>

<div>
  <h6>Description:</h6>
  <span>{{ data.description|safe }}</span>
</div>

<div>
  <h6>Qualification:</h6>
  <span>{{ data.qualification|safe }}</span>
</div>

<div>
  <h6>Note:</h6>
  <span>{{ data.note|safe }}</span>
</div>

<div>
  <h6>Is active:</h6>
  {% include 'ta_app/jobs/_job_is_active.html' with data=data %}
</div>

<div>
  <h6>Created at:</h6>
  <span>{{ data.created_at }}</span>
</div>

<div>
  <h6>Updated at:</h6>
  <span>{{ data.updated_at }}</span>
</div>
