<div class="search-field bg-light-gray p-3 font-size-sm">
  <form method="GET">
    <input type="hidden" name="page" value="1" />
    <input type="text" name="year" value="{{ request.GET.year }}" placeholder="Year" /> and
    <input type="text" name="term" value="{{ request.GET.term }}" placeholder="Term" /> <br />
    <input type="text" name="code" value="{{ request.GET.code }}" placeholder="Job Code" /> and
    <input type="text" name="number" value="{{ request.GET.number }}" placeholder="Job Number" /> and
    <input type="text" name="section" value="{{ request.GET.section }}" placeholder="Job Section" />

    {% if path == 'prepare_jobs' or path == 'progress_jobs' %}
      and
      Active? <input class="custom-input-mb-7" type="checkbox" name="is_active" value="True" {% if request.GET.is_active %}checked{% endif %} />
    {% endif %}

    {% if path == 'prepare_jobs' %}
      <br />
      <input type="text" name="instructor_first_name" value="{{ request.GET.instructor_first_name }}" placeholder="Instructor First Name" /> and
      <input type="text" name="instructor_last_name" value="{{ request.GET.instructor_last_name }}" placeholder="Instructor Last Name" /> <br />
    {% endif %}
    
    <div class="mt-1">
      <button class="btn btn-sm btn-secondary" type="submit">Search</button>

      {% if path == 'prepare_jobs' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:prepare_jobs' %}">Clear</a>

      {% elif path == 'progress_jobs' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:progress_jobs' %}">Clear</a>

      {% elif path == 'instructor_jobs' %}
        <a class="btn btn-sm btn-light" href="{% url 'instructors:show_jobs' %}">Clear</a>

      {% endif %}
    </div>

  </form>
</div>

<div class="text-dark-gray font-size-sm">{{ total }} result{% if total > 1 %}s {% endif %} found. {{ data|length }} row{% if data|length > 1 %}s {% endif %} in this page.</div>
