{% extends 'ta_app/base.html' %}
{% block content %}
{% load static %}

{% if portal == 'Admin' %}
  {% include "administrators/util/_sidebar.html" %}

{% elif portal == 'HR' %}
  {% include 'human_resources/util/_sidebar.html' %}

{% elif portal == 'Instructor' %}
  {% include 'instructors/util/_sidebar.html' %}

{% elif portal == 'Student' %}
  {% include 'students/util/_sidebar.html' %}

{% endif %}

<div id="content" class="container-fluid">

  <h3 class="mb-5">Job Details</h3>

  <div class="job-details row justify-content-center">
    <div class="col-md-3">
      <div class="left-content">
        <img class="ubc-logo mx-auto d-block" src="{% static 'ta_app/images/UBClogo.jpeg' %}" alt="ubc logo" />

        <div class="text-center text-secondary mt-4 mb-4">
          <h5 class="font-weight-normal">Number of Applications</h5>
          <h3 class="font-weight-bold">{{ job.application_set.all|length }}</h3>
        </div>

        <div class="ta-hours text-center bg-info text-white mb-5 p-3">
          <div>
            <h6 class="font-weight-normal">
              <i class="fa fa-star-o" aria-hidden="true"></i> Assigned TA Hours
            </h6>
            <h3 class="font-weight-bold">{{ job.assigned_ta_hours }} hours</h3>
          </div>
          <hr />
          <div>
            <h6 class="font-weight-normal">
              <i class="fa fa-star-o" aria-hidden="true"></i> Accumulated TA hours
            </h6>
            <h3 class="font-weight-bold">{{ job.ta_hours }} hours</h3>
          </div>
        </div>

        <a class="btn btn-outline-primary btn-block" href="{{ previous_url }}">Go back to a previous page</a>

        <div class="mt-5">
          <span>Is active:</span>
          {% if job.is_active %}
            <span class="badge badge-success">{{ job.is_active }} <i class="fa fa-check-circle" aria-hidden="true"></i></span>
          {% else %}
            <span class="badge badge-danger">{{ job.is_active }} <i class="fa fa-stop-circle" aria-hidden="true"></i></span>
          {% endif %}
        </div>

      </div>
    </div>

    <div class="col-md-6 offset-md-1">
      <div class="right-content">

        <div class="text-secondary mb-4">
          Created at {{ job.created_at }} <span class="ml-3 mr-3">|</span>
          Updated at {{ job.updated_at }}
        </div>

        <h5>{{ job.session.year }} {{ job.session.term.name }} ({{ job.session.term.code }})</h5>
        <h5 class="mb-3">
          Session Title: <span class="font-weight-normal">{{ job.session.title }}</span>
        </h5>

        <hr class="dotted" />

        <h4>{{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}</h4>
        <div class="text-secondary mb-4">{{ job.course.name }}</div>

        <h5>Instructors:</h5>
        <ul class="mb-4">
          {% for instructor in job.instructors.all %}
            <li>{{ instructor.first_name }} {{ instructor.last_name }}</li>
          {% empty %}
            No instructors found.
          {% endfor %}
        </ul>

        <div class="mb-4">
          <h3 class="font-weight-bold text-secondary">Title:</h3>
          {{ job.title }}
        </div>

        <div class="mb-4">
          <h3 class="font-weight-bold text-secondary">Description:</h3>
          <p>{{ job.description|safe }}</p>
        </div>

        <div class="mb-4">
          <h3 class="font-weight-bold text-secondary">Qualification:</h3>
          <p>{{ job.qualification|safe }}</p>
        </div>

        <div class="mb-4">
          <h3 class="font-weight-bold text-secondary">Note:</h3>
          <p>{{ job.note|safe }}</p>
        </div>

        {% if portal == 'Admin' %}
          <hr class="dotted" />

          <ul>
            <li>Job ID: {{ job.id }}</li>
            <li>Job Slug: {{ job.course.slug }}</li>
          </ul>
        {% endif %}
      </div>
    </div>
  </div>

</div>

{% endblock %}
