{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-5">
    {% include 'ta_app/pages/_header.html' with title='Course Sections' text=course_sections|length %}

    <div class="bg-prompt">
      <div class="prompt p-4 mb-4">
        <h4>Create Course Section</h4>

        <form action="{% url 'administrators:course_sections' %}" method="post">
          {% csrf_token %}

          {% for field in form.visible_fields  %}
            <div class="field-wrapper">
              {{ field.label_tag }}
              {% if field.help_text %}
                <div class="help">{{ field.help_text|safe }}</div>
              {% endif %}
              {{ field }}
            </div>
          {% endfor %}

          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}

          <input class="btn btn-primary mt-3" type="submit" value="Create" />
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-7">

    <table class="table table-bordered table-hover table-striped table-responsive-md text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for section in course_sections %}
          <tr>
            <td>{{ section.id }}</td>
            <td>{{ section.name }}</td>
            <td>
              <div class="btn-toolbar">
                <button class="btn btn-xs btn-primary mr-2" type="button" data-toggle="modal" data-target="#course-section-edit-modal-{{ section.id }}">Edit</button>

                <div class="modal fade" id="course-section-edit-modal-{{ section.id }}" tabindex="-1" role="dialog" aria-labelledby="course-section-edit-modal-label-{{ section.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-info" id="course-section-edit-modal-label-{{ section.id }}">Edit Course Section</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-left">
                        <div class="modal-item">
                          <form action="{% url 'administrators:edit_course_section' section.id %}" method="post">
                            {% csrf_token %}

                            <div class="field-wrapper">
                              <label for="id_name_{{ section.id }}">Name:</label>
                              <div class="help">Maximum characters: 5</div>
                              <input id="id_name_{{ section.id }}" type="text" name="name" maxlength="5" value="{{ section.name }}" class="form-control" />
                            </div>

                            <input class="btn btn-primary" type="submit" value="Update"/>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <form action="{% url 'administrators:delete_course_section' %}" method="post" onsubmit="return confirm('Are you sure to delete this course section - {{ section.name }} ?')">
                  {% csrf_token %}
                  <input type="hidden" name="course_section" value="{{ section.id }}" />
                  <input class="btn btn-xs btn-danger" type="submit" value="Delete" />
                </form>
              </div>
            </td>
          </tr>

        {% empty %}
          <tr>
            <td colspan="2">No course sections found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
