{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-5">
    {% include 'ta_app/pages/_header.html' with title='Course Sections' text=course_sections|length %}

    <div class="bg-prompt">
      <div class="prompt p-4 mb-4">
        <h4>Create Course Section</h4>

        <form action="{% url 'administrators:course_sections' %}" method="post">
          {% csrf_token %}
          <table>{{ form.as_table }}</table>
          <input class="btn btn-primary mt-3" type="submit" value="Create" />
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-7">

    <table class="table table-sm table-bordered table-hover table-striped table-responsive-md text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for section in course_sections %}
          <tr>
            <td>{{ section.id }}</td>
            <td>{{ section.name }}</td>
            <td>
              <div class="btn-toolbar">
                <button class="btn btn-sm btn-warning mr-2" type="button" data-toggle="modal" data-target="#course-section-edit-modal-{{ section.id }}">Edit</button>

                <div class="modal fade" id="course-section-edit-modal-{{ section.id }}" tabindex="-1" role="dialog" aria-labelledby="course-section-edit-modal-label-{{ section.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="course-section-edit-modal-label-{{ section.id }}">Course Sections: Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-left">
                        <form action="{% url 'administrators:edit_course_section' section.name %}" method="post">
                          {% csrf_token %}

                          <table class="table table-borderless">
                            <tr>
                              <td><label for="id_name" class="font-weight-bold">Name:</label></td>
                              <td><input id="id_name" type="text" name="name" maxlength="5" value="{{ section.name }}" /></td>
                            </tr>
                          </table>

                          <input class="btn btn-warning" type="submit" value="Update"/>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <form action="{% url 'administrators:delete_course_section' %}" method="post" onsubmit="return confirm('Are you sure to delete this course section - {{ section.name }} ?')">
                  {% csrf_token %}
                  <input type="hidden" name="course_section" value="{{ section.id }}" />
                  <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
                </form>
              </div>
            </td>
          </tr>

        {% empty %}
          <tr>
            <td colspan="2">No course sections found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
