{% extends 'ta_app/base.html' %}
{% block content %}

  {% include "administrators/util/_sidebar.html" %}

  <div id="content" class="container-fluid">

  {% include 'ta_app/_return_messages.html' with data=messages %}

  <h3>Course Numbers</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for number in course_numbers %}
        <tr>
          <td>{{ number.id }}</td>
          <td>{{ number.name }}</td>
          <td>
            <button type="button" data-toggle="modal" data-target="#course-number-edit-modal-{{ number.id }}">Edit</button>
            <div class="modal fade" id="course-number-edit-modal-{{ number.id }}" tabindex="-1" role="dialog" aria-labelledby="course-number-edit-modal-label-{{ number.id }}" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
    				    <div class="modal-content">
    				      <div class="modal-header">
    				        <h5 class="modal-title" id="course-number-edit-modal-label-{{ number.id }}">Edit a Course Number</h5>
    				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    				          <span aria-hidden="true">&times;</span>
    				        </button>
    				      </div>
    				      <div class="modal-body">
    								<form action="{% url 'administrators:edit_course_number' number.name %}" method="post">
    									{% csrf_token %}
                      <input type="text" name="name" maxlength="5" value="{{ number.name }}" />
    									<input type="submit" value="Update"/>
    								</form>
    				      </div>
    				    </div>
    				  </div>
    				</div>

            <form action="{% url 'administrators:delete_course_number' %}" method="post" onsubmit="return confirm('Are you sure to delete this course number - {{ number.name }} ?')">
              {% csrf_token %}
              <input type="hidden" name="course_number" value="{{ number.id }}" />
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">No course numbers found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr />

  <h3>Create a Course Number</h3>
  <form action="{% url 'administrators:course_numbers' %}" method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input type="submit" value="Create" />
  </form>

</div>

{% endblock %}
