{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-5">
    {% include 'ta_app/pages/_header.html' with title='Programs' text=programs|length %}

    <div class="bg-prompt">
      <div class="prompt p-4 mb-4">
        <h4>Create Program</h4>

        <form action="{% url 'administrators:programs' %}" method="post">
          {% csrf_token %}

          {% for field in form.visible_fields  %}
            <div class="field-wrapper">
              {{ field.label_tag }}
              {% if field.help_text %}
                <div class="help">{{ field.help_text|safe }}</div>
              {% endif %}
              {{ field }}
            </div>
          {% endfor %}

          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}

          <input class="btn btn-primary mt-3" type="submit" value="Create" />
        </form>
      </div>
    </div>

    <div class="mt-4">
      <span class="font-weight-bold">Note:</span> <code>Other</code> must be created because this system checks the ID of <code>Other</code> when students submit their profile.
    </div>
  </div>

  <div class="col-md-7">

    <table class="table table-bordered table-hover table-striped table-responsive-md">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for program in programs %}
          <tr>
            <td>{{ program.id }}</td>
            <td>{{ program.name }}</td>
            <td>
              <div class="btn-toolbar">
                <button class="btn btn-xs btn-primary mr-2" type="button" data-toggle="modal" data-target="#program-edit-modal-{{ program.id }}">Edit</button>

                <div class="modal fade" id="program-edit-modal-{{ program.id }}" tabindex="-1" role="dialog" aria-labelledby="program-edit-modal-label-{{ program.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-info" id="program-edit-modal-label-{{ program.id }}">Edit Program</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body text-left pt-0">
                        <div class="modal-item font-size-1 pt-0">
                          <form action="{% url 'administrators:edit_program' program.slug %}" method="post">
                            {% csrf_token %}

                            <div class="field-wrapper">
                              <label for="id_name_{{ program.id }}">Name:</label>
                              <input id="id_name_{{ program.id }}" type="text" name="name" value="{{ program.name }}" class="form-control" />
                            </div>

                            <input class="btn btn-primary" type="submit" value="Update" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <form action="{% url 'administrators:delete_program' %}" method="post" onsubmit="return confirm('Are you sure to delete this program - {{ program.name }} ?')">
                  {% csrf_token %}
                  <input type="hidden" name="program" value="{{ program.id }}" />
                  <input class="btn btn-xs btn-danger" type="submit" value="Delete" />
                </form>
              </div>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No programs found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
