{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-5">
    {% include 'ta_app/pages/_header.html' with title='Terms' text=terms|length %}

    <div class="bg-prompt">
      <div class="prompt p-4 mb-4">
        <h4>Create Term</h4>

        <form action="" method="post">
          {% csrf_token %}

          {% for field in form.visible_fields  %}
            <div class="field-wrapper">
              {{ field.label_tag }}
              {% if field.help_text %}
                <div class="help">{{ field.help_text|safe }}</div>
              {% endif %}
              {{ field }}
            </div>
          {% endfor %}

          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}

          <input class="btn btn-primary mt-3" value="Create" type="submit" />
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <table class="table table-bordered table-hover table-striped table-responsive-md text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Name</th>
          <th>By month</th>
          <th>Max hours</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for term in terms %}
          <tr>
            <td>{{ term.id }}</td>
            <td>{{ term.code }}</td>
            <td>{{ term.name }}</td>
            <td>{{ term.by_month }}</td>
            <td>{{ term.max_hours }}</td>
            <td>
              <div class="btn-toolbar">
                <button class="btn btn-xs btn-primary mr-2" type="button" data-toggle="modal" data-target="#term-edit-modal-{{ term.id }}">Edit</button>

                <div class="modal fade" id="term-edit-modal-{{ term.id }}" tabindex="-1" role="dialog" aria-labelledby="term-edit-modal-label-{{ term.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-info" id="term-edit-modal-label-{{ term.id }}">Edit Term</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body text-left">
                        <div class="modal-item">
                          <form action="{% url 'administrators:edit_term' term.id %}" method="post">
                            {% csrf_token %}

                            <div class="field-wrapper">
                              <label for="id_code_{{ term.id }}">Code:</label>
                              <div class="help">This field is unique and maximum characters: 20</div>
                              <input id="id_code_{{ term.id }}" type="text" name="code" maxlength="20" value="{{ term.code }}" class="form-control" />
                            </div>

                            <div class="field-wrapper">
                              <label for="id_name_{{ term.id }}">Name:</label>
                              <input id="id_name_{{ term.id }}" type="text" name="name" maxlength="256" value="{{ term.name }}" class="form-control" />
                            </div>

                            <div class="field-wrapper">
                              <label for="id_by_month_{{ term.id }}">By month:</label>
                              <div class="help">Minimun value: 1, Maximum Value: 12</div>
                              <input id="id_by_month_{{ term.id }}" type="number" name="by_month" maxlength="12" value="{{ term.by_month }}" class="form-control" />
                            </div>

                            <div class="field-wrapper">
                              <label for="id_max_hours_{{ term.id }}">Max hours:</label>
                              <div class="help">Minimun value: 0, Maximum Value: 4000</div>
                              <input id="id_max_hours_{{ term.id }}" type="number" name="max_hours" maxlength="4000" value="{{ term.max_hours }}" class="form-control" />
                            </div>

                            <input class="btn btn-primary" type="submit" value="Update Term" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <form action="{% url 'administrators:delete_term' %}" method="post" onsubmit="return confirm('Are you sure to delete {{ term.code }} - {{ term.name }}?');">
                  {% csrf_token %}
                  <input type="hidden" name="term" value="{{ term.id }}" />
                  <input class="btn btn-xs btn-danger" type="submit" value="Delete" />
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
