{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "administrators/_sidebar.html" %}

  <div id="content" class="container-fluid">

    <nav class="margin-top-10" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'administrators:terms' %}">Terms</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'administrators:show_term' term.code %}">Term Details</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Edit Term</li>
      </ol>
    </nav>

    {% if messages %}
    	{% for message in messages %}
    		<div class="alert alert-info">{{ message }}</div>
    	{% endfor %}
    {% endif %}

    <h1>Edit Term</h1>

    <form action="" method="post">
      {% csrf_token %}
      <table>{{ form.as_table }}</table>
      <input value="Update" type="submit" />
    </form>

  </div>
</div>




{% endblock %}
