{% extends 'ta_app/base.html' %}
{% block content %}

{% include "human_resources/_menu.html" %}

<div>
  {% include 'ta_app/pages/_header.html' with title='All Users' text=users|length %}

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-pagination="true"
    data-search="true"
    data-page-size="50"
    data-page-list="[50, 100, 200, all]"
    data-show-export="true"
    data-show-columns="true"
  >
    <thead>
      <tr>
        <th data-sortable="true">User<br /> ID</th>
        <th data-sortable="true">First<br /> Name</th>
        <th data-sortable="true">Last<br /> Name</th>
        <th data-sortable="true">Prefered<br /> Name</th>
        <th data-sortable="true">CWL</th>
        <th data-sortable="true">Student<br /> Number</th>
        <th data-sortable="true">Email</th>
        <th>Confidentiality</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>
          <a class="btn btn-xs btn-info" href="{% url 'human_resources:show_user' username=user.username %}">{{ user.id }}</a>
        </td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.profile.preferred_name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.profile.student_number }}</td>
        <td>{{ user.email }}</td>
        <td>
          <a href="{% url 'human_resources:view_confidentiality' username=user.username %}">View</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
