{% extends 'ta_app/base.html' %}
{% block content %}

{% include "human_resources/_menu.html" %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Confidentiality Details' data=user %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'human_resources:all_users' %}">Back to Confidentiality</a>
    </div>
  </div>

  <div class="col-md-8">

    <div>
      <nav class="mb-4">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-basic-info-tab" data-toggle="tab" href="#nav-basic-info-hr" role="tab" aria-controls="nav-basic-info" aria-selected="true">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> Basic Information
          </a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile-hr" role="tab" aria-controls="nav-profile" aria-selected="false">
            <i class="fa fa-id-card-o" aria-hidden="true"></i> Profile
          </a>

          {% if user.is_student %}
            <a class="nav-item nav-link" id="nav-resume-tab" data-toggle="tab" href="#nav-resume-hr" role="tab" aria-controls="nav-resume" aria-selected="false">
              <i class="fa fa-file-text-o" aria-hidden="true"></i> Resume
            </a>
          {% endif %}

        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-basic-info-hr" role="tabpanel" aria-labelledby="nav-basic-info-tab">
          <div class="board col-11 mx-auto">
            <h3>Basic Information</h3>
            {% include 'ta_app/users/_basic_info.html' with data=user %}

            <div>
              <h5>User ID:</h5>
              <span>{{ user.id }}</span>
            </div>

            <div>
              <h5>Role:</h5>
              <ul>
                {% for role in user.profile.roles.all %}
                  <li>{{ role.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-profile-hr" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="board col-11 mx-auto">
            <h3>Profile</h3>
            {% include 'ta_app/users/_profile.html' with data=user %}
          </div>
        </div>

        {% if user.is_student %}
          <div class="tab-pane fade" id="nav-resume-hr" role="tabpanel" aria-labelledby="nav-resume">
            <div class="board col-11 mx-auto">
              <h3>Resume</h3>
              {% if user.resume_filename %}
                <a href="{% url 'students:download_resume' username=user.username filename=user.resume_filename %}" target="_blank">
                  {{ user.resume_filename }}
                </a>
                | {{ user.resume.created_at }}
              {% else %}
                None
              {% endif %}
            </div>
          </div>
        {% endif %}

      </div>

    </div>

  </div>
</div>



<div id="content" class="container-fluid">

  <div class="mb-4"></div>


</div>

{% endblock %}
