{% extends 'ta_app/base.html' %}
{% block content %}

{% include "human_resources/_menu.html" %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Confidentiality Details' data=user %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'human_resources:all_users' %}">Back to Confidentiality</a>
    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      <h3>Details</h3>

      {% include 'ta_app/users/_confidentiality.html' with data=user %}
    </div>

  </div>
</div>

{% endblock %}
