{% extends 'ta_app/base.html' %}
{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'administrators:index' %}">administrators</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'users:roles' %}">Roles</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Role Details</li>
  </ol>
</nav>


{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>Role Details</h1>

<div class="">
  Role Name: {{ role.name }}
</div>

<a href="{% url 'users:roles' %}">Back to Roles</a>



{% endblock %}
