{% extends 'ta_app/base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-3">
    {% include "department/subpages/_sidebar_menu.html" %}
  </div>
  <div class="col-md-9">

    {% if messages %}
    	{% for message in messages %}
    		<div class="alert alert-info">{{ message }}</div>
    	{% endfor %}
    {% endif %}

    <h3>Courses</h3>

    <div class="bd-callout bd-callout-warning">
      <h5>Checkpoint!</h5>
      <p>
        Text area
      </p>
    </div>

    <h5>Create a course</h5>
    <form action="" method="post">
      {% csrf_token %}
      <table>{{ form.as_table }}</table>
      <input value="Create" type="submit" />
    </form>

    <hr />

    <table class="table table-sm table-striped" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
      <thead>
        <tr>
          <th data-sortable="true">Course</th>
          <th data-sortable="true">Term</th>
          <th data-sortable="true">Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course.code }} {{ course.number }} {{ course.section }}</td>
            <td>{{ course.term.code }}</td>
            <td>{{ course.name }}</td>
            <td>
              <a class="btn btn-sm btn-warning margin-top-10" href="{% url 'department:edit_course' course.slug %}">Edit</a>

              <form action="{% url 'department:delete_course' %}" method="post" onsubmit="return confirm('Are you sure to delete {{ course.code }} {{ course.number }} {{ course.section }} - {{ course.name }}?');">
      					{% csrf_token %}
                <input type="hidden" name="course" value="{{ course.id }}">
      					<input class="btn btn-sm btn-danger" type="submit" value="Delete" />
      				</form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
