{% extends 'ta_app/base.html' %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'department:index' %}">Department</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'users:statuss' %}">statuss</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Status Details</li>
  </ol>
</nav>


{% if messages %}
	{% for message in messages %}
		<div>{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>Status Details</h1>

<div class="">
  Status Name: {{ status.name }}
</div>

<a href="{% url 'users:statuss' %}">Back to Statuses</a>



{% endblock %}
