{% if data == 'instructor' %}
  <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:instructor_jobs' %}">Jobs by Instructor</a>

{% elif data == 'student' %}
  <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:student_jobs' %}">Jobs by Student</a>

{% elif data == 'dashboard' %}
  <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:applications_dashboard' %}">Dashboard</a>

{% elif data == 'all' %}
  <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:all_applications' %}">All Applications</a>

{% elif data == 'selected' %}
  <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:selected_applications' %}">Selected Applications</a>

{% elif data == 'offered' %}
  <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:offered_applications' %}">Offered Applications</a>

{% elif data == 'accepted' %}
  <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:accepted_applications' %}">Accepted Applications</a>

{% elif data == 'declined' %}
  <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:declined_applications' %}">Declined Applications</a>

{% elif data == 'users' %}
  <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:all_users' %}">All Users</a>

{% elif data == 'trim' %}
  <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:trim_users' %}">Trim Users</a>

{% else %}
  <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:hr' %}">Users</a>

{% endif %}
