{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='Admin Documents' %}

  {% include 'administrators/applications/_search_fields.html' with data=apps total=total_apps path='all_admin_docs' %}
  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">ID</th>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Job</th>
        <th data-sortable="true">First Name</th>
        <th data-sortable="true">Last Name</th>
        <th data-sortable="true">CWL</th>
        <th data-sortable="true">International<br /> Student</th>
        <th data-sortable="true">Employee<br /> Number</th>
        <th data-sortable="true">Classification</th>
        <th data-sortable="true">Wage <br /> (CAD)</th>
        <th data-sortable="true">Salary</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
        <tr>
          <td>{{ app.id }}</td>
          <td>{{ app.job.session.year }}</td>
          <td>{{ app.job.session.term.code }}</td>
          <td>{{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</td>
          <td>{{ app.applicant.first_name }}</td>
          <td>{{ app.applicant.last_name }}</td>
          <td>{{ app.applicant.username }}</td>
          <td>
            {% if app.applicant.confidentiality.is_international %}
              {% if app.applicant.confidentiality.is_international == True %} Yes {% else %} No {% endif %}
            {% endif %}
          </td>
          <td>
            {% if app.applicant.confidentiality.employee_number %}
              {{ app.applicant.confidentiality.employee_number }}
            {% else %}
              <span class="badge badge-danger">NEW</span>
            {% endif %}
          </td>
          <td>
            {% include 'ta_app/applications/_app_classification.html' with data=app %}<br />
            {% include 'ta_app/applications/_modal_note.html' with data=app display='name' %}
          </td>
          <td>${{ app.classification.wage|floatformat:2 }}</td>
          <td>${{ app.salary|floatformat:2 }}</td>
          <td>{{ app.created_at }}</td>
          <td>{{ app.updated_at }}</td>
          <td>
            <div class="btn-toolbar">
              <a class="btn btn-xs btn-link" href="{% url 'administrators:view_admin_docs' app_slug=app.slug %}">View</a><br />
              <a class="btn btn-xs btn-link" href="{% url 'administrators:edit_admin_docs' app_slug=app.slug %}">Edit</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=users %}

</div>

{% endblock %}
