{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='Admin Documents' %}

  {% include 'ta_app/users/_search_fields.html' with data=users total=total_users path='all_admin_docs' %}

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
  >
    <thead>
      <tr>
        <th data-sortable="true">ID</th>
        <th data-sortable="true">First<br /> Name</th>
        <th data-sortable="true">Last<br /> Name</th>
        <th data-sortable="true">CWL</th>
        <th data-sortable="true">International<br /> Student</th>
        <th data-sortable="true">Employee<br /> Number</th>
        <th>PIN</th>
        <th>TASM</th>
        <th>eForm</th>
        <th>Speed<br />Chart</th>
        <th>Processing<br />Note</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.username }}</td>
          <td>
            {% if user.confidentiality.is_international %}
              {% if user.confidentiality.is_international == True %} Yes {% else %} No {% endif %}
            {% else %}
              None
            {% endif %}
          </td>
          <td>
            {% if user.confidentiality.employee_number %}
              {{ user.confidentiality.employee_number }}
            {% else %}
              <span class="badge badge-danger">NEW</span>
            {% endif %}
          </td>
          <td>{{ user.confidentiality.pin }}</td>
          <td>{{ user.confidentiality.tasm }}</td>
          <td>{{ user.confidentiality.eform }}</td>
          <td>{{ user.confidentiality.speed_chart }}</td>
          <td>{% include 'ta_app/users/_modal_processing_note.html' with data=user.confidentiality %}</td>
          <td>{{ user.confidentiality.created_at }}</td>
          <td>{{ user.confidentiality.updated_at }}</td>
          <td>
            <div class="btn-toolbar">
              <a class="btn btn-xs btn-link" href="{% url 'administrators:view_admin_docs' username=user.username %}">View</a><br />
              <a class="btn btn-xs btn-link" href="{% url 'administrators:edit_admin_docs' username=user.username %}">Edit</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=users %}

</div>

{% endblock %}
