{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='All Users' %}

  <div class="row">
    <div class="col-md-6">
      {% include 'ta_app/users/_search_fields.html' with data=users total=total_users path='all_users' %}
    </div>

    <div class="col-md-6">
      <div class="bg-light-gray p-4" style="height:142.8px">
        <h5>Note:</h5>
        <ul class="font-size-sm">
          <li>
            This icon <span class="badge badge-success"><i class="fa fa-check-square-o" aria-hidden="true"></i></span> represents that <code>I am a new employee</code> field is checked.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">User<br /> ID</th>
        <th data-sortable="true">First<br /> Name</th>
        <th data-sortable="true">Last<br /> Name</th>
        <th data-sortable="true">Prefered<br /> Name</th>
        <th data-sortable="true">CWL</th>
        <th data-sortable="true">Student<br /> Number</th>
        <th data-sortable="true">Employee<br /> Number</th>
        <th data-sortable="true">E-mail</th>
        <th data-sortable="true">Role</th>
        <th data-sortable="true">Superuser <br />Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'users:show_user' username=user.username %}?next={{ new_next }}&p=All Users&t=basic">{{ user.id }}</a>
          </td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>
            {% if user.profile.preferred_name %}
              {{ user.profile.preferred_name }}
            {% endif %}
          </td>
          <td>{{ user.username }}</td>
          <td>
            {% if user.profile.student_number %}
              {{ user.profile.student_number }}
            {% endif %}
          </td>
          <td>
            {% if user.confidentiality.employee_number %}
              {{ user.confidentiality.employee_number }}
            {% else %}
              <span class="badge badge-danger">NEW</span>
            {% endif %}

            {% if user.confidentiality.is_new_employee == True %}
              <br />
              <span class="badge badge-success"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
            {% endif %}
          </td>
          <td>{{ user.email }}</td>
          <td>
            {% for role in user.profile.roles.all %}
              {% include 'ta_app/users/_role.html' with data=role.name %}
            {% empty %}
              None
            {% endfor %}
          </td>
          <td>
            {% if user.is_superuser%}
              <i class="fa fa-check-circle text-chocolate font-size-1 vertical-middle" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td>
            <div class="btn-toolbar">
              <a class="btn btn-xs btn-link mr-2" href="{% url 'administrators:edit_user' username=user.username %}?next={{ new_next }}&p=All Users">Edit</a>
              <a class="btn btn-xs btn-danger mr-2" href="{% url 'administrators:delete_user_confirmation' username=user.username %}?next={{ new_next }}&p=All Users">Delete</a>
            </div>
            <div class="mt-2">
              {% if loggedin_user.is_superuser %}

                {% for role in user.profile.roles.all %}
                  {% if role.name == "Student" %}
                    <a class="btn btn-xs btn-info" href="/impersonate/{{ user.id }}/?next={% url 'students:index' %}">Masquerade</a>
                  {% endif %}

                  {% if role.name == "Instructor" %}
                    <a class="btn btn-xs btn-info" href="/impersonate/{{ user.id }}/?next={% url 'instructors:index' %}">Masquerade</a>
                  {% endif %}
                {% endfor %}

              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=users %}

</div>

{% endblock %}
