{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='All Users' %}

  <div class="bg-prompt">
    <div class="prompt p-4 text-center mb-4">
      <h4>New</h4>
      <p class="col-8 mx-auto">If you would like to create a new user, please click the botton below.</p>
      <a class="btn btn-outline-primary" href="{% url 'administrators:create_user' %}">Create User</a>
    </div>
  </div>

  {% include 'ta_app/users/_search_fields.html' with data=users path='all_users' %}

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
  >
    <thead>
      <tr>
        <th data-sortable="true">User<br /> ID</th>
        <th data-sortable="true">First<br /> Name</th>
        <th data-sortable="true">Last<br /> Name</th>
        <th data-sortable="true">Prefered<br /> Name</th>
        <th data-sortable="true">CWL</th>
        <th data-sortable="true">Student<br /> Number</th>
        <th data-sortable="true">E-mail</th>
        <th data-sortable="true">Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'administrators:show_user' username=user.username path='users' %}">{{ user.id }}</a>
          </td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.profile.preferred_name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.profile.student_number }}</td>
          <td>{{ user.email }}</td>
          <td>
            {% for role in user.profile.roles.all %}
              {% include 'ta_app/users/_role.html' with data=role.name %}
            {% empty %}
              None
            {% endfor %}
          </td>
          <td>
            <div class="btn-toolbar">
              <a class="btn btn-xs btn-link mr-2" href="{% url 'administrators:edit_user' username=user.username %}">Edit</a>

              <form action="{% url 'administrators:delete_user' %}" method="post" onsubmit="return confirm('Are you sure to delete {{ user.first_name }} {{ user.last_name }} ({{ user.username }})?');">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ user.id }}" />
                <input class="btn btn-xs btn-danger mr-2" type="submit" value="Delete" />
              </form>

              {% if loggedin_user.is_superuser %}

                {% for role in user.profile.roles.all %}
                  {% if role.name == "Student" %}
                    <a class="btn btn-xs btn-info mr-2" href="/impersonate/{{ user.id }}/?next=/students/">Login</a>
                  {% endif %}

                  {% if role.name == "Instructor" %}
                    <a class="btn btn-xs btn-info mr-2" href="/impersonate/{{ user.id }}/?next=/instructors/">Login</a>
                  {% endif %}
                {% endfor %}

              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=users %}

</div>

{% endblock %}
