{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
    {% include "administrators/util/_sidebar.html" %}

	<div id="content" class="container-fluid">
		{% if messages %}
			{% for message in messages %}
				<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			{% endfor %}
		{% endif %}

		<h3>Create a User</h3>

		<form action="" method="post">
		{% csrf_token %}

		<table>{{ user_form.as_table }}</table>

		<div>
			<label for="id_preferred_name">Preferred Name (Optional):</label>
			<input type="text" name="preferred_name" id="id_preferred_name" />
		</div>

		<h5>Roles:</h5>
		{% for role in roles %}
			<div>
				<input type="checkbox" name="roles" value="{{ role.id }}" /> {{ role.name }}
			</div>
		{% endfor %}
		<input type="submit" value="Create" />
		</form>
	</div>
</div>




{% comment %}
<h3 class="margin-top-30">Create a user</h3>
<div class="new-user-form padding-20">
	<form action="" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="id_first_name">First Name</label>
			<input id="id_first_name" type="text" name="first_name" required="" maxlength="30" class="form-control" placeholder="First Name">
		</div>
		<div class="form-group">
			<label for="id_last_name">Last Name</label>
			<input id="id_last_name" type="text" name="last_name" required="" maxlength="150" class="form-control" placeholder="Last Name">
		</div>
		<div class="form-group">
			<label for="id_email">Email</label>
			<input id="id_email" type="email" name="email" required="" maxlength="254" class="form-control" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="id_username">CWL</label>
			<input id="id_usernamename" type="text" name="username" required="" maxlength="150" class="form-control" placeholder="Username">
		</div>
		<input type="submit" class="btn btn-success" value="Submit"/>
	</form>
</div>
{% endcomment %}


{% endblock %}
