{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
		{% include 'ta_app/pages/_header.html' with title='Create User' %}

    <div class="bg-prompt">
      <div class="prompt p-4 mb-4">
				<h4>Current Users</h4>
				<p>There are <span class="font-weight-bold">{{ users|length }}</span> users.</p>
				<a class="btn btn-outline-primary" href="{% url 'administrators:all_users' %}">Back to All Users</a>
      </div>
    </div>
  </div>

  <div class="col-md-8">
		<div class="board col-11 mx-auto">
			<h3>Form</h3>

			<form action="" method="post">
				{% csrf_token %}

				{% for field in user_form.visible_fields  %}
					<div class="field-wrapper">
						{{ field.label_tag }}
						{% if field.help_text %}
							<div class="help">{{ field.help_text|safe }}</div>
						{% endif %}
						{{ field }}
					</div>
				{% endfor %}

				{% for field in user_form.hidden_fields %}
					{{ field }}
				{% endfor %}

        {% for field in user_profile_form.visible_fields  %}
					<div class="field-wrapper">
						{{ field.label_tag }}
						{% if field.help_text %}
							<div class="help">{{ field.help_text|safe }}</div>
						{% endif %}
						{{ field }}
					</div>
				{% endfor %}

				{% for field in user_profile_form.hidden_fields %}
					{{ field }}
				{% endfor %}

        {% comment %}
				<div class="field-wrapper">
					<label for="id_roles">Roles:</label>
					{% for role in roles %}
						<div>
							<input type="checkbox" name="roles" value="{{ role.id }}" /> {{ role.name }}
						</div>
					{% endfor %}
				</div>
        {% endcomment %}

        <a class="btn btn-outline-secondary" href="{% url 'administrators:all_users' %}">Cancel</a>
				<input class="btn btn-primary" type="submit" value="Create" />
			</form>

		</div>
  </div>
</div>


{% comment %}
<h3 class="margin-top-30">Create a user</h3>
<div class="new-user-form padding-20">
	<form action="" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="id_first_name">First Name</label>
			<input id="id_first_name" type="text" name="first_name" required="" maxlength="30" class="form-control" placeholder="First Name">
		</div>
		<div class="form-group">
			<label for="id_last_name">Last Name</label>
			<input id="id_last_name" type="text" name="last_name" required="" maxlength="150" class="form-control" placeholder="Last Name">
		</div>
		<div class="form-group">
			<label for="id_email">Email</label>
			<input id="id_email" type="email" name="email" required="" maxlength="254" class="form-control" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="id_username">CWL</label>
			<input id="id_usernamename" type="text" name="username" required="" maxlength="150" class="form-control" placeholder="Username">
		</div>
		<input type="submit" class="btn btn-success" value="Submit"/>
	</form>
</div>
{% endcomment %}


{% endblock %}
