{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
		{% include 'ta_app/pages/_header.html' with title='Delete User' %}

    <div class="bg-prompt">
      <div class="prompt p-4 mb-4">
        <h4>Current Users</h4>
				<p>There are <span class="font-weight-bold">{{ users|length }}</span> users.</p>
				<a class="btn btn-outline-primary" href="{% url 'administrators:all_users' %}">Back to All Users</a>
      </div>
    </div>
  </div>

  <div class="col-md-8">
		<div class="board col-11 mx-auto">
			<h3>Confirmation</h3>

      <div class="bd-callout bd-callout-warning bg-light-gray">
        <h4>
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Notice
        </h4>
        <p>This action causes the deletion of the user’s CWL login details, profile information, confidential information and all history of applications submitted by the users.</p>
        <p>Accumulated TA hours in jobs which are associated with this user have been reduced.</p>
      </div>

      <h5 class="text-danger">Are you sure to delete this user?</h5>

      <div>
        <h6>User Details:</h6>
        {% include 'ta_app/users/_modal_user_details.html' with data=user %}
      </div>
      <div>
        <h6>Resume:</h6>
        {% if user.resume_filename %}
          <a href="{% url 'students:download_file' username=user.username item='resume' filename=user.resume_filename %}" target="_blank">
            {{ user.resume_filename }}
          </a>
        {% else %}
          <span>None</span>
        {% endif %}
      </div>
      <div>
        <h6>Confidential Information:</h6>
        {% if user.confidentiality %}
          <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#delete-user-confidentiality-modal-{{ user.id }}">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
          </button>

          <div class="modal fade" id="delete-user-confidentiality-modal-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-user-confidentiality-modal-label-{{ user.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-info" id="delete-user-confidentiality-modal-label-{{ user.id }}">Confidential Information</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-item text-left font-size-1">
                  {% include 'ta_app/users/_confidentiality.html' with data=user %}
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <span>None</span>
        {% endif %}
      </div>
      <div>
        <h6>Applications:</h6>
        <span>
          {% if apps|length > 0 %}
            <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#delete-user-apps-modal-{{ user.id }}">
              {{ apps|length }}
            </button>

            <div class="modal fade" id="delete-user-apps-modal-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-user-apps-modal-label-{{ user.id }}" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-info" id="delete-user-apps-modal-label-{{ user.id }}">Applications</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-item text-left font-size-1">

                    <table class="table table-sm table-bordered table-hover table-striped table-responsive-md text-center">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Year</th>
                          <th>Term</th>
                          <th>Job</th>
                          <th>Status</th>
                          <th>Classification</th>
                          <th>Created at</th>
                          <th>Updated at</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for app in apps %}
                          <tr>
                            <td>{{ app.id }}</td>
                            <td>{{ app.job.session.year }}</td>
                            <td>{{ app.job.session.term.code }}</td>
                            <td>{{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</td>
                            <td>{% include 'ta_app/applications/_app_status.html' with data=app.applicationstatus_set.last.get_assigned_display %}</td>
                            <td>
                              {% if app.classification %}
                                {{ app.classification.year }} {{ app.classification.name }}
                              {% else %}
                                None
                              {% endif %}
                            </td>
                            <td>{{ app.created_at }}</td>
                            <td>{{ app.updated_at }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          {% else %}
            None
          {% endif %}
        </span>
      </div>

      <form action="{% url 'administrators:delete_user' %}" method="post" class="mt-5">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.id }}" />

        <a class="btn btn-outline-secondary" href="{% url 'administrators:all_users' %}">Cancel</a>
        <input class="btn btn-danger" type="submit" value="Delete" />
      </form>
		</div>
  </div>
</div>

{% endblock %}
