{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='Destroy User Contents' text=users|length %}

  <div class="bd-callout bd-callout-warning col-8 mx-auto">
    <h4>
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Notice
    </h4>
    <p>
      Users who logged in before the date (<span class="font-weight-bold text-danger">{{ target_date }}</span>) are in the table below.
      If you would like to destroy permanently all of their contents such as profile, resume and confidential information, please click on the Destroy button below.
    </p>
    <p>
      <code>Is trimmed</code> is False by default. It would be True if administrators destroy the contents of users who haven't logged in for 3 years. Only users whose <code>Is trimmed</code> is False will show up in the table below.
    </p>
  </div>

  <form action="" method="post" onsubmit="return confirm('Are you sure to remove the information of those users?')">
    {% csrf_token %}

    <table
      class="table table-bordered table-hover table-striped table-responsive-md text-center"
      data-toggle="table"
      data-sortable="true"
      data-classes=""
      data-pagination="true"
      data-search="true"
      data-page-size="50"
      data-page-list="[50, 100, 200, all]"
      data-show-export="true"
      data-show-columns="true"
      data-export-types="['csv']"
    >
      <thead>
        <tr>
          <th>Select</th>
          <th data-sortable="true">User ID</th>
          <th>Full Name</th>
          <th>Resume</th>
          <th>Confidential<br /> Information</th>
          <th>Student<br /> Number</th>
          <th>Role</th>
          <th data-sortable="true">Date Joined</th>
          <th data-sortable="true">Last Login</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>
              <input type="checkbox" name="user" value="{{ user.id }}" />
            </td>
            <td>{{ user.id }}</td>
            <td>{% include 'ta_app/users/_modal_user_details.html' with data=user undergrad_status_id=undergrad_status_id %}</td>
            <td>
              {% if user.resume_filename %}
                <a href="{% url 'students:download_file' username=user.username item='resume' filename=user.resume_filename %}" target="_blank">
                  {{ user.resume_filename }}
                </a>
              {% else %}
                <span>None</span>
              {% endif %}
            </td>
            <td>
              {% if user.confidentiality %}
                <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#destroy-user-confidentiality-modal-{{ user.id }}">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </button>

                <div class="modal fade" id="destroy-user-confidentiality-modal-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="destroy-user-confidentiality-modal-label-{{ user.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-info" id="destroy-user-confidentiality-modal-label-{{ user.id }}">Confidential Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-item text-left font-size-1">
                        {% include 'ta_app/users/_confidentiality.html' with data=user %}
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}
                <span>None</span>
              {% endif %}
            </td>
            <td>{{ user.profile.student_number }}</td>
            <td>
              {% for role in user.profile.roles.all %}
                {% include 'ta_app/users/_role.html' with data=role.name %}
              {% endfor %}
            </td>
            <td>{{ user.date_joined }}</td>
            <td>{{ user.last_login }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <input class="btn btn btn-danger mt-3" type="submit" value="Destroy User Contents" />
  </form>

</div>

{% endblock %}
