{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' app_name=app_name title='User Details' data=user %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'administrators:all_users' %}">Back to All Users</a>
    </div>
  </div>

  <div class="col-md-8">

    <div class="board col-11 mx-auto">

      <form action="" method="post">
        {% csrf_token %}

        {% for field in user_form.visible_fields  %}
          <div class="field-wrapper">
            {{ field.label_tag }}
            {% if field.help_text %}
              <div class="help">{{ field.help_text|safe }}</div>
            {% endif %}
            {{ field }}
          </div>
        {% endfor %}

        {% for field in user_form.hidden_fields %}
          {{ field }}
        {% endfor %}

        {% for field in user_profile_form.visible_fields  %}
          <div class="field-wrapper">
            {{ field.label_tag }}
            {% if field.help_text %}
              <div class="help">{{ field.help_text|safe }}</div>
            {% endif %}
            {{ field }}
          </div>
        {% endfor %}

        {% for field in user_profile_form.hidden_fields %}
          {{ field }}
        {% endfor %}
        
        <a class="btn btn-outline-primary" href="{% url 'administrators:all_users' %}">Cancel</a>
        <input class="btn btn-primary" type="submit" value="Update" />
      </form>

    </div>

  </div>
</div>

{% endblock %}
