{% extends 'ta_app/base.html' %}
{% block content %}
{% include 'administrators/_menu.html' %}

<div class="row">
  <div class="col-md-5">
    {% include 'ta_app/pages/_header.html' with title='Roles' text=roles|length %}

    <div class="bg-prompt">
      <div class="prompt p-4 mb-4">
        <h4>Create Role</h4>

        <form action="" method="post">
          {% csrf_token %}

          {% for field in form.visible_fields  %}
            <div class="field-wrapper">
              {{ field.label_tag }}
              {% if field.help_text %}
                <div class="help">{{ field.help_text|safe }}</div>
              {% endif %}
              {{ field }}
            </div>
          {% endfor %}

          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}

          <input class="btn btn-primary mt-3" type="submit" value="Create" />
        </form>

      </div>
    </div>

  </div>
  <div class="col-md-7">

    <table class="table table-bordered table-hover table-striped table-responsive-md text-center" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for role in roles %}
          <tr>
            <td>{{ role.id }}</td>
            <td>{{ role.name }}</td>
            <td>
              <div class="btn-toolbar">
                <button class="btn btn-xs btn-primary mr-2" type="button" data-toggle="modal" data-target="#role-edit-modal-{{ role.id }}">Edit</button>

                <div class="modal fade" id="role-edit-modal-{{ role.id }}" tabindex="-1" role="dialog" aria-labelledby="role-edit-modal-label-{{ role.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-info" id="role-edit-modal-label-{{ role.id }}">Edit Role</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body text-left">
                        <div class="modal-item">
                          <form action="{% url 'administrators:edit_role' role.slug %}" method="post">
                            {% csrf_token %}
                            <div class="field-wrapper">
                              <label for="id_name_{{ role.id }}">Name:</label>
                              <input id="id_name_{{ role.id }}" type="text" name="name" maxlength="256" value="{{ role.name }}" class="form-control" />
                            </div>
                            <input class="btn btn-primary mt-3" type="submit" value="Update" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <form action="{% url 'administrators:delete_role' %}" method="post" onsubmit="return confirm('Are you sure to delete {{ role.name }}?');">
                  {% csrf_token %}
                  <input type="hidden" name="role" value="{{ role.id }}" />
                  <input class="btn btn-xs btn-danger" type="submit" value="Delete" />
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>


{% endblock %}
