{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='User Details' data=user %}

    {% if user.is_student %}
      <div class="col-10 mx-auto mt-5 text-center">
        <h5 class="text-info">
          <i class="fa fa-cloud-download" aria-hidden="true"></i> Resume
        </h5>
          {% if user.resume_filename %}
            <a href="{% url 'students:download_file' username=user.username item='resume' filename=user.resume_filename %}" target="_blank">
              {{ user.resume_filename }}
            </a><br />
            <small class="text-muted">Uploaded at {{ user.resume.created_at }}</small>
          {% else %}
            None
          {% endif %}
        </div>
    {% endif %}

    <div class="left-aside-btn-groups mt-5">
      {% include 'administrators/hr/_go_back.html' with data=path %}
    </div>
  </div>

  <div class="col-md-8">

    <nav class="mb-4">
      <div class="nav nav-tabs">
        <a class="nav-item nav-link {% if current_tab == 'basic' %} active {% endif %}" href="{% url 'administrators:show_user' username=user.username path=path tab='basic' %}">
          <span class="mobile-hide-xs"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
          Basic
          <span class="mobile-hide">Information</span>
        </a>

        {% if user.is_student %}
          <a class="nav-item nav-link {% if current_tab == 'additional' %} active {% endif %}" href="{% url 'administrators:show_user' username=user.username path=path tab='additional' %}">
            <span class="mobile-hide-xs"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
            Additional
            <span class="mobile-hide">Information</span>
          </a>
          <a class="nav-item nav-link {% if current_tab == 'confidential' %} active {% endif %}" href="{% url 'administrators:show_user' username=user.username path=path tab='confidential' %}">
            <span class="mobile-hide-xs"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
            Confidential
            <span class="mobile-hide">Information</span>
          </a>
        {% endif %}
      </div>
    </nav>

    {% if current_tab == 'additional' %}

      {% if user.is_student %}
        <div class="board col-11 mx-auto">
          <h3>Additional Information</h3>
          {% include 'ta_app/users/_profile.html' with data=user %}

          <div>
            <h6>Is trimmed:</h6>
            <span>{{ user.profile.is_trimmed }}</span>
          </div>
        </div>
      {% endif %}

    {% elif current_tab == 'confidential' %}

      {% if user.is_student %}
        <div class="board col-11 mx-auto">
          <h3>Confidential Information</h3>
          {% include 'ta_app/users/_confidentiality.html' with data=user %}
        </div>
      {% endif %}

    {% else %}

      <div class="board col-11 mx-auto">
        <h3>Basic Information</h3>

        {% if user.is_student %}
          {% include 'ta_app/users/_basic_info.html' with data=user student_number_display='True' %}
        {% else %}
          {% include 'ta_app/users/_basic_info.html' with data=user student_number_display='False' %}
        {% endif %}

        <div>
          <h6>User ID:</h6>
          <span>{{ user.id }}</span>
        </div>

        <div>
          <h6>Superuser status:</h6>
          <div><small class="text-muted">This field is necessary for Masquerade. If an user's role is an administrator or super-administrator, please select this field.</small></div>
          <span>
            {% if user.is_superuser %}
              Yes
            {% else %}
              No
            {% endif %}
          </span>
        </div>

      </div>

    {% endif %}

  </div>
</div>

{% endblock %}
