{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "administrators/util/_sidebar.html" %}

  <div id="content" class="container-fluid">
    <h3>View Confidentiality</h3>

    <table class="table table-sm table-striped" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
      <thead>
        <tr>
          <th>ID</th>
          <th data-sortable="true">First Name</th>
          <th data-sortable="true">Last Name</th>
          <th data-sortable="true">CWL</th>
          <th data-sortable="true">E-mail</th>
          <th data-sortable="true">International Student</th>
          <th>SIN</th>
          <th>Study Permit</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.confidentiality.is_international }}</td>
            <td>
              {% if user.sin_data %}
                <a href="{{ user.sin_data.url }}" download="{{ user.sin_data.filename }}">{{ user.sin_data.filename }}</a>
                (Expiry Date: {{ user.confidentiality.sin_expiry_date }})
              {% endif %}
            </td>
            <td>
              {% if user.study_permit_data %}
                <a href="{{ user.study_permit_data.url }}" download="{{ user.study_permit_data.filename }}">{{ user.study_permit_data.filename }}</a>
                (Expiry Date: {{ user.confidentiality.study_permit_expiry_date }})
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="9">No users found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
