{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='View Admin Docs' data=user %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'administrators:all_admin_docs' %}">Back to Admin Documents</a>
    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      <h3>Details</h3>
      {% include 'ta_app/users/_confidentiality.html' with data=user role='administrator' %}

      <a class="btn btn-primary mt-3" href="{% url 'administrators:edit_admin_docs' username=user.username %}">Edit Admin Documents</a>
    </div>
  </div>
</div>

{% endblock %}
