{% extends 'ta_app/base.html' %}
{% block content %}

{% if role == 'administrator' %}
  {% include 'administrators/util/_sidebar.html' %}
{% elif role == 'human_resource' %}
  {% include 'human_resources/util/_sidebar.html' %}
{% elif role == 'instructor' %}
  {% include 'instructors/util/_sidebar.html' %}
{% elif role == 'student' %}
  {% include 'students/util/_sidebar.html' %}
{% endif %}

<div id="content" class="container-fluid">
  <h3>View Confidentiality</h3>

  <div>User ID: {{ user.id }}</div>
  <div>First Name: {{ user.first_name }}</div>
  <div>Last Name: {{ user.last_name }}</div>
  <div>Username: {{ user.username }}</div>
  <div>E-mail: {{ user.email }}</div>
  <div>International Student: {{ user.confidentiality.is_international }}</div>
  <div>
    SIN:
    {% if user.sin_data %}
      <img src="{{ user.sin_data.url }}" width="{{ user.sin_data.width }}" height="{{ user.sin_data.height }}" alt="SIN-image" />

      <a href="{{ user.sin_data.url }}" download="{{ user.sin_data.filename }}">{{ user.sin_data.filename }}</a>
      <div>Expiry Date: {{ user.confidentiality.sin_expiry_date }}</div>

    {% endif %}
  </div>
  <div>
    Study Permit:
    {% if user.study_permit_data %}
      <img src="{{ user.study_permit_data.url }}" width="{{ user.study_permit_data.width }}" height="{{ user.study_permit_data.height }}" alt="Study-Permit-image" />

      <a href="{{ user.study_permit_data.url }}" download="{{ user.study_permit_data.filename }}">{{ user.study_permit_data.filename }}</a>
      <div>Expiry Date: {{ user.confidentiality.study_permit_expiry_date }}</div>
    {% endif %}
  </div>

  {% if role == 'administrator' %}
    <a href="{% url 'administrators:users' %}">Go back to All Users</a>
  {% elif role == 'human_resource' %}
    <a href="{% url 'human_resources:users_confidentiality' %}">Go back to Users' Confidentiality</a>
  {% endif %}

</div>

{% endblock %}
