{% extends 'ta_app/base.html' %}
{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'administrators:index' %}">administrators</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'administrators:course_codes' %}">Course Codes</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Course Code Details</li>
  </ol>
</nav>


{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>{{ course_code.name }}</h1>

<div class="margin-top-30">
  Code Name: {{ course_code.name }}
</div>

<a class="btn btn-secondary margin-top-30" href="{% url 'administrators:course_codes' %}">Back to Course Codes</a>



{% endblock %}
