<div class="bd-callout bd-callout-warning bg-white font-size-sm">
  <h5><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Important</h5>
  <p>
    <span class="font-weight-bold">Additional Information</span> and <span class="font-weight-bold">Resume</span> are required to apply. Please <a href="{% url 'students:edit_profile' %}">update</a> your additional information and <a href="{% url 'students:show_profile' tab='resume' %}">upload</a> your resume.
  </p>
  <p>Students won’t get an official offer until they complete those requirements.</p>
</div>
