<div class="bd-callout bd-callout-warning">
  <h4>Note</h4>
  <p>Curly brackets would be replaced by actual values while sending an email.</p>
  <ul>
    <li>Student Name: {0}</li>
    <li>Student #: {1}</li>
    <li>Session-Term: {2}</li>
    <li>Course/Job: {3}</li>
    <li>Instructor: {4}</li>
    <li>Assigned Hours: {5}</li>
    <li>Classification: {6}</li>
  </ul>
  <p>An email type (<code>Offer email</code>) is used in <strong>Job Offer Details</strong> on the Student's side, when they Accept, Re-Accept or Decline that Offer.</p>
</div>
