<div class="bd-callout bd-callout-warning ">
  <h4>Job Preferences</h4>
  <p>To place you as a TA, we need information about your qualifications and your preferences. We will also independently assess your qualifications, but your perspective is critical for qulifications, treat the scale as follow:</p>
  <ul>
    <li>1: Not at all</li>
    <li>2: Marginally (can learn with much effort)</li>
    <li>3: Somewhat (can learn with some effort)</li>
    <li>4: Very (just need brushing-up)</li>
    <li>5: Most (expert with course material)</li>
  </ul>
</div>
