{% load static %}

<aside class="col-10 mx-auto">
  {% include 'ta_app/pages/_header.html' with title=title %}

  <div class="left-content">

    {% if view_name == 'users' %}
      <img class="img-profile img-circle img-fluid" src="{% static 'ta_app/images/user.png' %}" alt="user-image" />
    {% else %}
      <img class="img-document img-circle img-fluid" src="{% static 'ta_app/images/list.png' %}" alt="document-image" />
    {% endif %}

    <div class="bg-prompt">
      <div class="prompt p-3 mb-4">
        {% if view_name == 'users' %}

          <h5>{{ data.get_full_name }}</h5>
          <p>{{ data.username }}</p>

          {% for role in data.profile.roles.all %}
            {% include 'ta_app/users/_role.html' with data=role.name %}
          {% empty %}
            None
          {% endfor %}

        {% elif view_name == 'sessions' %}

          <h6>{{ data.year }} {{ data.term.name }}</h6>
          <p class="mb-0">{{ data.term.code }}</p>

        {% elif view_name == 'jobs' %}

          <h6>{{ data.session.year }} {{ data.session.term.name }} ({{ data.session.term.code }})</h6>
          <p class="mb-0">{{ data.session.title }}</p>

        {% elif view_name == 'applications' %}

          <div class="text-left">
            <h6>{{ data.job.session.year }} {{ data.job.session.term.name }} ({{ data.job.session.term.code }})</h6>
            <h6>{{ data.job.course.code.name }} {{ data.job.course.number.name }} {{ data.job.course.section.name }}</h6>
            <p class="mb-0">{{ data.job.course.name }}</p>
          </div>

        {% elif view_name == 'job_applications' %}

          <div class="text-left">
            <h6>{{ data.session.year }} {{ data.session.term.name }} ({{ data.session.term.code }})</h6>
            <h6>{{ data.course.code.name }} {{ data.course.number.name }} {{ data.course.section.name }}</h6>
            <p class="mb-0">{{ data.course.name }}</p>
          </div>

        {% elif view_name == 'emails' %}

          <h6>Sender</h6>
          <p>{{ data.sender }}</p>
          <h6>Receiver</h6>
          <p>{{ data.receiver }}</p>

        {% else %}

        {% endif %}
      </div>
    </div>

  </div>

</aside>
