{% load static %}

<aside class="col-10 mx-auto">
  {% include 'ta_app/pages/_header.html' with title=title %}

  <div class="left-content compact">

    {% if view_name == 'job_applications' %}

      <h6>{{ data.session.year }} {{ data.session.term.name }} ({{ data.session.term.code }})</h6>
      <h6>{{ data.course.code.name }} {{ data.course.number.name }} {{ data.course.section.name }}</h6>
      <p>{{ data.course.name }}</p>

    {% elif view_name == 'history_jobs' %}
      <h6>
        <i class="fa fa-bell-o" aria-hidden="true"></i> Get a glance
      </h6>
      <p>Please check your application status carefully.</p>

    {% elif view_name == 'show_jobs' %}
      <h6>
        <i class="fa fa-bell-o" aria-hidden="true"></i> Get a glance
      </h6>
      <p>This table shows you a list of courses that you teach. Please edit job details, and check applications.</p>

      <hr class="mt-4" />

      <span class="font-weight-bold">Note:</span> {% include 'ta_app/pages/_note_accumulated_ta_hours.html' %}

    {% endif %}

  </div>
</aside>
