<h5>
  <i class="fa fa-bullhorn" aria-hidden="true"></i> Notice
</h5>

<p>
  You are a <span class="font-weight-bold text-dark">Domestic Student</span> if you are:
  <ul>
    <li>You are a Canadian citizen;</li>
    <li>You hold multiple citizenships and one of them is Canadian;</li>
    <li>You are a permanent resident of Canada;</li>
    <li>You have refugee status in Canada; or</li>
    <li>You are the dependent of a diplomat assigned to Canada.</li>
  </ul>
  <span class="font-weight-bold text-dark">Note:</span>
  You may be required to provide documents that verify your eligibility for domestic students.
  <a href="https://you.ubc.ca/financial-planning/tuition-fees/" target="_blank">More Information</a>
</p>

<p>
  If you are not a Canadian citizen or permanent resident of Canada, you are an <span class="font-weight-bold text-dark">International Student</span>.
</p>
