{% if data.has_other_pages %}
  <nav class="table-paginator" aria-label="Page navigation Search results pages">
    <ul class="pagination justify-content-center">

      {% if data.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1
{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}
{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}
{% if request.GET.preferred_name %}&preferred_name={{ request.GET.preferred_name }}{% endif %}
{% if request.GET.cwl %}&cwl={{ request.GET.cwl }}{% endif %}
{% if request.GET.student_number %}&student_number={{ request.GET.student_number }}{% endif %}
{% if request.GET.employee_number %}&employee_number={{ request.GET.employee_number }}{% endif %}
{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}
{% if request.GET.term %}&term={{ request.GET.term }}{% endif %}
{% if request.GET.code %}&code={{ request.GET.code }}{% endif %}
{% if request.GET.number %}&number={{ request.GET.number }}{% endif %}
{% if request.GET.section %}&section={{ request.GET.section }}{% endif %}
{% if request.GET.instructor_first_name %}&instructor_first_name={{ request.GET.instructor_first_name }}{% endif %}
{% if request.GET.instructor_last_name %}&instructor_last_name={{ request.GET.instructor_last_name }}{% endif %}
{% if request.GET.course_name %}&course_name={{ request.GET.course_name }}{% endif %}
{% if request.GET.exclude_applied_jobs %}&exclude_applied_jobs={{ request.GET.exclude_applied_jobs }}{% endif %}
{% if request.GET.exclude_inactive_jobs %}&exclude_inactive_jobs={{ request.GET.exclude_inactive_jobs }}{% endif %}
{% if request.GET.offered %}&offered={{ request.GET.offered }}{% endif %}
{% if request.GET.not_offered %}&amp;not_offered={{ request.GET.not_offered }}{% endif %}
{% if request.GET.processed %}&processed={{ request.GET.processed }}{% endif %}
{% if request.GET.declined_reassigned %}&declined_reassigned={{ request.GET.declined_reassigned }}{% endif %}
{% if request.GET.accepted_in_today %}&accepted_in_today={{ request.GET.accepted_in_today }}{% endif %}
{% if request.GET.no_response %}&no_response={{ request.GET.no_response }}{% endif %}"
          ><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ data.previous_page_number }}
{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}
{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}
{% if request.GET.preferred_name %}&preferred_name={{ request.GET.preferred_name }}{% endif %}
{% if request.GET.cwl %}&cwl={{ request.GET.cwl }}{% endif %}
{% if request.GET.student_number %}&student_number={{ request.GET.student_number }}{% endif %}
{% if request.GET.employee_number %}&employee_number={{ request.GET.employee_number }}{% endif %}
{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}
{% if request.GET.term %}&term={{ request.GET.term }}{% endif %}
{% if request.GET.code %}&code={{ request.GET.code }}{% endif %}
{% if request.GET.number %}&number={{ request.GET.number }}{% endif %}
{% if request.GET.section %}&section={{ request.GET.section }}{% endif %}
{% if request.GET.instructor_first_name %}&instructor_first_name={{ request.GET.instructor_first_name }}{% endif %}
{% if request.GET.instructor_last_name %}&instructor_last_name={{ request.GET.instructor_last_name }}{% endif %}
{% if request.GET.course_name %}&course_name={{ request.GET.course_name }}{% endif %}
{% if request.GET.exclude_applied_jobs %}&exclude_applied_jobs={{ request.GET.exclude_applied_jobs }}{% endif %}
{% if request.GET.exclude_inactive_jobs %}&exclude_inactive_jobs={{ request.GET.exclude_inactive_jobs }}{% endif %}
{% if request.GET.offered %}&offered={{ request.GET.offered }}{% endif %}
{% if request.GET.not_offered %}&amp;not_offered={{ request.GET.not_offered }}{% endif %}
{% if request.GET.processed %}&processed={{ request.GET.processed }}{% endif %}
{% if request.GET.declined_reassigned %}&declined_reassigned={{ request.GET.declined_reassigned }}{% endif %}
{% if request.GET.accepted_in_today %}&accepted_in_today={{ request.GET.accepted_in_today }}{% endif %}
{% if request.GET.no_response %}&no_response={{ request.GET.no_response }}{% endif %}"
          ><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
        </li>
        <li class="page-item disabled">
          <span class="page-link"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
        </li>
      {% endif %}

      {% for i in data.paginator.page_range %}
        {% if data.number == i %}
          <li class="page-item active">
            <span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span>
          </li>
        {% else %}
          <li class="page-item">

            {% if i|add:"-3" <= data.number and data.number <= i|add:"3" %}
              <a class="page-link" href="?page={{ i }}
{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}
{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}
{% if request.GET.preferred_name %}&preferred_name={{ request.GET.preferred_name }}{% endif %}
{% if request.GET.cwl %}&cwl={{ request.GET.cwl }}{% endif %}
{% if request.GET.student_number %}&student_number={{ request.GET.student_number }}{% endif %}
{% if request.GET.employee_number %}&employee_number={{ request.GET.employee_number }}{% endif %}
{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}
{% if request.GET.term %}&term={{ request.GET.term }}{% endif %}
{% if request.GET.code %}&code={{ request.GET.code }}{% endif %}
{% if request.GET.number %}&number={{ request.GET.number }}{% endif %}
{% if request.GET.section %}&section={{ request.GET.section }}{% endif %}
{% if request.GET.instructor_first_name %}&instructor_first_name={{ request.GET.instructor_first_name }}{% endif %}
{% if request.GET.instructor_last_name %}&instructor_last_name={{ request.GET.instructor_last_name }}{% endif %}
{% if request.GET.course_name %}&course_name={{ request.GET.course_name }}{% endif %}
{% if request.GET.exclude_applied_jobs %}&exclude_applied_jobs={{ request.GET.exclude_applied_jobs }}{% endif %}
{% if request.GET.exclude_inactive_jobs %}&exclude_inactive_jobs={{ request.GET.exclude_inactive_jobs }}{% endif %}
{% if request.GET.offered %}&offered={{ request.GET.offered }}{% endif %}
{% if request.GET.not_offered %}&amp;not_offered={{ request.GET.not_offered }}{% endif %}
{% if request.GET.processed %}&processed={{ request.GET.processed }}{% endif %}
{% if request.GET.declined_reassigned %}&declined_reassigned={{ request.GET.declined_reassigned }}{% endif %}
{% if request.GET.accepted_in_today %}&accepted_in_today={{ request.GET.accepted_in_today }}{% endif %}
{% if request.GET.no_response %}&no_response={{ request.GET.no_response }}{% endif %}"
              >{{ i }}</a>
            {% endif %}

          </li>
        {% endif %}
      {% endfor %}

      {% if data.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ data.next_page_number }}
{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}
{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}
{% if request.GET.preferred_name %}&preferred_name={{ request.GET.preferred_name }}{% endif %}
{% if request.GET.cwl %}&cwl={{ request.GET.cwl }}{% endif %}
{% if request.GET.student_number %}&student_number={{ request.GET.student_number }}{% endif %}
{% if request.GET.employee_number %}&employee_number={{ request.GET.employee_number }}{% endif %}
{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}
{% if request.GET.term %}&term={{ request.GET.term }}{% endif %}
{% if request.GET.code %}&code={{ request.GET.code }}{% endif %}
{% if request.GET.number %}&number={{ request.GET.number }}{% endif %}
{% if request.GET.section %}&section={{ request.GET.section }}{% endif %}
{% if request.GET.instructor_first_name %}&instructor_first_name={{ request.GET.instructor_first_name }}{% endif %}
{% if request.GET.instructor_last_name %}&instructor_last_name={{ request.GET.instructor_last_name }}{% endif %}
{% if request.GET.course_name %}&course_name={{ request.GET.course_name }}{% endif %}
{% if request.GET.exclude_applied_jobs %}&exclude_applied_jobs={{ request.GET.exclude_applied_jobs }}{% endif %}
{% if request.GET.exclude_inactive_jobs %}&exclude_inactive_jobs={{ request.GET.exclude_inactive_jobs }}{% endif %}
{% if request.GET.offered %}&offered={{ request.GET.offered }}{% endif %}
{% if request.GET.not_offered %}&amp;not_offered={{ request.GET.not_offered }}{% endif %}
{% if request.GET.processed %}&processed={{ request.GET.processed }}{% endif %}
{% if request.GET.declined_reassigned %}&declined_reassigned={{ request.GET.declined_reassigned }}{% endif %}
{% if request.GET.accepted_in_today %}&accepted_in_today={{ request.GET.accepted_in_today }}{% endif %}
{% if request.GET.no_response %}&no_response={{ request.GET.no_response }}{% endif %}"
          ><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ data.paginator.num_pages }}
{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}
{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}
{% if request.GET.preferred_name %}&preferred_name={{ request.GET.preferred_name }}{% endif %}
{% if request.GET.cwl %}&cwl={{ request.GET.cwl }}{% endif %}
{% if request.GET.student_number %}&student_number={{ request.GET.student_number }}{% endif %}
{% if request.GET.employee_number %}&employee_number={{ request.GET.employee_number }}{% endif %}
{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}
{% if request.GET.term %}&term={{ request.GET.term }}{% endif %}
{% if request.GET.code %}&code={{ request.GET.code }}{% endif %}
{% if request.GET.number %}&number={{ request.GET.number }}{% endif %}
{% if request.GET.section %}&section={{ request.GET.section }}{% endif %}
{% if request.GET.instructor_first_name %}&instructor_first_name={{ request.GET.instructor_first_name }}{% endif %}
{% if request.GET.instructor_last_name %}&instructor_last_name={{ request.GET.instructor_last_name }}{% endif %}
{% if request.GET.course_name %}&course_name={{ request.GET.course_name }}{% endif %}
{% if request.GET.exclude_applied_jobs %}&exclude_applied_jobs={{ request.GET.exclude_applied_jobs }}{% endif %}
{% if request.GET.exclude_inactive_jobs %}&exclude_inactive_jobs={{ request.GET.exclude_inactive_jobs }}{% endif %}
{% if request.GET.offered %}&offered={{ request.GET.offered }}{% endif %}
{% if request.GET.not_offered %}&amp;not_offered={{ request.GET.not_offered }}{% endif %}
{% if request.GET.processed %}&processed={{ request.GET.processed }}{% endif %}
{% if request.GET.declined_reassigned %}&declined_reassigned={{ request.GET.declined_reassigned }}{% endif %}
{% if request.GET.accepted_in_today %}&accepted_in_today={{ request.GET.accepted_in_today }}{% endif %}
{% if request.GET.no_response %}&no_response={{ request.GET.no_response }}{% endif %}"
          ><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        </li>
        <li class="page-item disabled">
          <span class="page-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
        </li>
      {% endif %}

    </ul>
  </nav>

{% endif %}
