{% extends "ta_app/base.html" %}

{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'administrators:index' %}">administrators</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Users</li>
  </ol>
</nav>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'administrators:sessions' %}">Sessions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'administrators:jobs' %}">Jobs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'administrators:applications' %}">Applications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'users:index' %}">Users</a>
  </li>
</ul>

<h1>Users</h1>

<table class="table table-sm table-striped" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
	<thead>
		<tr>
			<th data-sortable="true">First Name</th>
			<th data-sortable="true">Prefered Name</th>
			<th data-sortable="true">Last Name</th>
			<th data-sortable="true">CWL</th>
			<th data-sortable="true">UBC Number</th>
			<th data-sortable="true">Role</th>
			<th data-sortable="true">Email</th>
			<th>Actions</th>
		</tr>
	</thead>
  <tbody>
  {% for user in users %}
		<tr>
			<td>{{ user.first_name }}</td>
			<td>{{ user.profile.preferred_name }}</td>
			<td>{{ user.last_name }}</td>
			<td><a href="{% url 'users:show_user' user.username %}">{{ user.username }}</a></td>
			<td>{{ user.profile.ubc_number }}</td>
			<td>
        		{% for role in user.profile.roles.all %}
          			{{ role.name }},
        		{% endfor %}
     		</td>
			<td>{{ user.email }}</td>
			<td>
				<form action="{% url 'users:delete_user' %}" method="post" onsubmit="return confirm('Are you sure to delete {{ user.username }}?');">
					{% csrf_token %}
          			<input type="hidden" name="user" value="{{ user.id }}">
					<input class="btn btn-sm btn-danger" type="submit" value="Delete" />
				</form>
			</td>
		</tr>
  {% endfor %}
	</tbody>
</table>

<h3 class="margin-top-30">Create a user</h3>
<div class="new-user-form padding-20">
	<form action="" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="id_first_name">First Name</label>
			<input id="id_first_name" type="text" name="first_name" required="" maxlength="30" class="form-control" placeholder="First Name">
		</div>
		<div class="form-group">
			<label for="id_last_name">Last Name</label>
			<input id="id_last_name" type="text" name="last_name" required="" maxlength="150" class="form-control" placeholder="Last Name">
		</div>
		<div class="form-group">
			<label for="id_email">Email</label>
			<input id="id_email" type="email" name="email" required="" maxlength="254" class="form-control" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="id_username">CWL</label>
			<input id="id_usernamename" type="text" name="username" required="" maxlength="150" class="form-control" placeholder="Username">
		</div>
		<input type="submit" class="btn btn-success" value="Submit"/>
	</form>
</div>

{% endblock %}
