{% extends "ta_app/base.html" %}

{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'administrators:index' %}">administrators</a></li>
    <li class="breadcrumb-item"><a href="{% url 'users:index' %}">Users</a></li>
    <li class="breadcrumb-item active" aria-current="page">User Details</li>
  </ol>
</nav>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>User Details</h1>

<div class="row">
  <div class="col-6">
    <h3 class="margin-top-30">Infomation</h3>

    <ul class="list-group">
      <li class="list-group-item"><b>First Name:</b> {{ user.first_name }}</li>
      <li class="list-group-item"><b>Last Name:</b> {{ user.last_name }}</li>
      <li class="list-group-item"><b>CWL:</b> {{ user.username }}</li>
      <li class="list-group-item"><b>Email:</b> {{ user.email }}</li>
      <li class="list-group-item"><b>UBC Number:</b> {{ user.profile.ubc_number }}</li>
      <li class="list-group-item"><b>Date Joined:</b> {{ user.date_joined }}</li>
      <li class="list-group-item"><b>Last Login:</b> {{ user.last_login }}</li>
    </ul>

    <button class="btn btn-warning margin-top-10" type="button" data-toggle="modal" data-target="#edit-user-info-{{ user.id }}">
      Edit User Info
    </button>

    <div class="modal fade" id="edit-user-info-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="edit-user-info-modal-label-{{ user.id }}" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="edit-user-info-modal-label-{{ user.id }}">User Information: Edit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'users:edit_user_info' user.username %}" method="post">
              {% csrf_token %}
              <table>{{ form.as_table }}</table>
              <input type="submit" value="Update" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <h3 class="margin-top-30">Confidentiality</h3>

    <ul class="list-group overflow-hidden">
      <li class="list-group-item"><b>SIN:</b> {{ user.confidentiality.sin }}</li>
      <li class="list-group-item"><b>Employee Number:</b> {{ user.confidentiality.employee_number }}</li>
      <li class="list-group-item"><b>VISA:</b> {{ user.confidentiality.get_visa_display }}</li>
      <li class="list-group-item"><b>Work Permit:</b> {{ user.confidentiality.work_permit }}</li>
      <li class="list-group-item"><b>Study Permit:</b>
        {% if study_permit_file %}
          <a class="filename" href="{% url 'users:download_study_permit' username=user.username filename=study_permit_file %}" target="_blank">
            {{ study_permit_file }}
          </a>
          <p>Expiry Date: {{ user.confidentiality.study_permit_expiry_date }}</p>
        {% else %}
          None
        {% endif %}
      </li>
      <li class="list-group-item"><b>Work Permit:</b>
        {% if work_permit_file %}
          <a class="filename" href="{% url 'users:download_work_permit' username=user.username filename=work_permit_file %}" target="_blank">
            {{ work_permit_file }}
          </a>
        {% else %}
          None
        {% endif %}
      </li>
    </ul>
  
    {% comment %} <a class="btn btn-warning margin-top-10" href="{% url 'users:edit_confidentiality' user.username %}">Edit Confidentiality</a> {% endcomment %}
  </div>

  <div class="col-6">
    <h3 class="margin-top-30">Profile</h3>

    <ul class="list-group">
      <li class="list-group-item"><b>Preferred Name:</b> {{ user.profile.preferred_name }}</li>
      <li class="list-group-item"><b>Created At:</b> {{ user.profile.created_at }}</li>
      <li class="list-group-item"><b>Updated at:</b> {{ user.profile.updated_at }}</li>
      <li class="list-group-item">
        <b>Roles:</b>
        {% for role in user.profile.roles.all %}
          {{ role.name }},
        {% endfor %}
    
      </li>
      <li class="list-group-item"><b>Qualifications:</b> {{ user.profile.qualifications }}</li>
      <li class="list-group-item"><b>Prior Employment:</b> {{ user.profile.prior_employment }}</li>
      <li class="list-group-item"><b>Special Considerations:</b> {{ user.profile.special_considerations }}</li>
      <li class="list-group-item"><b>Status:</b> {{ user.profile.status }}</li>
      <li class="list-group-item"><b>Program:</b> {{ user.profile.program }}</li>
      <li class="list-group-item"><b>Graduation Date:</b> {{ user.profile.graduation_date }}</li>
      <li class="list-group-item">
        <b>Degrees:</b>
        <ul>
          {% for degree in user.profile.degrees.all %}
            <li>{{ degree.name }}</li>
          {% empty %}
            None
          {% endfor %}
        </ul>
      </li>
      <li class="list-group-item">
        <b>Trainings:</b>
        <ul>
          {% for degree in user.profile.trainings.all %}
            <li>{{ degree.name }}</li>
          {% empty %}
            None
          {% endfor %}
        </ul>
      </li>
      <li class="list-group-item">
        <b>LFS TA Training:</b> {{ user.profile.get_lfs_ta_training_display }}
        <p>Details: {{ user.profile.lfs_ta_training_details }}</p>
      </li>
      <li class="list-group-item">
        <b>Previous TA Experience:</b> {{ user.profile.get_ta_experience_display }}
        <p>Details: {{ user.profile.ta_experience_details }}</p>
      </li>
      <li class="list-group-item">
        <b>Resume:</b>
        {% if resume_name %}
          <a href="{% url 'users:download_user_resume' username=user.username filename=resume_name %}" target="_blank">
            {{ resume_name }}
          </a>
          - {{ user.resume.created_at }}
        {% else %}
          No resume
        {% endif %}
      </li>
    </ul>
    <a class="btn btn-warning margin-top-10" href="{% url 'users:edit_profile' user.username %}">Edit Profile</a>
  </div>

</div>

<div class="row margin-top-30">
  <div class="col">
    {% if 'Instructor' in roles %}
      <h3>Instructor Jobs</h3>

      <ul class="list-group">
        {% for job in instructor_jobs %}
          <li class="list-group-item">
            {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }} - {{ job.course.name }}
          </li>
        {% empty %}
          No jobs found
        {% endfor %}
      </ul>
    {% endif %}


    {% if 'Student' in roles %}


    <h3>Applied Jobs</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Term</th>
          <th>Job</th>
          <th>Status</th>
          <th>Instructors</th>
        </tr>
      </thead>
      <tbody>
        {% for job in student_jobs %}
          <tr>
            <td>{{ job.session.year }}</td>
            <td>{{ job.session.term.code }}</td>
            <td>
              <a href="{% url 'users:show_student_job' username=user.username session_slug=job.session.slug job_slug=job.course.slug %}">
                {{ job.course.code.name }} {{ job.course.number.name }} {{ job.course.section.name }}
              </a>
            </td>
            <td>
              {% for app in job.application_set.all %}
                {% if app.applicant.id == user.id %}
                  <ul>
                    {% for st in app.status.all %}
                      <li>{{ st.get_assigned_display }} - {{ st.assigned_hours }} hours - {{ st.created_at }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
            </td>
            <td>
              {% for instructor in job.instructors.all %}
                {{ instructor.first_name }} {{ instructor.last_name }}
              {% endfor %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No jobs applied yet</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <hr />

    <h3>Offered Jobs</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Year-Term</th>
          <th>Total Assigned Hours</th>
        </tr>  
      </thead>
      <tbody>
        {% for year_term, assigned_hours in offered_summary.items %}
          <tr>
            <td>{{ year_term }}</td>
            <td>{{ assigned_hours }} hours</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <ul class="list-group">
      {% for job in offered_jobs %}
        <li class="list-group-item">{{ job.year }} {{ job.term }} - {{ job.course_code }} {{ job.course_number }} {{ job.course_section }}: {{ job.assigned_status }} {{ job.assigned_hours }} hours</li>
      {% empty %}
        <li class="list-group-item">No offered jobs found</li>
      {% endfor %}
    </ul>


    <hr />




    <h3>Accepted Jobs</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Year-Term</th>
          <th>Total Assigned Hours</th>
        </tr>  
      </thead>
      <tbody>
        {% for year_term, assigned_hours in accepted_summary.items %}
          <tr>
            <td>{{ year_term }}</td>
            <td>{{ assigned_hours }} hours</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


    <ul class="list-group">
      {% for job in accepted_jobs %}
        <li class="list-group-item">{{ job.year }} {{ job.term }} - {{ job.course_code }} {{ job.course_number }} {{ job.course_section }}: {{ job.assigned_status }} {{ job.assigned_hours }} hours</li>
      {% empty %}
        <li class="list-group-item">No accepted jobs found</li>
      {% endfor %}
    </ul>

    <hr />


    <h3>Declined Jobs</h3>
    <ul class="list-group">
      {% for job in declined_jobs %}
        <li class="list-group-item">{{ job.year }} {{ job.term }} - {{ job.course_code }} {{ job.course_number }} {{ job.course_section }}: {{ job.assigned_status }} {{ job.assigned_hours }} hours</li>
      {% empty %}
        <li class="list-group-item">No declined jobs found</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}


{% endblock %}
