{% extends 'ta_app/base.html' %}
{% block content %}

<div>
    {% include "administrators/util/_sidebar.html" %}
</div>

{% if messages %}
	{% for message in messages %}
		<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
	{% endfor %}
{% endif %}

<h1>All Users</h1>

<table class="table table-sm table-striped" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
	<thead>
		<tr>
			<th data-sortable="true">First Name</th>
			<th data-sortable="true">Prefered Name</th>
			<th data-sortable="true">Last Name</th>
			<th data-sortable="true">CWL</th>
			<th data-sortable="true">UBC Number</th>
			<th data-sortable="true">Role</th>
			<th data-sortable="true">Email</th>
			<th>Actions</th>
		</tr>
	</thead>
  <tbody>
  {% for user in users %}
		<tr>
			<td>{{ user.first_name }}</td>
			<td>{{ user.profile.preferred_name }}</td>
			<td>{{ user.last_name }}</td>
			<td><a href="{% url 'users:show_user' user.username %}">{{ user.username }}</a></td>
			<td>{{ user.profile.ubc_number }}</td>
			<td>
        		{% for role in user.profile.roles.all %}
          			{{ role.name }},
        		{% endfor %}
     		</td>
			<td>{{ user.email }}</td>
			<td>
				<form action="{% url 'users:delete_user' %}" method="post" onsubmit="return confirm('Are you sure to delete {{ user.username }}?');">
					{% csrf_token %}
          			<input type="hidden" name="user" value="{{ user.id }}">
					<input class="btn btn-sm btn-danger" type="submit" value="Delete" />
				</form>
			</td>
		</tr>
  {% endfor %}
	</tbody>
</table>


{% endblock %}
