{% extends 'ta_app/base.html' %}
{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'department:index' %}">Department</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Applications</li>
  </ol>
</nav>


{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'department:sessions' %}">Sessions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'department:jobs' %}">Jobs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'department:applications' %}">Applications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'users:index' %}">Users</a>
  </li>
</ul>

<h1>Applications</h1>

<table class="table table-sm table-striped" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
  <thead>
    <tr>
      <th data-sortable="true">Year</th>
      <th data-sortable="true">Term</th>
      <th data-sortable="true">Job</th>
      <th data-sortable="true">Applicant</th>
      <th data-sortable="true">Status</th>
      <th>Apply Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for app in applications %}
      <tr>
        <td>{{ app.job.session.year }}</td>
        <td>{{ app.job.session.term.code }}</td>
        <td>
          {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
        </td>
        <td>{{ app.applicant.first_name }} {{ app.applicant.last_name }}</td>
        <td>
          <ul>
            {% for st in app.status.all %}
              <li>{{ st.get_assigned_display }} - {{ st.assigned_hours }} - {{ st.created_at }}</li>
            {% empty %}
              No status found
            {% endfor %}
          </ul>
        </td>
        <td>{{ app.created_at }}</td>
        <td>
          <a class="btn btn-sm btn-info" href="{% url 'department:show_application' app.slug %}">View Details</a>
        </td>
      </tr>
    {% empty %}
      No applications found.
    {% endfor %}
  </tbody>
</table>

<hr />

<h3>Offered Applications</h3>

<table class="table table-sm table-striped" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
  <thead>
    <tr>
      <th data-sortable="true">Year</th>
      <th data-sortable="true">Term</th>
      <th data-sortable="true">Job</th>
      <th data-sortable="true">Applicant</th>
      <th data-sortable="true">Status</th>
      <th>Apply Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for app in offered_applications %}
      <tr>
        <td>{{ app.job.session.year }}</td>
        <td>{{ app.job.session.term.code }}</td>
        <td>
          {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
        </td>
        <td>{{ app.applicant.first_name }} {{ app.applicant.last_name }}</td>
        <td>
          <ul>
            {% for st in app.status.all %}
              <li>{{ st.get_assigned_display }} - {{ st.assigned_hours }} - {{ st.created_at }}</li>
            {% empty %}
              No status found
            {% endfor %}
          </ul>
        </td>
        <td>{{ app.created_at }}</td>
        <td>
          <a class="btn btn-sm btn-info" href="{% url 'department:show_application' app.slug %}">View Details</a>
        </td>
      </tr>
    {% empty %}
      No applications found.
    {% endfor %}
  </tbody>
</table>

<hr />

<h3>Accpeted Applications</h3>

<table class="table table-sm table-striped" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
  <thead>
    <tr>
      <th data-sortable="true">Year</th>
      <th data-sortable="true">Term</th>
      <th data-sortable="true">Job</th>
      <th data-sortable="true">Applicant</th>
      <th data-sortable="true">Status</th>
      <th>Apply Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for app in accepted_applications %}
      <tr>
        <td>{{ app.job.session.year }}</td>
        <td>{{ app.job.session.term.code }}</td>
        <td>
          {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
        </td>
        <td>{{ app.applicant.first_name }} {{ app.applicant.last_name }}</td>
        <td>
          <ul>
            {% for st in app.status.all %}
              <li>{{ st.get_assigned_display }} - {{ st.assigned_hours }} - {{ st.created_at }}</li>
            {% empty %}
              No status found
            {% endfor %}
          </ul>
        </td>
        <td>{{ app.created_at }}</td>
        <td>
          <a class="btn btn-sm btn-info" href="{% url 'department:show_application' app.slug %}">View Details</a>
        </td>
      </tr>
    {% empty %}
      No applications found.
    {% endfor %}
  </tbody>
</table>

<hr />

<h3>Declined Applications</h3>

<table class="table table-sm table-striped" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
  <thead>
    <tr>
      <th data-sortable="true">Year</th>
      <th data-sortable="true">Term</th>
      <th data-sortable="true">Job</th>
      <th data-sortable="true">Applicant</th>
      <th data-sortable="true">Status</th>
      <th>Apply Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for app in declined_applications %}
      <tr>
        <td>{{ app.job.session.year }}</td>
        <td>{{ app.job.session.term.code }}</td>
        <td>
          {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
        </td>
        <td>{{ app.applicant.first_name }} {{ app.applicant.last_name }}</td>
        <td>
          <ul>
            {% for st in app.status.all %}
              <li>{{ st.get_assigned_display }} - {{ st.assigned_hours }} - {{ st.created_at }}</li>
            {% empty %}
              No status found
            {% endfor %}
          </ul>
        </td>
        <td>{{ app.created_at }}</td>
        <td>
          <a class="btn btn-sm btn-info" href="{% url 'department:show_application' app.slug %}">View Details</a>
        </td>
      </tr>
    {% empty %}
      No applications found.
    {% endfor %}
  </tbody>
</table>


{% endblock %}
