{% extends 'ta_app/base.html' %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'department:index' %}">Department</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'department:applications' %}">Applications</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Offered Applications</li>
  </ol>
</nav>


{% if messages %}
	{% for message in messages %}
		<div>{{ message }}</div>
	{% endfor %}
{% endif %}


<h1>Offered Applications</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Term</th>
      <th>Job</th>
      <th>Applicant</th>
      <th>Status</th>
      <th>Supervisor Approval</th>
      <th>How Qualified</th>
      <th>How Interested</th>
      <th>Availability</th>
      <th>Classification</th>
      <th>Instructor Preference</th>
      <th>Note</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for app in offered_applications %}
      <tr>
        <td>{{ app.job.session.year }}</td>
        <td>{{ app.job.session.term.code }}</td>
        <td>
          {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
        </td>
        <td>{{ app.applicant.first_name }} {{ app.applicant.last_name }}</td>
        <td>
          <ul>
            {% for st in app.status.all %}
              <li>{{ st.get_assigned_display }} - {{ st.assigned_hours }} - {{ st.created_at }}</li>
            {% empty %}
              No status found
            {% endfor %}
          </ul>
          <td>{{ app.supervisor_approval }}</td>
          <td>{{ app.get_how_qualified_display }}</td>
          <td>{{ app.get_how_interested_display }}</td>
          <td>{{ app.availability }}</td>
          <td>{{ app.get_classification_display }}</td>
          <td>{{ app.get_instructor_preference_display }}</td>
          <td>{{ app.note }}</td>
          <td>{{ app.created_at }}</td>
          <td>{{ app.updated_at }}</td>
        <td>
          <a href="{% url 'department:show_application' app.slug %}">View Details</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="14">No applications found.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Applicants to be sent by E-mail</h3>





<a href="{% url 'department:applications' %}">Back to Applications</a>

{% endblock %}
