<nav class="container menu">

  {% if 'Admin' in request.user.roles or 'Superadmin' in request.user.roles %}
    <div class="dropdown">
      <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sessions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'administrators:current_sessions' %}">Current</a>
        <a class="dropdown-item" href="{% url 'administrators:archived_sessions' %}">Archived</a>
        <a class="dropdown-item" href="{% url 'administrators:create_session' %}">Create</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Jobs
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'administrators:prepare_jobs' %}">Prepare Jobs</a>
        <a class="dropdown-item" href="{% url 'administrators:progress_jobs' %}">Jobs in Progress</a>
        <a class="dropdown-item" href="{% url 'administrators:instructor_jobs' %}">Jobs by Instructor</a>
        <a class="dropdown-item" href="{% url 'administrators:student_jobs' %}">Jobs by Student</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Applications
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'administrators:applications_dashboard' %}">Dashboard</a>
        <a class="dropdown-item" href="{% url 'administrators:all_applications' %}">All</a>
        <a class="dropdown-item" href="{% url 'administrators:selected_applications' %}">Selected</a>
        <a class="dropdown-item" href="{% url 'administrators:offered_applications' %}">Offered</a>
        <a class="dropdown-item" href="{% url 'administrators:accepted_applications' %}">Accepted</a>
        <a class="dropdown-item" href="{% url 'administrators:declined_applications' %}">Declined</a>
        <a class="dropdown-item" href="{% url 'administrators:terminated_applications' %}">Terminated</a>
        <a class="dropdown-item" href="{% url 'administrators:email_history' %}">Email History</a>

        <hr />

        <a class="dropdown-item" href="{% url 'administrators:accepted_apps_report_admin' %}">Report for Admin - Accepted</a>
        <a class="dropdown-item" href="{% url 'administrators:accepted_apps_report_observer' %}?page=1">Report for Observer - Accepted</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Users
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'administrators:all_users' %}">All</a>
        <a class="dropdown-item" href="{% url 'administrators:create_user' %}">Create</a>
        <a class="dropdown-item" href="{% url 'administrators:destroy_user_contents' %}">Destroy User Contents</a>
        <a class="dropdown-item" href="{% url 'administrators:roles' %}">Roles</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Courses
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'administrators:all_courses' %}">All</a>
        <a class="dropdown-item" href="{% url 'administrators:create_course' %}?next=/app/administrators/courses/all/">Create</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Preparation
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'administrators:terms' %}">Terms</a>
        <a class="dropdown-item" href="{% url 'administrators:course_codes' %}">Course Codes</a>
        <a class="dropdown-item" href="{% url 'administrators:course_numbers' %}">Course Numbers</a>
        <a class="dropdown-item" href="{% url 'administrators:course_sections' %}">Course Sections</a>
        <a class="dropdown-item" href="{% url 'administrators:statuses' %}">Statuses</a>
        <a class="dropdown-item" href="{% url 'administrators:programs' %}">Programs</a>
        <a class="dropdown-item" href="{% url 'administrators:degrees' %}">Degrees</a>
        <a class="dropdown-item" href="{% url 'administrators:trainings' %}">Trainings</a>
        <a class="dropdown-item" href="{% url 'administrators:classifications' %}">Classifications</a>
        <a class="dropdown-item" href="{% url 'administrators:admin_emails' %}">Admin Emails</a>
        <a class="dropdown-item" href="{% url 'administrators:landing_pages' %}">Landing Pages</a>
      </div>
    </div>

  {% elif 'HR' in request.user.roles %}
    <div class="dropdown">
      <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Applications
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'administrators:accepted_applications' %}">Accepted</a>

        <hr />

        <a class="dropdown-item" href="{% url 'administrators:accepted_apps_report_admin' %}">Report for Admin - Accepted</a>
        <a class="dropdown-item" href="{% url 'administrators:accepted_apps_report_observer' %}">Report for Observer - Accepted</a>
      </div>
    </div>
  {% endif %}

</nav>

{% include 'ta_app/pages/_return_messages.html' with data=messages %}
