{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Home' data=loggedin_user %}

    <div class="col-10 mx-auto mt-5">
      <div class="bd-callout bd-callout-warning">
        <h4>
          <i class="fa fa-bell-o" aria-hidden="true"></i> Memo
        </h4>
        {% include 'ta_app/pages/_badges.html' %}
      </div>
    </div>

  </div>

  <div class="col-md-8">

    <div class="bg-prompt">
      <div class="prompt p-4 text-center">
        <h4>Welcome</h4>
        <p class="col-8 mx-auto">
          If you would like to take a look at the latest status of applications,
          please go to
          {% if 'Admin' in loggedin_user.roles or 'Superadmin' in loggedin_user.roles %}
            <a href="{% url 'administrators:applications_dashboard' %}">Dashboard</a>.
          {% endif %}

          {% if 'HR' in loggedin_user.roles %}
            <a href="{% url 'administrators:accepted_applications' %}">Accepted Applications</a>.
          {% endif %}
        </p>
      </div>
    </div>

    <div class="col-8 mx-auto text-center mt-5">
      <h5 class="text-info mb-3">Overview</h5>
      <table class="table font-size-1">
        <tbody>
          {% if 'Admin' in loggedin_user.roles or 'Superadmin' in loggedin_user.roles %}

            <tr>
              <td class="font-weight-bold">Current Sessions</td>
              <td>{{ archived_sessions|length }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Archived Sessions</td>
              <td>{{ archived_sessions|length }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Applications</td>
              <td>{{ apps|length }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Accepted Applications</td>
              <td>{{ accepted_apps|length }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Instructors</td>
              <td>{{ instructors|length }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Students</td>
              <td>{{ students|length }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Total Users</td>
              <td>{{ users|length }}</td>
            </tr>

          {% elif 'HR' in loggedin_user.roles %}

            <tr>
              <td class="font-weight-bold">Accepted Applications</td>
              <td>{{ accepted_apps|length }}</td>
            </tr>

          {% endif %}
        </tbody>
      </table>
    </div>

  </div>
</div>

{% endblock %}
