{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Home' data=loggedin_user %}

    <div class="col-11 mx-auto mt-5">
      <div class="bd-callout bd-callout-warning">
        <h4>
          <i class="fa fa-bell-o" aria-hidden="true"></i> Memo
        </h4>
        <p>
          There are 6 different coloured badges to display status of applications effectively.<br />
          <span class="badge badge-light text-dark">APPLIED</span>
          <span class="badge badge-orange">SELECTED</span>
          <span class="badge badge-primary">OFFERED</span>
          <span class="badge badge-success">ACCEPTED</span>
          <span class="badge badge-danger">DECLINED</span>
          <span class="badge badge-secondary">CANCELLED</span>
        </p>
      </div>
    </div>

  </div>

  <div class="col-md-8">

    <div class="bg-prompt">
      <div class="prompt p-4 text-center">
        <h4>Welcome</h4>
        <p class="col-8 mx-auto">
          If you would like to take a look at the latest status of applications,
          please go to <a href="{% url 'administrators:applications_dashboard' %}">Dashboard</a>.
        </p>
      </div>
    </div>

    <div class="col-8 mx-auto text-center mt-5">
      <h5 class="text-info mb-3">Summary</h5>
      <table class="table font-size-1">
        <tbody>
          <tr>
            <td class="font-weight-bold">Current Sessions</td>
            <td>{{ archived_sessions|length }}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Archived Sessions</td>
            <td>{{ archived_sessions|length }}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Applications</td>
            <td>{{ apps|length }}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Instructors</td>
            <td>{{ instructors|length }}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Students</td>
            <td>{{ students|length }}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Total Users</td>
            <td>{{ users|length }}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>

display only active jobs in students
//
Permanently delete this repository and all of its content
{% endblock %}
