{% extends "ta_app/base.html" %}

{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">For HR Users</li>
  </ol>
</nav>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>For HR Users</h1>
<small>Total: {{ total_users }}</small>


{% comment %} <div class="search-field">
	<form method="GET" >
		<div class="input-field">
			<input class="search-field-text" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search by CWL and Name">
			<button class="btn btn-sm" type="submit" name="action">Search</button>
		</div>
	</form>
</div> {% endcomment %}

<table class="table table-sm table-striped" data-toggle="table" data-sortable="true" data-classes="" data-pagination="true" data-search="true">
	<thead>
		<tr>
      		<th data-sortable="true">CWL</th>
      		<th data-sortable="true">First Name</th>
			<th data-sortable="true">Last Name</th>
			<th data-sortable="true">Email</th>
			<th data-sortable="true">UBC Number</th>
			<th data-sortable="true">SIN</th>
      		<th data-sortable="true">Employee Number</th>
      		<th data-sortable="true">VISA</th>
      		<th data-sortable="true">Work Permit</th>
			<th data-sortable="true">Created at</th>
			<th data-sortable="true">Updated at</th>
		</tr>
	</thead>
  <tbody>
  {% for user in users %}
		<tr>
			<td>{{ user.first_name }}</td>
			<td>{{ user.last_name }}</td>
      <td>{{ user.username }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.profile.ubc_number }}</td>
      <td>{{ user.confidentiality.sin }}</td>
      <td>{{ user.confidentiality.employee_number }}</td>
      <td>{{ user.confidentiality.get_visa_display }}</td>
      <td>{{ user.confidentiality.work_permit }}</td>
			<td>{{ user.profile.created_at }}</td>
			<td>{{ user.profile.updated_at }}</td>
		</tr>
  {% endfor %}
	</tbody>
</table>

{% if users.has_other_pages %}
<nav aria-label="Page navigation Search results pages">
  <ul class="pagination justify-content-center">

		{% if users.has_previous %}
      <li class="page-item">
				<a class="page-link" href="?page={{ users.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
			</li>
    {% else %}
      <li class="page-item disabled">
				<span class="page-link">&laquo;</span>
			</li>
    {% endif %}

		{% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="page-item active">
					<span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span>
				</li>
      {% else %}
        <li class="page-item">
					<a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
				</li>
      {% endif %}
    {% endfor %}

    {% if users.has_next %}
      <li class="page-item">
				<a class="page-link" href="?page={{ users.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
			</li>
    {% else %}
      <li class="page-item disabled">
				<span class="page-link">&raquo;</span>
			</li>
    {% endif %}

  </ul>
</nav>
{% endif %}


{% endblock %}
