<table class="user-data-table table {% if striped == 'True' %}table-bordered table-striped{% else %}table-borderless{% endif %}">
  <tbody>
    <tr>
      <td>First Name:</td>
      <td>
        {% if data.first_name %}
          {{ data.first_name }}
        {% else %}
          None
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td>
        {% if data.last_name %}
          {{ data.last_name }}
        {% else %}
          None
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>CWL:</td>
      <td>
        {% if data.username %}
          {{ data.username }}
        {% else %}
          None
        {% endif %}
      </td>
    </tr>

    {% if student_number_display == 'True' %}
      <tr>
        <td>Student Number:</td>
        <td>
          {% if data.profile.student_number %}
            {{ data.profile.student_number }}
          {% else %}
            None
          {% endif %}
        </td>
      </tr>
    {% endif %}

    <tr>
      <td>Email:</td>
      <td>
        {% if data.email %}
          {{ data.email }}
        {% else %}
          None
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Employee Number:</td>
      <td>
        {% if data.confidentiality.employee_number %}
          {{ data.confidentiality.employee_number }}
        {% else %}
          None
        {% endif %}
      </td>
    </tr>

    <tr>
      <td>Date Joined:</td>
      <td>
        {% if data.date_joined %}
          {{ data.date_joined }}
        {% else %}
          None
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Last Login:</td>
      <td>
        {% if data.last_login %}
          {{ data.last_login }}
        {% else %}
          None
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
