<div>
  <h6>CWL:</h6>
  <span>
    {% if data.username %}
      {{ data.username }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

{% if student_number_display == 'True' %}
  <div>
    <h6>Student Number:</h6>
    <span>
      {% if data.profile.student_number %}
        {{ data.profile.student_number }}
      {% else %}
        None
      {% endif %}
    </span>
  </div>
{% endif %}

<div>
  <h6>Email:</h6>
  <span>
    {% if data.email %}
      {{ data.email }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Date Joined:</h6>
  <span>
    {% if data.date_joined %}
      {{ data.date_joined }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Last Login:</h6>
  <span>
    {% if data.last_login %}
      {{ data.last_login }}
    {% else %}
      None
    {% endif %}
  </span>
</div>
