{% if items %}
  <div class="alert alert-warning text-left" role="alert">
    {% if path == 'students' %}
      <strong>Alert:</strong>
    {% endif %}

    The following confidential information has already expired or will expire in the next few months of {{ this_year }}.

    {% if path == 'students' %}
      Please go to <a href="{% url 'students:show_confidentiality' %}">Confidential Information</a> and update your SIN, Study Permit or both.
    {% endif %}

    <ul class="mt-2">
      {% for item in items %}
        <li>
          <strong class="text-dark-gray">{{ item.doc }}</strong>: <strong class="text-danger">{{ item.status }}</strong> ({{ item.date }})
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
