<div>
  <h5>International Student:</h5>
  {% if data.confidentiality.is_international %}
    {{ data.confidentiality.is_international }}
  {% else %}
    <span>None</span>
  {% endif %}
</div>

<div>
  <h5>Social Insurance Number (SIN):</h5>
  {% if data.sin_data %}
    <img src="{{ data.sin_data.url }}" width="{{ data.sin_data.width }}" height="{{ data.sin_data.height }}" alt="SIN-image" />
    <a href="{{ data.sin_data.url }}" download="{{ data.sin_data.filename }}">{{ data.sin_data.filename }}</a>
  {% else %}
    <span>None</span>
  {% endif %}
</div>

<div>
  <h5>SIN Expiry Date:</h5>
  <span>
    {% if data.confidentiality.sin_expiry_date %}
      {{ data.confidentiality.sin_expiry_date }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h5>Study Permit:</h5>
  {% if data.study_permit_data %}
    <img src="{{ data.study_permit_data.url }}" width="{{ data.study_permit_data.width }}" height="{{ data.study_permit_data.height }}" alt="Study-Permit-image" />
    <a href="{{ data.study_permit_data.url }}" download="{{ data.study_permit_data.filename }}">{{ data.study_permit_data.filename }}</a>
  {% else %}
    <span>None</span>
  {% endif %}
</div>

<div>
  <h5>Study Permit Expiry Date:</h5>
  <span>
    {% if data.confidentiality.study_permit_expiry_date %}
      {{ data.confidentiality.study_permit_expiry_date }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h5>Created at:</h5>
  <span>
    {% if data.confidentiality.created_at %}
      {{ data.confidentiality.created_at }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h5>Updated at:</h5>
  <span>
    {% if data.confidentiality.updated_at %}
      {{ data.confidentiality.updated_at }}
    {% else %}
      None
    {% endif %}
  </span>
</div>
