
<button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#degree-details-modal-{{ data.id }}">
  Degree
</button>

<div class="modal fade" id="degree-details-modal-{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="degree-details-modal-label-{{ data.id }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-info" id="degree-details-label-{{ data.id }}">Degree Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-left">

        <div class="modal-item">
          <h5 class="mb-4">
            {{ data.get_full_name }}
            <small class="text-mute">(CWL: {{ data.username }})</small>
          </h5>

          <div>
            <h6>Status:</h6>
            <span>{{ data.profile.status }}</span>
          </div>

          <div>
            <h6>Current Program:</h6>
            <span>{{ data.profile.program }}</span>
          </div>

          <div>
            <h6>Other Program:</h6>
            <span>
              {% if data.profile.program_others %}
                {{ data.profile.program_others|safe }}
              {% else %}
                None
              {% endif %}
            </span>
          </div>

          <div>
            <h6>Most Recent Degrees:</h6>
            <ul>
              {% for degree in data.profile.degrees.all %}
                <li>{{ degree.name }}</li>
              {% empty %}
                <li>None</li>
              {% endfor %}
            </ul>
          </div>

          <div>
            <h6>Degree Details:</h6>
            <span>{{ data.profile.degree_details|safe }}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
