
<button class="btn btn-xs btn-info font-size-xs" type="button" data-toggle="modal" data-target="#degree-info-modal-{{ data.id }}">
  Degree Info
</button>

<div class="modal fade" id="degree-info-modal-{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="degree-info-modal-label-{{ data.id }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-info" id="degree-info-label-{{ data.id }}">Degree Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-left">
        <div class="modal-item font-size-1">
          <h5 class="mb-4">
            {{ data.get_full_name }}
            <small class="text-mute">(CWL: {{ data.username }})</small>
          </h5>

          <table class="table user-profile-table table-borderless table-striped">
            <tbody>
              <tr>
                <td>Status:</td>
                <td>{{ data.profile.status }}</td>
              </tr>
              <tr>
                <td>Student Year:</td>
                <td>
                  {% if data.profile.student_year %}
                    {{ data.profile.student_year }}
                  {% else %}
                    None
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Have you graduated?</td>
                <td>{{ data.profile.get_has_graduated_display }}</td>
              </tr>
              <tr>
                <td>(Anticipated) Graduation Date:</td>
                <td>
                  {% if data.profile.graduation_date %}
                    {{ data.profile.graduation_date }}
                  {% else %}
                    None
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Faculty</td>
                <td>{{ data.profile.faculty }}</td>
              </tr>
              <tr>
                <td>Current Program:</td>
                <td>{{ data.profile.program }}</td>
              </tr>
              <tr>
                <td>Other Program:</td>
                <td>
                  {% if data.profile.program_others %}
                    {{ data.profile.program_others|safe }}
                  {% else %}
                    None
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Most Recent Completed Degrees:</td>
                <td>
                  <ul class="list-no-ml">
                    {% for degree in data.profile.degrees.all %}
                      <li>{{ degree.name }}</li>
                    {% empty %}
                      <li>None</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Degree Details:</td>
                <td>{{ data.profile.degree_details|safe }}</td>
              </tr>
              <tr>
                <td>Previous TA Experience Details:</td>
                <td>{{ data.profile.ta_experience_details|safe }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
