<div class="bd-callout bd-callout-warning bg-light-gray col-10 mx-auto">
  <h5>
    <i class="fa fa-info-circle" aria-hidden="true"></i> Note
  </h5>
  <p>
    The following <span class="text-danger">required fields</span> are newly added to the <strong>Additional Information</strong> form in 2024. Please update your information.
    <ul>
      <li>Have you graduated?</li>
      <li>Faculty</li>
      <li><strong>For graduate students only</strong>, Total number of academic years, Total number of terms and Total number of TA hours</li>
    </ul>
  </p>
</div>

<div class="bd-callout bd-callout-info col-10 mx-auto">
  <h5>Examples for 3 GTA Totals</h5>
  <p>
    <strong>Total number of academic years</strong> worked as a GTA: 2021/22 + 2022/23 + 2023/24 = 3 academic years.
  </p>
  <p>
    <strong>Total number of Terms</strong> worked as a GTA: 2021/22 W1 and 2021/22 W2 + 2022/23 W1 + 2023/24 W2 = 4 terms.
  </p>
  <p>
    <strong>Total number of GTA hours</strong> worked: TAships for APBI 200 001 of <span class="text-danger font-weight-bold">100 GTA h</span> + FRST 444 001 of <span class="text-danger font-weight-bold">96 GTA h</span> + CHEM 101 001 (U of Guelph) of <span class="text-danger font-weight-bold">200 GTA h</span> = 396 Total GTA hours.</p>
</div>
