<div>
  <h6>Preferred Name:</h6>
  <span>
    {% if data.profile.preferred_name %}
      {{ data.profile.preferred_name }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Status:</h6>
  <span>
    {% if data.profile.status %}
      {{ data.profile.status }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Current Program:</h6>
  <span>
    {% if data.profile.program %}
      {{ data.profile.program }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Other Program:</h6>
  <span>
    {% if data.profile.program_others %}
      {{ data.profile.program_others|safe }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Anticipated Graduation Date:</h6>
  <span>
    {% if data.profile.graduation_date %}
      {{ data.profile.graduation_date }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Most Recent Completed Degrees:</h6>
  <ul>
    {% for degree in data.profile.degrees.all %}
      <li>{{ degree.name }}</li>
    {% empty %}
      <li>None</li>
    {% endfor %}
  </ul>
</div>

<div>
  <h6>Degree Details:</h6>
  <span>
    {% if data.profile.degree_details %}
      {{ data.profile.degree_details|safe }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Training:</h6>
  <ul>
    {% for training in data.profile.trainings.all %}
      <li>{{ training.name }}</li>
    {% empty %}
      <li>None</li>
    {% endfor %}
  </ul>
</div>

<div>
  <h6>Training Details:</h6>
  <span>
    {% if data.profile.training_details %}
      {{ data.profile.training_details|safe }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>LFS TA Training:</h6>
  <span>
    {% if data.profile.get_lfs_ta_training_display %}
      {{ data.profile.get_lfs_ta_training_display }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>LFS TA Training Details:</h6>
  <span>
    {% if data.profile.lfs_ta_training_details %}
      {{ data.profile.lfs_ta_training_details|safe }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Previous TA Experience:</h6>
  <span>
    {% if data.profile.get_ta_experience_display %}
      {{ data.profile.get_ta_experience_display }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Previous TA Experience Details:</h6>
  <span>
    {% if data.profile.ta_experience_details %}
      {{ data.profile.ta_experience_details|safe }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Explanation of Qualifications:</h6>
  <span>
    {% if data.profile.qualifications %}
      {{ data.profile.qualifications|safe }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Information on Prior Employment:</h6>
  <span>
    {% if data.profile.prior_employment %}
      {{ data.profile.prior_employment|safe }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Special Considerations:</h6>
  <span>
    {% if data.profile.special_considerations %}
      {{ data.profile.special_considerations|safe }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Created at:</h6>
  <span>{{ data.profile.created_at }}</span>
</div>

<div>
  <h6>Updated at:</h6>
  <span>{{ data.profile.updated_at }}</span>
</div>
