<div class="search-field bg-light-gray p-4">
  <form method="GET">
    <input type="text" name="first_name" value="{{ request.GET.first_name }}" placeholder="First Name" /> and
    <input type="text" name="last_name" value="{{ request.GET.last_name }}" placeholder="Last Name" /> <br />

    {% if path != 'admin_docs' %}
      <input type="text" name="preferred_name" value="{{ request.GET.preferred_name }}" placeholder="Preferred Name" /> and
    {% endif %}

    <input type="text" name="cwl" value="{{ request.GET.cwl }}" placeholder="CWL" />

    <div class="mt-1">
      <button class="btn btn-sm btn-secondary" type="submit">Search</button>

      {% if path == 'student_jobs' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:student_jobs' %}">Clear</a>

      {% elif path == 'instructor_jobs' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:instructor_jobs' %}">Clear</a>

      {% elif path == 'all_users' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:all_users' %}">Clear</a>

      {% elif path == 'admin_docs' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:admin_docs' %}">Clear</a>

      {% endif %}
    </div>

  </form>
</div>
<div>{{ total }} result{% if total > 1 %}s {% endif %} found. {{ data|length }} row{% if data|length > 1 %}s {% endif %} in this page.</div>
