<h5 class="mb-4 text-right font-weight-normal">Total Assigned TA hours: <span class="text-chocolate font-weight-bold">{{ total }}</span> hours</h5>

<table
  class="table table-bordered bg-white text-center font-size-sm"
  data-toggle="table"
  data-sortable="true"
  data-classes=""
  data-pagination="true"
  data-search="true"
  data-page-size="10"
  data-page-list="[10, 20, 50, all]"
>
  <thead>
    <tr>
      <th>#</th>
      <th data-sortable="true">Year</th>
      <th data-sortable="true">Term</th>
      <th data-sortable="true">Course/Job</th>
      <th data-sortable="true">Assigned TA hours</th>
      <th data-sortable="true">Accepted on</th>
    </tr>
  </thead>
  <tbody>
    {% for app in data %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ app.job.session.year }}</td>
        <td>{{ app.job.course.term.code }}</td>
        <td>{{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</td>
        <td>{{ app.accepted.assigned_hours }} hours</td>
        <td>
          <span class="d-none">{{ app.accepted.created_at|date:"Y m d z" }}</span>
          {{ app.accepted.created_at }}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="100%">No accepted applications found</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
