{% extends 'ta_app/base.html' %}
{% block content %}
{% load static %}

{% if portal == 'Admin' %}
  {% include "administrators/util/_sidebar.html" %}

{% elif portal == 'HR' %}
  {% include 'human_resources/util/_sidebar.html' %}

{% elif portal == 'Instructor' %}
  {% include 'instructors/util/_sidebar.html' %}

{% elif portal == 'Student' %}
  {% include 'students/util/_sidebar.html' %}

{% endif %}

<div id="content" class="container-fluid">

  <h3 class="mb-5">User Details</h3>

  <div class="row justify-content-center user-details">
    <div class="col-md-3">
      <div class="left-content">
        <img class="ubc-logo mx-auto d-block" src="{% static 'ta_app/images/UBClogo.jpeg' %}" alt="ubc logo" />

        <div class="mt-4 mb-3">
          <h2>{{ user.first_name }} {{ user.last_name }}</h2>
          <h4 class="text-secondary">{{ user.username }}</h4>

          <h5>
            {% for role in user.profile.roles.all %}
              <span class="badge badge-info">{{ role.name|upper }}</span>
            {% endfor %}
          </h5>
        </div>

        {% if path == 'student' %}
          <div class="mb-5">
            {% if user.resume_file %}
              <a class="btn btn-success btn-block" href="{% url 'students:download_resume' username=user.username filename=user.resume_file %}" target="_blank">
                <i class="fa fa-cloud-download" aria-hidden="true"></i> {{ user.resume_file }}
              </a>
              <div class="text-secondary">{{ user.resume.created_at }}</div>
            {% else %}
              <button class="btn btn-secondary btn-block" type="button" disabled>
                <i class="fa fa-cloud-download" aria-hidden="true"></i> No resume
              </button>
            {% endif %}
          </div>
        {% endif %}

        <a class="btn btn-warning btn-block" href="#">Edit Profile</a>
        <a class="btn btn-outline-primary btn-block" href="{{ previous_url }}">Go Back to a Previous Page</a>

        <div class="mt-5">
          Date Joined: <span class="text-secondary">{{ user.date_joined }}</span>
        </div>
        <div>
          Last Login: <span class="text-secondary">{{ user.last_login }}</span>
        </div>

        {% if path == 'student' %}
          <hr class="dotted mt-4 mb-4"/>
          <section class="text-white text-center">
            <h5 class="text-secondary">Statistics of Applications</h5>

            <div class="user-stats d-inline-block text-center bg-info">
              Total
              <h5>{{ stats.num_apps }}</h5>
            </div>
            <div class="user-stats d-inline-block text-center bg-info ">
              Offered
              <h5>{{ stats.num_offered }}</h5>
            </div>
            <div class="user-stats d-inline-block text-center bg-info">
              Accepted
              <h5>{{ stats.num_accepted }}</h5>
            </div>
            <div class="user-stats d-inline-block text-center bg-info ">
              Declined
              <h5>{{ stats.num_declined }}</h5>
            </div>
          </section>
        {% endif %}

      </div>
    </div>

    <div class="col-md-6 offset-md-1">
      <div class="right-content">

        <div class="text-secondary mb-4">
          <h6>User Profile:</h6>
          Created at {{ user.profile.created_at }} <span class="ml-3 mr-3">|</span>
          Updated at {{ user.profile.updated_at }}
        </div>

        <section>
          {% if portal == 'Admin' %}
            <h4>User ID: <span class="font-weight-normal">{{ user.id }}</span></h4>
          {% endif %}
          <h4>Preferred Name: <span class="font-weight-normal">{{ user.profile.preferred_name }}</span></h4>
          <h4>UBC Number: <span class="font-weight-normal">{{ user.profile.ubc_number }}</span></h4>
          <h4>Email: <span class="font-weight-normal">{{ user.email }}</span></h4>
        </section>

        <hr class="dotted mt-4 mb-4"/>

        <section class="line-height-2">
          <div>
            <span class="font-weight-bold">Status:</span>
            {{ user.profile.status }}
          </div>
          <div>
            <span class="font-weight-bold">Program:</span>
            {{ user.profile.program }}
          </div>
          <div>
            <span class="font-weight-bold">Program Others:</span>
            {{ user.profile.program_others }}
          </div>
          <div>
            <span class="font-weight-bold">Graduation Date:</span>
            {{ user.profile.graduation_date }}
          </div>

          <div>
            <span class="font-weight-bold">Degrees:</span>
            <ul>
              {% for degree in user.profile.degrees.all %}
                <li>{{ degree.name }}</li>
              {% empty %}
                <li>None</li>
              {% endfor %}
            </ul>
          </div>
        </section>

        <hr class="dotted mt-4 mb-4"/>

        <section class="line-height-2">
          <div>
            <span class="font-weight-bold">Qualifications:</span>
            {{ user.profile.qualifications }}
          </div>
          <div>
            <span class="font-weight-bold">Prior Employment:</span>
            {{ user.profile.prior_employment }}
          </div>
          <div>
            <span class="font-weight-bold">Trainings:</span>
            <ul>
              {% for degree in user.profile.trainings.all %}
                <li>{{ degree.name }}</li>
              {% empty %}
                <li>None</li>
              {% endfor %}
            </ul>
          </div>
          <div>
            <span class="font-weight-bold">LFS TA Training:</span>
            {{ user.profile.prior_employment }}
            <p>Details: {{ user.profile.ta_experience_details }}</p>
          </div>
          <div>
            <span class="font-weight-bold">Special Considerations:</span>
            <p>{{ user.profile.special_considerations }}</p>
          </div>
        </section>

      </div>
    </div>

  </div>
</div>

{% endblock %}
