{% extends 'ta_app/base.html' %}
{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'administrators:index' %}">administrators</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Terms</li>
  </ol>
</nav>


{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>Terms</h1>

<h3 class="margin-top-30">All Terms</h3>

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for term in terms %}
      <tr>
        <td>{{ term.code }}</td>
        <td>
          <a href="{% url 'administrators:show_term' term.code %}">{{ term.name }}</a>
        </td>
        <td>
          <form action="{% url 'administrators:delete_term' %}" method="post" onsubmit="return confirm('Are you sure to delete {{ term.code }} - {{ term.name }}?');">
  					{% csrf_token %}
            <input type="hidden" name="term" value="{{ term.id }}">
  					<input class="btn btn-danger" type="submit" value="Delete" />
  				</form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<h5>Create a term</h5>
<form action="" method="post">
  {% csrf_token %}
  <table>{{ form.as_table }}</table>
  <input value="Create" type="submit" />
</form>

{% endblock %}
