<h3>Declined Applications</h3>

<table class="table table-responsive-lg">
  <thead>
    <tr>
      <th>ID</th>
      <th>Year</th>
      <th>Term</th>
      <th>Job</th>
      <th>Applicant</th>
      <th>Status</th>
      <th>Instructor Preference</th>
      <th>Classification</th>
      <th>Note</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    {% for app in declined_applications %}
      <tr>
        <td>
          <a href="{% url 'administrators:show_application' type='declined_applications' app_slug=app.slug %}">{{ app.id }}</a>
        </td>
        <td>{{ app.job.session.year }}</td>
        <td>{{ app.job.session.term.code }}</td>
        <td>
          <a href="{% url 'administrators:display_job_details' session_slug=app.job.session.slug job_slug=app.job.course.slug role='administrator' %}">
            {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
          </a>
        </td>
        <td>
          <a href="{% url 'administrators:show_user' app.applicant.username %}">{{ app.applicant.first_name }} {{ app.applicant.last_name }}</a>
        </td>
        <td>{% include 'administrators/util/_modal_application_status.html' with data=app %}</td>
        <td>{{ app.get_instructor_preference_display }}</td>
        <td>{{ app.get_classification_display }}</td>
        <td>{{ app.note }}</td>
        <td>{{ app.created_at }}</td>
        <td>{{ app.updated_at }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="14">No applications found.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
