<div class="search-field bg-light-gray p-3 font-size-sm">
  <form method="GET">
    <input type="hidden" name="page" value="{% if request.GET.page %}{{ request.GET.page }}{% else %}1{% endif %}" />
    <input type="text" name="year" value="{{ request.GET.year }}" placeholder="Year" /> and
    <input type="text" name="term" value="{{ request.GET.term }}" placeholder="Term" /> <br />
    <input type="text" name="code" value="{{ request.GET.code }}" placeholder="Job Code" /> and
    <input type="text" name="number" value="{{ request.GET.number }}" placeholder="Job Number" /> and
    <input type="text" name="section" value="{{ request.GET.section }}" placeholder="Job Section" /> <br />
    <input type="text" name="first_name" value="{{ request.GET.first_name }}" placeholder="Applicant First Name" /> and
    <input type="text" name="last_name" value="{{ request.GET.last_name }}" placeholder="Applicant Last Name" />

    and Exact Search: <input class="custom-input-mb-7" type="checkbox" name="exact_search" value="True" {% if request.GET.exact_search %}checked{% endif %} />

    {% if path == 'selected' %}

      <br />
      <span class="mr-3">
        <label for="offered">Offered</label>
        <input class="custom-input-mb-7" type="radio" id="offered" name="offer_status" value="offered" {% if request.GET.offer_status == 'offered' %}checked{% endif %} />
         or
        <label for="not_offered">Not offered</label>
        <input class="custom-input-mb-7" type="radio" id="not_offered" name="offer_status" value="not_offered" {% if request.GET.offer_status == 'not_offered' %}checked{% endif %} />
      </span>
      |
      <span class="ml-3">
        Sort by Job in
        <label for="asc">ASC</label>
        <input id="asc" class="custom-input-mb-7" type="radio" name="sort_by_job" value="asc" {% if request.GET.sort_by_job == 'asc' %}checked{% endif %} />
        or
        <label for="desc">DESC</label>
        <input id="desc" class="custom-input-mb-7" type="radio" name="sort_by_job" value="desc" {% if request.GET.sort_by_job == 'desc' %}checked{% endif %} />
      </span>


    {% elif path == 'offered' %}
      <br />
      No response: <input class="custom-input-mb-7" type="checkbox" name="no_response" value="True" {% if request.GET.no_response %}checked{% endif %} />

    {% elif path == 'accepted' %}
      <br />
      <input type="text" name="processed" value="{{ request.GET.processed }}" placeholder="Processed" /> and
      Declined & re-assigned: <input class="custom-input-mb-7" type="checkbox" name="declined_reassigned" value="True" {% if request.GET.declined_reassigned %}checked{% endif %} /> and
      Accepted in today: <input class="custom-input-mb-7" type="checkbox" name="accepted_in_today" value="True" {% if request.GET.accepted_in_today %}checked{% endif %} />

    {% endif %}

    <div class="mt-1">
      <button class="btn btn-sm btn-secondary" type="submit">Search</button>

      {% if path == 'dashboard' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:applications_dashboard' %}">Clear</a>

      {% elif path == 'all' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:all_applications' %}">Clear</a>

      {% elif path == 'selected' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:selected_applications' %}">Clear</a>

      {% elif path == 'offered' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:offered_applications' %}">Clear</a>

      {% elif path == 'accepted' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:accepted_applications' %}">Clear</a>

      {% elif path == 'declined' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:declined_applications' %}">Clear</a>

      {% elif path == 'terminated' %}
        <a class="btn btn-sm btn-light" href="{% url 'administrators:terminated_applications' %}">Clear</a>

      {% endif %}
    </div>
  </form>
</div>

<div class="text-dark-gray font-size-sm">
  {{ total }} result{% if total > 1 %}s {% endif %} found. {{ data|length }} row{% if data|length > 1 %}s {% endif %} in this page.

  {% if path == 'selected' %}
    <span class="text-success">Offered: {{ filtered_offered_apps.num_offered }}</span> |
    <span class="text-danger">Not offered: {{ filtered_offered_apps.num_not_offered }}</span>

  {% elif path == 'accepted' %}
    <span class="text-success">Processed: {{ processed_stats.processed }}</span> |
    <span class="text-danger">Not processed: {{ processed_stats.not_processed }}</span>
  {% endif %}
</div>
