<h3>Selected Applications</h3>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Year</th>
      <th>Term</th>
      <th>Job</th>
      <th>Applicant</th>
      <th>Application</th>
      <th>Status</th>
      <th>Instructor Preference</th>
      <th>Classification</th>
      <th>Note</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for app in selected_applications %}
      <tr>
        <td>
          <a href="{% url 'administrators:show_application' path='selected_applications' app_slug=app.slug %}">{{ app.id }}</a>
        </td>
        <td>{{ app.job.session.year }}</td>
        <td>{{ app.job.session.term.code }}</td>
        <td>
          <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#app-job-modal-{{ app.id }}">{{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</button>
          <div class="modal fade" id="app-job-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="app-job-modal-label-{{ app.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="app-job-modal-label-{{ app.id }}">Job Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <h4>Session Term: {{ app.job.session.year }} {{ app.job.session.term.name }}</h4>

                  <div>
                    <h5>Job: {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</h5>
                    <h5>Title: {{ app.job.title }}</h5>
                    <div>ID: {{ app.job.id }}</div>
                    <div>Is Active: {{ app.job.is_active }}</div>
                    <small>Created at: {{ app.job.created_at }} | Updated At: {{ app.job.updated_at }}</small>
                  </div>

                  <div>
                    <h5>Description</h5>
                    <p>{{ app.job.description }}</p>
                  </div>

                  <div>
                    <h5>Qualification</h5>
                    <p>{{ app.job.qualification }}</p>
                  </div>

                  <div>
                    <h5>Note</h5>
                    <p>{{ app.job.note }}</p>
                  </div>

                  <div>
                    <h5>Instructors</h5>
                    <ul>
                      {% for instructor in app.job.instructors.all %}
                        <li>{{ instructor.first_name }} {{ instructor.last_name }}</li>
                      {% empty %}
                        No instructors found.
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#app-user-modal-{{ app.id }}">{{ app.applicant.first_name }} {{ app.applicant.last_name }}</button>
          <div class="modal fade" id="app-user-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="app-user-modal-label-{{ app.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="app-user-modal-label-{{ app.id }}">User Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <h4>Name: {{ app.applicant.first_name }} {{ app.applicant.last_name }}</h4>

                  <h5>Information</h5>
                  <ul class="list-group">
                    <li class="list-group-item"><b>CWL:</b> {{ app.applicant.username }}</li>
                    <li class="list-group-item"><b>Email:</b> {{ app.applicant.email }}</li>
                    <li class="list-group-item"><b>UBC Number:</b> {{ app.applicant.profile.ubc_number }}</li>
                    <li class="list-group-item"><b>Date Joined:</b> {{ app.applicant.date_joined }}</li>
                    <li class="list-group-item"><b>Last Login:</b> {{ app.applicant.last_login }}</li>
                  </ul>

                  <h5>Profile</h5>
                  <small>Created at: {{ app.applicant.profile.created_at }} | Updated at: {{ app.applicant.profile.updated_at }}</small>
                  <ul class="list-group">
                    <li class="list-group-item"><strong>Preferred Name:</strong> {{ app.applicant.profile.preferred_name }}</li>
                    <li class="list-group-item"><strong>Status:</strong> {{ app.applicant.profile.status }}</li>
                    <li class="list-group-item"><strong>Graduation Date:</strong> {{ app.applicant.profile.graduation_date }}</li>
                    <li class="list-group-item"><strong>Program:</strong> {{ app.applicant.profile.program }}</li>
                    <li class="list-group-item"><strong>Program Others:</strong> {{ app.applicant.profile.program_others }}</li>
                    <li class="list-group-item"><strong>Qualifications:</strong> {{ app.applicant.profile.qualifications }}</li>
                    <li class="list-group-item"><strong>Prior Employment:</strong> {{ app.applicant.profile.prior_employment }}</li>
                    <li class="list-group-item"><strong>Special Considerations:</strong> {{ app.applicant.profile.special_considerations }}</li>
                    <li class="list-group-item">
                      <strong>Degrees:</strong>
                      <ul>
                        {% for degree in app.applicant.profile.degrees.all %}
                          <li>{{ degree.name }}</li>
                        {% empty %}
                          None
                        {% endfor %}
                      </ul>
                    </li>
                    <li class="list-group-item">
                      <strong>Trainings:</strong>
                      <ul>
                        {% for training in app.applicant.profile.trainings.all %}
                          <li>{{ training.name }}</li>
                        {% empty %}
                          None
                        {% endfor %}
                      </ul>
                    </li>
                    <li class="list-group-item"><strong>Training Details:</strong> {{ app.applicant.profile.training_details }}</li>
                    <li class="list-group-item">
                      <strong>LFS TA Training:</strong> {{ app.applicant.profile.get_lfs_ta_training_display }}
                      <p><strong>Details:</strong> {{ app.applicant.profile.lfs_ta_training_details }}</p>
                    </li>
                    <li class="list-group-item">
                      <strong>Previous TA Experience:</strong> {{ app.applicant.profile.get_ta_experience_display }}
                      <p><strong>Details:</strong> {{ app.applicant.profile.ta_experience_details }}</p>
                    </li>
                  </ul>

                  <div>
                    <h5>Resume</h5>
                    {% if app.resume_file %}
                      <a href="{% url 'students:download_resume' username=app.applicant.username filename=app.resume_file %}" target="_blank">{{ app.resume_file }}</a>
                    {% else %}
                      No
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#application-modal-{{ app.id }}">View</button>
          <div class="modal fade" id="application-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="application-modal-label-{{ app.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="application-modal-label-{{ app.id }}">Application Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <h4>Applicant: {{ app.applicant.first_name }} {{ app.applicant.last_name }}</h4>
                  <small>Created at: {{ app.created_at }} | Updated at: {{ app.updated_at }}</small>

                  <div>Supervisor Approval: {{ app.supervisor_approval }}</div>
                  <div>How Qualified: {{ app.get_how_qualified_display }}</div>
                  <div>How Interested: {{ app.get_how_interested_display }}</div>
                  <div>Availability: {{ app.availability }}</div>
                  <div>Availability Note: {{ app.availability_note }}</div>
                  <div>Instructor Preference: {{ app.get_instructor_preference_display }}</div>
                  <div>Classification: {{ app.get_classification_display }}</div>
                  <div>Note: {{ app.note }}</div>

                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <ul>
            {% for st in app.status.all %}
              <li>{{ st.get_assigned_display }}: {{ st.assigned_hours }} hours at {{ st.created_at }}</li>
            {% empty %}
              No status found
            {% endfor %}
          </ul>
        </td>
        <td>{{ app.get_instructor_preference_display }}</td>
        <td>{{ app.get_classification_display }}</td>
        <td>{{ app.note }}</td>
        <td>{{ app.created_at }}</td>
        <td>{{ app.updated_at }}</td>
        <td>
          <button type="button" data-toggle="modal" data-target="#jobApplicationModal-{{ app.id }}">Edit</button>
          <div class="modal fade" id="jobApplicationModal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="jobApplicationModalLabel-{{ app.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="jobApplicationModalLabel-{{ app.id }}">Edit Classification and Note</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <h4>{{ app.applicant.username }}</h4>
                  <form action="{% url 'administrators:edit_job_application' session_slug=app.job.session.slug job_slug=app.job.course.slug type=type %}" method="post">
                    {% csrf_token %}
                    <div>
                      <label for="classification">Classification:</label>
                      <select name="classification">
                        {% for choice in classification_choices %}
                          {% if choice.0 == app.classification %}
                            <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                          {% else %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                    <div>
                      <label for="note">Note:</label>
                      <textarea name="note" rows="2" cols="40">{{ app.note }}</textarea>
                    </div>
                    <input type="hidden" name="application" value="{{ app.id }}">
                    <input type="submit" value="Update">
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% if app.has_offered %}
            Offered
          {% else %}
            <button type="button" data-toggle="modal" data-target="#jobApplicationOfferModal-{{ app.id }}">Offer</button>
          {% endif %}
          <div class="modal fade" id="jobApplicationOfferModal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="jobApplicationOfferModalLabel-{{ app.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="jobApplicationOfferModalLabel-{{ app.id }}">Offer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <h4>
                    To {{ app.applicant.username }} for
                    {{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
                  </h4>
                  <form action="{% url 'administrators:offer_job' session_slug=app.job.session.slug job_slug=app.job.course.slug type=type %}" method="post">
                    {% csrf_token %}
                    <div>
                      <label for="assigned_hours">Assigned Hours:</label>
                      <input type="number" name="assigned_hours" value="0.0" />
                    </div>
                    <input type="hidden" name="assigned" value="{{ offer_status_code }}" />
                    <input type="hidden" name="applicant" value="{{ app.applicant.id }}" />
                    <input type="submit" value="Offer" />
                  </form>
                </div>
              </div>
            </div>
          </div>

        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="14">No applications found.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
