{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='Accepted Applications' %}

  {% include 'administrators/applications/_search_fields.html' with data=apps total=total_apps path='accepted' %}

  <table
    class="table table-sm table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">ID</th>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Job</th>
        <th data-sortable="true">Applicant</th>
        <th data-sortable="true">Student<br /> Number</th>
        <th data-sortable="true">Employee<br /> Number</th>
        <th data-sortable="true">Classification</th>
        <th data-sortable="true">Monthly<br /> Salary<br /> (CAD)</th>
        <th data-sortable="true">P/T (%)</th>
        <th>PIN</th>
        <th>TASM</th>
        <th>eForm</th>
        <th>Speed<br /> Chart</th>
        <th>Processing<br /> Note</th>
        <th data-sortable="true">Accepted<br /> at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
        <tr>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'administrators:show_application' app_slug=app.slug path='accepted' %}">{{ app.id }}</a>
          </td>
          <td>{{ app.job.session.year }}</td>
          <td>{{ app.job.session.term.code }}</td>
          <td>
            <a href="{% url 'administrators:show_job' session_slug=app.job.session.slug job_slug=app.job.course.slug path='accepted' %}">
              {{ app.job.course.code.name }}<br /> {{ app.job.course.number.name }}<br /> {{ app.job.course.section.name }}
            </a>
          </td>
          <td>
            <a href="{% url 'administrators:show_user' username=app.applicant.username path='accepted' %}">
              {{ app.applicant.first_name }} <br />{{ app.applicant.last_name }}
            </a><br />
            <small>({{ app.applicant.username }})</small><br />
            {% include 'ta_app/applications/_modal_app_status.html' with data=app display='name' %}
          </td>
          <td>{{ app.applicant.profile.student_number }}</td>
          <td>
            {% if app.applicant.confidentiality.employee_number %}
              {{ app.applicant.confidentiality.employee_number }}
            {% else %}
              <span class="badge badge-danger">NEW</span>
            {% endif %}
          </td>
          <td>
            {% include 'ta_app/applications/_app_classification.html' with data=app %}<br />
            <small>(${{ app.classification.wage|floatformat:2 }})</small><br />
            {% include 'ta_app/applications/_modal_note.html' with data=app display='name' %}
          </td>
          <td>${{ app.salary|floatformat:2 }}</td>
          <td>{{ app.pt_percentage|floatformat:2 }}</td>
          <td>
            {% if app.admindocuments.pin %}
              {{ app.admindocuments.pin }}
            {% endif %}
          </td>
          <td>
            {% if app.admindocuments.tasm == True %}
              <span class="badge badge-orange">YES</span>
            {% endif %}
          </td>
          <td>
            {% if app.admindocuments.eform %}
              {{ app.admindocuments.eform }}
            {% endif %}
          </td>
          <td>
            {% if app.admindocuments.speed_chart %}
              {{ app.admindocuments.speed_chart }}
            {% endif %}
          </td>
          <td>{% include 'ta_app/applications/_modal_processing_note.html' with data=app %}</td>
          <td>
            <div>
              <span class="font-weight-bold text-chocolate">{{ app.accepted.assigned_hours }}</span> hours
            </div>
            <small class="text-muted">{{ app.accepted.created_at }}</small>
          </td>
          <td>
            {% if 'Admin' in loggedin_user.roles or 'Superadmin' in loggedin_user.roles %}

              {% if app.is_declined_reassigned %}
              <button class="btn btn-xs btn-secondary mb-2" type="button" data-toggle="modal" data-target="#job-application-modal-{{ app.id }}" disabled>
                Declined &<br /> Re-assigned
              </button><br />
              {% else %}
                <button class="btn btn-xs btn-primary mb-2" type="button" data-toggle="modal" data-target="#job-application-modal-{{ app.id }}">
                  Decline &<br /> Re-assign
                </button><br />
              {% endif %}

              <div class="modal fade" id="job-application-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="job-application-modal-label-{{ app.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-info" id="job-application-modal-label-{{ app.id }}">Decline & Re-assign</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body text-left">
                      <div class="modal-item">
                        <h5>
                          To {{ app.applicant.get_full_name }}
                          <small class="text-muted">(CWL: {{ app.applicant.username }})</small>
                        </h5>
                        <h6 class="mb-3">for {{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</h6>

                        <form action="{% url 'administrators:decline_reassign' %}" method="post">
                          {% csrf_token %}

                          <div class="field-wrapper">
                            <label for="id_new_assigned_hours_{{ app.id }}">New Assigned Hours:</label>
                            <div class="help">Numerical value only</div>
                            <input id="id_new_assigned_hours_{{ app.id }}" type="number" step="0.01" name="new_assigned_hours" id="id_new_assigned_hours" value="{{ app.accepted.assigned_hours }}" class="form-control" />
                          </div>

                          <input type="hidden" name="old_assigned_hours" value="{{ app.accepted.assigned_hours }}" />
                          <input type="hidden" name="application" value="{{ app.id }}" />
                          <input class="btn btn-primary" type="submit" value="Decline & Re-assign" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {% if app.is_terminated %}
                <button class="btn btn-xs btn-secondary" type="button" disabled>Terminated</button><br />
              {% else %}
                <a class="btn btn-xs btn-success" href="{% url 'administrators:terminate' app_slug=app.slug %}">Terminate</a><br />
              {% endif %}
            {% endif %}

            <button class="btn btn-xs btn-warning mt-2" type="button" data-toggle="modal" data-target="#admin-docs-modal-{{ app.id }}">Admin Docs</button>
            <div class="modal fade" id="admin-docs-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="admin-docs-modal-label-{{ app.id }}" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-info" id="admin-docs-label-{{ app.id }}">Admin Documents</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body text-left">

                    <div class="modal-item">
                      <h5>
                        {{ app.applicant.get_full_name }}
                        <small class="text-muted">(CWL: {{ app.applicant.username }})</small>
                      </h5>
                      <h6 class="mb-3">for {{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</h6>

                      <form action="" method="post">
                        {% csrf_token %}

                        <div class="field-wrapper">
                          <label for="id_pin_{{ app.id }}">PIN:</label>
                          <div class="help">Optional. Maximum 4 digits long</div>
                          <input id="id_pin_{{ app.id }}" type="text" name="pin" class="form-control" maxlength="4"
                            {% if app.admindocuments.pin %}
                              value="{{ app.admindocuments.pin }}"
                            {% else %}
                              value=""
                            {% endif %}
                          />
                        </div>

                        <div class="field-wrapper">
                          <label for="id_tasm_{{ app.id }}">TASM:</label>
                          <div class="help">Optional</div>
                          <input id="id_tasm_{{ app.id }}" type="checkbox" name="tasm"
                            {% if app.admindocuments.tasm %}
                              checked
                            {% endif %}
                          />
                        </div>

                        <div class="field-wrapper">
                          <label for="id_eform_{{ app.id }}">eForm:</label>
                          <div class="help">Optional. Maximum 6 digits long</div>
                          <input id="id_eform_{{ app.id }}" type="text" name="eform" class="form-control" maxlength="6"
                            {% if app.admindocuments.eform %}
                              value="{{ app.admindocuments.eform }}"
                            {% else %}
                              value=""
                            {% endif %}
                          />
                        </div>

                        <div class="field-wrapper">
                          <label for="id_speed_chart_{{ app.id }}">Speed Chart:</label>
                          <div class="help">Optional. Maximum 4 digits long</div>
                          <input id="id_speed_chart_{{ app.id }}" type="text" name="speed_chart" class="form-control" maxlength="4"
                            {% if app.admindocuments.speed_chart %}
                              value="{{ app.admindocuments.speed_chart }}"
                            {% else %}
                              value=""
                            {% endif %}
                          />
                        </div>

                        <div class="field-wrapper">
                          <label for="id_processing_note_{{ app.id }}">Processing Note:</label>
                          <div class="help">Optional</div>
                          <textarea id="id_processing_note_{{ app.id }}" name="processing_note" cols="40" rows="2" class="form-control">{{ app.admindocuments.processing_note }}</textarea>
                        </div>

                        <input type="hidden" name="application" value="{{ app.id }}" />
                        <input class="btn btn-primary" type="submit" value="Update" />
                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=apps %}

</div>


{% endblock %}
