{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}

<div>
  <div id="download-result-message" class="container"></div>

  {% include 'ta_app/pages/_header.html' with title='Report for Workday - Accepted Applications' %}

  <div class="row">
    <div class="col-md-6">
      {% include 'administrators/applications/_admin_report_search_fields.html' with data=apps total=total_apps path='workday' %}
    </div>
    <div class="col-md-6">
      <div class="bg-light-gray p-4" style="height:180.8px">
        <h5>Note:</h5>
        <ul class="font-size-sm">
          <li><code>Time Type</code> is Full_time if P/T (%) >= 100; otherwise, Part_time</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mb-5">
    <small class="float-right">Search first before download all</small>
    <br />

    <div class="float-right">
      <button id="download-accepted-apps-workday" class="btn btn-sm btn-info font-size-xs" type="button" data-url="{% url 'administrators:download_accepted_apps_workday' %}" data-next="{{ request.get_full_path }}">
        Download All as Excel
      </button>
    </div>
  </div>

  <table class="table table-bordered table-hover table-striped table-responsive text-center">
    <thead>
      <tr>
        <th>ID / <br /> Year Term</th>
        <th>Student <br /> ID</th>
        <th>Last Name / <br /> Mono Name</th>
        <th>Hire/Effective Date <br /> (Start Date1)</th>
        <th>Position <br /> Number</th>
        <th>Time <br /> Type</th>
        <th>Job Title</th>
        <th>Default <br /> Weekly Hours</th>
        <th>Scheduled <br /> Weekly Hours</th>
        <th>Additional Job <br /> Classifications</th>
        <th>End Empl. Date <br /> (End Date1)</th>
        <th>Compensation <br /> Frequency</th>
        <th>Compensation <br /> Amount</th>
        <th>Visa ID Type</th>
        <th>Expiration Date of SIN / <br /> Expiration Date of Visa</th>
        <th>Worktag1 / <br /> Distribution <br /> Percentage 1</th>
        <th>Start Date2 <br /> End Date2</th>
        <th>Worktag2 / <br />Distribution <br /> Percentage 2</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
        <tr>
          <td>{{ app.id }} / <br /> {{ app.job.session.year }} {{ app.job.session.term.code }}</td>
          <td>{{ app.student_number }}</td>
          <td>{{ app.applicant.last_name }}</td>
          <td>{{ app.start_date1 }}</td>
          <td>{{ app.position_number }}</td>
          <td>{{ app.time_type }}</td>
          <td>{{ app.job_title }}</td>
          <td>{{ app.default_weekly_hours }}</td>
          <td>{{ app.scheduled_weekly_hours }}</td>
          <td>{{ app.job_class }}</td>
          <td>{{ app.end_date1 }}</td>
          <td>{{ app.compensation_freq }}</td>
          <td>${{ app.monthly_salary|floatformat:2 }}</td>
          <td>{{ app.visa_type }}</td>
          <td>
            {{ app.sin_expiry_date }} <br />
            {{ app.study_permit_expiry_date }}
          </td>
          <td>
            {% if app.worktag1 %}
              {{ app.worktag1 }} / <br /> {{ app.dist_per1 }}
            {% endif %}
          </td>
          <td>
            {{ app.start_date2 }} <br />
            {{ app.end_date2 }}
          </td>
          <td>
            {% if app.worktag2 %}
              {{ app.worktag2 }} / <br /> {{ app.dist_per2 }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'administrators/applications/_admin_report_table_paginator.html' with data=apps %}
</div>

{% endblock %}


{% block js %}
  {% load static %}
  <script type="text/javascript" src="{% static 'ta_app/js/accepted_apps_report_workday.js' %}"></script>
{% endblock %}
