{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}

<div>
  <div id="admin-docs-form-message" class="container"></div>
  <div id="download-csv-message" class="container"></div>

  {% include 'ta_app/pages/_header.html' with title='Accepted Applications' %}

  <div class="row">
    <div class="col-md-6">
      {% include 'administrators/applications/_search_fields.html' with data=apps total=num_filtered_apps path='accepted' processed_stats=processed_stats %}
    </div>

    <div class="col-md-6">

      <div class="bg-light-gray p-3 text-center" style="height:218.8px">
        <p class="h4 font-weight-normal mt-2 mb-4">
          <i class="fa fa-bell-o" aria-hidden="true"></i> Today ({{ today }})
        </p>

        <table class="table text-center font-size-1">
          <tbody>
            <tr>
              <td>Processed</td>
              <td>Not processed</td>
              <td>Total</td>
            </tr>
            <tr>
              <td><span class="text-success h3 font-weight-normal">{{ today_processed_stats.processed }}</span></td>
              <td><span class="text-danger h3 font-weight-normal">{{ today_processed_stats.not_processed }}</span></td>
              <td>
                <span class="h3 font-weight-bold">{{ today_accepted_apps|length }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="d-inline-block mt-4-4rem">
    <button id="btn-default-table" class="btn btn-sm btn-secondary font-size-xs" type="button">
      Turn sorting off
      <i class="fa fa-sort" aria-hidden="true"></i>
    </button>
  </div>

  <div class="float-right mb-3 text-right">
    <div class="mb-3">
      <small>Search first before download all</small>
      <br />
      <button id="download-all-accepted-apps" class="btn btn-sm btn-info font-size-xs" type="button" data-url='{{ download_all_accepted_apps_url }}' data-next='{{ request.get_full_path }}'>
        Download All as CSV
      </button>
    </div>

    <div>
      <small>Current Page</small>:
      <button id="export-accepted-apps-csv" class="btn btn-sm btn-outline-secondary font-size-xs" type="button">Export as CSV</button>
      <button class="btn btn-sm btn-outline-secondary font-size-xs" type="button" data-toggle="modal" data-target="#import-accepted-apps-modal">Import as CSV</button>

      <div class="modal fade" id="import-accepted-apps-modal" tabindex="-1" aria-labelledby="import-accepted-apps-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="import-accepted-apps-modal-label">Import a CSV file</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body text-left">
              <div class="bg-light-gray p-3 mb-3">
                <code>PIN</code>, <code>TASM</code>, <code>Processed</code>, <code>Worktag</code> and <code>Processing Note</code> are allowed to update in Admin Documents.
              </div>

              <form action="{% url 'administrators:import_accepted_apps' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field-wrapper">
                  <label for="id_file">CSV File:</label>
                  <input id="id_file" type="file" name="file" />
                </div>
                <input type="hidden" name="next" value="{{ new_next }}" />
                <input class="btn btn-primary" type="submit" value="Import" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <table id="accepted-apps-table" class="sortable-table table table-sm table-bordered table-hover table-striped table-responsive-md text-center">
    <thead>
      <tr>
        <th class="sortable" onclick="sortColumn(0, 'numeric')">
          <div class="sort-field">ID</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th class="sortable" onclick="sortColumn(1, 'numeric')">
          <div class="sort-field">Year</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th class="sortable" onclick="sortColumn(2)">
          <div class="sort-field">Term</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th class="sortable" onclick="sortColumn(3)">
          <div class="sort-field">Job</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th class="sortable" onclick="sortColumn(4)">
          <div class="sort-field">Applicant</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th class="sortable" onclick="sortColumn(5, 'numeric')">
          <div class="sort-field">Student<br /> Number</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th class="sortable" onclick="sortColumn(6, 'numeric')">
          <div class="sort-field">Employee<br /> Number</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th class="sortable" onclick="sortColumn(7)">
          <div class="sort-field">Classification</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th class="sortable" onclick="sortColumn(8, 'dollar')">
          <div class="sort-field">Monthly<br /> Salary</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th class="sortable" onclick="sortColumn(9, 'numeric')">
          <div class="sort-field">P/T (%)</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th>PIN</th>
        <th>TASM</th>
        <th class="sortable" onclick="sortColumn(12)">
          <div class="sort-field">Processed</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th class="sortable" onclick="sortColumn(13)">
          <div class="sort-field">Worktag</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th>Processing<br /> Note</th>
        <th class="sortable" onclick="sortColumn(15, 'date')">
          <div class="sort-field">Accepted on</div>
          <div class="sort-icon"><i class="fa fa-sort" aria-hidden="true"></i></div>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
        <tr>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'administrators:show_application' app_slug=app.slug %}?next={{ new_next }}&p=Accepted Applications">{{ app.id }}</a>
            <br />
            {% if app.admindocuments.processed %}
              <i class="fa fa-check text-success mt-2 font-size-1" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-remove text-danger mt-2 font-size-1" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td>{{ app.job.session.year }}</td>
          <td>{{ app.job.session.term.code }}</td>
          <td>
            <a href="{% url 'administrators:show_job' session_slug=app.job.session.slug job_slug=app.job.course.slug %}?next={{ new_next }}&p=Accepted Applications">
              {{ app.job.course.code.name }}<br /> {{ app.job.course.number.name }}<br /> {{ app.job.course.section.name }}
            </a>
            <br />
            {% include 'ta_app/applications/_modal_reset_log.html' with data=app %}
          </td>
          <td>
            <a href="{% url 'users:show_user' username=app.applicant.username %}?next={{ new_next }}&p=Accepted Applications&t=basic">
              {{ app.applicant.first_name }} <br />{{ app.applicant.last_name }}
            </a>

            <div class="text-dark-gray">{{ app.applicant.username }}</div>

            {% include 'ta_app/applications/_modal_app_status.html' with data=app display='name' %}

            {% if app.is_declined_reassigned %}
              <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td>{{ app.applicant.profile.student_number }}</td>
          <td>
            {% if app.applicant.confidentiality.employee_number %}
              {{ app.applicant.confidentiality.employee_number }}
            {% else %}
              <span class="badge badge-danger">NEW</span>
            {% endif %}
          </td>
          <td>
            <div>{% include 'ta_app/applications/_app_classification.html' with data=app %}</div>
            <div class="text-dark-gray">(${{ app.classification.wage|floatformat:2 }})</div>
            {% include 'ta_app/applications/_modal_note.html' with data=app display='name' %}
          </td>
          <td>${{ app.salary|floatformat:2 }}</td>
          <td>{{ app.pt_percentage|floatformat:2 }}</td>
          <td>
            {% if app.admindocuments.pin %}
              {{ app.admindocuments.pin }}
            {% endif %}
          </td>
          <td>
            {% if app.admindocuments.tasm == True %}
              <span class="badge badge-orange">YES</span>
            {% endif %}
          </td>
          <td>
            {% if app.admindocuments.processed %}
              {{ app.admindocuments.processed }}
            {% endif %}
          </td>
          <td>
            {% if app.admindocuments.worktag %}
              {{ app.admindocuments.worktag }}
            {% endif %}
          </td>
          <td>
            <div class="d-none">{{ app.admindocuments.processing_note }}</div>
            {% include 'ta_app/applications/_modal_processing_note.html' with data=app %}
          </td>
          <td>
            <div>{{ app.accepted.created_at }}</div>
            <div>
              (<span class="font-weight-bold text-chocolate">{{ app.accepted.assigned_hours }}</span> hours)
            </div>
            {% if app.accepted.has_contract_read %}
              <span class="badge badge-success">READ</span>
            {% endif %}
          </td>
          <td>
            {% if 'Admin' in request.user.roles or 'Superadmin' in request.user.roles %}

              {% if app.is_declined_reassigned %}
                <button class="btn btn-xs btn-info mb-2" type="button" data-toggle="modal" data-target="#job-application-modal-{{ app.id }}">
                  Declined &<br /> Re-assigned
                </button><br />
              {% else %}
                <button class="btn btn-xs btn-primary mb-2" type="button" data-toggle="modal" data-target="#job-application-modal-{{ app.id }}">
                  Decline &<br /> Re-assign
                </button><br />
              {% endif %}

              <div class="modal fade" id="job-application-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="job-application-modal-label-{{ app.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-info" id="job-application-modal-label-{{ app.id }}">
                        Decline & Re-assign
                        {% if app.is_declined_reassigned %}
                          <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
                        {% endif %}
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body text-left">
                      <div class="modal-item">
                        <h6 class="text-secondary">{{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</h6>

                        <h5>
                          <span class="text-primary">{{ app.applicant.get_full_name }}</span>
                          <small>(CWL: {{ app.applicant.username }})</small>
                        </h5>

                        <form action="{% url 'administrators:decline_reassign' %}?next={{ new_next }}" method="post">
                          {% csrf_token %}

                          <div class="field-wrapper">
                            <label for="id_new_assigned_hours_{{ app.id }}">New Assigned Hours:</label>
                            <div class="help">Numerical value only</div>
                            <input id="id_new_assigned_hours_{{ app.id }}" type="number" step="1" name="new_assigned_hours" id="id_new_assigned_hours" value="{{ app.accepted.assigned_hours|floatformat:'0' }}" class="form-control" />
                          </div>

                          <input type="hidden" type="number" step="1" name="old_assigned_hours" value="{{ app.accepted.assigned_hours|floatformat:'0' }}" />
                          <input type="hidden" name="application" value="{{ app.id }}" />
                          <input class="btn btn-primary font-size-1" type="submit" value="Decline & Re-assign" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {% if app.is_terminated %}
                <button class="btn btn-xs btn-secondary" type="button" disabled>Terminated</button><br />
              {% else %}
                <a class="btn btn-xs btn-success" href="{% url 'administrators:terminate' app_slug=app.slug %}?next={{ new_next }}">Terminate</a><br />
              {% endif %}
            {% endif %}

            <button class="btn btn-xs btn-warning mt-2" type="button" data-toggle="modal" data-target="#admin-docs-modal-{{ app.id }}">Admin Docs</button>
            <div class="modal fade" id="admin-docs-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="admin-docs-modal-label-{{ app.id }}" aria-hidden="true">
              <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-info" id="admin-docs-label-{{ app.id }}">Admin Documents</h5>
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body text-left font-size-1">
                    <h6>{{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</h6>
                    <h5>
                      <span class="text-primary">{{ app.applicant.get_full_name }}</span>
                      <small>(CWL: {{ app.applicant.username }})</small>
                    </h5>

                    <div class="row p-3">
                      <div class="col-md-8">
                        <form id="admin-docs-form-{{ app.id }}" action="" method="post">
                          {% csrf_token %}

                          <div class="two-columns">
                            <div class="column left-50">
                              <div class="field-wrapper">
                                <label for="id_pin_{{ app.id }}">PIN:</label>
                                <div class="help">This field is optional. Maximum 4 characters allowed.</div>
                                <input id="id_pin_{{ app.id }}" type="text" name="pin" class="form-control" maxlength="4"
                                  {% if app.admindocuments.pin %}
                                    value="{{ app.admindocuments.pin }}"
                                  {% else %}
                                    value=""
                                  {% endif %}
                                />
                              </div>

                              <div class="field-wrapper">
                                <label for="id_tasm_{{ app.id }}">TASM:</label>
                                <div class="help">This field is optional.</div>
                                <input id="id_tasm_{{ app.id }}" type="checkbox" name="tasm"
                                  {% if app.admindocuments.tasm %}
                                    checked
                                  {% endif %}
                                />
                              </div>

                              <div class="field-wrapper">
                                <label for="id_processed_{{ app.id }}">Processed:</label>
                                <div class="help">This field is optional. Maximum 4 characters allowed.</div>
                                <input id="id_processed_{{ app.id }}" type="text" name="processed" class="form-control" maxlength="4"
                                  {% if app.admindocuments.processed %}
                                    value="{{ app.admindocuments.processed }}"
                                  {% else %}
                                    value=""
                                  {% endif %}
                                />
                              </div>
                            </div>
                            <div class="column right-50">
                              <div class="field-wrapper">
                                <label for="id_worktag_{{ app.id }}">Worktag:</label>
                                <div class="help">This field is optional. Maximum 35 characters allowed.</div>
                                <input id="id_worktag_{{ app.id }}" type="text" name="worktag" class="form-control" maxlength="35"
                                  {% if app.admindocuments.worktag %}
                                    value="{{ app.admindocuments.worktag }}"
                                  {% else %}
                                    value=""
                                  {% endif %}
                                />

                                <div class="mt-2">
                                  {% for name, value in worktag_options.items %}
                                    <input id="{{ name }}_{{ app.id }}" type="checkbox" value="{{ value }}" onclick="selectWorktag(this.id)" {% if value in app.admindocuments.worktag %}checked{% endif %} /> {{ value }} <br />
                                  {% endfor %}
                                </div>
                              </div>

                              <div class="field-wrapper">
                                <label for="id_processing_note_{{ app.id }}">Processing Note:</label>
                                <div class="help">This field is optional. Only administrators can see this processing note.</div>
                                <textarea id="id_processing_note_{{ app.id }}" name="processing_note" class="summernote">{{ app.admindocuments.processing_note|default_if_none:"" }}</textarea>
                              </div>
                            </div>
                          </div>

                          <input type="hidden" name="application" value="{{ app.id }}" />
                          <input class="btn btn-warning font-size-1 btn-submit" type="button" value="Confirm Update" data-app-id="{{ app.id }}" data-url="{% url 'administrators:update_admin_docs' %}" />
                          <div id="admin-docs-form-{{ app.id }}-error" class="mt-3"></div>
                        </form>
                      </div>
                      <div class="col-md-4">
                        <div class="border p-3 mb-4 font-size-sm">
                          <div class="mb-2"><strong>Note:</strong> If eForm or Speed Chart (or both) exists, it will appear here.</div>

                          {% if app.admindocuments.eform %}
                            <div class="mb-1">eForm: {{ app.admindocuments.eform }}</div>
                          {% endif %}

                          {% if app.admindocuments.speed_chart %}
                            <div class="mb-1">Speed Chart: {{ app.admindocuments.speed_chart }}</div>
                          {% endif %}
                        </div>

                        <h6 class="bg-success text-white text-center p-2">UPDATE HISTORY</h6>
                        {% for adminuser in app.admindocuments.admindocumentsuser_set.all %}
                          <div>- Updated at <span class="text-chocolate">{{ adminuser.created_at }}</span> by <span class="text-info">{{ adminuser.user }}</span></div>
                        {% empty %}
                          <div>No records found</div>
                        {% endfor %}
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="100%">No accepted applications found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=apps %}

  <div class="border bg-light-gray d-inline-block my-5 p-3">
    <h5>Note:</h5>
    <ul class="font-size-sm mb-0">
      <li>{% include 'ta_app/applications/_contract_read_note.html' %}</li>
      <li>{% include 'ta_app/applications/_declined_reassigned_note.html' %}</li>
      <li>
        Applications have been processed (Processed is not empty): <i class="fa fa-check text-success" aria-hidden="true"></i>, otherwise <i class="fa fa-remove text-danger" aria-hidden="true"></i>.
      </li>
      <li>
        Enter <code>none</code> in the <code>Processed</code> search box to fetch applications with no Processed data.
      </li>
      <li>
        <code>Monthly Salary</code> is paid in Canadian dollars (CAD).
      </li>
      <li>
        If an <code>eForm</code> or a <code>Speed Chart</code> (or both) data exists, it will appear in the Admin Docs window.
      </li>
      <li>In Summer Terms (<code>S1</code> and <code>S2</code>), P/T (%) calculation multiplies the existing formula by 2.</li>
    </ul>
  </div>

</div>

{% endblock %}

{% block js %}
  {% load static %}
  <script type="text/javascript" src="{% static 'ta_app/js/accepted_applications.js' %}"></script>
{% endblock %}
