{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}

<div>
  <div id="download-csv-message" class="container"></div>

  {% include 'ta_app/pages/_header.html' with title='Report for Admin - Accepted Applications' %}

  <div class="row">
    <div class="col-md-6">
      {% include 'observers/_search_fields.html' with data=apps total=total_apps path='admin_report' %}
    </div>

    <div class="col-md-6">
      <div class="bg-light-gray p-4" style="height:180.8px">
        <h5>Note:</h5>
        <ul class="font-size-sm">
          <li>
            {% include 'ta_app/applications/_declined_reassigned_note.html' %}
          </li>
          <li><span class="font-weight-bold">Preferred Students</span> (<i class="fa fa-star text-warning" aria-hidden="true"></i>) indicate applicants have both <strong>LFS Graduate</strong> and <strong>Previous TA Experience in UBC</strong></li>
          <li><span class="font-weight-bold">LFS Graduate:</span> includes LFS Master’s and LFS PhD students</li>
          <li><span class="font-weight-bold">Others:</span> includes non-LFS Graduate students and all Undergraduate students</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mb-5">
    <small class="float-right">Search first before download all</small>
    <br />

    <div class="float-right">
      <button id="download-all-accepted-apps-report-admin" class="btn btn-sm btn-info font-size-xs" type="button" data-url='{{ download_all_accepted_apps_report_admin_url }}' data-next='{{ request.get_full_path }}'>
        Download All as CSV
      </button>
    </div>
  </div>

  <table id="accepted-apps-table" class="sortable-table table table-bordered table-hover table-striped table-responsive-md text-center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Year Term /<br /> Job</th>
        <th>Instructor(s)</th>
        <th>Applicant <br /> (CWL) </th>
        <th>Student Number / <br /> Employee Number</th>
        <th>Domestic or <br /> International <br /> Student</th>
        <th>Status / <br /> LFS Grad or Others</th>
        <th>SIN / Study Permit <br /> Expiry Date</th>
        <th>Admin <br /> Docs</th>
        <th>Previous <br /> TA Experience <br /> Details</th>
        <th>Previous <br /> TA Experience <br /> in UBC</th>
        <th>Previous Year <br /> TA Experience<br /> in Same Term</th>
        <th>Accepted on</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
        <tr>
          <td>
            {{ app.id }}
            {% if app.is_preferred_student %}
              <br />
              <i class="fa fa-star text-warning" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td>
            {{ app.job.session.year }} {{ app.job.session.term.code }} <br />
            {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
          </td>
          <td class="text-left">{% include 'ta_app/jobs/_job_instructor_list.html' with data=app.job %}</td>
          <td>
            <div>{{ app.applicant.first_name }} <br /> {{ app.applicant.last_name }}</div>
            <span class="text-dark-gray">({{ app.applicant.username }})</span>

            {% if app.is_declined_reassigned %}
              <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td>
            {{ app.applicant.profile.student_number }} <br />

            {% if app.applicant.confidentiality.employee_number %}
              {{ app.applicant.confidentiality.employee_number }}
            {% else %}
              <span class="badge badge-danger">NEW</span>
            {% endif %}
          </td>
          <td>
            {{ app.applicant.confidentiality.get_nationality_display }}
          </td>
          <td>
            {{ app.applicant.profile.status.name }}
            {% if app.lfs_grad_or_others %}
              <br />
              {% if app.lfs_grad_or_others == 'LFS GRAD' %}
                <span class="badge badge-primary">{{ app.lfs_grad_or_others }}</span>
              {% else %}
                <span class="badge badge-secondary">{{ app.lfs_grad_or_others }}</span>
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if app.applicant.confidentiality.get_nationality_display == 'International Student' %}
              {{ app.applicant.confidentiality.sin_expiry_date }}
              {% if app.confi_info_expiry_status.sin %}
                <span class="badge badge-{% if app.confi_info_expiry_status.sin == 'EXPIRED' %}secondary{% elif app.confi_info_expiry_status.sin == 'WILL EXPIRE' %}warning{% endif %} fs-1">{{ app.confi_info_expiry_status.sin }}</span>
              {% endif %}
            {% endif %}

            <br />

            {% if app.applicant.confidentiality.get_nationality_display == 'International Student' %}
              {{ app.applicant.confidentiality.study_permit_expiry_date }}
              {% if app.confi_info_expiry_status.study_permit %}
                <span class="badge badge-{% if app.confi_info_expiry_status.study_permit == 'EXPIRED' %}secondary{% elif app.confi_info_expiry_status.study_permit == 'WILL EXPIRE' %}warning{% endif %} fs-1">{{ app.confi_info_expiry_status.study_permit }}</span>
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if app.admindocuments %}
              <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#admin-docs-modal-{{ app.id }}">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
              </button>

              <div class="modal fade" id="admin-docs-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="admin-docs-modal-label-{{ app.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-info" id="admin-docs-modal-label-{{ app.id }}">Admin Documents</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <h5 class="text-left mb-3">Applicant: <span class="text-primary">{{ app.applicant.get_full_name }}</span></h5>

                      <table class="modal-table table">
                        <thead>
                          <tr>
                            <th>Classification</th>
                            <th>Monthly <br /> Salary</th>
                            <th>P/T <br /> (%)</th>
                            <th>Weekly <br /> Hours</th>
                            <th>PIN</th>
                            <th>TASM</th>
                            <th>Processed</th>
                            <th>Worktag</th>
                            <th>Processing <br /> Note</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div>{% include 'ta_app/applications/_app_classification.html' with data=app %}</div>
                              <div class="text-dark-gray">(${{ app.classification.wage|floatformat:2 }})</div>
                            </td>
                            <td>${{ app.salary|floatformat:2 }}</td>
                            <td>{{ app.pt_percentage|floatformat:2 }}</td>
                            <td>{{ app.weekly_hours|floatformat:2 }}</td>
                            <td>
                              {% if app.admindocuments.pin %}
                                {{ app.admindocuments.pin }}
                              {% endif %}
                            </td>
                            <td>
                              {% if app.admindocuments.tasm == True %}
                                <span class="badge badge-orange">YES</span>
                              {% endif %}
                            </td>
                            <td>
                              {% if app.admindocuments.processed %}
                                {{ app.admindocuments.processed }}
                              {% endif %}
                            </td>
                            <td>
                              {% if app.admindocuments.worktag %}
                                {{ app.admindocuments.worktag }}
                              {% endif %}
                            </td>
                            <td>
                              {% if app.admindocuments.processing_note %}
                                {{ app.admindocuments.processing_note|safe }}
                              {% endif %}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </td>
          <td>
            {% if app.applicant.profile.ta_experience_details %}
              <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#ta-experience-details-modal-{{ app.id }}">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
              </button>

              <div class="modal fade" id="ta-experience-details-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="ta-experience-details-modal-label-{{ app.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-info" id="ta-experience-details-modal-label-{{ app.id }}">Previous TA Experience Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body text-left font-size-1">
                      <h5 class="text-left mb-3">Applicant: <span class="text-primary">{{ app.applicant.get_full_name }}</span></h5>

                      {{ app.applicant.profile.ta_experience_details|safe }}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </td>
          <td>
            {% if app.prev_accepted_apps %}
              <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#prev-accepted-apps-modal-{{ app.id }}">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
              </button>

              <div class="mt-1">Total: <strong class="text-danger">{{ app.total_assigned_hours }}</strong></div>

              <div class="modal fade" id="prev-accepted-apps-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="prev-accepted-apps-modal-label-{{ app.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-info" id="prev-accepted-apps-modal-label-{{ app.id }}">Previous TA Experience in UBC</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <h5 class="text-left">Applicant: <span class="text-primary">{{ app.applicant.get_full_name }}</span></h5>

                      <h5 class="text-left mb-3">
                        Total Assigned Hours: <span class="text-danger">{{ app.total_assigned_hours }}</span>
                      </h5>
                      <table class="modal-table table">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Year</th>
                            <th>Term</th>
                            <th>Job</th>
                            <th>Classification</th>
                            <th>Assigned Hours</th>
                            <th>Accepted on</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for ap in app.prev_accepted_apps %}
                            <tr>
                              <td>{{ ap.id }}</td>
                              <td>{{ ap.job.session.year }}</td>
                              <td>{{ ap.job.session.term.code }}</td>
                              <td>{{ ap.job.course.code.name }} {{ ap.job.course.number.name }} {{ ap.job.course.section.name }}</td>
                              <td>
                                <div>{% include 'ta_app/applications/_app_classification.html' with data=ap %}</div>
                                <div class="text-dark-gray">(${{ ap.classification.wage|floatformat:2 }})</div>
                              </td>
                              <td>{{ ap.accepted.assigned_hours }}</td>
                              <td>{{ ap.accepted.created_at }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </td>
          <td>
            {% if app.prev_year_accepted_apps %}
              <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#prev-year-accepted-apps-modal-{{ app.id }}">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
              </button>

              <div class="mt-1">Total: <strong class="text-danger">{{ app.total_prev_year_assigned_hours }}</strong></div>

              <div class="modal fade" id="prev-year-accepted-apps-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="prev-year-accepted-apps-modal-label-{{ app.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-info" id="prev-year-accepted-apps-modal-label-{{ app.id }}">Previous Year TA Experience in Same Term</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <h5 class="text-left">Applicant: <span class="text-primary">{{ app.applicant.get_full_name }}</span></h5>

                      <h5 class="text-left mb-3">
                        Total Previous Year Assigned Hours: <span class="text-danger">{{ app.total_prev_year_assigned_hours }}</span>
                      </h5>
                      <table class="modal-table table">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Year</th>
                            <th>Term</th>
                            <th>Job</th>
                            <th>Classification</th>
                            <th>Assigned Hours</th>
                            <th>Accepted on</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for ap in app.prev_year_accepted_apps %}
                            <tr>
                              <td>{{ ap.id }}</td>
                              <td>{{ ap.job.session.year }}</td>
                              <td>{{ ap.job.session.term.code }}</td>
                              <td>{{ ap.job.course.code.name }} {{ ap.job.course.number.name }} {{ ap.job.course.section.name }}</td>
                              <td>
                                <div>{% include 'ta_app/applications/_app_classification.html' with data=ap %}</div>
                                <div class="text-dark-gray">(${{ ap.classification.wage|floatformat:2 }})</div>
                              </td>
                              <td>{{ ap.accepted.assigned_hours }}</td>
                              <td>{{ ap.accepted.created_at }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </td>
          <td>
            <div>{{ app.accepted.created_at }}</div>
            <div>
              (<span class="font-weight-bold text-chocolate">{{ app.accepted.assigned_hours }}</span> hours)
            </div>
            {% if app.accepted.has_contract_read %}
              <span class="badge badge-success">READ</span>
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="100%">No accepted applications found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'administrators/applications/_admin_report_table_paginator.html' with data=apps %}
</div>

{% endblock %}

{% block js %}
  {% load static %}
  <script type="text/javascript" src="{% static 'ta_app/js/accepted_apps_report_admin.js' %}"></script>
{% endblock %}
