{% extends 'ta_app/base.html' %}
{% block content %}
{% include 'administrators/_menu.html' %}

<div>
  {% include 'ta_app/pages/_header.html' with title='All Applications' %}

  <div class="row">
    <div class="col-md-6">
      {% include 'administrators/applications/_search_fields.html' with data=apps total=num_filtered_apps path='all' %}
    </div>

    <div class="col-md-6">
      <div class="bg-light-gray p-4" style="height:180.8px">
        <h5>Note:</h5>
        <ul class="font-size-sm">
          <li>
            Reset buttons will appear in the Actions column when the latest application status is
            <span class="badge badge-orange">SELECTED</span>
            <span class="badge badge-danger">DECLINED</span> or
            <span class="badge badge-secondary">TERMINATED</span>.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">ID</th>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Job</th>
        <th data-sortable="true">Applicant</th>
        <th data-sortable="true">Status</th>
        <th data-sortable="true">Instructor<br /> Preference</th>
        <th data-sortable="true">Classification</th>
        <th data-sortable="true">Note</th>
        <th data-sortable="true">Created at</th>
        <th data-sortable="true">Updated at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
        <tr>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'administrators:show_application' app_slug=app.slug %}?next={{ new_next }}&p=All Applications">{{ app.id }}</a>
          </td>
          <td>{{ app.job.session.year }}</td>
          <td>{{ app.job.session.term.code }}</td>
          <td>
            <a href="{% url 'administrators:show_job' session_slug=app.job.session.slug job_slug=app.job.course.slug %}?next={{ new_next }}&p=All Applications">
              {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
            </a>
          </td>
          <td>
            <a href="{% url 'users:show_user' username=app.applicant.username %}?next={{ new_next }}&p=All Applications&t=basic">
              {{ app.applicant.get_full_name }}
            </a>
            <div class="text-dark-gray">{{ app.applicant.username }}</div>
          </td>
          <td>{% include 'ta_app/applications/_modal_app_status.html' with data=app %}</td>
          <td>{% include 'ta_app/applications/_app_instructor_preference.html' with data=app.get_instructor_preference_display %}</td>
          <td>
            {% if app.classification %}
              {{ app.classification.year }} {{ app.classification.name }}
            {% else %}
              None
            {% endif %}
          </td>
          <td>
            {% if app.note %}
              {% include 'ta_app/applications/_modal_note.html' with data=app %}
            {% else %}
              None
            {% endif %}
          </td>
          <td>
            <span class="d-none">{{ app.created_at|date:"Y m d z" }}</span>
            {{ app.created_at }}
          </td>
          <td>
            <span class="d-none">{{ app.updated_at|date:"Y m d z" }}</span>
            {{ app.updated_at }}
          </td>
          <td>
            {% if app.can_reset %}
              <button class="btn btn-xs btn-outline-danger" type="button" data-toggle="modal" data-target="#job-application-reset-modal-{{ app.id }}">
                Reset
                {% if app.applicationreset_set.count > 0 %}
                  ({{ app.applicationreset_set.count }})
                {% endif %}
              </button>

              <div class="modal fade" id="job-application-reset-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="job-application-reset-modal-label-{{ app.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-info" id="job-application-reset-modal-label-{{ app.id }}">Reset an application</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body text-left">
                      <div class="row">
                        <div class="col-md-7">
                          <div class="modal-item">
                            <h6 class="text-secondary">{{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</h6>

                            <h4>
                              <span class="text-primary">{{ app.applicant.get_full_name }}</span>

                              <small class="text-dark-gray">({{ app.applicant.username }})</small>
                              {% if 'MFRE' in app.applicant.profile.program.name %}
                                <span class="badge badge-warning">MFRE</span>
                              {% elif 'MLWS' in app.applicant.profile.program.name %}
                                <span class="badge badge-warning">MLWS</span>
                              {% elif 'MFS' in app.applicant.profile.program.name %}
                                <span class="badge badge-warning">MFS</span>
                              {% endif %}
                            </h4>

                            <ul class="no-bullet bg-light border rounded p-3">
                              <li>Application ID: {{ app.id }}</li>
                              <li>Current Assigned Status: {% include 'ta_app/applications/_app_status.html' with data=app.applicationstatus_set.last.get_assigned_display %}</li>
                            </ul>

                            <h6 class="my-3">Are you sure to <span class="text-danger">reset</span> this application <span class="text-secondary"></span>?</h6>

                            <form action="{% url 'administrators:reset_application' %}" method="post">
                              {% csrf_token %}

                              <input type="hidden" name="application" value="{{ app.id }}" />
                              <input type="hidden" name="latest_status" value="{{ app.applicationstatus_set.last.get_assigned_display }}" />
                              <input type="hidden" name="next" value="{{ new_next }}" />

                              <input class="btn btn-danger font-size-1" type="submit" value="Reset" />
                            </form>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <h6>Reset Logs</h6>
                          {% for app_reset in app.applicationreset_set.all %}
                            <li>Date: <span class="text-chocolate">{{ app_reset.created_at }}</span> by {{ app_reset.user }}</li>
                          {% empty %}
                            <li>No records found</li>
                          {% endfor %}
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            {% else %}

              {% if app.applicationreset_set.count > 0 %}
                {% include 'ta_app/applications/_modal_reset_logs.html' with data=app %}
              {% endif %}

            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=apps %}

</div>

{% endblock %}
