{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='Dashboard' %}

  <div class="bg-prompt">
    <div class="prompt p-4 text-center mb-4">
      <h4>Application Status: Get a glance</h4>
      <p class="col-8 mx-auto">This table shows you the latest application status of students.</p>
    </div>
  </div>

  {% include 'administrators/applications/_search_fields.html' with data=statuses total=total_statuses path='dashboard' %}

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">Status<br /> ID</th>
        <th data-sortable="true">Status</th>
        <th data-sortable="true">Applicant</th>
        <th data-sortable="true">CWL</th>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Job</th>
        <th data-sortable="true">Application<br /> ID</th>
        <th data-sortable="true">Created at</th>
      </tr>
    </thead>
    <tbody>
      {% for st in statuses %}
        <tr>
          <td>{{ st.id }}</td>
          <td>

            {% if st.parent_id %}

              {% if st.assigned == app_status.cancelled %}
                {% include 'ta_app/applications/_app_status.html' with data=st.get_assigned_display %}
              {% else %}
                <span class="badge badge-danger">DECLINED &<br /> RE-ASSIGNED</span>
              {% endif %}

            {% else %}

              {% if st.assigned == app_status.selected or st.assigned == app_status.offered or st.assigned == app_status.accepted or st.assigned == app_status.declined %}
                {% include 'ta_app/applications/_app_status.html' with data=st.get_assigned_display %}
              {% else %}
                {% include 'ta_app/applications/_app_status.html' with data='None' %}
              {% endif %}

            {% endif %}
          </td>
          <td>{{ st.application.applicant.first_name }} {{ st.application.applicant.last_name }}</td>
          <td>
            <a href="{% url 'users:show_user' username=st.application.applicant.username %}?next={{ request.get_full_path }}&p=Dashboard&t=basic">
              {{ st.application.applicant.username }}
            </a>
          </td>
          <td>{{ st.application.job.session.year }}</td>
          <td>{{ st.application.job.session.term.code }}</td>
          <td>
            <a href="{% url 'administrators:show_job' session_slug=st.application.job.session.slug job_slug=st.application.job.course.slug %}?next={{ request.get_full_path }}&p=Dashboard">
              {{ st.application.job.course.code.name }} {{ st.application.job.course.number.name }} {{ st.application.job.course.section.name }}
            </a>
          </td>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'administrators:show_application' app_slug=st.application.slug %}?next={{ request.get_full_path }}&p=Dashboard">{{ st.application.id }}</a>
          </td>
          <td>{{ st.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=statuses %}
</div>

{% endblock %}
