{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_header.html' with title='Send Email' %}
    <div class="col-10 mx-auto">

      <div class="bg-prompt">
        <div class="prompt p-4 mb-4">
          <h4>
            {{ admin_email.type }} Email
          </h4>
          <p>There are <span class="font-weight-bold">{{ applications|length }}</span> receiver(s) selected.</p>

          <a class="btn btn-outline-primary" href="{{ request.GET.next }}">Back to {{ request.GET.p }} Applications</a>
        </div>
      </div>

      {% include 'ta_app/pages/_email_note.html' %}

    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      {% if applications|length == 0 %}

        <div class="alert alert-danger" role="alert">
          Please select any one of Offered Applications to send an email, and try again.
        </div>

      {% else %}

        <h3>Receivers</h3>
        <table class="table text-center font-size-1">
          <thead>
            <tr>
              <th>#</th>
              <th>Application<br /> ID</th>
              <th>Year</th>
              <th>Term</th>
              <th>Job</th>
              <th>Classification</th>
              <th>Assigned Hours</th>
              <th>Receivers</th>
            </tr>
          </thead>
          <tbody>
            {% for app in applications %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ app.id }}</td>
                <td>{{ app.job.session.year }}</td>
                <td>{{ app.job.session.term.code }}</td>
                <td>{{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</td>
                <td>{{ app.classification.name }}</td>
                <td>
                  {% if path == 'offered' %}
                    {{ app.offered.assigned_hours }}
                  {% elif path == 'declined' %}
                    {{ app.declined.assigned_hours }}
                  {% elif path == 'terminated' %}
                    {{ app.accepted.assigned_hours }}
                  {% else %}
                    Oops! Something went wrong
                  {% endif %}
                </td>
                <td>
                  {{ app.applicant.get_full_name }}<br />
                  <small class="text-dark-gray">{{ app.applicant.email }}</small>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <h3>Send Email Form</h3>

        <form action="" method="post">
          {% csrf_token %}

          <div>
            <h6>Sender:</h6>
            <span>{{ sender }}</span>
          </div>

          <div>
            <h6>Receiver:</h6>
            <span>{{ receiver }}</span>
          </div>

          <hr />

          {% for field in form.visible_fields  %}
            <div class="field-wrapper">
              {{ field.label_tag }}
              {% if field.help_text %}
                <div class="help">{{ field.help_text|safe }}</div>
              {% endif %}
              {{ field }}
            </div>
          {% endfor %}

          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}

          <input type="hidden" name="next" value="{{ request.GET.next }}" />

          <input class="btn btn-primary" type="submit" value="Confirm to send an email by {{ admin_email.type }}" />
        </form>

      {% endif %}
    </div>

  </div>
</div>

{% endblock %}
