{% extends 'ta_app/base.html' %}
{% block content %}
{% include 'administrators/_menu.html' %}

<div>
  {% include 'ta_app/pages/_header.html' with title='Declined Applications' text=declined_applications|length %}

  <div>

    <table
      class="table table-bordered table-hover table-striped table-responsive-md text-center"
      data-toggle="table"
      data-sortable="true"
      data-classes=""
      data-pagination="true"
      data-search="true"
      data-page-size="50"
      data-page-list="[50, 100, 200, all]"
      data-show-export="true"
      data-click-to-select="true"
      data-show-columns="true"
    >
      <thead>
        <tr>
          <th data-sortable="true">ID</th>
          <th data-sortable="true">Year</th>
          <th data-sortable="true">Term</th>
          <th data-sortable="true">Job</th>
          <th data-sortable="true">Applicant</th>
          <th data-sortable="true">Status</th>
          <th data-sortable="true">Instructor Preference</th>
          <th data-sortable="true">Classification</th>
          <th data-sortable="true">Note</th>
          <th data-sortable="true">Created at</th>
          <th data-sortable="true">Updated at</th>
          <th data-sortable="true">Declined at</th>
        </tr>
      </thead>
      <tbody>
        {% for app in declined_applications %}
          <tr>
            <td>
              <a href="{% url 'administrators:show_application' app_slug=app.slug path='declined' %}">{{ app.id }}</a>
            </td>
            <td>{{ app.job.session.year }}</td>
            <td>{{ app.job.session.term.code }}</td>
            <td>
              <a href="{% url 'administrators:show_job' session_slug=app.job.session.slug job_slug=app.job.course.slug path='declined' %}">
                {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
              </a>
            </td>
            <td>
              <a href="{% url 'administrators:show_user' username=app.applicant.username path='declined' %}">{{ app.applicant.get_full_name }}</a>
            </td>
            <td>{% include 'ta_app/applications/_modal_app_status.html' with data=app %}</td>
            <td>{{ app.get_instructor_preference_display }}</td>
            <td>{{ app.classification.year }} {{ app.classification.name }}</td>
            <td>{{ app.note }}</td>
            <td>{{ app.created_at }}</td>
            <td>{{ app.updated_at }}</td>
            <td>{{ app.declined.created_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</div>

{% endblock %}
