{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='Email History' text=emails|length %}

  <div class="search-field bg-light-gray p-4">
    <form method="GET">
      <input type="text" name="receiver" value="{{ request.GET.receiver }}" placeholder="Receiver" /> and
      <input type="text" name="title" value="{{ request.GET.title }}" placeholder="Title" /> and
      <input type="text" name="message" value="{{ request.GET.message }}" placeholder="Message" /> and
      <input type="text" name="type" value="{{ request.GET.type }}" placeholder="Type" />

      <div class="mt-1">
        <button class="btn btn-sm btn-secondary" type="submit">Search</button>
        <a class="btn btn-sm btn-light" href="{% url 'administrators:email_history' %}">Clear</a>
      </div>
    </form>
  </div>
  <div>{{ total }} result{% if total > 1 %}s {% endif %} found. {{ emails|length }} row{% if emails|length > 1 %}s {% endif %} in this page.</div>

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">Email<br /> ID</th>
        <th data-sortable="true">Sender</th>
        <th data-sortable="true">Receiver</th>
        <th data-sortable="true">Email</th>
        <th data-sortable="true">Type</th>
        <th data-sortable="true">Application<br /> ID</th>
        <th data-sortable="true">Created at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for email in emails %}
        <tr>
          <td>{{ email.id }}</td>
          <td>{{ email.sender }}</td>
          <td>{{ email.receiver }}</td>
          <td>
            <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#email-modal-{{ email.id }}">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </button>
          	<div class="modal fade" id="email-modal-{{ email.id }}" tabindex="-1" role="dialog" aria-labelledby="email-modal-label-{{ email.id }}" aria-hidden="true">
            	<div class="modal-dialog modal-lg" role="document">
            	  <div class="modal-content">
              		<div class="modal-header">
              		  <h5 class="modal-title" id="email-modal-label-{{ email.id }}">Sent an email to {{ email.receiver }}</h5>
              		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              		</div>
              		<div class="modal-body text-left">
                    <section class="line-height-2">
                      <div>
                        <span class="font-weight-bold">Sender:</span>
                        {{ email.sender }}
                      </div>
                      <div>
                        <span class="font-weight-bold">Receiver:</span>
                        {{ email.receiver }}
                      </div>
                    </section>

                    <hr />

                    <section>
                      <h5 class="text-dark-gray mb-3">{{ email.title }}</h5>
                      <p>{{ email.message|safe }}</p>
                    </section>
              		</div>
            	  </div>
            	</div>
          	</div>
          </td>
          <td>{{ email.type }}</td>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'administrators:show_application' app_slug=email.application.slug %}?next={{ new_next }}&p=Email History">
              {{ email.application.id }}
            </a>
          </td>
          <td>{{ email.created_at }}</td>
          <td>
            <a href="{% url 'administrators:send_reminder' email.id %}?next={{ new_next }}&p=Email History">Remind</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  {% if emails.has_other_pages %}
    <nav class="table-paginator" aria-label="Page navigation Search results pages">
      <ul class="pagination justify-content-center">

        {% if emails.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1
{% if request.GET.receiver %}&receiver={{ request.GET.receiver }}{% endif %}
{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}
{% if request.GET.message %}&message={{ request.GET.message }}{% endif %}
{% if request.GET.type %}&type={{ request.GET.type }}{% endif %}"
            ><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ emails.previous_page_number }}
{% if request.GET.receiver %}&receiver={{ request.GET.receiver }}{% endif %}
{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}
{% if request.GET.message %}&message={{ request.GET.message }}{% endif %}
{% if request.GET.type %}&type={{ request.GET.type }}{% endif %}"
            ><i class="fa fa-angle-left" aria-hidden="true"></i></a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
          </li>
          <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
          </li>
        {% endif %}

        {% for i in emails.paginator.page_range %}
          {% if emails.number == i %}
            <li class="page-item active">
              <span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span>
            </li>
          {% else %}
            <li class="page-item">

              {% if i|add:"-3" <= emails.number and emails.number <= i|add:"3" %}
                <a class="page-link" href="?page={{ i }}
{% if request.GET.receiver %}&receiver={{ request.GET.receiver }}{% endif %}
{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}
{% if request.GET.message %}&message={{ request.GET.message }}{% endif %}
{% if request.GET.type %}&type={{ request.GET.type }}{% endif %}"
                >{{ i }}</a>
              {% endif %}

            </li>
          {% endif %}
        {% endfor %}

        {% if emails.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ emails.next_page_number }}
{% if request.GET.receiver %}&receiver={{ request.GET.receiver }}{% endif %}
{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}
{% if request.GET.message %}&message={{ request.GET.message }}{% endif %}
{% if request.GET.type %}&type={{ request.GET.type }}{% endif %}"
            ><i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ emails.paginator.num_pages }}
{% if request.GET.receiver %}&receiver={{ request.GET.receiver }}{% endif %}
{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}
{% if request.GET.message %}&message={{ request.GET.message }}{% endif %}
{% if request.GET.type %}&type={{ request.GET.type }}{% endif %}"
            ><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          </li>
          <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
          </li>
        {% endif %}

      </ul>
    </nav>

  {% endif %}

</div>

{% endblock %}
