{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='Email History' text=emails|length %}

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-pagination="true"
    data-search="true"
    data-page-size="50"
    data-page-list="[50, 100, 200, all]"
    data-show-export="true"
    data-click-to-select="true"
    data-show-columns="true"
  >
    <thead>
      <tr>
        <th data-sortable="true">Email<br /> ID</th>
        <th data-sortable="true">Sender</th>
        <th data-sortable="true">Receiver</th>
        <th data-sortable="true">Email</th>
        <th data-sortable="true">Type</th>
        <th data-sortable="true">Application<br /> ID</th>
        <th data-sortable="true">Created at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for email in emails %}
        <tr>
          <td>{{ email.id }}</td>
          <td>{{ email.sender }}</td>
          <td>{{ email.receiver }}</td>
          <td>
            <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#email-modal-{{ email.id }}">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </button>
          	<div class="modal fade" id="email-modal-{{ email.id }}" tabindex="-1" role="dialog" aria-labelledby="email-modal-label-{{ email.id }}" aria-hidden="true">
            	<div class="modal-dialog modal-lg" role="document">
            	  <div class="modal-content">
              		<div class="modal-header">
              		  <h5 class="modal-title" id="email-modal-label-{{ email.id }}">Sent an email to {{ email.receiver }}</h5>
              		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              		</div>
              		<div class="modal-body text-left">
                    <section class="line-height-2">
                      <div>
                        <span class="font-weight-bold">Sender:</span>
                        {{ email.sender }}
                      </div>
                      <div>
                        <span class="font-weight-bold">Receiver:</span>
                        {{ email.receiver }}
                      </div>
                    </section>

                    <hr />

                    <section>
                      <h5 class="text-secondary mb-3">{{ email.title }}</h5>
                      <p>{{ email.message|safe }}</p>
                    </section>
              		</div>
            	  </div>
            	</div>
          	</div>
          </td>
          <td>{{ email.type }}</td>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'administrators:show_application' app_slug=email.application.slug path='emails' %}">
              {{ email.application.id }}
            </a>
          </td>
          <td>{{ email.created_at }}</td>
          <td>
            <a href="{% url 'administrators:send_reminder' email.id %}">Remind</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
