{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "administrators/util/_sidebar.html" %}

  <div id="content" class="container-fluid">
    {% include 'ta_app/_return_messages.html' with data=messages %}
    
    <h3>offered applications send email confirmation</h3>

    {% if applications|length == 0 %}

    <div class="alert alert-danger" role="alert">
      Please select any one of Offered Applications to send an email, and try again.
    </div>

    {% else %}

      <ul>
        {% for app in applications %}
          <li>
            {{ app.applicant.first_name }} {{ app.applicant.last_name }} ({{ app.applicant.email }}):
            {{ app.job.session.year }} {{ app.job.session.term.code }}-{{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
          </li>
        {% endfor %}
      </ul>

      <h5>
        {% if type == 'type1' %} Type 1 {% else %} Type 2 {% endif %}
        Email
      </h5>

      <form action="" method="post">
        {% csrf_token %}
        <div>Sender: {{ sender }}</div>
        <div>Receiver: {{ receiver }}</div>
        <table>{{ form.as_table }}</table>

        {% if type == 'type1' %}
          <input type="submit" value="Confirm to send an email by Type 1" />
        {% else  %}
          <input type="submit" value="Confirm to send an email by Type 2" />
        {% endif %}
      </form>

    {% endif %}

    <div class="bd-callout bd-callout-warning">
      <h5>Note</h5>
      <p>
        <ul>
          <li>Name: {0}</li>
          <li>Job: {1}</li>
          <li>Assigned Hours: {2}</li>
          <li>Classification: {3}</li>
          <li>URL: {4}</li>
        </ul>
      </p>
    </div>

    <a href="{% url 'administrators:offered_applications' %}">Go back to Offered Applications</a>
  </div>
</div>

{% endblock %}
