{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='Selected Applications' %}

  {% include 'administrators/applications/_search_fields.html' with data=apps total=total_apps path='selected' %}

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">ID</th>
        <th data-sortable="true">Year</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Job</th>
        <th data-sortable="true">Applicant</th>
        <th>Resume</th>
        <th data-sortable="true">Instructor<br /> Preference</th>
        <th>TA Hours<br /> Info</th>
        <th data-sortable="true">Classification</th>
        <th>Note</th>
        <th data-sortable="true">Created at</th>
        <th data-sortable="true">Updated at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
        <tr>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'administrators:show_application' app_slug=app.slug %}?next={{ new_next }}&p=Selected Applications">{{ app.id }}</a>
          </td>
          <td>{{ app.job.session.year }}</td>
          <td>{{ app.job.session.term.code }}</td>
          <td>
            <a href="{% url 'administrators:show_job' session_slug=app.job.session.slug job_slug=app.job.course.slug %}?next={{ new_next }}&p=Selected Applications">
              {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
            </a>
          </td>
          <td>
            <a href="{% url 'users:show_user' username=app.applicant.username %}?next={{ new_next }}&p=Selected Applications&t=basic">
              {{ app.applicant.get_full_name }}
            </a>
            <br />
            {% if 'MFRE' in app.applicant.profile.program.name %}
              <span class="badge badge-warning">MFRE</span>
            {% elif 'MLWS' in app.applicant.profile.program.name %}
              <span class="badge badge-warning">MLWS</span>
            {% elif 'MFS' in app.applicant.profile.program.name %}
              <span class="badge badge-warning">MFS</span>
            {% endif %}
          </td>
          <td>
            {% if app.resume_filename %}
              <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#resume-modal-{{ app.id }}">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
              </button>

              <div class="modal fade" id="resume-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="resume-modal-label-{{ app.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-info" id="resume-modal-label-{{ app.id }}">Resume</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body text-left">
                      <div class="modal-item">
                        <h5>
                          File: <a href="{% url 'students:download_file' username=app.applicant.username item='resume' filename=app.resume_filename %}" target="_blank">{{ app.resume_filename }}</a>
                        </h5>
                        <p>
                          Uploaded at {{ app.applicant.resume.created_at }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </td>
          <td>
            {% include 'ta_app/applications/_app_instructor_preference.html' with data=app.get_instructor_preference_display %}
          </td>
          <td>
            <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#ta-hours-info-modal-{{ app.id }}">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </button>

            <div class="modal fade" id="ta-hours-info-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="ta-hours-info-modal-label-{{ app.id }}" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-info" id="ta-hours-info-modal-label-{{ app.id }}">
                      Information of TA Hours

                      {% if app.ta_hour_progress == 'done' %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                        <small class="text-dark-gray">(Matched)</small>

                      {% elif app.ta_hour_progress == 'over' %}
                        <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                        <small class="text-dark-gray">(Exceeded!)</small>

                      {% elif app.ta_hour_progress == 'under_one_quarter' %}
                        <i class="fa fa-battery-quarter text-success" aria-hidden="true"></i>
                        <small class="text-dark-gray">(Reached one quarter)</small>

                      {% elif app.ta_hour_progress == 'under_half' %}
                        <i class="fa fa-battery-half text-success" aria-hidden="true"></i>
                        <small class="text-dark-gray">(Reached half)</small>

                      {% elif app.ta_hour_progress == 'under_three_quarters' %}
                        <i class="fa fa-battery-three-quarters text-success" aria-hidden="true"></i>
                        <small class="text-dark-gray">(Reached three quarters)</small>

                      {% endif %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body text-left">
                    <div class="modal-item">
                      <div>
                        <h6>Total Assigned TA Hours:</h6>
                        <span>
                          {% if app.job.assigned_ta_hours %}
                            {{ app.job.assigned_ta_hours }} hour{% if app.job.assigned_ta_hours > 1 %}s {% endif %}
                          {% else %}
                            None
                          {% endif %}
                        </span>
                      </div>
                      <div>
                        <h6>Accumulated TA Hours:</h6>
                        <span>
                          {% if app.job.accumulated_ta_hours %}
                            {{ app.job.accumulated_ta_hours }} hour{% if app.job.accumulated_ta_hours > 1 %}s {% endif %}
                          {% else %}
                            None
                          {% endif %}
                        </span>
                      </div>
                      <div>
                        <h6>Assigned TA Hours by Instructor:</h6>
                        <span>
                          {% if app.selected.assigned_hours %}
                            {{ app.selected.assigned_hours }} hour{% if app.selected.assigned_hours > 1 %}s {% endif %}
                          {% else %}
                            None
                          {% endif %}
                        </span>
                      </div>
                      <div>
                        <h6>Assigned TA Hours by Administrator:</h6>
                        <span>
                          {% if app.offered.assigned_hours %}
                            {{ app.offered.assigned_hours }} hour{% if app.offered.assigned_hours > 1 %}s {% endif %}
                          {% else %}
                            None
                          {% endif %}
                        </span>
                      </div>
                      {% if app.is_declined_reassigned %}
                        <div>
                          <h6 class="text-danger">Delcined and re-assigned:</h6>
                          <span>{{ app.declined.assigned_hours }} hour{% if app.declined.assigned_hours > 1 %}s {% endif %}</span>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>

            {% if app.ta_hour_progress == 'done' %}
              <i class="fa fa-check text-success" aria-hidden="true"></i>
            {% elif app.ta_hour_progress == 'over' %}
              <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
            {% elif app.ta_hour_progress == 'under_one_quarter' %}
              <i class="fa fa-battery-quarter text-success" aria-hidden="true"></i>
            {% elif app.ta_hour_progress == 'under_half' %}
              <i class="fa fa-battery-half text-success" aria-hidden="true"></i>
            {% elif app.ta_hour_progress == 'under_three_quarters' %}
              <i class="fa fa-battery-three-quarters text-success" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td>
            {% include 'ta_app/applications/_app_classification.html' with data=app %}<br />
            {% include 'ta_app/users/_modal_degree_details.html' with data=app.applicant %}
          </td>
          <td>{% include 'ta_app/applications/_modal_note.html' with data=app %}</td>
          <td>{{ app.created_at }}</td>
          <td>{{ app.updated_at }}</td>
          <td>
            {% if app.offered %}
              <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#job-application-offer-modal-{{ app.id }}">Offered</button><br />
              <div class="text-dark-gray">{{ app.offered.created_at }}</div>
            {% else %}
              <button class="btn btn-xs btn-primary" type="button" data-toggle="modal" data-target="#job-application-offer-modal-{{ app.id }}">Offer</button>
            {% endif %}

            <div class="modal fade" id="job-application-offer-modal-{{ app.id }}" tabindex="-1" role="dialog" aria-labelledby="job-application-offer-modal-label-{{ app.id }}" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-info" id="job-application-offer-modal-label-{{ app.id }}">Offer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body text-left">
                    <div class="modal-item">
                      <h4>
                        To {{ app.applicant.get_full_name }}
                        <small class="text-dark-gray">({{ app.applicant.username }})</small>
                        {% if 'MFRE' in app.applicant.profile.program.name %}
                          <span class="badge badge-warning">MFRE</span>
                        {% elif 'MLWS' in app.applicant.profile.program.name %}
                          <span class="badge badge-warning">MLWS</span>
                        {% elif 'MFS' in app.applicant.profile.program.name %}
                          <span class="badge badge-warning">MFS</span>
                        {% endif %}
                      </h4>
                      <h6 class="text-dark-gray mb-3">for {{ app.job.session.year }} {{ app.job.session.term.code }} - {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}</h6>

                      <form action="{% url 'administrators:offer_job' session_slug=app.job.session.slug job_slug=app.job.course.slug %}" method="post">
                        {% csrf_token %}

                        <div class="field-wrapper">
                          <label for="id_classification_{{ app.id }}">Classification:</label>
                          <div class="help">This field is required.</div>
                          <select id="id_classification_{{ app.id }}" name="classification" class="form-control">
                            <option value="">Select</option>
                            {% for choice in classification_choices %}
                              {% if choice.id == app.classification.id %}
                                <option value="{{ choice.id }}" selected>{{ choice.year }} {{ choice.name }}</option>
                              {% else %}
                                <option value="{{ choice.id }}">{{ choice.year }} {{ choice.name }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </div>

                        <div class="field-wrapper">
                          <label for="id_note_{{ app.id }}">Note:</label>
                          <div class="help">Administrators and instructors can see this note.</div>
                          <textarea id="id_note_{{ app.id }}" name="note" class="summernote">{{ app.note|default_if_none:"" }}</textarea>
                        </div>

                        <div class="field-wrapper">
                          <label for="id_assigned_hours_{{ app.id }}">Assigned Hours:</label>
                          <div class="help">Only numerical value allowed.</div>

                          {% if app.offered %}
                            <input id="id_assigned_hours_{{ app.id }}" type="number" step="0.01" name="assigned_hours" value="{{ app.offered.assigned_hours }}" class="form-control" />
                          {% else %}
                            <input id="id_assigned_hours_{{ app.id }}" type="number" step="0.01" name="assigned_hours" value="{{ app.selected.assigned_hours }}" class="form-control" />
                          {% endif %}
                        </div>

                        <input type="hidden" name="application" value="{{ app.id }}" />
                        <input type="hidden" name="assigned" value="{{ app_status.offered }}" />
                        <input type="hidden" name="applicant" value="{{ app.applicant.id }}" />
                        <input type="hidden" name="has_contract_read" value="false" />
                        <input type="hidden" name="next" value="{{ new_next }}" />

                        <input class="btn btn-primary" type="submit" value="Offer" />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=apps %}

  <div class="font-size-xs mt-5">
    <h6>Note for icons:</h6>
    <ul>
      <li>
        Total Assigned TA Hours == Accumulated TA Hours:
        <i class="fa fa-check text-success" aria-hidden="true"></i>
      </li>
      <li>
        Total Assigned TA Hours * 1/4 < Accumulated TA Hours:
        <i class="fa fa-battery-quarter text-success" aria-hidden="true"></i>
      </li>
      <li>
        Total Assigned TA Hours * 2/4 < Accumulated TA Hours:
        <i class="fa fa-battery-half text-success" aria-hidden="true"></i>
      </li>
      <li>
        Total Assigned TA Hours * 3/4 < Accumulated TA Hours:
        <i class="fa fa-battery-three-quarters text-success" aria-hidden="true"></i>
      </li>
      <li>
        Total Assigned TA Hours < Accumulated TA Hours
        <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
      </li>
    </ul>
  </div>

</div>

{% endblock %}
