{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='emails' title='Send Reminder' data=email %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{{ next }}">Back to {{ request.GET.p }}</a>
    </div>
  </div>

  <div class="col-md-8">

    <div class="board col-11 mx-auto">
      <h3>Send Reminder</h3>

      <form action="" method="post">
        {% csrf_token %}

        {% for field in form.visible_fields  %}
          <div class="field-wrapper">
            {{ field.label_tag }}
            {% if field.help_text %}
              <div class="help">{{ field.help_text|safe }}</div>
            {% endif %}
            {{ field }}
          </div>
        {% endfor %}

        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}

        <input type="hidden" name="next" value="{{ next }}" />

        <a class="btn btn-outline-secondary" href="{{ next }}">Cancel</a>
        <input class="btn btn-primary" type="submit" value="Send Reminder" />
      </form>
    </div>

  </div>
</div>

{% endblock %}
