{% extends 'ta_app/base.html' %}
{% block content %}
{% include "ta_app/sidebars/_administrator_sidebar.html" %}

<div id="content" class="container-fluid">
  {% include 'ta_app/pages/_header.html' with title='Application Details' %}

  <div class="mb-4">{% include 'administrators/applications/_go_back.html' with data=path %}</div>

  {% include 'ta_app/applications/_app_details.html' with data=app%}

  <div>Application ID: {{ app.id }}</div>

  <div>
    Status:
    <ul>
      {% for st in app.applicationstatus_set.all %}
        <li>{{ st.get_assigned_display }} - {{ st.assigned_hours }} - {{ st.created_at }}</li>
      {% empty %}
        No status found
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
