{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "administrators/util/_sidebar.html" %}

  <div id="content" class="container-fluid">

    <h3>Application Details</h3>

    <div>ID: {{ app.id }}</div>
    <div>Slug: {{ app.slug }}</div>
    <div>First Name: {{ app.applicant.first_name }}</div>
    <div>Last Name: {{ app.applicant.last_name }}</div>
    <div>Preferred Name: {{ app.applicant.profile.preferred_name }}</div>
    <div>CWL: {{ app.applicant.username }}</div>
    <div>
      Job:
      {{ app.job.session.year }} {{ app.job.session.term.code }}
      {{ app.job.course.code.name }} {{ app.job.course.number.name }} {{ app.job.course.section.name }}
    </div>

    <div>
      Status:
      <ul>
        {% for st in app.status.all %}
          <li>{{ st.get_assigned_display }} - {{ st.assigned_hours }} - {{ st.created_at }}</li>
        {% empty %}
          No status found
        {% endfor %}
      </ul>
    </div>

    <div>Supervisor Approval: {{ app.supervisor_approval }}</div>
    <div>How Qualified: {{ app.get_how_qualified_display }}</div>
    <div>How Interested: {{ app.get_how_interested_display }}</div>
    <div>Availability: {{ app.availability }}</div>
    <div>Availability Note: {{ app.availability_note }}</div>
    <div>Instructor Preference: {{ app.get_instructor_preference_display }}</div>
    <div>Classification: {{ app.get_classification_display }}</div>
    <div>Note: {{ app.note }}</div>
    <div>Created at: {{ app.created_at }}</div>
    <div>Updated at: {{ app.updated_at }}</div>

    <a href="{% url 'administrators:type_applications' path %}">Back to previous Applications</a>

  </div>
</div>

{% endblock %}
