{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='applications' title='Application Details' data=app %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{{ request.GET.next }}">Back to {{ request.GET.p }}</a>
    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      <h3>Details</h3>
      {% include 'ta_app/applications/_app_details.html' with data=app pin_display='True' %}

      <div>
        <h6>Application ID:</h6>
        <span>{{ app.id }}</span>
      </div>

      <div>
        <h6>Status:</h6>
        <table class="custom-table text-center">
          <thead>
            <tr>
              <th>Status ID</th>
              <th>Status</th>
              <th>Assigned TA Hours</th>
              <th>Parent ID</th>
              <th>Created at</th>
              <th>Read Contract</th>
            </tr>
          </thead>
          <tbody>
            {% for st in app.applicationstatus_set.all %}
              <tr>
                <td>{{ st.id }}</td>
                <td>
                  {% include 'ta_app/applications/_app_status.html' with data=st.get_assigned_display %}
                </td>
                <td>{{ st.assigned_hours }}</td>
                <td>{{ st.parent_id }}</td>
                <td>{{ st.created_at }}</td>
                <td>
                  {% if st.has_contract_read %}
                    <span class="badge badge-success">READ</span>
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="3">No status found</td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
        <ul>

        </ul>
      </div>

    </div>

  </div>
</div>

{% endblock %}
