{% extends 'ta_app/base.html' %}
{% block content %}

{% include "administrators/util/_sidebar.html" %}

<div id="content" class="container-fluid">

  <h3>User's Accpeted Jobs</h3>

  <div>Student ID: {{ user.id }}</div>
  <div>First Name: {{ user.first_name }}</div>
  <div>Last Name: {{ user.last_name }}</div>
  <div>Preferred Name: {{ user.profile.preferred_name }}</div>
  <div>CWL: {{ user.username }}</div>
  <div>E-mail: {{ user.email }}</div>

  <hr />

  <h5>Summary</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Year-Term</th>
        <th>Total Assigned Hours</th>
      </tr>
    </thead>
    <tbody>
      {% for year_term, assigned_hours in accepted_summary.items %}
        <tr>
          <td>{{ year_term }}</td>
          <td>{{ assigned_hours }} hours</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">No summary available</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h5>List</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Year</th>
        <th>Term</th>
        <th>Job</th>
        <th>Assigned Status</th>
        <th>Assigned Hours</th>
      </tr>
    </thead>
    <tbody>
      {% for job in accepted_jobs %}
      <tr>
        <td>{{ job.year }}</td>
        <td>{{ job.term }}</td>
        <td>{{ job.course_code }} {{ job.course_number }} {{ job.course_section }}</td>
        <td>{{ job.assigned_status }}</td>
        <td>{{ job.assigned_hours }} hours</td>
      </tr>
      {% empty %}
        <tr>
          <td colspan="3">No accepted jobs found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'administrators:accepted_applications' %}">Go back to Accepted Applications</a>

</div>

{% endblock %}
