{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_left_aside.html' with view_name='applications' title='Terminate Application' data=app %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'administrators:accepted_applications' %}">Back to Accepted Applications</a>
    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      <h3>Terminate Form</h3>

      <div>
        <h5>User:</h5>
        <span>
          {{ app.applicant.get_full_name }}
          (CWL: {{ app.applicant.username }})
        </span>
      </div>

      <div>
        <h5>Application:</h5>
        <span>ID: {{ app.id }}</span>
      </div>

      <form action="" method="post">
        {% csrf_token %}

        {% for field in form.visible_fields  %}
          <div class="field-wrapper">
            {{ field.label_tag }}
            {% if field.help_text %}
              <div class="help">{{ field.help_text|safe }}</div>
            {% endif %}
            {{ field }}
          </div>
        {% endfor %}

        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}

        <input class="btn btn-lg btn-primary" type="submit" value="Confirm to terminate" />
      </form>

    </div>
  </div>
</div>

{% endblock %}
