{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}
<div>
  {% include 'ta_app/pages/_header.html' with title='All Courses' %}

  <div class="row">
    <div class="col-md-6">
      {% include 'administrators/courses/_search_fields.html' with data=courses total=total_courses %}
    </div>
    <div class="col-md-6">
      <div class="bg-prompt">
        <div class="prompt p-4 text-center" style="height:176.8px">
          <h4>NEW</h4>
          <p>If you would like to create a new course, please click on the botton below.</p>
          <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:create_course' %}?next={{ request.get_full_path }}">Create Course</a>
        </div>
      </div>
    </div>
  </div>

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
    data-show-export="true"
    data-show-columns="true"
    data-export-types="['csv']"
  >
    <thead>
      <tr>
        <th data-sortable="true">ID</th>
        <th data-sortable="true">Term</th>
        <th data-sortable="true">Code</th>
        <th data-sortable="true">Number</th>
        <th data-sortable="true">Section</th>
        <th data-sortable="true">Name</th>
        <th>Course <br /> Overview</th>
        <th>Job <br /> Description</th>
        <th>Note</th>
        <th>Active?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td>{{ course.id }}</td>
          <td>{{ course.term.name }} ({{ course.term.code }})</td>
          <td>{{ course.code }}</td>
          <td>{{ course.number }}</td>
          <td>{{ course.section }}</td>
          <td class="text-left">{{ course.name }}</td>
          <td>
            {% if course.overview %}
              <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#overview-modal-{{ course.id }}">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
              </button>

              <div class="modal fade" id="overview-modal-{{ course.id }}" tabindex="-1" role="dialog" aria-labelledby="overview-modal-label-{{ course.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-info" id="overview-modal-label-{{ data.id }}">Overview</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body text-left">
                      {{ course.overview|safe }}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </td>
          <td>
            {% if course.job_description %}
              <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#job-desc-modal-{{ course.id }}">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
              </button>

              <div class="modal fade" id="job-desc-modal-{{ course.id }}" tabindex="-1" role="dialog" aria-labelledby="job-desc-modal-label-{{ course.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-info" id="job-desc-modal-label-{{ data.id }}">Job Description</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body text-left">
                      {{ course.job_description|safe }}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </td>
          <td>
            {% if course.job_note %}
              <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#job-note-modal-{{ course.id }}">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
              </button>

              <div class="modal fade" id="job-note-modal-{{ course.id }}" tabindex="-1" role="dialog" aria-labelledby="job-note-modal-label-{{ course.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-info" id="job-note-modal-label-{{ data.id }}">Job Note</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body text-left">
                      {{ course.job_note|safe }}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </td>
          <td>{% include 'ta_app/icons/true_or_false.html' with data=course.is_active %}</td>
          <td>
            <div class="btn-toolbar">
              <a class="btn btn-xs btn-link mr-2" href="{% url 'administrators:edit_course' course.slug %}?next={{ request.get_full_path }}">Edit</a>

              <form action="{% url 'administrators:delete_course' %}" method="post" onsubmit="return confirm('Are you sure to delete {{ course.code }} {{ course.number }} {{ course.section }} - {{ course.name }}?');">
                {% csrf_token %}

                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                <input type="hidden" name="course" value="{{ course.id }}" />
                <input class="btn btn-xs btn-danger" type="submit" value="Delete" />
              </form>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'ta_app/pages/_table_paginator.html' with data=courses %}

</div>

{% endblock %}
