{% extends 'ta_app/base.html' %}
{% block content %}
{% include "ta_app/sidebars/_administrator_sidebar.html" %}

<div id="content" class="container-fluid">
  {% include 'ta_app/pages/_header.html' with title='Courses' %}

  <div class="bd-callout bd-callout-warning">
    <h5>Overview</h5>
    <p><i class="fa fa-check-circle-o"></i> text area</p>
  </div>

  <div class="row">
    <div class="col-md-4 p-4">
      <div class="card border-secondary featured">
        <h5 class="card-header bg-info text-white"><i class="fa fa-info-circle"></i> Featured</h5>
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'administrators:create_session' %}">Create Course</a>
          </h5>
          <p class="card-text">If you would like to create or add new courses, please go to <span class="text-secondary font-weight-bold">Create Course</span> page</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-4">
      <div class="card border-secondary featured">
        <h5 class="card-header bg-info text-white"><i class="fa fa-info-circle"></i> Featured</h5>
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'administrators:create_session' %}">All Courses</a>
          </h5>
          <p class="card-text">If you would like to view all lists of courses and information, please go to <span class="text-secondary font-weight-bold">All Courses</span> page</p>
        </div>
      </div>
    </div>
  </div>


</div>

{% endblock %}
