{% extends 'ta_app/base.html' %}
{% block content %}

{% include 'administrators/_menu.html' %}

<div class="row">
  <div class="col-md-4">
    {% include 'ta_app/pages/_header.html' with title='Edit Course' %}
    <div class="bg-prompt">
      <div class="prompt p-4 mb-4">
        <h4>{{ course.code.name }} {{ course.number.name }} {{ course.section.name }} ({{ course.term.code }})</h4>
        <p>{{ course.name }}</p>

        <a class="btn btn-sm btn-outline-primary" href="{% url 'administrators:all_courses' %}">All Courses</a>
      </div>
    </div>

  </div>
  <div class="col-md-8">

    <div class="board">
      <h3>Form</h3>
      
      <form action="" method="post">
        {% csrf_token %}

        {% for field in form.visible_fields  %}
          <div class="field-wrapper">
            {{ field.label_tag }}
            {% if field.help_text %}
              <div class="help">{{ field.help_text|safe }}</div>
            {% endif %}
            {{ field }}
          </div>
        {% endfor %}

        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}

        <a class="btn btn-outline-success" href="{% url 'administrators:courses' %}">Cancel</a>
        <input class="btn btn-success" value="Update" type="submit" />
      </form>
    </div>

  </div>

</div>

{% endblock %}
