{% extends 'ta_app/base.html' %}
{% block content %}

{% include "instructors/_menu.html" %}
<div class="row">
  <div class="col-md-4">
    {% if loggedin_user.roles|length > 1 %}
      {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Instructor Home' data=loggedin_user %}
    {% else %}
      {% include 'ta_app/pages/_left_aside.html' with view_name='users' title='Home' data=loggedin_user %}
    {% endif %}

    <div class="left-aside-btn-groups">
      <a class="btn btn-outline-primary" href="{% url 'instructors:show_jobs' %}">View Jobs</a>
    </div>

    <div class="col-10 mx-auto mt-5">
      {% include 'ta_app/users/_note_upload_avatar.html' with next=request.get_full_path %}
    </div>
  </div>

  <div class="col-md-8">
    <div class="board col-11 mx-auto">
      <h3>Basic Information</h3>
      {% include 'ta_app/users/_basic_info.html' with data=loggedin_user %}
      <a class="btn btn-primary btn-lg mt-4" href="{% url 'instructors:edit_user' %}">Edit</a>
    </div>
  </div>
</div>

{% endblock %}
