{% extends 'ta_app/base.html' %}
{% block content %}

<div class="wrapper">
  {% include "administrators/_sidebar.html" %}

  <div id="content" class="container-fluid">

    <nav class="margin-top-10" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'administrators:course_sections' %}">Course Sections</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Course Section Details</li>
      </ol>
    </nav>

    {% if messages %}
    	{% for message in messages %}
    		<div class="alert alert-info">{{ message }}</div>
    	{% endfor %}
    {% endif %}

    <h1>Course Section Details</h1>

    <div class="">
      Section Name: {{ course_section.name }}
    </div>

    <a href="{% url 'administrators:course_sections' %}">Back to Course Sections</a>

  </div>
</div>

{% endblock %}
