<div>
  <h5>
    Supervisor Approval:
    <span>{{ data.supervisor_approval }}</span>
  </h5>
</div>

<div>
  <h5>
    How qualified are you?
    <span>{{ data.get_how_qualified_display }}</span>
    </h5>
</div>

<div>
  <h5>
    How interested are you?
    <span>{{ data.get_how_interested_display }}</span>
  </h5>
</div>

<div>
  <h5>
    Availability requirements:
    <span>{{ data.availability }}</span>
  </h5>
</div>

<div>
  <h5>
    Availability notes:
    <span>{{ data.availability_note }}</span>
  </h5>
</div>

<div>
  <h5>
    Created at:
    <span>{{ data.created_at }}</span>
  </h5>
</div>

<div>
  <h5>
    Updated at:
    <span>{{ data.updated_at }}</span>
  </h5>
</div>
