{% if data == 'Critical Requested' %}
  <h6><span class="badge badge-primary">{{ data.upper }}</span></h6>

{% elif data == 'Requested' %}
  <h6><span class="badge badge-success">{{ data.upper }}</span></h6>

{% elif data == 'Acceptable' %}
  <h6><span class="badge badge-warning">{{ data.upper }}</span></h6>

{% elif data == 'No Preference' %}
  <h6><span class="badge badge-secondary">{{ data.upper }}</span></h6>

{% else %}
  <h6><span class="badge badge-light">{{ data.upper }}</span></h6>

{% endif %}
