<section>
  <h5>{{ data.job.session.year }} {{ data.job.session.term.name }} ({{ data.job.session.term.code }})</h5>
  <h4 class="mb-5">
    {{ data.job.course.code.name }} {{ data.job.course.number.name }} {{ data.job.course.section.name }} <br />
    <small class="text-muted">- {{ data.job.course.name }}</small>
  </h4>

  <small class="text-muted">
    Created at {{ data.created_at }} <span class="mx-2">|</span>
    Updated at {{ data.updated_at }}
  </small>

  <div class="my-4">
    <h5>Supervisor Approval:</h5>
    <span class="text-secondary">{{ data.supervisor_approval }}</span>
  </div>

  <div class="mb-4">
    <h5>How qualified are you?</h5>
    <span class="text-secondary">{{ data.get_how_qualified_display }}</span>
  </div>

  <div class="mb-4">
    <h5>How interested are you?</h5>
    <span class="text-secondary">{{ data.get_how_interested_display }}</span>
  </div>

  <div class="mb-4">
    <h5>Availability requirements:</h5>
    <span class="text-secondary">{{ data.availability }}</span>
  </div>

  <div class="mb-4">
    <h5>Availability notes:</h5>
    <span class="text-secondary">{{ data.availability_note }}</span>
  </div>
</section>
