<div>
  <h6>PIN:</h6>
  <span>
    {% if data.confidentiality.pin %}
      {{ data.confidentiality.pin }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>TASM:</h6>
  <span>
    {% if data.confidentiality.tasm %}
      {{ data.confidentiality.tasm }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>eForm:</h6>
  <span>
    {% if data.confidentiality.eform %}
      {{ data.confidentiality.eform }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Speed Chart:</h6>
  <span>
    {% if data.confidentiality.speed_chart %}
      {{ data.confidentiality.speed_chart }}
    {% else %}
      None
    {% endif %}
  </span>
</div>

<div>
  <h6>Union and Other Correspondence:</h6>
  {% if data.union_correspondence_filename %}
    <a href="{% url 'administrators:download_union_correspondence' username=data.username filename=data.union_correspondence_filename %}" target="_blank">{{ data.union_correspondence_filename }}</a>
  {% else %}
    None
  {% endif %}
</div>

<div>
  <h6>Compression Agreement:</h6>

  {% if data.compression_agreement_filename %}
    <a href="{% url 'administrators:download_compression_agreement' username=data.username filename=data.compression_agreement_filename %}" target="_blank">{{ data.compression_agreement_filename }}</a>
  {% else %}
    None
  {% endif %}
</div>

<div>
  <h6>Processing Note:</h6>
  <span>
    {% if data.confidentiality.processing_note %}
      {{ data.confidentiality.processing_note }}
    {% else %}
      None
    {% endif %}
  </span>
</div>
