<table class="table user-profile-table table-borderless {% if striped == 'True' %}table-striped{% endif %}">
  <tbody>
    <tr>
      <td>Supervisor Approval:</td>
      <td>
        {% if data.supervisor_approval %}
          Yes
        {% else %}
          No
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>How qualified are you?</td>
      <td>{{ data.get_how_qualified_display }}</td>
    </tr>
    <tr>
      <td>How interested are you?</td>
      <td>{{ data.get_how_interested_display }}</td>
    </tr>
    <tr>
      <td>Availability Requirements:</td>
      <td>
        {% if data.availability %}
          Yes, I understand
        {% else %}
          No
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Availability Notes:</td>
      <td>
        {% if data.availability_note %}
          {{ data.availability_note|safe }}
        {% else %}
          None
        {% endif %}
      </td>
    </tr>
    {% if pin_display == 'True' %}
      <tr>
        <td>PIN:</td>
        <td>
          {% if data.admindocuments.pin %}
            {{ data.admindocuments.pin }}
          {% else %}
            None
          {% endif %}
        </td>
      </tr>
    {% endif %}
    <tr>
      <td>Applied on:</td>
      <td>{{ data.created_at }}</td>
    </tr>
    <tr>
      <td>Updated on:</td>
      <td>{{ data.updated_at }}</td>
    </tr>
  </tbody>
</table>
