{% if data == 'Selected' %}
  <span class="badge badge-orange">{{ data.upper }}</span>

{% elif data == 'Offered' %}
  <span class="badge badge-primary">{{ data.upper }}</span>

{% elif data == 'Accepted' %}
  <span class="badge badge-success">{{ data.upper }}</span>

{% elif data == 'Declined' %}
  <span class="badge badge-danger">{{ data.upper }}</span>

{% elif data == 'Cancelled' %}
  <span class="badge badge-secondary">TERMINATED</span>

{% else %}
  <span class="badge badge-light text-dark">APPLIED</span>

{% endif %}
