<div class="job-offer-contract bg-white border-grayish-blue p-4">
  <h3>Job Offer Contract</h3>
  <p>
    Student name: <span class="font-weight-bold">{{ employee.get_full_name }}</span> <br />
    Student #: <span class="font-weight-bold">{{ employee.profile.student_number }}</span> <br />
    Instructor:
    {% for instructor in data.job.instructors.all %}
      <span class="font-weight-bold">{{ instructor.get_full_name }}</span>
      {% if not forloop.last %} <span class="mr-1">,</span> {% endif %}
    {% empty %}
      None
    {% endfor %}
  </p>
  <p>
    Thank you for your application for a TA position with the Faculty of Land and Food Systems.  We are happy to offer you a TA position for <span class="font-weight-bold">{{ data.job.session.year }} {{ data.job.session.term.code }}</span>:
  </p>
  <p>
    <span class="font-weight-bold">{{ data.job.course.code.name }} {{ data.job.course.number.name }} {{ data.job.course.section.name }}</span>
    for
    <span class="font-weight-bold">
      {% if type == 'reassigned' %}
        {{ data.declined.assigned_hours }}
      {% else %}
        {{ data.offered.assigned_hours }}
      {% endif %}
    </span> hours
    as a <span class="font-weight-bold">{{ data.classification.name }}</span>.
  </p>
  <p>
    The Faculty of Land and Food Systems reserves the right to cancel courses, and Associated Teaching Assistant jobs, for low enrollment, and to modify TA hours. You will be advised of any such changes by the Course Withdrawal Deadline.
  </p>
  <p>
    To refer to the UBC Calendar for course scheduling<br />
    <a href="https://courses.students.ubc.ca/cs/main?sessyr=2018&sesscd=W" target="_blank">https://courses.students.ubc.ca/cs/main?sessyr=2018&sesscd=W</a> [2] [2]
  </p>
  <p>
    To calculate the salary you will make from your TA assignment(s), multiply the number of assigned hours by the salary rate associated with your classification.  You can find current CUPE 2278 salary scales at this UBC HR webpage: <a href="http://www.hr.ubc.ca/compensation/salary-administration/salary-scales/" target="_blank">http://www.hr.ubc.ca/compensation/salary-administration/salary-scales/</a>.
  </p>
  <p>
    To see your position, and to accept or decline the offer, please log into the new LFS TA Application at <a href="https://ta-app.landfood.ubc.ca" target="_blank">https://ta-app.landfood.ubc.ca</a> [3] [3] -- your offer will be listed when you log in; click for details.
  </p>
  <p>
    You are asked to <span class="font-weight-bold">accept or decline</span> this offer at the earliest possible date, normally no later than ten (10) working days from the date of the offer.
  </p>
  <p>
    PLEASE NOTE:  If you are unable to provide the required documentation to process your appointment before the beginning of the assignment (Personal Data Form, SIN and/or Study Permit), this offer may be rescinded.
  </p>
  <p>
    By accepting the offer, you’re committing to fulfill your duties as a TA such as, for example, being available for the full duration of your appointment:
    <ul>
      <li>Summer Session Appointment dates:</li>
      <ul>
        <li>Summer Session, Term 1:  May 1 to June 30</li>
        <li>Summer Session, Term 2:  July 1 to August 31</li>
        <li>Summer Session, Terms 1 & 2:  May 1 to to August 31</li>
      </ul>
      <li>Winter Session Appointment dates:</li>
      <ul>
        <li>Winter Session, Term 1:  September 1 to December 31</li>
        <li>Winter Session, Term 2:  January 1 to April 30</li>
        <li>Winter Session, Terms 1 & 2:  September 1 to April 30</li>
      </ul>
    </ul>
    If you will not be available at any point during the dates listed in your contract, you MUST discuss this with the course instructor BEFORE accepting this offer.
  </p>
  <p>
    If you have never worked for UBC before, you will be required to submit supporting documentation: a UBC Personal Data form, copy of your valid student/work permit and a photocopy of your SIN. You cannot be hired at UBC without a valid Social Insurance Number (SIN). If you are an international student, you MUST also have a valid student/work permit and will be required to submit a clear photo, copy or scan of this document.  Please note:   you must be able to provide all necessary supporting documentation needed to process your appointment at least THREE WEEKS prior to the start of the term in order for us to have enough time to process your appointment.  If you have not provided this documentation, your offer may be rescinded.
  </p>
  <p>
    BC legislation requires all UBC staff (including students employed by the University) to receive mandatory training in:
    <ul>
      <li>New Worker Safety Orientation</li>
      <li>Preventing and Addressing Workplace Bullying and Harassment Training</li>
      <li>Workplace Violence Prevention Training</li>
      <li>Privacy Matters & UBC, Parts 1 & 2</li>
    </ul>
  </p>
  <p>
    In order to accept your TA offer(s), you must confirm that you have either completed all four mandatory training modules (including Parts 1 & 2 of Privacy Matters) or agree that you will commit to completing the requirement before the start of your TA assignment and supply your documents as directed.  Please refer to the TA Portal for more details:<br />
    <a href="http://blogs.ubc.ca/lfsta/privacy-matters-training/" target="_blank">http://blogs.ubc.ca/lfsta/privacy-matters-training/</a> [4] [4]
  </p>
  <p>
    LFS TAs will be required to maintain a log of their worked hours. This document should be shared with the course instructor several times throughout the term of the TAship to best utilize the assigned TA support hours. TAs must submit this document to the course instructor at the end of their assignment.
  </p>
  <p>
    Performance evaluations are an important aspect of the TA experience within LFS. TAs will be subject to an orientation at the beginning of the appointment, and formal evaluation at the end of their assignment.
  </p>
  <p>
    Please do not accept this appointment if you are unsure of the expectations of you as a TA within LFS or if you are unwilling to accept any of the conditions including those listed above.
  </p>
  <p>
    If you have any general questions about TA'ing within LFS, please refer to the online TA Portal blog (<a href="http://blogs.ubc.ca/lfsta/">http://blogs.ubc.ca/lfsta/</a> [5] [5])
  </p>
  <p>
    Zhaoming Xu<br />
    Associate Dean, Academic
  </p>
  <p>
    ***
  </p>
  <p>
    Virginia Frankian<br />
    Academic Coordinator<br />
    The University of British Columbia<br />
    Faculty of Land and Food Systems<br />
    Room 230 Food, Nutrition & Health Bldg.<br />
    2205 East Mall<br />
    Vancouver BC  V6T 1Z4<br />
    Phone:  604-822-0434<br />
  </p>
  <p>
    For all TA-related correspondence, please use <a href="mailto:lfs.ta@ubc.ca">lfs.ta@ubc.ca</a> [6] [6] <br />
    Website: <a href="www.landfood.ubc.ca" target="_blank">www.landfood.ubc.ca</a> [7] [7]
  </p>
  <p>
    UBC hires on the basis of merit and is committed to employment equity.
  </p>
  <p>
    [1] <a href="https://it.ubc.ca/services/email-voice-internet/myvpn/setup-documents" target="_blank">https://it.ubc.ca/services/email-voice-internet/myvpn/setup-documents</a> <br/ >
    [2] <a href="https://courses.students.ubc.ca/cs/main?sessyr=2018&sesscd=W" target="_blank">https://courses.students.ubc.ca/cs/main?sessyr=2018&sesscd=W</a> <br/ >
    [3] <a href="https://ta-app.landfood.ubc.ca/" target="_blank">https://ta-app.landfood.ubc.ca/</a> <br/ >
    [4] <a href="http://blogs.ubc.ca/lfsta/privacy-matters-training/" target="_blank">http://blogs.ubc.ca/lfsta/privacy-matters-training/</a> <br/ >
    [5] <a href="http://blogs.ubc.ca/lfsta/" target="_blank">http://blogs.ubc.ca/lfsta/</a> <br/ >
    [6] <a href="mailto:lfs.ta@ubc.c">mailto:lfs.ta@ubc.ca</a> <br/ >
    [7] <a href="http://www.landfood.ubc.ca" target="_blank">http://www.landfood.ubc.ca</a>
  </p>
</div>
