<button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#application-status-modal-{{ data.id }}">
  {% if display == 'assigned' %}
    {{ data.applicationstatus_set.last.get_assigned_display }}
  {% else %}
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
  {% endif %}
</button>

<div class="modal fade" id="application-status-modal-{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="application-status-modal-label-{{ data.id }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="application-status-modal-label-{{ data.id }}">Application Status Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Status ID</th>
              <th>Assigned</th>
              <th>Assigned Hours</th>
              <th>Parent ID</th>
              <th>Created at</th>
              <th>Application ID</th>
            </tr>
          </thead>
          <tbody>
            {% for st in data.applicationstatus_set.all %}
              <tr>
                <td>{{ st.id }}</td>
                <td>{{ st.get_assigned_display }}</td>
                <td>{{ st.assigned_hours }} hours</td>
                <td>{% if st.parent_id %} {{ st.parent_id }} {% endif %}</td>
                <td>{{ st.created_at }}</td>
                <td>{{ st.application_id }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="3">No status found</td>
              </tr>
            {% endfor %}
        </table>

      </div>
    </div>
  </div>
</div>
