<button class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#app-details-modal-{{ data.id }}">
  <i class="fa fa-file-text-o" aria-hidden="true"></i>
</button>

<div class="modal fade" id="app-details-modal-{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="app-details-modal-label-{{ data.id }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="app-details-modal-label-{{ data.id }}">Application Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-left">
        {% include 'ta_app/applications/_app_details.html' with data=data %}
      </div>
    </div>
  </div>
</div>
