<button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#application-status-modal-{{ data.id }}">
  {% if display == 'name' %}
    Status
  {% else %}
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
  {% endif %}
</button>

<div class="modal fade" id="application-status-modal-{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="application-status-modal-label-{{ data.id }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-info" id="application-status-modal-label-{{ data.id }}">Application Status Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <table class="modal-table table">
          <thead>
            <tr>
              <th>Status ID</th>
              <th>Assigned</th>
              <th>Assigned Hours</th>
              <th>Parent ID</th>
              <th>Created on</th>
              <th>Application ID</th>
              <th>Read Contract</th>
            </tr>
          </thead>
          <tbody>
            {% for st in data.applicationstatus_set.all %}
              <tr>
                <td>{{ st.id }}</td>
                <td>
                  {% include 'ta_app/applications/_app_status.html' with data=st.get_assigned_display %}
                </td>
                <td>{{ st.assigned_hours }}</td>
                <td>{% if st.parent_id %} {{ st.parent_id }} {% endif %}</td>
                <td>{{ st.created_at }}</td>
                <td>{{ st.application_id }}</td>
                <td>
                  {% if st.has_contract_read %}
                    <span class="badge badge-success">READ</span>
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="7">No status found</td>
              </tr>
            {% endfor %}
        </table>

        {% if app.is_declined_reassigned or app.is_terminated %}
          <div class="text-left mt-3">
            <h6>Note:</h6>
            <ul>
              {% if app.is_declined_reassigned %}
                <li>This application is Declined and Re-assigned by administrators.</li>
              {% endif %}

              {% if app.is_terminated %}
                <li>This application is Terminated by administrators.</li>
              {% endif %}
            </ul>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
