<button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#app-details-modal-{{ data.id }}">
  {% if display == 'id' %}
    {{ data.id }}
  {% else %}
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
  {% endif %}
</button>

<div class="modal fade" id="app-details-modal-{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="app-details-modal-label-{{ data.id }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="app-details-modal-label-{{ data.id }}">Application Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-left">
        <div class="board col-11 mx-auto">
          <h3>Details</h3>

          <div>
            <h5>
              User:
              <span>{{ data.applicant.get_full_name }} ({{ data.applicant.username }})</span>
            </h5>
          </div>

          {% include 'ta_app/applications/_app_details.html' with data=data %}
        </div>
      </div>
    </div>
  </div>
</div>
