<div class="bd-callout bd-callout-warning mt-4">
  <h4>
    <i class="fa fa-info-circle" aria-hidden="true"></i> Note:
  </h4>
  <ul class="list-no-ml">
    <li class="mb-2">{% include 'ta_app/pages/_note_accumulated_ta_hours.html' %}</li>
    <li>
      This icon <span class="btn btn-info btn-xs font-size-xs"><i class="fa fa-file-text-o" aria-hidden="true"></i></span> will appear next to the name of applicants if applicants have accepted their job offers in this term.
    </li>
    <li>This <span class="badge badge-success">RE</span> badge represents that applicants accept their re-assigned job offers.</li>
    <li>
      To add a note, click <strong>Write</strong> in the <strong>Instructor Note</strong> column (located at the far right of the table). <span class="text-danger">Notes are visible only to administrators and instructors.</span>
    </li>
    <li>
      Please click on the icon <span class="btn btn-info btn-xs font-size-xs"><i class="fa fa-file-text-o" aria-hidden="true"></i></span> to see a note if exists.
    </li>
  </ul>
</div>
