{% extends 'ta_app/base.html' %}
{% block content %}

<nav class="margin-top-10" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'department:index' %}">Department</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'department:terms' %}">Terms</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Term Details</li>
  </ol>
</nav>

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>Term Details</h1>

<ul class="list-group margin-top-30">
  <li class="list-group-item">Code: {{ term.code }}</li>
  <li class="list-group-item">Name: {{ term.name }}</li>
</ul>

<a class="btn btn-warning margin-top-10" href="{% url 'department:edit_term' term.code %}">Edit</a>

{% endblock %}
