{% extends 'ta_app/base.html' %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'department:index' %}">Department</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'department:terms' %}">Terms</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Term Details</li>
  </ol>
</nav>

{% if messages %}
	{% for message in messages %}
		<div>{{ message }}</div>
	{% endfor %}
{% endif %}

<h1>Term Details</h1>

<ul>
  <li>Code: {{ term.code }}</li>
  <li>Name: {{ term.name }}</li>
</ul>

<a href="{% url 'department:terms' %}">Terms</a> |
<a href="{% url 'department:edit_term' term.code %}">Edit</a>

{% endblock %}
